[2020-11-30 07:05] #642 closed

[2020-11-30 07:09] nikolaglumac commented on #2252
@projectwira this is not a Daedalus issue. Please raise all SMASH related issues on https://github.com/input-output-hk/smash
Closing this this ticket now...

[2020-11-30 07:09] #2252 closed

[2020-11-30 07:09] #2240 closed

[2020-11-30 08:40] KtorZ commented on #2244
Note: when fetching from pool servers directly (and not from a smash instance), `cardano-wallet` is being quite defensive on what it fetches. In particular, it won't fetch more than `512` bytes of data from the remote server (which helps circumvent the gentlemen who uploaded a 3GB metadata file for instance...)

512 bytes is already quite conservative as an upper-bound as we expect roughly:

- A n

[2020-11-30 09:01] nikolaglumac commented on #2244
Thanks @KtorZ <3

[2020-11-30 11:48] ManusMcCole commented on #2248
Hi @nikolaglumac. I tested this against the 2.5.0 Release Branch build 15326 Testnet and I can confirm that what @gufmar reported is true. Copy does not work for To addresses and paste has no function in this context

[2020-11-30 11:52] nikolaglumac commented on #2248
@ManusMcCole what about other places? Can you copy and paste other selectable text?

[2020-11-30 15:10] ManusMcCole commented on #2248
@nikolaglumac.The Copy and Paste functionality is not working for From Addresses and also not for Transaction id

[2020-11-30 15:15] nikolaglumac commented on #2248
@ManusMcCole what about wallet balance?

[2020-11-30 17:17] valodiadeseynes commented on #2257
Agreed. Although, could I advise you to enforce a spending password limit of 255 characters upon wallet creation/restoration ?

At least for now. It'd prevent the sort of issue I've had.

[2020-11-30 17:19] nikolaglumac commented on #2257
We are already doing that...

![Screenshot 2020-11-30 at 18 18 43](https://user-images.githubusercontent.com/376611/100642036-8bb4d000-3338-11eb-83f7-c97ea3218da9.png)

[2020-12-01 15:11] gnpf commented on #2248
@nikolaglumac @gufmar @ManusMcCole I could reproduce this on edge cases (the text is not selected, or right click over the external link icon). Check the videos for: [balance screen](https://drive.google.com/file/d/1RRKZW0mt3jjwbeuU-Q1tij8c6ymDJH0B/view?usp=sharing), [balance screen unselected](https://drive.google.com/file/d/1e8osDQgKQOXlf79MXgP2WE6QcVvfgGGh/view?usp=sharing), [transaction screen

[2020-12-01 17:24] nikolaglumac commented on #2248
Thanks @gnpf!

We will work on this in our next sprint 🚀

[2020-12-01 17:25] valodiadeseynes commented on #2257
No you're not.

You put a max limit on the wallet name but you didn't do the same for the password fields. I just tested, I can still create wallets with passwords longer than 255 characters.

[2020-12-01 17:26] nikolaglumac commented on #2257
You are right! We will fix this in our next sprint!
Thanks!

[2020-12-01 18:11] skazichris commented on #1234
Gents,

Is there any contact to their team?
Perhaps we need to raise an issue at their end?

I mean... I don't wanna wait forever for this import feature :)

pt., 27 lis 2020, 12:59 użytkownik Sebastien Guillemot <
notifications@github.com> napisał:

[2020-12-01 18:15] nikolaglumac commented on #1234
Hi,
Not sure which team you refer to, but I will give it a try:
- Adrestia team (cardano-wallet): https://github.com/input-output-hk/cardano-wallet
- Yoroi-web: https://github.com/Emurgo/yoroi-frontend
- Yoroi-mobile: https://github.com/Emurgo/yoroi-mobile
I guess it is probably best to  contact @SebastienGllmt directly for any Yoroi questions 🙏
Thanks!

[2020-12-06 22:21] rdlrt commented on #2222
@darko-mijic 1.5 months and few releases later, I dont think we're any better wrt slider than when I raised the request. The slider does absolutely nothing useful atm whether I use 10 ADA to delegate or 10M, it still lists 99% saturated pools at the top (for 10M that's absolutely incorrect! )

[2020-12-11 05:36] NinjaPerson24119 commented on #2238
That workaround doesn't seem to work for me. The wallet just outputs `node-usb [../src/device.cc:~Device() 21]: Freed device 0x29d48935c840` prior to even entering the passphrase, at which point nothing happens.

[2020-12-11 05:40] darko-mijic commented on #2238
We are working on supporting this. This is what is coming to hardware wallet support next:

1. Verification of the receiving addresses on the hardware wallet device
2. New device pairing screen with a list of all detected devices
3. Support for Trezor devices configured with an additional passphrase
4. Support for Ledger devices configured for plausible deniability with alternate PIN
5. Support fo

[2020-12-11 05:41] mark-stopka commented on #2238
Thanks for the update Darko!

[2020-12-11 21:55] Klobbinger commented on #2222
It looks like you guys did it! I can finally sleep soundly again :) Thanks Darko et al!

[2020-12-12 13:30] darko-mijic commented on #2222
Thank you!

[2020-12-12 13:30] #2222 closed

[2020-12-12 14:29] Klobbinger opened #2274 "Rewards cannot be sent/withdrawn"
It seems like rewards cannot be transferred to another address in the 3.0.0 versions of Daedalus and Flight. The wallet only allows to transfer the utxo balances, not the funds on the rewards account.

[2020-12-14 09:07] nikolaglumac commented on #2274
@Klobbinger can you please share more details? Rewards are for sure transferable - I have just confirmed that by running the test on my own. Couple of things you should bare in mind:
1. Wallet rewards are included in the wallet balance shown on the "Summary" screen and in the sidebar/topbar
2. Rewards shown on the "Rewards" screen are cumulative historical rewards your wallet received and NOT the

[2020-12-14 10:03] Klobbinger commented on #2274
@nikolaglumac Yes, I'm aware of the points you describe. I do have a balance left in my wallet. When I try to send it, I get the error message. There is definitely enough UTXO balance left to pay for the transaction fees. I also doublechecked this in Yoroi, which shows me both balances separately .

![grafik](https://user-images.githubusercontent.com/67224145/102067790-e865bf80-3dfb-11eb-8c96-af51

[2020-12-14 10:13] nikolaglumac commented on #2274
@Klobbinger it looks like 1000 is the full balance of your wallet. That won't work as you also have to pay fees. Try sending a smaller amount.

[2020-12-14 10:16] Klobbinger commented on #2274
@nikolaglumac no, my full balance is higher. It will allow transaction for the exact part of the total balance that is on utxo Adress. As soon as the threshold is passed so that the wallet would need to include funds from the rewards account, I get the error message.

[2020-12-14 10:54] Klobbinger commented on #2274
@nikolaglumac
This works because UTXO balance is greater than 200

![grafik](https://user-images.githubusercontent.com/67224145/102072813-af7d1900-3e02-11eb-9627-eb8a39eb1e81.png)

This doesn't, because UTXO Balance is smaller than 400, but total balance including rewards is greater than 1000.

![grafik](https://user-images.githubusercontent.com/67224145/102072897-c6bc0680-3e02-11eb-9e44-596632f08

[2020-12-14 11:39] nikolaglumac commented on #2274
@Klobbinger how do you know which part of your wallet balance is UTXO and which is rewards?

[2020-12-14 12:00] Klobbinger commented on #2274
@nikolaglumac
2 ways:
1. Prior to my last transaction, I did not move any funds in this wallet that I have also been staking. So since the rewards shown in the delegation center are exactly the amount of my total balance that I cannot send, it's clear that it's in the rewards account.
2. I have the same wallet restored in Yoroi which shows those two balances separately. Here I have the option to m

[2020-12-14 12:54] nikolaglumac commented on #2274
This is indeed strange... Daedalus uses rewards balance if there are any rewards. The code looks good so if this is a bug it is something on the cardano-wallet side. @KtorZ please help us out here 🙏

[2020-12-14 12:59] nikolaglumac commented on #2274
@gnpf @ManusMcCole @mioriohk please try to reproduce this issue and let us know the results 🙏  Thanks!

[2020-12-14 13:49] KtorZ commented on #2274
I don't know how much are the rewards, but cardano-wallet will not withdraw rewards if rewards don't bring as much value as what they cost. Indeed, withdrawing from a reward account increases the size of a transaction and the resulting fees. If the rewards are too small, it may not be worth withdrawing them yet. cardano-wallet will therefore only consider rewards if they are big enough. Could it b

[2020-12-14 13:52] Klobbinger commented on #2274
@KtorZ in my case the rewards are well above that threshold so that can't be the reason.

[2020-12-14 13:57] Klobbinger commented on #2274
Also, another user who confirmed to have the same problem like me uses a hardware wallet account. So the issue might be related to the he wallet feature.

[2020-12-14 14:04] nikolaglumac commented on #2274
@tomothespian @KtorZ can you please look into this? 🙏

[2020-12-14 14:38] nikolaglumac commented on #2274
@Klobbinger we will look into this. Thank you for reporting and thanks for patience!

[2020-12-14 14:44] Klobbinger commented on #2274
Happy to help! I'd like to see myself more like a member of the team than a customer ;) you guys are doing a great job!

[2020-12-15 10:29] hodlonaut commented on #2102
Still waiting for 'We will probably have a filter which will hide retiring pools and will be on by default soon.', @darko-mijic

[2020-12-15 10:32] hodlonaut commented on #2235
A sound of crickets so far, @nikolaglumac ?

[2020-12-15 10:33] hodlonaut commented on #2179
So, it's December 15th now - did this feature get implemented and rolled out, @nikolaglumac ?

[2020-12-15 13:28] nikolaglumac commented on #2235
Hi @hodlonaut!
This task is in our current sprint which means it should be included in the next Daedalus release.
Thank you for your patience!
Cheers!

[2020-12-15 14:04] nikolaglumac commented on #2179
Hi @hodlonaut,
We had a newsfeed announcement before the 6th of December but that was it...
We are still planning on how to deal with the tracking of stake pool saturation and ranking changes.
However, this is not a simple challenge since Daedalus is not constantly running.
Fear not, we will get there - we do understand the importance of this feature.
Thank you for your patience!

[2020-12-15 22:41] hodlonaut commented on #2179
This issue has nothing to do with saturation or ranking changes - it's about changes to the pool definition (e.g. fee raised, pledge lowered) and status (active -> retirement pending)...

[2020-12-15 23:50] nikolaglumac commented on #2179
Ranking and saturation changes are part of the issue alongside the other data you mentioned.

[2020-12-16 00:36] rdlrt commented on #2179
What is implemented (news feed) is absolutely not what we were hoping with `notification` mentioned in specs and the issue description. I was quite surprised to see that it was mentioned as viable for 6th December, apparently not without a reason 😢

Also, I see that this is _now_ being labelled as a `feature request`. Daedalus is a wallet that adheres to the delegation specs (giving it more import

[2020-12-16 08:48] nikolaglumac commented on #2179
Yes, I share the same view - this is why this ticket has not been closed. The feature is still to be implemented.

The label plays no role in prioritization of this issue. We only have 3 labels for the user tickets: `bug`, `feature-request`, and `question`. Out of these 3, I find the `feature-request` to be the best match.

I am sorry for the delays with #605. Please understand that we have limite

[2020-12-23 13:25] rickymac68 opened #2286 "Pop-Up Window Message for Rewards-Only Wallet Needs Improved"
Daedalus wallets that contain only rewards Ada do not allow users to send the Ada. The user alert that pops up when this situation arises is insufficient, and I have seen multiple users report the same issue. In general the alerts in Daedalus need to tell users "What to do" or "How to fix the issue" in addition to "What you cannot do".

Request changing the pop-up when sending Ada that is in a Rew

[2020-12-27 22:33] resolritter commented on #2182
I have the same processor (AMD Ryzen 3600) and it also got stuck here. I was wondering why it took so long.

This failure would be clearer if some sort of progress output or verbose output was enabled for this step.

[2021-01-04 00:45] KudretBayram commented on #605
Just writing to add a little more weight to this. It's a real issue, let's get it done please.

[2021-01-04 05:33] imrecsoka opened #2288 "Staking"
Hi, i have a general question regarding staking , and that is how on earth do you stop staking on the wallet so that a transfer can be made to an external address

In the Delegation Center section i can only redelegate but there is no undelegate option as youtube videos are pointing out.

Really confused here

[2021-01-04 12:17] nikolaglumac commented on #605
@KudretBayram we will do our best to get this implemented as soon as possible. Thank you for your patience! 🙏

[2021-01-04 12:20] nikolaglumac commented on #2286
Thanks for raising this with us @rickymac68!
We will look into this and make sure to improve the error message as soon as possible!
cc @darko-mijic

[2021-01-05 16:44] bravo3453 commented on #1234
Is there any time frame on this? I am still unable to access my coins. Do we know what the delay is in being able to import?

[2021-01-05 17:33] nikolaglumac commented on #1234
@bravo3453 we are still blocked by not having this feature ready on the cardano-wallet side.
@skazichris opened this issue on the cardano-wallet GitHub - perhaps it can be helpful to you too.

[2021-01-05 18:10] Klobbinger commented on #2274
In Daedalus and Flight 3.1.0 the problem persists. It only affects hardware wallets, not regular wallets.

[2021-01-05 19:49] bravo3453 commented on #1234
when you say blocked? can you elaborate please? is the delay from Cardano not allowing you to import wallets? IM not understanding. I didn't use this wallet for a few years when crypto went into a crash period then I've noticed I can't use my old wallet so I upgraded but cannot transfer my old wallet?

[2021-01-05 22:22] nikolaglumac commented on #1234
A lot of things changed in 2020 alone, not to mention in the last few years...
Old Daedalus you were using has been replaced by Daedalus Mainnet and there is no wallet migration option besides using your 12-word recovery phrase.
We will be adding an “import” feature which will enable you to restore your wallets from the state directory of the old Daedalus installation. This, however, has to be fir

[2021-01-05 22:35] nikolaglumac commented on #2274
Unfortunately, the problem has not been resolved yet. Sorry for the inconvenience and thanks for the patience! I hope we will get the fix into the next Daedalus release 🙏

[2021-01-06 18:14] djalillounis opened #2293 "Issue With Deadalus Sync"
Hello,

I have a recurrent issue with multiple version of Daedalus  Last one I tried is : 3.1.0 (Mainnet).

One I open the wallet the blockchain start syncing fats and it drops overt  time until it stops syncing and I retart the node again ,and after the restart ,it restart syncing fats and drops again after about (2-3 Min),
 I am facing this issue since along time, I tried  to remover(Stop  ) my

[2021-01-06 18:17] djalillounis commented on #2293
[logs-2021-01-06T175814.0497Z.zip](https://github.com/input-output-hk/daedalus/files/5777480/logs-2021-01-06T175814.0497Z.zip)
![Win01](https://user-images.githubusercontent.com/13331817/103805401-d28e9780-5053-11eb-9abb-2754dead3926.png)

[2021-01-07 09:19] nikolaglumac commented on #2288
Hi @imrecsoka!

There is no way to stop staking at the moment.
We will add this feature in one of the upcoming Daedalus releases.

**Please note that you can freely move your funds regardless of if you are staking or not.**

The only difference once the "undelegate" option becomes available is that, once you undelegate, you will get your 2 ADA deposit back.

Best,
N.

[2021-01-07 09:20] nikolaglumac commented on #2293
Hi @djalillounis!

Sorry to hear about your trouble...
This issue sounds like a networking/configuration problem on your side.
@disassembler @cleverca22 can you guys help us out here and check the logs? 🙏

Thanks!

[2021-01-07 10:04] aquaductape opened #2296 "Trouble with Uninstalling Daedalus Ubuntu 20.04"
I had issues [installing Daedalus](https://iohk.zendesk.com/hc/en-us/articles/900000776446-Installing-Daedalus-Mainnet-on-Linux-), the icon wasn't generated, a bunch of logs were spitting out, I couldn't tell if they were errors or not, I wish I copied them to post here for clarity but oops. Later I switched a different wallet, so I no longer needed Daedalus.

I tried to follow [this guide](https:

[2021-01-07 11:54] nikolaglumac commented on #2296
Hi!
Please follow these steps:

1. Remove the installation of Linux Daedalus from your home directory:
[code]
2. Remove Desktop Icons:
[code]
3. Remove Daedalus configuration
[code]

**Important: Running the following commands will remove all Daedalus wallet data. Please make sure you have a copy of your Daedalus wallet pass phrase(s).**

4. (Optional) Remove the Daedalus blockchain, DB, and walle

[2021-01-07 13:36] imrecsoka commented on #2288
HI, that's great news about the upcoming release which would incorporate that feature, so many people are looking forward to this project as there is a lot of noise on twitter and YouTube especially which i can observe.
So, silly question, how do you move the funds or transfer the funds?
I am more used to the QT wallets , so  apologies.

Kind Regards
Imre

[2021-01-07 14:58] nikolaglumac commented on #2288
@imrecsoka staking itself is not locking your funds in any way. You can simply go to the wallet "Send" screen and send ada normally. Sending funds out of a staking wallet will only reduce the amount you are staking and thus reduce your rewards. An opposite thing happens when you receive funds to a wallet which is already staking - in this case you will get more rewards...

[2021-01-07 23:16] aquaductape commented on #2296
I can't follow those steps because all of those paths that you listed, daedalus doesn't exist. When I installed the daedalus bin file, it installed them in different paths, I don't know exactly and I wish I copied the logs, so that's why I provided the results from the `find` command in my post, to see if its safe to remove them.

[2021-01-07 23:20] nikolaglumac commented on #2296
If you don’t have any of these paths then Daedalus is surely no longer installed. I am not sure what these other paths are - perhaps @disassembler can help us here 🙏

[2021-01-08 10:11] djalillounis commented on #2293
I am based in Poland, maybe if I manipulate my hosts file to point to a relay located in Germany will help, I will test it and let you know

[2021-01-09 20:25] clovehitch commented on #2076
How did you restore from the secret.key file?

[2021-01-09 20:35] clovehitch commented on #1234
@nikolaglumac

I have ADA that I'm unable to access since I created the wallet with Daedalus 0.13.1. I have the secret.key file (along with the rest of the files). It seems that as of right now, there is no way to gain access to those funds (I do not have the 12-word recovery phrase).

Is this correct?

[2021-01-09 20:56] nikolaglumac commented on #1234
@clovehitch yes, unfortunately that is the case. Please securely store your secret.key file (and preferably the complete state directory) so that you can use it to recover your wallet once this feature becomes available again. Once again, sorry for the inconvenience and thanks for the patience 🙏

[2021-01-10 00:05] MichalPietrzok commented on #1234
I lost my seed to my old Daedalus wallet (I think it was 0.13). After app update I don't see my assets anymore and my wallet gone. Good thing is that I used Daedalus Reward testnet and I have seed words to this wallet and there I see my ADA. Can I transfer my ADA from testnet wallet to mainet or should I wait for your feature ? I have also secret.key to old wallet

[2021-01-10 01:08] imrecsoka commented on #2288
Okay great thank you , not sure why I thought I can't send.
If I may ask, what is a decent amount to stake in the wallet - if i wanted to accumulate long term and earn more or less 10 coins a week, granted there are network factors, but I really wish to know this type of information.
Hope you can give me something
Regards

Get Outlook for Android<https://aka.ms/ghei36>
____________________________

[2021-01-10 09:16] claudiudc opened #2297 "build-installer-win64.bat missing"
I would like to do a full build on windows platform, however build-installer-win64.bat is missing from sources.
Can you please check?

Thank you.

[2021-01-11 00:23] testbookbear commented on #1234
Here is my situation like many others.

Have Daedalus 0.13 wallet with the directories on my mac intact. I do have the secret-1.0 dir with secret.key file in it.
I do not have the 12 word recovery phase.

Please let me know my only option is to wait for a new version of the Daedalus wallet that can import secret.key file.
(The Daedalus 3.1 wallet I have - this option to import secret.key is disabl

[2021-01-11 12:52] nikolaglumac commented on #2297
@cleverca22 @disassembler can you help us here?

[2021-01-11 12:52] nikolaglumac commented on #2296
@aquaductape can this ticket be closed?

[2021-01-11 12:53] nikolaglumac commented on #2293
@djalillounis any luck with this? Did the hosts file change work?

[2021-01-11 13:04] nikolaglumac commented on #2288
To earn ~10 ADA per epoch (which is 5 days long), you would need to stake around 14.000 ADA.
You can always check the "Potential rewards" in the stake pool tooltip or in the "list view":
![rewards](https://user-images.githubusercontent.com/376611/104185884-e4868680-5415-11eb-99d7-e9a15fbe807e.png)

[2021-01-11 13:14] nikolaglumac commented on #1234
You can use the "ITN redemption" feature in Daedalus Mainnet to redeem your ITN wallet funds:

![1](https://user-images.githubusercontent.com/376611/104186827-45fb2500-5417-11eb-9625-eac31544e713.png)
<img width="1150" alt="2" src="https://user-images.githubusercontent.com/376611/104186828-472c5200-5417-11eb-9c14-9d402e8ef6b1.png">

[2021-01-11 13:15] nikolaglumac commented on #1234
@testbookbear unfortunately, you need to wait. Thanks for the patience!

[2021-01-11 13:22] djalillounis commented on #2293
I didnt test it yet. I will do it during this week

On Monday, January 11, 2021, Nikola Glumac <notifications@github.com> wrote:

[2021-01-11 15:20] kzebrackio opened #2298 "Impossible to withdraw rewards from ledger wallet in Daedalus"
I just tried to move my balance from my Daedalus Ledger wallet to another Daedalus wallet and encountered that my staking rewards cant be transferred. Only my UT/XO balance. I'm quite a big bag holder and my rewards are piling up. A couple of thousand ADA are waiting for me, but it annoys me they cannot be withdrawn.

I know there's a little fee for withdrawing ada, but thats not the issue. As soo

[2021-01-11 15:27] kzebrackio commented on #2298
Another issue is that my Daedalus Ledger wallet does not allow me to withdraw ada to an exchange wallet directly. If i enter an exchange wallet my ledger keeps waiting for commands. If i enter my other daedalus wallet account, the commands do send correctly. So now i need a double transfer to get my ada on an exchange. First to my other daedalus wallet, next to my exchange wallet. Also a bit weird

[2021-01-11 15:31] nikolaglumac commented on #2298
Hi @kzebrackio!
Sorry to hear about the issues you are facing...

The first one is a known issue reported here: https://github.com/input-output-hk/daedalus/issues/2274 - please track it under that link (we are still waiting on a fix on the [cardano-wallet](https://github.com/input-output-hk/cardano-wallet) side). I can not give you an ETA on that one 😞
If you can not wait for the fix, a workaround

[2021-01-11 17:57] nikolaglumac commented on #2257
Hi @valodiadeseynes!
This bug has been fixed in: https://github.com/input-output-hk/daedalus/pull/2287 and will be released in next Daedalus release.
Thanks for the patience and for bringing this up!
Best,
N.

[2021-01-12 04:30] MichalPietrzok commented on #1234
I think I need to wait too for this feature. When will you be ready to release it ?

[2021-01-12 08:26] nikolaglumac commented on #1234
Unfortunately, I can not give you an ETA as we depend on this feature first being implemented by cardano-wallet team: https://github.com/input-output-hk/cardano-wallet/issues/2395

[2021-01-12 09:49] nikolaglumac commented on #2274
This issue needs to first be fixed on the cardano-wallet side: https://github.com/input-output-hk/cardano-wallet/issues/2440
As soon as the fix is ready we will adjust the code on our side and release it.

[2021-01-12 21:49] chrissound commented on #2182
This is an actual bug in AMD cpus which requires a microcode update in order to be fixed.

See https://community.amd.com/t5/processors/ryzen-3000-random-bug/td-p/213044 https://github.com/systemd/systemd/issues/11810

Possibly working around this issue might be a solution.

[2021-01-14 10:28] nikolaglumac commented on #2248
Hi @gufmar!
This issue has been fixed in https://github.com/input-output-hk/daedalus/pull/2300 and will be released in next Daedalus version.
Thanks once again for reporting the issue and thank you for your patience!
Best,
N.

[2021-01-15 10:51] aleksmart commented on #1234
@nikolaglumac, please help. why is Import Feature is disabled in latest Daedalus version? i can't import from the old wallet.

[2021-01-16 02:06] no1ninja1973 commented on #1234
I need this so bad!!    I have all my files the secret,key and same issue... the old deadalus just tries to connect and does not connect, i wish i could just get into it to get the seed.   I have the program files as well fi those are needed as well as the user/roaming files.

I have over 40,000K in ADA in the account, this is substantial for me, so please team develop this addition to the program

[2021-01-16 09:10] nikolaglumac commented on #2235
This has been released in https://github.com/input-output-hk/daedalus/releases/tag/3.1.0

[2021-01-16 09:10] #2235 closed

[2021-01-16 09:14] nikolaglumac commented on #1234
@aleksmart @no1ninja1973 I am very sorry to hear about your troubles :-(
This feature has been disabled because it is missing on the cardano-wallet side ever since the Byron Reboot launch.

Unfortunately, I can not give you an ETA as we depend on this feature first being implemented by cardano-wallet team: input-output-hk/cardano-wallet#2395

Please securely store your secret.key file (and prefera

[2021-01-16 18:23] clovehitch commented on #1234
@aleksmart @no1ninja1973 I was able to restore my old wallet by piecing together the instructions throughout https://github.com/input-output-hk/cardano-wallet/issues/2395

[2021-01-17 00:16] srdjan commented on #1234
@clovehitch, there is a lot going on it that issue... would you publishing how you did it?

[2021-01-17 00:49] clovehitch commented on #1234
@srdjan It looks like all that is holding this up from being implemented is that one more person needs to review https://github.com/input-output-hk/cardano-sl/pull/4278 I could be missing something with that though? I'm not sure of etiquette here, but would it be okay to reach out to the people who are required to approve?

[2021-01-17 01:39] srdjan commented on #1234
off course!
I just don't think that all of us should go through trial and error by following the issue discussion

[2021-01-17 01:51] clovehitch commented on #1234
@srdjan sorry I don't think I got my point across correctly. Instead of writing up these steps that would need to be tweaked for each person's setup, it might be best to figure out how to get the feature added back to Daedalus. It looks like all that is needed is for one of two people to approve of the change.

I did the following:

1. download Ubuntu 18.04 for WSL2
2. backed up my old wallet dire

[2021-01-17 20:57] rdlrt commented on #1234
Not exactly, cardano-sl repository is archived and no longer used by Daedalus (UI that now interfaces with cardano-wallet instead). So it's not just approve and merge.

[2021-01-18 04:39] hodlonaut commented on #2235
Not sure why this has been closed @nikolaglumac  - I have Flight 3.1.0 installed and the second part of the problem mentioned in the title (search by hex pool id value - e.g. 4deb0ba979fe7af5a5a4896ef68cdae029ad116542555cb422f46348 - that's the pool id syntax/format that is used on a number of community tools for example pooltool.io as well as referenced on people's websites - since that is the fo

[2021-01-18 08:24] KtorZ commented on #1234
Indeed. Nothing will change in cardano-sl anymore. The repository is archived and, this pull request was never intended to be merged. It simply facilitates reviewing and give the underlying branch some exposure.

We are working on putting together a summary from input-output-hk/cardano-wallet#2395 including the few pitfalls people ran into. (Thanks @clovehitch's for already putting one up).

[2021-01-18 12:43] nikolaglumac commented on #2235
@hodlonaut Daedalus only displays stake pool ids in bech32 format and that is the one the search works with.

[2021-01-18 14:15] no1ninja1973 commented on #1234
If this could be made urgent, I know there are a lot of users in the same boat as me.   I have been searching for methods to get my funds recognized and found tons of users in the same predicament.     People keep saying why is it that you do not have a seed. I am sure I did at some point, but the paper got misplaces or lost... and the Daedalus worked just fine and the funds were still of very low

[2021-01-18 14:26] nikolaglumac commented on #1234
@no1ninja1973 please understand that we can not do anything on the Daedalus side without a support from the cardano-wallet Adrestia team. This is **not** a "code is ready and needs to be reviewd" case... The best we can do now is what @KtorZ mentioned in his comment: https://github.com/input-output-hk/daedalus/issues/1234#issuecomment-762074500

[2021-01-18 14:34] srdjan commented on #1234
Hi @nikolaglumac - thanks for being supportive and providing feedback.
Just one comment: when you say "...we can not do anything on the Daedalus side without a support from the cardano-wallet Adrestia team..." - it is really hard to understand from outside. This problem is Cardano / ADA wallet problem for a regular user.

[2021-01-18 15:03] KtorZ commented on #1234
What people have to understand here is that:

a) There's no "server". This is a decentralized software, the "server" is the node on each user machine. After many announcements and warnings for months, the previous node was discontinued and the network re-spinned with a completely new, not compatible node (a.k.a Byron-reboot).

b) The recovery phrase is the one thing users were told to not forget o

[2021-01-18 16:37] nikolaglumac commented on #1234
@srdjan please note that we are doing all we can to help you and all the other users in your situation.
Still, we have limited manpower and, as @KtorZ mentioned, a very tightly packed schedule with a lot of things to deliver.

Regarding the confusion, you mentioned in your comment - Daedalus as an application consists of multiple components. Three main ones are cardano-node, cardano-wallet and Dae

[2021-01-19 00:48] MichalPietrzok commented on #1234
In our community in Poland we have a lot of people that are in the same situation. I know that seed are the most important thing but when somebody install official sofware, he trust all keys are safe in the machine (secrets folder ect. ) and wallet is able to restore.
I know also you are busy but tell me please, is any chance you can enable this feuture or all ADA in thouse wallets are permanently

[2021-01-19 01:27] rdlrt commented on #1234
@MichalPietrzok - You can ask them to refer to manual using instructions [here](https://github.com/input-output-hk/cardano-wallet/issues/2395#issuecomment-758784374) and [here](https://github.com/input-output-hk/cardano-wallet/issues/2395#issuecomment-758784374).

To be fair, the wallet does clearly tell that the recovery phrase are the ONLY way to get access to funds, and our message needs to be

[2021-01-19 16:33] nikolaglumac commented on #1234
Thanks for the support @rdlrt 🙏

Please note that both @KtorZ's Adrestia team and the Daedalus team will put additional overtime hours and efforts into enabling this feature again. We will do all we can to help all affected users. We will inform you of our progress in this thread so please keep tracking it.
Thank you for your patience!

[2021-01-19 20:33] europound opened #2306 "Trezor T hidden wallet hidden passphrase public key export fail"
cannot export private keys from trezor t to daedalus wallet directly
trezor t device asks to enter hidden password on connected host
but computer is not asking for anything

daedalus is waiting on public keys indefinitely

ubuntu 20.04

[2021-01-19 20:37] nikolaglumac commented on #2306
@europound this is a known issue already reported in https://github.com/input-output-hk/daedalus/issues/2238
Please follow the linked issue for more details. I am closing this one as it is a duplicate.

[2021-01-19 20:37] #2306 closed

[2021-01-19 20:48] europound opened #2307 "Cannot send max value"
I have to manually guess and trial error to send max value of the wallet
could you make it better and easier?

[2021-01-19 21:00] nikolaglumac commented on #2307
@europound ah yes that is very awkward UX 😞
Unfortunately, this is still on our todo list. We have the Api which will allow is to build a “wallet migration” feature which will do what you are asking for. Thank you for your patience!

[2021-01-20 13:54] gmanroney opened #2309 "Sorting By Rewards In Daedalus"
When you sort by "rewards" in daedalus it sorts as follows (example) - "1,10,100,0,0" assuming five wallets. i would expect it to sort "0,0,1,10,100"; where there are two numbers that are the same i would sort alpahbetically by wallet name

[2021-01-20 20:03] FranciscoAndaur opened #2310 "[idea] drag and drop feature to organize wallets"
![Screen Shot 2021-01-20 at 3 00 00 PM](https://user-images.githubusercontent.com/30847974/105228279-666e6200-5b30-11eb-918d-a9955d75a3c9.png)

just an idea, to be able to rearrange wallets however you might like would be a great feature

[2021-01-21 08:11] nikolaglumac commented on #2310
Thanks for submitting this idea! We will for sure look into this.
cc @darko-mijic

[2021-01-21 08:36] nikolaglumac commented on #2309
We are on it @gmanroney 🚀

[2021-01-21 14:41] HSleurink commented on #2286
@nikolaglumac I have the same error (daedalus 3.1.0). How much ADA is needed in a wallet to make the transfer of the rewards possible?

[2021-01-21 14:41] nikolaglumac commented on #2286
You need to have at least one UTXO entry @HSleurink.
This means at least 1 ADA.

[2021-01-21 20:18] automaticprofits commented on #1234
Hello.

Does anybody know what version is attached?     And do you know if this version has the secret.key as I couldn't find it?

Just like others here, I lost the seed words.  What will be the best course of action with the version of Daedalus that is currently installed?    Would downloading the following version recognize the contents of my Daedalus and overwrite it and give me access to the A

[2021-01-21 23:21] #2296 closed

[2021-01-22 08:26] JasinYip opened #2314 "[macOS(Big Sur)] nix:selfnode Error - file not found: libcache.dylib for architecture x86_64"
I've tried to run Daedalus on my macbook, when I run `yarn nix:selfnode` for building I got this Error:

[code]

How could I fix this issue?

Environment:
- OS: macOS Big Sur (v11.1 (20C69))
- yarn: v1.22.5
- clang: Apple clang version 12.0.0 (clang-1200.0.32.28); Target: x86_64-apple-darwin20.2.0
- node.js: v14.15.4
- nix-shell: (Nix) 2.3.10

Full logs:
[code]

[2021-01-22 08:33] nikolaglumac commented on #1234
@automaticprofits you should not download nor install any old versions of Daedalus as that will not resolve the problem.
The version you are using is definitely an old one which was using `secret.key` file. This file can be found in the state directory:

Make sure you keep it there as you will need it once we re-enable the import feature.

[2021-01-22 13:00] automaticprofits commented on #1234
Thank you Nikola for your response.

In this video https://youtu.be/eNUwie_45E8?t=259 at minute 4:24 it appears that the Import feature is active and should work in version 1.0.0#12653 as Darko explains.    Should I try this?  And where may I download that version?

[2021-01-22 13:06] nikolaglumac commented on #1234
@automaticprofits that feature was indeed available in that version of Daedalus, but that one no longer works (It win't be able to connect to the network) and there is no point in installing it.

[2021-01-23 19:44] TrevorBenson commented on #2230
The updates in the Daedalus Testnet 3.2.0-FC1 resolve my comments about confusion in delegation within the wallet.

![Screenshot from 2021-01-23 11-41-46](https://user-images.githubusercontent.com/9167887/105612327-31e8e900-5d70-11eb-954c-59cd72e928d9.png)

@Profsmith9000 Does this cover your feature request so we could close the ticket out?

Thanks

[2021-01-23 23:30] Profsmith9000 commented on #2230
@TrevorBenson Yep, that's much improved. I like the specified epochs above.  Will close.

[2021-01-23 23:30] #2230 closed

[2021-01-24 11:32] stakelovelace opened #2316 "Delegation wizard needs over-saturation warnings implemented"
E.g. if I'm a 25m whale delegating to a pool that has 50m stake (and saturation level is 64m), the delegation wizard in Daedalus should present a prompt with information similar to the following:

⚠️ Warning: continuing with delegation to pool X will result in pool becoming oversaturated (saturation level of % percent). This will in turn result in reduction of future rewards (by x percent), to bot

[2021-01-25 09:20] nikolaglumac commented on #2230
Glad you like it @Profsmith9000 @TrevorBenson!

[2021-01-25 09:20] nikolaglumac commented on #2316
Thanks for the feedback @stakelovelace!
We will look into this.
cc @darko-mijic

[2021-01-25 09:27] nikolaglumac commented on #2314
@JasinYip the selfnode setup is currently broken. Still, this error you are getting will most likely impact all other clusters.
Can you try running `yarn nix:testnet` on the most recent `develop` branch revision?

[2021-01-25 11:40] snajjar commented on #2117
Same issue yesterday for SPFR. Was displayed on several machine's Daedalus, but not on a freshly installed Daedalus (100% synchronized).

[2021-01-25 14:30] CodiePP opened #2317 "Show staking address hash in UI"
I would love to know a wallet's staking address ("stake1...." hash) to be input in some of the online tools for further analyses.
Could the UI please show this somewhere?

[2021-01-26 02:48] JasinYip commented on #2314
Running `yarn nix:testnet` showed

[code]

Full log:
[code]

[2021-01-26 07:36] nikolaglumac commented on #2314
Thanks! We'll look into this!

[2021-01-26 09:19] tdiesler opened #2319 "[Bug] Tx Error: Candidate contains blocks from future exceeding clock skew limit"
Send with Ledger X fails with

[code]

I resynched from an empty block store, but still ^^^

On my Ledger I noticed an epoch very far into the future (i.e. 544) we are currently on 244, perhaps that has something to do with it.

[2021-01-26 09:21] nikolaglumac commented on #2319
The TTL is hardcoded far in the future at the moment.
We will be changing this to a dynamic calculated TTL soon, but I don't think this is a root cause of the issue you are seeing.

@KtorZ can you please look into this?

[2021-01-26 10:37] KtorZ commented on #2319
@nikolaglumac I don't think this has anything to do with the transaction's TTL. This is an error from the ledger database which is probably due to a wrong offset on the local clock.

I don't recall seeing this error every to be frank. We'll need to ask someone from the consensus team. @coot, does that ring any bell to you or do you know someone for whom it might :no_mouth: ?

[2021-01-26 12:29] tdiesler opened #2320 "Stake Pool tab no longer displayed"
Version: 3.1.0
Build: #15733

<img width="277" alt="image" src="https://user-images.githubusercontent.com/244946/105844865-2d276d80-5fda-11eb-9c6a-c10ea74fd081.png">

[2021-01-26 21:29] CyberCyclone opened #2323 "Group known Stake pools together in 1 tile"
Hi,

Can we please have the default option of the stake pool rankings so that known grouped pools (multi-pool) are grouped together as one tile?

1. Group known multi-pools together as one tile and use the worst ranking pool as the rank for the tile. This will help encourage decentralisation and make a SPO think twice before opening another pool. I.e, if you start another pool, it will have a nega

[2021-01-26 21:59] cardanpool commented on #2323
This would be a nice feature.

[2021-01-26 22:16] lophre commented on #2323
Like the idea.

[2021-01-26 22:35] Cardano-TH commented on #2323
Agree!

[2021-01-27 00:46] Zaytion commented on #2323
So if someone wanted to make multiple pools they just create a different brand so they aren't associated? How does that help?

[2021-01-27 02:10] CyberCyclone commented on #2323
That's a very different scenario compared to a SPO who is blatantly abusing the system and going against the fundamentals of Cardano and decentralisation. While Cardano does allow it to happen, we can at least limit its impact.

[2021-01-27 04:27] chadle-git commented on #2323
That's a good idea.

[2021-01-27 04:30] Zaytion commented on #2323
Not different. They'll make other pools. Then make an "alliance" about something they all support and add new pools to the alliance. Then we have unknown multi pools pushed as a common group and we all get suckered into it.

[2021-01-27 04:47] fuadiansyah commented on #2323
This is a great idea.

[2021-01-27 07:50] jdloft commented on #2323
What will be the definition of a known stake pool? If we add a list of stake pools that are to be grouped, then we commit to the task of updating said list which also relies on a group of people to decide what should or should not be grouped.
If we instead assume all pools with a common prefix and with a number suffix are grouped, then we do just that, assume. There could be cases in which we don’

[2021-01-27 08:51] nikolaglumac commented on #2320
@tdiesler it shows after a while. Daedalus sometimes receives shelley era hardfork info from the Api slower than usual and thus the button shows up with delay (1-2 mins or so). This is a known issue in the cardano-wallet component and the Adrestia team is working on the fix.

[2021-01-27 08:52] nikolaglumac commented on #2323
cc @darko-mijic

[2021-01-27 09:40] CyberCyclone commented on #2323
It would be up to the Daedalus maintainers to decide that as they know best. As it stands though the known multi-pools have already identified themselves as they use the same URL in the pool meta. So that in itself would instantly group them together.

To some extent the Cardano Foundation already keeps on eye on pools with their staking initiative. Plus there's already community backed tools such

[2021-01-27 16:51] sp33dy commented on #2117
Good afternoon. Can you help? We have registered Buzz and can't see it in Daedalus now, yet it is in every other tool (pooltool, adapools & pm.tool). However, strangely it did this morning. Let me explain the situation:

Yesterday, a pool registered with BUZZ. The Cardano Buzz owner (from ITN) was alerted and asked them to move over (which they kindly did to IBee) and I was asked to create the poo

[2021-01-27 17:33] KtorZ commented on #2117
@sp33dy Daedalus (unlike other tools like pooltool, adapools or pm.tool) does actually verify that the JSON metadata file served at the URL indicated does match the hash also registered on-chain. This is to prevent malicious stake pool operators from serving potentially malicious content to users.

In most cases where people have reported their pool not showing up in Daedalus, it's been because th

[2021-01-27 17:47] sp33dy commented on #2117
Hi KtorZ, I would agree if I didn't have this scripted and checked; it's why I've tried multiple times with the reregistering.

The existing metadata lives here: https://git.io/JtC5R

{
"name": "Cardano Buzz",
"description": "The official OG Cardano Buzz pool",
"ticker": "BUZZ",
"homepage": "https://www.cardano.buzz"
}

that computes to: 041e08026e81b7c973a67a276f611b162b8743b31fdde20749b3c56dd0be

[2021-01-27 17:54] sp33dy commented on #2117
F* that solves it! That Hash is coming out all wrong.

[2021-01-27 18:14] gitmachtl commented on #2117
Have you checked if the smash server has picked you up already? There were issues with the smash server lately.

[2021-01-27 18:16] sp33dy commented on #2117
Hi @gitmachtl , no is the honest answer. How can I do that?

[2021-01-27 18:19] gitmachtl commented on #2117
You can call the Smash-Server like:

[2021-01-27 18:22] gitmachtl commented on #2117
You can call the Smash-Server like:
`https://smash.cardano-mainnet.iohk.io/api/v1/metadata/<poolid>/<metahash>`

Replace the <poolid> with your Pool-ID in hex or bech format and <metahash> with your Meta-Hash in hex.

So in your case its: https://smash.cardano-mainnet.iohk.io/api/v1/metadata/52122387c3e805e5d97bda13a85a384ba63110bbf6045df79b29f922/041e08026e81b7c973a67a276f611b162b8743b31fdde20749

[2021-01-27 18:24] nikolaglumac commented on #2117
Your stake pool **won't show up** in Daedalus in case it is not picked up by IOHK SMASH server first.

[2021-01-27 18:33] lukas-kamleitner commented on #2117
I currently have the same issue.
When will SMASH pick up updated pools? Is there a way to force an update?

[2021-01-27 19:01] nikolaglumac commented on #2117
It should be almost instant.

@gitmachtl @sp33dy BUZZ stake pool is now visible on SMASH: https://smash.cardano-mainnet.iohk.io/api/v1/metadata/52122387c3e805e5d97bda13a85a384ba63110bbf6045df79b29f922/041e08026e81b7c973a67a276f611b162b8743b31fdde20749b3c56dd0bedc3d

[2021-01-27 19:04] disassembler commented on #2117
Smash was stuck, I smashed it and it's processing new requests again.

[2021-01-27 19:05] lukas-kamleitner commented on #2117
Thanks!

Mine is now also visible on SMASH (but it took 3 hours).
Still not visible in Daedalus

[2021-01-27 19:05] disassembler commented on #2117
We're working to get some better operating metrics provided by the service. The wallet has an exponential retry back-off, so restarting daedalus should show it, or just wait until it's retry timer kicks.

[2021-01-27 19:16] sp33dy commented on #2117
I figured out what I think has occured, which leads me to ask, has SMASH been processing today:

(1) Last night I registered Buzz correctly and Daedalus was showing
(2) This morning, we delegated into it; all good
(3) The ITN Witness details were provided, so I re-registered. At that point, we took a snapshot (I thought of Daedalus, it wasn't, it was in Pooltool which shows ok). Looking at the req

[2021-01-27 19:25] sp33dy commented on #2117
Thanks, but no sign in Daedalus; restarted...

[2021-01-27 21:24] lukas-kamleitner commented on #2117
Mine neither

[2021-01-27 22:25] lukas-kamleitner commented on #2117
@sp33dy how did you get your pool to show up on Daedalus? Did you do something else?

[2021-01-28 06:51] nikolaglumac commented on #2117
@sp33dy @lukas-kamleitner if it is visible on SMASH it will be also visible in Daedalus - you just have to wait for it.
I can see BUZZ in Daedalus. Not sure what's that ticker of your stake pool @lukas-kamleitner but I am sure it is in Daedalus too.

[2021-01-28 08:46] sp33dy commented on #2117
Good morning. The smash server didn't do us any favour. This morning, I have reports that BUZZ can be seen by others, but not for me. Given that, I've taken the drastic step of deleting the chain and cache folders in the appdata directory. I'm now waiting for a full synch. I expect that to fix my issue. In flight, it shows!

[2021-01-28 12:35] nikolaglumac commented on #2117
@sp33dy it will show up eventually. I am sure of that.

[2021-01-28 13:35] lukas-kamleitner commented on #2117
Yes, I can see mine now. My ticker is [ALPS]. But I lost ~10 delegators yesterday and got 7 emails that my pool is displayed as unknown.

How can we prevent such an error in the future?

[2021-01-28 13:37] nikolaglumac commented on #2117
Re-registering stake pool leads to this behavior. I am not sure this can be avoided...

[2021-01-28 13:42] lukas-kamleitner commented on #2117
Yeah, but how can we check if SMASH is running?

[2021-01-28 13:43] lukas-kamleitner commented on #2117
I would have waited with the update process if I had known, that SMASH was lagging

[2021-01-28 13:44] nikolaglumac commented on #2117
I can not give you that answer. Please post your question on https://github.com/input-output-hk/smash

[2021-01-28 13:45] lukas-kamleitner commented on #2117
Thanks, will do

[2021-01-29 14:40] bravo3453 commented on #1234
I found my seed!

All is well. I feel so much calmer knowing my wallet is back

All those months I thought I had lost the seed and was stressing. Now I have resorted my wallet.

[2021-01-29 14:41] nikolaglumac commented on #1234
Glad to hear that @bravo3453! Keep it safe :-)

[2021-01-30 00:52] Whoffie opened #2326 "Daedalus reads Windows drive storage instead of the one it has been installed to"
As my main SSD has been filling up, I recently installed an m.2 NVME drive to my system, nearly void of any files (save for a few .txt and image files). Unfortunately, when Daedalus is installed on that drive, it says my drive storage is too low.

Proof the mainnet folder is in my drive
![image](https://user-images.githubusercontent.com/76015073/106341402-c668b500-6262-11eb-8250-614f617bc5f2.png)

[2021-01-30 01:08] KevinRiordan opened #2327 "Daedalus stuck in Connecting State"
I have been using the wallet with no issues for days and went to dedicate some stake to a pool earlier today. eveything seeme fine. i came back and it was closed and now it is stuck in the connecting state.

[2021-01-30 01:10] KevinRiordan commented on #2327
reinstalled and it connected will now try to restore

[2021-01-30 09:39] nikolaglumac commented on #2326
Hi @Whoffie!

Daedalus only checks for the main drive's available space and not the one on which Daedalus is installed.
The reason for that is that the state directory which contains blockchain data and takes a lot of storage space is always stored on the main drive.  **There is no way of changing the drive for that state directory at the moment.**
You can find the location of that directory by op

[2021-01-30 09:41] nikolaglumac commented on #2327
Hi @KevinRiordan!
Sorry to hear about the issue...
Keep us posted 🙏

[2021-01-30 17:29] Codanalt opened #2328 "Problems with installation"
Hi,
I have a suggestion to improve the installation experience.
For security reasons I'm using two accounts on my Windows10 PC.
One admin-account for installations and another user-account (non-admin) for the daily work.
If I start the setup (while I'm logged into the user account) it shows me this error-message:

![grafik](https://user-images.githubusercontent.com/78271616/106363353-5fadcf00-6328

[2021-01-30 17:31] nikolaglumac commented on #2328
Hi @Codanalt!
This error is shown because you have another instance of Daedalus running while you are trying to run the installer.
Please exit all running Daedalus instances and then run the installer again.
Cheers!

[2021-01-30 18:41] Whoffie commented on #2326
Thanks for the clarification, I'll do that. 👍

[2021-01-30 18:41] #2326 closed

[2021-01-30 18:46] Codanalt commented on #2328
Thanks for the fast reply.
Yes, that would be an explanation, but I'm pretty sure that there is no Daedalus instance running. In this case, my user has no write permission to the file (cardano-node.exe), so it can't be updated. (Only the admin-user can.)
So maybe it would be helpful, to implement an elevation prompt or - if Daedalus is open - a user-friendly message (like "please close Daedalus wa

[2021-01-30 18:48] nikolaglumac commented on #2328
Thanks!
We'll need our DEVOPS team to assist us here...
@disassembler @cleverca22 can you guys please look into this? 🙏

[2021-02-01 19:27] nikolaglumac commented on #2327
Hi @KevinRiordan! Any news?

[2021-02-01 19:28] nikolaglumac commented on #2320
@tdiesler this issue will be fixed after this PR is merged: https://github.com/input-output-hk/daedalus/pull/2325

[2021-02-01 20:06] nikolaglumac commented on #2248
Hi @gufmar!
The fix for this issue has been released in Daedalus Mainnet 3.2.0.
Cheers!

[2021-02-01 20:06] #2248 closed

[2021-02-01 20:08] nikolaglumac commented on #2257
Hi @valodiadeseynes!
The fix for this issue has been released in Daedalus Mainnet 3.2.0.
Thanks for reporting this!
Cheers!

[2021-02-01 20:08] #2257 closed

[2021-02-01 20:08] nikolaglumac commented on #2293
Hi @djalillounis!
Any news?
Thanks!

[2021-02-01 20:12] nikolaglumac commented on #2298
Hi @kzebrackio!

☝️  A fix for this issue has been released in Daedalus Mainnet 3.2.0.

I am closing this ticket. You can follow the updates regarding the other issue you reported (unable to send/withdraw rewards on hardware wallets) here: https://github.com/input-output-hk/daedalus/issues/2274

[2021-02-01 20:12] #2298 closed

[2021-02-01 20:14] nikolaglumac commented on #2319
@tdiesler can you please check if this issue still persists on the latest Daedalus Mainnet 3.2.0 🙏

[2021-02-01 21:00] nikolaglumac commented on #2059
This feature has been released in Daedalus Mainnet 3.1.0.

[2021-02-01 21:00] #2059 closed

[2021-02-01 21:01] nikolaglumac commented on #2075
This has been fixed a while ago.
Thanks for reporting!

[2021-02-01 21:01] #2075 closed

[2021-02-01 23:35] tdiesler commented on #2319
I've since been able to send with 3.2.0. We can close this if you like.

[2021-02-02 01:04] KevinRiordan commented on #2327
Reinstalled and says error occured when trying to restore a shelley daedalus. cant restore...

[2021-02-02 07:08] sebsonf opened #2329 "Windows Appdata storage but C drive full"
Hi, please add an option to let the user choose where to store the blockchain. In my case C:\ drive was almost full and I did install Daedalus on D:\ drive. But it still synced the blockchain to C:\AppData until it froze with an error that the drive is full. I was not even able to change the location in the settings menu, as it did not open.

![image](https://user-images.githubusercontent.com/1218

[2021-02-02 07:29] #2319 closed

[2021-02-02 07:59] nikolaglumac commented on #2327
@KevinRiordan if you know your wallet's recovery phrase, I would suggest you delete the state directory and sync from scratch, and then try to restore the wallet.

[2021-02-02 08:20] nikolaglumac commented on #599
This has been implemented a while ago... Closing this ticket.

![Screenshot 2021-02-02 at 09 19 58](https://user-images.githubusercontent.com/376611/106571776-dc62c800-6537-11eb-8d3e-e5f16ba63040.png)
![Screenshot 2021-02-02 at 09 19 52](https://user-images.githubusercontent.com/376611/106571778-dd93f500-6537-11eb-88db-1b03c2f94060.png)

[2021-02-02 08:20] #599 closed

[2021-02-02 08:26] nikolaglumac commented on #2329
This is a duplicate of: https://github.com/input-output-hk/daedalus/issues/605

This feature is not yet implemented, but what I suggest you to do is:

1. Close Daedalus
2. Open the state directory: [Instructions](https://iohk.zendesk.com/hc/en-us/articles/360039391494-Open-the-state-directory)
3. Copy the "chain" directory to a different drive
4. Create a shortcut with the same name "chain" to tha

[2021-02-02 08:26] #2329 closed

[2021-02-02 08:27] nikolaglumac commented on #605
This feature is not yet implemented but this is a workaround that might help you:

1. Close Daedalus
2. Open the state directory: Instructions
3. Copy the "chain" directory to a different drive
4. Create a shortcut with the same name "chain" to that new location and place it in the state directory (where "chain" directory was previously)
5. Run Daedalus

This will free your C drive significantly s

[2021-02-02 10:16] #2244 closed

[2021-02-02 10:17] #2288 closed

[2021-02-02 10:19] #2148 closed

[2021-02-02 10:20] nikolaglumac commented on #2164
This is a cardano-wallet limitation. Please follow this thread: https://github.com/input-output-hk/cardano-wallet/issues/2058#issuecomment-753331796

[2021-02-02 10:20] #2164 closed

[2021-02-02 10:21] nikolaglumac commented on #1975
This issue has been fixed a while back. Closing this issue...

[2021-02-02 10:21] #1975 closed

[2021-02-02 10:22] nikolaglumac commented on #2161
Closing this issue as it is a duplicate of https://github.com/input-output-hk/daedalus/issues/1234

[2021-02-02 10:22] #2161 closed

[2021-02-02 10:24] coot commented on #2319
As far as I know the consensus can deal with some small clock skew, but once it goes above some threshold consensus would error.  This could happen when changing system clock.  Consensus team might be better point of contact for such errors.

[2021-02-02 10:24] nikolaglumac commented on #1898
Closing this one as Daedalus ITN is no longer in use.

[2021-02-02 10:24] #1898 closed

[2021-02-02 10:25] nikolaglumac commented on #1876
Closing this one as Daedalus ITN is no longer in use.

[2021-02-02 10:25] #1876 closed

[2021-02-02 10:25] nikolaglumac commented on #1858
Closing this one as Daedalus ITN is no longer in use.

[2021-02-02 10:25] #1858 closed

[2021-02-02 10:26] nikolaglumac commented on #1776
Closing this one as Daedalus ITN is no longer in use.

[2021-02-02 10:26] #1776 closed

[2021-02-02 10:26] nikolaglumac commented on #1807
Closing this one as Daedalus ITN is no longer in use.

[2021-02-02 10:26] #1807 closed

[2021-02-02 10:27] nikolaglumac commented on #2228
@gnpf @ManusMcCole @mioriohk please try to reproduce this issue. Thanks 🙏

[2021-02-02 10:32] nikolaglumac commented on #2137
Delegation center has been significantly improved in the last Daedalus Mainnet release 3.2.0.
This issue should no longer be happening...

[2021-02-02 10:32] #2137 closed

[2021-02-02 10:35] nikolaglumac commented on #2130
The cardano-node performance has been significantly improved since this issue was raised.
In case you are still seeing issues, please open a ticket on the cardano-node GitHub repo: http://github.com/input-output-hk/cardano-node
Thanks!

[2021-02-02 10:35] #2130 closed

[2021-02-02 10:35] nikolaglumac commented on #2129
Hi all! These performance issues have been fixed couple versions back. Please update to the latest version of Daedalus Mainnet.
Thanks!

[2021-02-02 10:35] #2129 closed

[2021-02-02 10:36] nikolaglumac commented on #2132
@MarcelKlammer are you still seeing this issue in the latest Daedalus Mainnet version?

[2021-02-02 10:38] nikolaglumac commented on #607
Ledger Nano X, Ledger Nano S, and Trezor Model T support has been added to Daedalus Mainnet in November of 2020.
Thanks for the patience!

[2021-02-02 10:38] #607 closed

[2021-02-02 10:41] nikolaglumac commented on #1811
OpenSuse is not officially supported: https://iohk.zendesk.com/hc/en-us/articles/360010496553-Daedalus-System-Requirements
Still, you might try these steps to get Daedalus Mainnet working: https://iohk.zendesk.com/hc/en-us/articles/900000776446-Installing-Daedalus-Mainnet-on-Linux-

[2021-02-02 10:41] #1811 closed

[2021-02-02 10:43] nikolaglumac commented on #1878
This issue was fixed in the recent Daedalus Mainnet releases. Please update to the latest Daedalus Mainnet version.

[2021-02-02 10:43] #1878 closed

[2021-02-02 10:45] nikolaglumac commented on #2182
Unfortunately, there is nothing we can do on Daedalus side.
Please follow up @chrissound's instructions.

[2021-02-02 10:45] #2182 closed

[2021-02-02 11:39] MarcelKlammer commented on #2132
The wallet progress bar indicator is fine. People can now see, that the wallets are not ready yet. The cardano-node speed improved considerably in the past months, so it doesn't take too long. All good now.

[2021-02-02 11:39] #2132 closed

[2021-02-02 12:10] ManusMcCole commented on #2228
I couldnt reproduce on Windows 10 version 10.0.18363. I will upgrade and try again

[2021-02-02 12:18] nikolaglumac commented on #2228
@bbhart are you still experiencing it?

[2021-02-02 12:22] gnpf commented on #2228
I can't reproduce this issue on Windows version 10.0.19041.488.
Check screenshots: [Before](https://drive.google.com/file/d/1buKZGXUeSUgJKWzarvUwci99sJTknbaG/view?usp=sharing) and [after](https://drive.google.com/file/d/15GlJUez9raFTW_usElQe4bOKIGOXAbDL/view?usp=sharing).

[2021-02-02 12:50] KudretBayram commented on #605
Thanks Nicola, I appreciate your time in responding to this thread.
Good idea. I tried it (on a MAC) and received the following error:

"Cardano Node Crashed"

[2021-02-02 13:02] nikolaglumac commented on #605
@gnpf @ManusMcCole @mioriohk can you please try this out and post results for all 3 platforms please 🙏

[2021-02-02 16:52] mioriohk commented on #605
Hello everyone. Hope everybody is well 👍

In order to create symlink on Daedalus chain folder, for all three platforms (`Windows, Mac and Linux`), please follow these steps:
`Note: Replace <username> with your own username`

1. Stop Daedalus

2. Find the chain folder according to your chosen platform. Normally located at:
    For Windows:
   ` "C:\Users\<username>\AppData\Roaming\Daedalus Mainnet\

[2021-02-02 18:31] jsindy commented on #1234
any timeframe for import reenablement?

[2021-02-02 18:45] nikolaglumac commented on #1234
@jsindy no firm ETA at the moment. The team is fully focused on delivering Daedalus Catalyst for Fund3 and native tokens support on Daedalus Mainnet.
Thanks for the patience!

[2021-02-03 11:37] darko-mijic commented on #2316
Thanks for the feedback @stakelovelace. We have filed this in our backlog and it will be implemented.

[2021-02-03 11:39] darko-mijic commented on #2174
This is no longer the case.

Stake pool rankings do take into account oversaturation and the intended amount of stake selected using the stake slider or the wallet dropdown next to the stake slider.

[2021-02-03 11:39] #2174 closed

[2021-02-03 11:47] nikolaglumac commented on #2309
This has been fixed in https://github.com/input-output-hk/daedalus/pull/2333 and is to be released in the next Daedalus version.

[2021-02-03 12:42] KudretBayram commented on #605
This appears to have worked!
Thank you.

[2021-02-03 13:26] nikolaglumac commented on #997
@gufmar is this still relevant?

[2021-02-03 13:28] nikolaglumac commented on #1432
CentOs is not an operating system we officially support. Please see the following for more details:

- https://iohk.zendesk.com/hc/en-us/articles/360010496553-System-Requirements
- https://iohk.zendesk.com/hc/en-us/articles/360020253274

[2021-02-03 13:28] #1432 closed

[2021-02-03 13:30] nikolaglumac commented on #1539
Modifying `launcher-config.yaml` is not something you should be doing.
If you are interested in changing the paths of where chain data is stored, I suggest you to follow these steps: https://github.com/input-output-hk/daedalus/issues/605#issuecomment-771782614

[2021-02-03 13:30] #1539 closed

[2021-02-03 13:30] #1720 closed

[2021-02-03 13:32] nikolaglumac commented on #2060
Daedalus shows only pools that have been picked up by the SMASH server.
Please follow this thread for more info: https://github.com/input-output-hk/daedalus/issues/2117

Closing this issue now as it is a duplicate of the one I linked above...

[2021-02-03 13:32] #2060 closed

[2021-02-03 13:35] nikolaglumac commented on #2076
Please wait for the import feature to be enabled again and then try importing from secret.key once more.
There is no clear ETA but, as soon as there is one, it will be posted here: https://github.com/input-output-hk/daedalus/issues/1234

[2021-02-03 13:35] #2076 closed

[2021-02-03 13:36] nikolaglumac commented on #2089
@willcbanks is this still the case?

[2021-02-03 13:37] nikolaglumac commented on #2093
All sorting issues have been fixed long ago. Closing this ticket...

[2021-02-03 13:37] #2093 closed

[2021-02-03 13:37] nikolaglumac commented on #2115
@laplasz can we close this issue?

[2021-02-03 13:38] nikolaglumac commented on #2087
@willcbanks can this issue be closed?

[2021-02-03 13:39] nikolaglumac commented on #2159
Even though these characters look similar, I doubt that anyone will be typing the addresses directly.
You should use copy&paste options for that.

[2021-02-03 13:39] #2159 closed

[2021-02-03 13:46] #2228 closed

[2021-02-03 13:47] nikolaglumac commented on #2145
@gnpf @ManusMcCole @mioriohk can you please try to reproduce this on all 3 platforms and let us know the results 🙏

[2021-02-03 13:49] nikolaglumac commented on #2171
This is to be added in soon.

[2021-02-03 13:53] nikolaglumac commented on #2116
No ADA is lost. First delegation includes 2 ADA deposit (the cost of storing your delgation certificate on the blockchain) that you get back once you undelegate.
The deposit amount will soon be displayed within the "Delegation Wizard" and within transaction details.

[2021-02-03 13:53] nikolaglumac commented on #2171
Closing this one as it is a duplicate of: https://github.com/input-output-hk/daedalus/issues/2116

[2021-02-03 13:53] #2171 closed

[2021-02-03 14:01] nikolaglumac commented on #2160
The problem you are describing comes out of the fact that cardano-wallet does random input-selection for both:
- Fee estimation
- Transaction creation
...and as a result of that the fee could be different in both of these calls.
There is nothing we (Daedalus team) can do at the moment.
Still, soon there will be an update of how fee estimation works on the cardano-wallet side and the same fee value

[2021-02-03 14:03] nikolaglumac commented on #1667
There are no such plans at the moment.
System requirements: https://iohk.zendesk.com/hc/en-us/articles/360010496553-System-Requirements

[2021-02-03 14:03] #1667 closed

[2021-02-03 14:04] nikolaglumac commented on #2061
@dcoutts has this been implemented on the cardano-node side?

[2021-02-03 23:36] nikolaglumac commented on #2327
Hi @KevinRiordan!
Any news? 🙏

[2021-02-03 23:40] nikolaglumac commented on #1974
Paper wallet feature has been discontinued. Closing this issue...

[2021-02-03 23:40] #1974 closed

[2021-02-03 23:41] nikolaglumac commented on #1973
Paper wallet feature has been discontinued. Closing this issue...

[2021-02-03 23:41] #1973 closed

[2021-02-03 23:42] #1836 closed

[2021-02-04 08:49] laplasz commented on #2115
@nikolaglumac - yes

[2021-02-04 08:53] #2115 closed

[2021-02-05 03:51] hodlonaut opened #2340 "Remove prompt to select a wallet when there's one wallet"
During delegate-to-stake-pool wizard, there is a step where user is asked to pick a wallet - if there is only one wallet that is capable of delegation (Shelley currently), the UX is not particularly pleasant as the step should be redundant / skipped.

[2021-02-05 07:50] nikolaglumac commented on #2340
@hodlonaut that step is actually required as when you confirm that wallet's selection, the stake pools are refreshed to reflect the case of you delegating to that very wallet (and seeing corresponding potential rewards, rankings, etc.).

Even though I understand where you are coming from, I don't think skipping that step would be good. Especially since that dialog has all steps displayed on top. I

[2021-02-05 07:52] nikolaglumac commented on #2327
@KevinRiordan I am afraid you need to re-sync your wallet.
Please first **make sure you have your wallet's recovery phrase** and then:
1. Uninstall Daedalus
2. Delete the state directory
3. Install Daedalus and restore your wallet

[2021-02-05 07:52] #2327 closed

[2021-02-05 07:55] nikolaglumac commented on #587
@disassembler please help us out here 🙏

[2021-02-05 07:58] nikolaglumac commented on #1380
@disassembler please take charge of this one 🙏

[2021-02-05 08:01] nikolaglumac commented on #776
@LaurenceIO can you please include PGP signature in the Daedalus release notes?
We used to do that [before](https://github.com/input-output-hk/daedalus/issues/776#issuecomment-619443591) and we should make this a part of our usual release process. Thanks 🙏

[2021-02-05 08:03] nikolaglumac commented on #1386
https://github.com/input-output-hk/cardano-js-sdk/blob/develop/src/test/SignAndVerify.spec.ts

@rhyslbw any news on this?

[2021-02-05 08:04] nikolaglumac commented on #1508
@rvl can you please create a card for this in cardano-wallet backlog?

cc @darko-mijic

[2021-02-05 08:05] nikolaglumac commented on #1880
@josephj11 is this still relevant? There is no more Daedalus ITN...

[2021-02-05 08:05] nikolaglumac commented on #1899
cc @disassembler

[2021-02-05 08:05] nikolaglumac commented on #2025
cc @disassembler

[2021-02-05 08:07] nikolaglumac commented on #2087
The "undelegation" is not present in recent Daedalus builds but it will be made available soon.

[2021-02-05 08:07] #2087 closed

[2021-02-05 08:07] nikolaglumac commented on #2089
@gnpf @ManusMcCole @mioriohk can you confirm this behavior?

[2021-02-05 08:09] nikolaglumac commented on #2116
@mark-stopka this issue has been resolved in: https://github.com/input-output-hk/daedalus/pull/2339
We will have it released in the next Daedalus version.
Thank you for the patience!

[2021-02-05 08:09] #2117 closed

[2021-02-05 08:12] rvl commented on #1508
OK https://jira.iohk.io/browse/ADP-701

[2021-02-05 08:13] nikolaglumac commented on #2293
@djalillounis I will close this ticket now. Please let us know if you experience this issue again.

[2021-02-05 08:13] #2293 closed

[2021-02-05 08:19] nikolaglumac commented on #1508
Thanks!

[2021-02-05 08:30] nikolaglumac commented on #776
@goetzc we will be publishing the PGP signature within Daedalus release notes on GitHub from this point forward thanks to @LaurenceIO 🎉

[2021-02-05 08:30] #776 closed

[2021-02-05 12:51] goetzc commented on #776
This is great news, thanks!

[2021-02-05 18:38] crash007 opened #2343 "My stake pool doesnt show in daedalus"
Hi,
My stake pool wape [wape](https://adapools.org/pool/df01dcb3a9e8966b6376e6e6db8739fff72cb769a3b5174736520baa) doesnt show in Daedalus.
Accoring to pooltool.io the metadata is verified. I have also registered the pool where I used pooltool.ios metadata generator and I increased the pledge. Still the pool doesnt show up.

Trying the Smash api returns 404 for my poolid `
wget  https://smash.carda

[2021-02-05 18:40] nikolaglumac commented on #2343
I can't get https://smash.cardano-mainnet.iohk.io/api/v1/metadata/df01dcb3a9e8966b6376e6e6db8739fff72cb769a3b5174736520baa to load?

[2021-02-05 18:41] crash007 commented on #2343
NOme either I get 404 not found @nikolaglumac

[2021-02-05 18:42] crash007 commented on #2343
Do I need to wait a certain number of epochs before it show?

[2021-02-05 18:42] nikolaglumac commented on #2343
Please use this URL to verify if your stake pool is available on SMASH: https://github.com/input-output-hk/daedalus/issues/2117#issuecomment-768480271
If it is not then you don't get to see it in Daedalus.

[2021-02-05 18:52] crash007 commented on #2343
The command `https://smash.cardano-mainnet.iohk.io/api/v1/metadata/df01dcb3a9e8966b6376e6e6db8739fff72cb769a3b5174736520baa/b87ec11ff23a60ac9f2b3e6ed2a96b15519237839df115594e13d915717dbe0e`

returns the stake pools meta data
`{"name": " WAPE Stake pool", "ticker": "WAPE", "description": "Stakepool located in north of Sweden", "homepage": "https://www.wape.nu"}`

But the stake pool wont still not s

[2021-02-05 18:57] nikolaglumac commented on #2343
I can see your stake pool in my Daedalus Mainnet instance:

![Screenshot 2021-02-05 at 19 56 31](https://user-images.githubusercontent.com/376611/107076837-4b684700-67ec-11eb-9295-b95911b03f14.png)

I believe you only need to wait for Daedalus to pick it up...
Try restarting Daedalus.

[2021-02-05 19:15] crash007 commented on #2343
Great you can see it. I still cant see it in my wallet after several restarts. Can I force a stake pool refresh in daedauls without reinstall it?

[2021-02-05 19:23] nikolaglumac commented on #2343
Yes - you can do the following to trigger Daedalus to re-fetch all the stake pool data:

[2021-02-05 20:34] nikolaglumac commented on #2343
The screenshots are from an old version and not the one I am using. Please wait for it and your stake pool will show up.

[2021-02-05 20:52] chmieleslav commented on #1234
Could you please update the link for Windows? I have this very same issue in 2021 (lost 12-word phrase, only have old wallet files...) and I would really try this method. Thank you in advance

[2021-02-05 20:55] nikolaglumac commented on #1234
@chmieleslav those old builds no longer work. You have to wait for the new ones.
There is no clear ETA on them yet.
Please be patient, keep your secret.key file safe, and keep an eye on this thread.

[2021-02-05 20:57] crash007 commented on #2343
Yes now it finally shows. Thanks so much for you time and help!

[2021-02-05 21:09] nikolaglumac commented on #2343
Glad to hear!

[2021-02-05 21:09] #2343 closed

[2021-02-06 00:36] hodlonaut commented on #2340
Perhaps you can ask users about it during your next Daedalus survey.

[2021-02-06 08:34] nikolaglumac commented on #2340
Perhaps I was misunderstood...
Your feedback is welcome and valuable! 🙂
We have an established process for constant UI/UX improvements, led by Daedalus product & design team, which involves reaching out to Daedalus users too.
Your proposal has already been put on the list for discussion and I will keep you updated on the outcome.
Thank you for your patience!

[2021-02-06 10:08] josephj11 commented on #1880
I haven't tried it with the Shelley version so I'll close this. Thanks.

[2021-02-06 10:08] #1880 closed

[2021-02-06 12:07] nikolaglumac commented on #2297
@claudiudc unfortunately, there is no support for building on Windows platform and adding this is not in our plans.

[2021-02-06 12:07] #2297 closed

[2021-02-06 15:45] chsami opened #2344 "Let the end user know that there is a 2.174521 ada fee when entering pool"
I'm a new user to daedalus and experimenting with it...One thing I found confusing was the 2.174521 ada fee...

Let the user know that there is a 2.174521 ada fee when entering pool. And that we recover this when we exit the pool.

![image](https://user-images.githubusercontent.com/23292806/107122811-495cc180-689a-11eb-9db5-598e8b08fbf4.png)

It was very confusing to see -2.174521 ada substracted

[2021-02-06 15:55] nikolaglumac commented on #2344
Closing this ticket as it is a duplicate of https://github.com/input-output-hk/daedalus/issues/2116

Please see the details on the link above.

[2021-02-06 15:55] #2344 closed

[2021-02-06 16:32] michaeljfazio opened #2345 "Support Export of xPub Key"
It's tax time soon and I'd love it if I could use my normal tax tracking service so that I can get a consolidated view of what I need to pay the man. Problem is, they don't support xPub for Cardano and it seems this is because[ they claim the various Cardano wallets don't support easily extracting the xPub address](https://help.cointracker.io/en/articles/2645254-what-is-xpub-ypub-zpub-and-utxo). S

[2021-02-06 16:42] nikolaglumac commented on #2345
We have the UI for this feature already ready (implemented in https://github.com/input-output-hk/daedalus/pull/2271) and we will enable it as soon as we get the supporting API ready on the cardano-wallet side.

Here's how it looks:
![101918428-32da0880-3b7e-11eb-9ab8-ccb5920f5ed8](https://user-images.githubusercontent.com/376611/107124190-96449600-68a2-11eb-81e6-adfe4bc94391.png)
![101918587-5f8e2

[2021-02-06 18:15] jonathancross commented on #1380
I saw that @CodiePP is not far from me (Zürich area) and he has a published OpenPGP key.  We have a shared connection in LinkedIn.  Is he capable of verifying + cross-signing the IOHK key definitively?  If so, I can meet him and cross-sign adding a WOT path.

[2021-02-06 20:09] conjohnerton opened #2346 "Wallet runs, but user interface does not open on Linux"
System Specs: AMD 3600 CPU on Manjaro (and Ubuntu VM).

The wallet works as expected on the same computer using Windows 10. On linux, the wallet process is running, but the interface is not popping up. Could it be an electron issue?

[2021-02-06 21:36] nikolaglumac commented on #2346
@conjohnerton is this a case of Daedalus window showing but being blank (completely white or black) or you are not seeing the window at all?

[2021-02-06 22:12] conjohnerton commented on #2346
The Daedalus wallet just isn't showing a window at all! 😓

On Sat, Feb 6, 2021, 4:36 PM Nikola Glumac <notifications@github.com> wrote:

[2021-02-06 22:17] nikolaglumac commented on #2346
Well, we are running Daedalus in Ubuntu VMs all the time. This must be related to your setup or your VM/Ubuntu config...

[2021-02-07 09:55] feraldruid22 opened #2347 "[Feature Requests] 3.2"
Ok guys we are now at 3.2 and the linux built in autoupdater still not working this is unacceptable. Always failed to download blah blah do it manually please fix this. Since we dealing with a critical financial software here the wallet itself should do the signature verification on each and every update.

Here are some future ideas:

-The number of ADA overall should be copy pastable
-The number

[2021-02-07 10:48] nikolaglumac commented on #2347
Hi @feraldruid22,
Thank you for the feedback!

There is a known issue with the autoupdater which is currently being worked on.
The issue affects users that are more than 1 version behind, while it works 100% on the N -> N+1 case (e.g. updating from `3.1.0` to `3.2.0` works flawlessly). If you regularly update Daedalus you won't even notice the issue.
We are sorry for the inconvenience and we are d

[2021-02-07 10:49] #2346 closed

[2021-02-07 11:00] mareksoha commented on #1895
yep, this is very very very annoying "feature". It still persist in newest versions even I was asking support to do something with it (This is a follow-up to your previous request #99720 "Daedalus - keep in dock in).
Can we please bump it up a little bit?

[2021-02-07 16:04] TurboEgon opened #2348 "Autohide unpledged pools"
Hello together,

Issue:
There are many "dead" pools in the stake pools list, which are neither retired nor operated.

Example:
If you search our ticker NOVA you will see both, our pool and a abandoned pool with the same ticker. It might be misleading.

Feature request:
Autohide unpledged pools (declared pledge not met) and/or pools without valid KES.
Users can optional unhide them if they want to.

[2021-02-07 16:36] nikolaglumac commented on #2348
@rvl @dcoutts can we know if the stake pool’s pledge have been met from the node/cardano-wallet?

[2021-02-07 16:36] nikolaglumac commented on #2348
cc @darko-mijic

[2021-02-07 22:06] dadepo opened #2349 "Negative transaction, is this a bug?"
I just noticed there is a negative transaction on my wallet. I find it strange as I am new to cryptocurrencies and I have never transferred money out of the wallet. This is seen in the screenshot below:

Would you be kind enough to investigate if this is a bug somewhere? Or something about the interface I do not understand.

Thanks! :)

![Screenshot 2021-02-07 at 23 04 10](https://user-images.gith

[2021-02-07 22:15] nikolaglumac commented on #2349
@dadepo this is the delegation registration transaction. It includes 2 ADA deposit of your wallet’s delegation certificate and a ~0.17 ADA fee.
This was an outgoing transaction and that is why the amount is shown as negative.

[2021-02-07 22:15] #2349 closed

[2021-02-07 22:17] Wheest opened #2350 "Launch failure: Grey Screen, The updater file is missing! Fontconfig warning"
Launching `daedalus-3.2.0` on Ubuntu 20.10 server, using X11 forwarding.

Application launches as a featureless grey window (see below).

Some potentially relevant info in terminal from launch:

[code]

![Screenshot_20210207_220950](https://user-images.githubusercontent.com/16022573/107160936-3547bb80-6991-11eb-88e0-a17e3b8d7654.png)

[2021-02-08 08:14] nikolaglumac commented on #2350
Sorry to hear that... I do not know what are specifics of the platform you are using, but it looks like there is something off with the libusb... @cleverca22 can you jump in here?

[2021-02-08 11:13] Wheest commented on #2350
Info on my `libusb` installation:

[code]

System is `x86_64` with a server version of Ubuntu 20.10 groovy - a non-modified VM freshly installed for Daedalus.

[2021-02-08 11:35] alan-mcnicholas commented on #2350
Thank you for your ticket! :)
Was this working with an earlier Daedalus build? This is not a platform that we specifically support and test against (in particular using X11 forwarding).

[2021-02-08 11:51] Wheest commented on #2350
I haven't tested it with an earlier Daedalus build - I haven't used the wallet in years.

I chose Ubuntu 20.10 as the OS dist to run the system since it says on [the daedaluswallet.io site](https://daedaluswallet.io/en/download/) that it was:

I wouldn't have thought X11 forwarding would impact it, every other GUI application I've tried using this approach has behaved identically to if I was runni

[2021-02-08 12:41] nikolaglumac commented on #2350
I am afraid we can not help you with this @Wheest. Please adjust your setup in order to use Daedalus.

[2021-02-08 12:41] #2350 closed

[2021-02-08 12:55] gnpf commented on #2089
@nikolaglumac I couldn't reproduce this on macOS Catalina, Daedalus 3.2.0. The syncing restarts after the wifi is connected again.

[2021-02-08 13:04] nikolaglumac commented on #2089
Thanks @gnpf - I guess this issue has been fixed in the recent releases.
Closing this issue now...

[2021-02-08 13:04] #2089 closed

[2021-02-08 14:56] gnpf commented on #2145
@nikolaglumac I couldn't reproduce the issue on macOS and I would add results for Linux soon.

On Windows, I have not encountered this issue, but Daedalus closes when the machine hibernates. Sometimes [this error](https://drive.google.com/file/d/1dGCGOmT-xrQhUgFef073kuPR8Xe_raIa/view?usp=sharing) is displayed after waking it. Check also [the logs](https://drive.google.com/file/d/1uQlCBHZP7Fkgy-Ow0

[2021-02-08 19:04] nikolaglumac commented on #2163
@mark-stopka thanks for bringing this up!
Here's the support portal article which contains the requested info: https://iohk.zendesk.com/hc/en-us/articles/900004403866

[2021-02-08 19:04] #2163 closed

[2021-02-08 19:05] nikolaglumac commented on #2226
@bbhart this is expected behavior. Please refer to: https://iohk.zendesk.com/hc/en-us/articles/900005345103

[2021-02-08 19:05] #2226 closed

[2021-02-08 19:10] lpkitch commented on #1234
@nikolaglumac Hi pal, firstly thanks for consistently and patiently providing information on this subject, like others I'm locked out of an old version of Daedalus as it's not longer supported. I noticed it states "may not work on very old versions" and just want to clarify what is classed as very old? My wallet is Version 0.13.1.

[2021-02-08 19:48] nikolaglumac commented on #1234
Hi @lpkitch! Sorry to hear about your trouble :-(
Version 0.13.1 will indeed be supported. So, please hang on in there - save your secret.key file and follow this thread for updates. I hope I will have some good news to share by the end of this week, or at the beginning of the following one 🙏
Thank you for your patience!

[2021-02-08 19:49] stewartie4 commented on #1234
I have been away from Crypto since 2018 and am on Daedalus version 1.0.3769
Although I still have the full wallet installation on my laptop, including secret.key, the app is old and no longer connects to the network.
Unfortunately having moved house twice since then, I have lost my wallet seed/mnemonics so am completely dependant on the local installation on my machine.

It seems strange to me tha

[2021-02-08 20:05] lpkitch commented on #1234
@nikolaglumac well that does sound promising! I did accidentally remove my Daedalus (read the beginning of this thread prematurely) but had the secret.file saved and luckily with OS you can just reinstall applications from the trash, so I went into the library and popped back in the saved secret.file! Again your patience and work with everyone who's had an issue has been massively appreciated.

[2021-02-08 20:07] nikolaglumac commented on #1234
@stewartie4 this is indeed a very unfortunate chain of events. I am sorry to hear about your trouble...

There was a 6 months period during which you could have upgraded Daedalus and your wallet would have been automatically migrated into the new version - the process was fully seamless... Daedalus and Cardano went through an incredibly intense and fast development phase in the last year. Old vers

[2021-02-08 20:10] nikolaglumac commented on #1234
@lpkitch thanks for the understanding! We are working very hard on making the wallet-import functional again.
We will do all in our power to help everyone - no one will be left behind!

This sounds like a good moment to remind all of you that uninstalling Daedalus does not remove your state directory data (including your secret.key) from the machine: https://iohk.zendesk.com/hc/en-us/articles/9000

[2021-02-08 20:13] lpkitch commented on #1234
@nikolaglumac You're a tech whizz and forum godsend! Thankyou!

[2021-02-08 23:51] MichalPietrzok commented on #1234
This is amazing news! Thank you @nikolaglumac

[2021-02-09 13:48] nikolaglumac commented on #2255
This issue has been fixed and the fix will be released in the upcoming Daedalus Mainnet 3.3.0 release.
Thank you for the patience!

[2021-02-09 14:37] jsindy commented on #1234
excellent!

[2021-02-09 21:56] Elaniobro commented on #1234
@nikolaglumac  unable to download/install the `uninstaller` do you have a timeline/launch date for when daedalus 3.0 will be released? Like others in this thread, I too do not have my seed recovery phrase but do have the secrets.key etc.. files still on my machine.

Thanks!

![Screen Shot 2021-02-09 at 4 54 11 PM](https://user-images.githubusercontent.com/710847/107433670-a7d2ab80-6af7-11eb-867f-e

[2021-02-10 02:10] rdlrt commented on #1234
@Elaniobro - As mentioned multiple times in this thread, please do not use older versions (0.13.0 is historic and is not supposed to sync at all), and kindly wait for updated release. There might be some new early next week about estimates for next Daedalus update.

[2021-02-10 08:16] nikolaglumac commented on #1234
@Elaniobro you will have to wait for us to enable the wallet-import feature again. We are working very hard on this at the moment. As I promised earlier, we will do all in our power to help everyone and make sure no one is left behind!
Thank you for your patience!

[2021-02-10 13:35] Elaniobro commented on #1234
@rdlrt & @nikolaglumac I saw ADA 🚀 🌕 and skimmed through this in haste. Understood and thank you both. Looking forward to the new release.

[2021-02-10 19:07] ovidb commented on #2087
@nikolaglumac what build have it? I have quite a lot of funds blocked because I wasn't aware you can not undelegate once you delegated is there any other way?

[2021-02-10 19:10] nikolaglumac commented on #2087
@ovidb delegation does not block any funds except for the 2 ADA deposit. No builds contain the undelegation feature yet but you don't need it to move your funds.

[2021-02-10 19:24] ovidb commented on #2087
Ok sorry, I'm just stupid, I looked at the wrong wallet. What basically happened is I transferred from an old Byron wallet into a new Shelly to be able to stake it, which I did. I was now looking at the old wallet and thought that there was actually a transaction toward the pool because of the name I've chosen for the wallet.

Thanks for opening my eyes.

[2021-02-10 19:27] nikolaglumac commented on #2087
Glad to help! Have a nice day!

[2021-02-11 12:13] Dax-17 commented on #1234
@nikolaglumac - thanks for this massively helpful thread. I won't bore you with the details but I have "lost" my seed phrase and somehow missed the upgrade window last year so I am hugely relieved that we will be able to use the secretkey file to recover ur old wallets! Waiting patiently here for some good news!

[2021-02-11 13:15] nikolaglumac commented on #1234
Will post some good news soon! Hang on in there folks! We are almost there ⏳

[2021-02-11 13:30] pabstma opened #2357 "Multiple Wallets from a single Ledger"
Hi,

Ledger and Trezor both support the additional password feature, which makes it possible to generate multiple key pairs with the same seed but different passwords. This means that it is possible to have different wallets on the same ledger device.

Currently, it looks like Daedalus cannot manage multiple wallets that reside on the same hardware wallet. I only tested this with the Ledger Nano S

[2021-02-11 13:34] nikolaglumac commented on #2357
This is a known missing-feature and is to be implemented by: https://github.com/input-output-hk/daedalus/pull/2342 (at least for Ledger).

Trezor case is a bit different and we have it on our roadmap.
Also, this is a duplicate of: https://github.com/input-output-hk/daedalus/issues/2238

[2021-02-11 13:36] nikolaglumac commented on #2357
This will be shipped in the upcoming Daedalus 3.3.0 release.
Thank you for your patience!

[2021-02-11 15:11] no1ninja1973 commented on #1234
Nice, eagerly awaiting.  I am sure I am not the only watching this thread like a hawk. 
Sat
    On Thursday, February 11, 2021, 08:16:08 a.m. EST, Nikola Glumac <notifications@github.com> wrote:

Will post some good news soon! Hang on in there folks! We are almost there ⏳

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-02-11 15:11] nikolaglumac commented on #1234
I have some good news folks - the wallet import feature has just been merged: https://github.com/input-output-hk/daedalus/pull/2308

We plan to release it in scope of **Daedalus Flight 3.3.0-FC1** tomorrow and then to **Daedalus Mainnet 3.3.0** by the middle of next week! 🎉

I want to thank you all very much for being patient! 🙏
Also, I want to pay tribute to @KtorZ as without him this would not b

[2021-02-11 15:22] no1ninja1973 commented on #1234
That is awesome thank you so much, is there a donation tab where I can send you guys champagne or wine, or funds to make it so?  I have been awaiting this for so long that I am giddy thinking about it.   That said, I have had so much bad luck with this, that part of me is not believing it till it actually happens and my wallet is recovered.  Will post if and when it does.   Thank you for the effor

[2021-02-11 15:33] nikolaglumac commented on #1234
Thank you kindly @no1ninja1973! All of you here being able to get the hold of your wallets is in itself a prize that makes all our efforts worth it!

[2021-02-11 15:39] nikolaglumac commented on #997
Closing due to inactivity...

[2021-02-11 15:39] #997 closed

[2021-02-11 16:23] lpkitch commented on #1234
@nikolaglumac @KtorZ

Absolutely incredible there are tons of people here that are hundreds and possibly thousands better off thanks to your work!

Thankyou!

[2021-02-11 16:28] nikolaglumac commented on #1234
Neither @KtorZ nor I would ever allow you guys to be left behind! :-)

[2021-02-11 16:36] lpkitch commented on #1234
@nikolaglumac

Just out of curiosity (and I know this is a push) once the wallet is imported, along with the balance will it show the transaction history?

Absolutely no issue if it doesn't, you guys have done a superb job already and this isn't a feature I'm asking for in any capacity.

[2021-02-11 16:46] nikolaglumac commented on #1234
@lpkitch the wallet's transaction history will be fully restored. You can not have the balance without it!

[2021-02-11 16:47] chmieleslav commented on #1234
I restored my wallet "the hard way" a couple of days ago and it shows the transaction history. Correct me if I'm wrong, but the transaction history is "written" on the blockchain, not in one's wallet, right?

[2021-02-11 16:48] nikolaglumac commented on #1234
Indeed. Your wallet's balance is derived from all of the history of the blockchain. All transactions combined form your wallet's balance (UTXO).

[2021-02-11 16:58] nikolaglumac commented on #2145
Thanks @gnpf - what you have found is a different issue.
I am closing this one since the originally reported issue can not be reproduced.

[2021-02-11 16:58] #2145 closed

[2021-02-11 17:14] adroc2600 commented on #1234
Whats the "hard way"?

[2021-02-11 18:31] omjanu commented on #1234
Just downloaded the new wallet but can't import my old wallet so is there any way to access my wallet and transfer the coins.

[2021-02-11 18:33] nikolaglumac commented on #1234
@omjanu the version which includes the wallet-import feature has not yet been released. Please see: https://github.com/input-output-hk/daedalus/issues/1234#issuecomment-777562620

[2021-02-11 18:48] omjanu commented on #1234
@nikolaglumac Just saw it so it will be release tomorrow. Any spefic time when it will be released? Thank you

[2021-02-11 18:49] nikolaglumac commented on #1234
@omjanu if everything goes well, it should be released during the afternoon hours UTC.

[2021-02-11 18:51] omjanu commented on #1234
@nikolaglumac Thank you for the information. we only need the secret.key file correctt

[2021-02-11 18:51] nikolaglumac commented on #1234
@omjanu correct!

[2021-02-11 18:53] CGmoney commented on #1234
@nikolaglumac thank you so much for all your hard work. It truly is much appreciated by this community. Just curious, will the wallet import function be supported for Version 1.0.3769.0
of Daedalus? Thanks again.

[2021-02-11 19:05] nikolaglumac commented on #1234
@CGmoney yes!

[2021-02-11 19:09] nikolaglumac commented on #1234
Here's a support portal article on this topic: https://iohk.zendesk.com/hc/en-us/articles/900000623463
If you can locate a `secret.key` file in the state directory of your old Daedalus instance then you will be able to use the wallet-import feature to extract wallets from that very file.

Please read this article 🙏

[2021-02-11 19:21] CGmoney commented on #1234
@nikolaglumac thank you again! Sorry to bother but another question whenever you get a chance if you don’t mind. Will the import function automatically search for the secret.key file on the computer? I have tried to locate the secret.key file in my subdirectory but I’m not quite sure if I’m doing it correctly. Once again, a true thanks 🙏🏻

[2021-02-11 19:24] nikolaglumac commented on #1234
@CGmoney no it will not. You have to either provide the path to the state directory of your old Daedalus instance OR a path to the `secret.key` file directly. All of this is explained in the support portal article: https://iohk.zendesk.com/hc/en-us/articles/900000623463
Please read it 🙏

[2021-02-11 20:04] wladjka commented on #1234
Oh wow, I've been waiting for this feature since June 2020.Such stupidity will never happen to me again. I have secret.key saved on 3 hard drives and hope it works. Otherwise it will be a really sad weekend :D

[2021-02-11 20:15] omjanu commented on #1234
@nikolaglumac What if our secret.key is encrypted?

[2021-02-11 20:18] nikolaglumac commented on #1234
Encrypted how?

[2021-02-11 20:31] omjanu commented on #1234
@nikolaglumac So I think I had a password whenever I send any transaction

[2021-02-11 20:31] omjanu commented on #1234
@nikolaglumac AKA spending-password

[2021-02-11 20:45] nikolaglumac commented on #1234
Wallets will be imported with whatever spending password you had set on them. You will need to remember your spending password in order to make transactions. We can not help you if you don’t remember the password...

[2021-02-11 21:02] omjanu commented on #1234
ok thank you @nikolaglumac

[2021-02-11 21:36] CGmoney commented on #1234
I tried to look for my secret.key file in my subdirectory but could not find it. If Daedalus is on my computer is there definitely a secret key as well somewhere? Thank you 🙏🏻

[2021-02-11 21:41] nikolaglumac commented on #1234
Yes as far as the version you are using is concerned. Please make a screenshot of the contents of your Daedalus state directory and send it here 🙏

[2021-02-11 22:24] stewartie4 commented on #1234
Thanks for the hard work and quick turnaround.
In your PR, a screenshot states that this feature is supported for "Daedalus 0.15.1 and previous" and does not support "1.0 onwards"
Is this true? if so I think that needs communicated as a lot of us here are on > 1.0 (I for example am on  1.0.3769)

[2021-02-12 00:13] CGmoney commented on #1234
@nikolaglumac thanks so much for the response, not quite sure how to get to my state directory, for when I open up 1.0.3769 it says “ connecting to network “indefinitely. Obviously the new mainnet syncs and works. Appreciate your work and help

[2021-02-12 00:15] CGmoney commented on #1234
@stewartie4 hi there, not positive but the way I read it was that if your are beyond 1.0 you have to use a secret.key file to import as the state directory path will not be supported. Much luck to you

[2021-02-12 08:17] nikolaglumac commented on #1234
@stewartie4 @CGmoney what you guys are mentioning is not a Daedalus version - it is a Daedalus build number.
The one you both have `1.0.3769` actually corresponds to Daedalus version `0.8.4` which was using `secret.key` and is supported by the wallet-import feature.

Daedalus versions used to be a bit complicated... Here's a page on which you can find all Daedalus build numbers for Daedalus versio

[2021-02-12 08:25] nikolaglumac commented on #1234
@CGmoney please understand that the so called "state directory" is different from the "installation directory". These are the direct paths to the `secret.key` file created by any of the supported Daedalus versions all for all three platforms:

Some of these folders are hidden by default so you might need to follow these steps to get to them:

### Windows

### macOS

### Linux

[2021-02-12 13:48] jsindy commented on #1234
I got my butt kicked trying to build from source yesterday. I tried all OS types, I even setup my own fork + buildkite and added agents to build it. Still no luck. Anyone else have any luck building dev branch?

[2021-02-12 13:58] nikolaglumac commented on #1234
Please stand by. We will have the Daedalus Flight release out in a matter of hours...

[2021-02-12 14:10] jsindy commented on #1234
@nikolaglumac awesome!

[2021-02-12 15:10] lpkitch commented on #1234
@nikolaglumac Hi Pal! I know you said the Mainnet wasn't til next week but just wanted to make sure I haven't missed something, I got a software update and import still not available (I got excited at first) I'm guessing the feature is still coming next week and this was just a general update? I think the obvious answer is general update but just wanted to make sure.

[2021-02-12 15:16] nikolaglumac commented on #1234
Daedalus Mainnet 3.3.0, which includes the wallet-import feature will be available next week (around Wednesday).
If you do not want to wait, you can download the Daedalus Flight 3.3.0-FC1 once it is released today from the following website: https://daedaluswallet.io/en/flight/
The release is in progress and I expect it to be done in the next 1-2 hours.

[2021-02-12 17:07] omjanu commented on #1234
@nikolaglumac any updates. Been 2 hours

[2021-02-12 17:10] strangedesign11 commented on #1234
Seriously? Be patient and let them work.

[2021-02-12 17:27] nikolaglumac commented on #1234
Sorry for the way guys... These things can take time and it is outside of my control.

The new version **Daedalus Flight 3.3.0-FC1** is now available for manual download: https://daedaluswallet.io/en/flight/ as well as on the auto-update (in case you already have Daedalus Flight installed).

Hope you will be able to recover your wallets 🙏

Once again, thanks for the patience!

[2021-02-12 17:43] CGmoney commented on #1234
No no, thank YOU @nikolaglumac. Your knowledge and patience is truly amazing. Much appreciated

[2021-02-12 17:49] CR78 commented on #1234
Thank you very much @nikolaglumac I was able to restore my wallet.  🥰

[2021-02-12 18:21] no1ninja1973 commented on #1234
**YOU GUYS DID IT!!!! IT WORKED !!!  OH MY GOD IT WORKED!!!**

Holy molly there is my balance, its still syncing but it just found the biggies, and wow!!!!

I was scared cause it did not show anything when i pointed at my secret file, so I just made a name for my wallet and picked password...  I guess I still may be asked a password, but at this point you guys did what I haven't seen done.... wow.

[2021-02-12 18:27] no1ninja1973 commented on #1234
For those that will do this, be patient with they sync... at first you get nothing, as it starts syncing it finds transactions, i am at 17.4% and it found the biggies and I am just super...  anything that is revealed from this point on, is not in the programmers hands, but my security regiment.   Thank You, your code recovered the wallet I wanted to recover.  It worked flawlessly!

[2021-02-12 18:28] jsindy commented on #1234
Syncing now :)

[2021-02-12 18:30] lpkitch commented on #1234
@nikolaglumac @KtorZ Listen you absolute legends...what's your PayPal? I owe both of you a crate of wine or beer or something. Fuck me yes! It worked an absolute treat and I have my ADA back, your work here cannot be understated! 🎉🎉🎉🎉🎉🎉🎉

[2021-02-12 19:11] nikolaglumac commented on #1234
Knowing you were able to recover your ada is the only reward we need @lpkitch 😊
Thanks!

[2021-02-12 19:17] no1ninja1973 commented on #1234
No seriously, guys.... you just helped recover a new car.  $41K CAD, or about $32K USD.

This is a life difference maker!

[2021-02-12 19:18] spirestaking opened #2359 "Delay showing pool after metadata update"
I'm aware there has been discussion regarding this previously, but I'd like to raise an issue regarding the time it takes to display a pool in Daedalus after its metadata has been updated.  This is a real concern among SPO's because the delay is causing pools to show as "Unknown" in the Delegation center, which in-turn causes delegators to switch pools.  We have lost a few million ADA in stake due

[2021-02-12 20:10] omjanu commented on #1234
@nikolaglumac I can't thank you enough but Thank you so much. I didn't have a lot of risk like @no1ninja1973 but I have enough to cover bills in this time period. Thank you again and please drop your Paypal or eth or BTC address and I will send 10% of my holdings as my way of saying thank you to you and the whole team.

[2021-02-12 20:26] nikolaglumac commented on #1234
Thank you both @omjanu and @no1ninja1973! <3
I really do appreciate what you are trying to do but please note that neither I nor @KtorZ alongside our respective Daedalus and Adrestia teams are doing this for the money! We are all here because we believe in Cardano, Charles' vision, and you as Cardano community! 🚀

I am really happy you both got your ada back 🎉

[2021-02-12 22:18] CGmoney commented on #1234
@nikolaglumac you are a gosh darn saint.

[2021-02-13 00:02] jsindy commented on #1234
I also had a successful recovery, thanks all.

[2021-02-13 01:15] rynz opened #2360 "Register stake pool with hardware wallet"
It would be great if the `keys` of payment and stake `addrs` within a hardware/regular wallet could be utilised in the flow of registering and submitting a stake pool to the blockchain. For example, within Daedalus UI's new Stake Pool "Register" tab:

### Register Stake Pool
Select the appropriate wallet for Rewards.
Select the appropriate wallet for Owner, as well as adding/removing any additiona

[2021-02-13 04:17] ayelvs commented on #1234
Forgot my spending password, what should I do?

[2021-02-13 06:48] no1ninja1973 commented on #1234
Just wanted to say that I have been so impressed by the programmers that I decided not to sell my ADA.  I just staked it.   In fact my faith in the direction of this coin has been renewed and I probably will buy a chunk more.

Every time I listen to Hoskinson, I get the sense that he really is in this because of the fundamentals and prosperity is second to integrity and vision.   Cardano seems to

[2021-02-13 13:58] sebsonf commented on #2329
I just tried it but it does not work on Windows, simply creates a new folder and ignores the shortcut with the same name

![image](https://user-images.githubusercontent.com/12183460/107851656-dd370c00-6e0b-11eb-81f8-0eda1041b677.png)

[2021-02-13 14:06] sblandizzi commented on #1234
Hello,

So Daedalus version 1.0.3619 is not supported at the moment in regards to the import function? Is this something that will be supported on V 3.3 at some point or will it be on another update?

Thank you.

[2021-02-13 14:21] nikolaglumac commented on #2329
@sebsonf are you sure you tried these exact steps **while Daedalus is closed**: https://github.com/input-output-hk/daedalus/issues/605#issuecomment-771782614

[2021-02-13 14:23] nikolaglumac commented on #1234
Unfortunately, there is nothing we can do... You will have to try to remember it.
I hope you find your spending password 🙏

[2021-02-13 14:26] nikolaglumac commented on #1234
Yes it is supported! The number you have “1.0.3619” is a build number and not a Daedalus version. This build belongs to a Daedalus 0.X which is supported.

[2021-02-13 14:26] sblandizzi commented on #1234
I have the state directory but it is not finding a wallet.. I will keep trying.

[2021-02-13 14:27] sblandizzi commented on #1234
Also have the secret.key file but nothing comes up.

[2021-02-13 14:28] nikolaglumac commented on #1234
Try to submit the secret.key directly. That’s the 2nd radio button option. Send screenshot of the failure if it fails.

[2021-02-13 14:31] sblandizzi commented on #1234
![Screen Shot 2021-02-13 at 9 30 51 AM](https://user-images.githubusercontent.com/79011175/107852331-338d5600-6dde-11eb-90d6-bc6b5355d381.png)
![Screen Shot 2021-02-13 at 9 30 36 AM](https://user-images.githubusercontent.com/79011175/107852334-36884680-6dde-11eb-933d-b5a0cbce4d39.png)
![Screen Shot 2021-02-13 at 9 31 22 AM](https://user-images.githubusercontent.com/79011175/107852344-41db7200-6dde

[2021-02-13 14:33] sblandizzi commented on #1234
![Screen Shot 2021-02-13 at 9 33 20 AM](https://user-images.githubusercontent.com/79011175/107852410-8cf58500-6dde-11eb-9e0c-4d960e5cbefa.png)

I will delete photos from forum once you respond.

[2021-02-13 14:34] nikolaglumac commented on #1234
Try to rename the key to be exactly “secret.key”. If that doesn’t work, then your key file has either been damaged or there are no wallets in it...

[2021-02-13 14:34] sebsonf commented on #2329
Sorry my bad, using symbolic link instead of shortcut solved the issue! Thank you very much!

[2021-02-13 14:37] no1ninja1973 commented on #1234
Nothing came up when I pointed at  my secret.key either, it just asked me for name of the new wallet and I clicked password... then I hit continue.

I was just as confused because it did not list a wallet or any such thing, but when I hit continue it started syncing with the secret,key file I had and at about 12% the transactions popped up and I knew we were on the right track.  So I say start syn

[2021-02-13 14:41] nikolaglumac commented on #1234
Spending password is not required for restoration. The 2nd step of the wallet import wizard shows you how many wallets it found in the secret.key file you submitted. You are then expected to enter a name and mark which of these wallets you want to import.

[2021-02-13 14:44] no1ninja1973 commented on #1234
I had a single wallet, so nothing was listed which is what confused me... I guess if its single it does not populate the list with 1?   It just asked me for the new name and  to check if it was password protected, which I did.

[2021-02-13 14:46] sblandizzi commented on #1234
I will make sure all my other versions are closed when I am trying to import. It wont let me get to any next stage as I am just getting errors. Not sure how my file would get damaged. unless it did when I moved it to another folder. I will keep trying.

[2021-02-13 14:46] nikolaglumac commented on #1234
Indeed!

[2021-02-13 14:47] nikolaglumac commented on #1234
You MUST exit old Daedalus during the import as it locks the file while it is running!

[2021-02-13 14:50] sblandizzi commented on #1234
Do I need to be fully synced onto the blockchain?

[2021-02-13 14:51] nikolaglumac commented on #1234
No

[2021-02-13 15:07] sblandizzi commented on #1234
ON THE RIGHT TRACK! Had to rename file as then legit secret.key was saved as a copy. Likely my mistake.

[2021-02-13 15:32] christopherewatson commented on #1234
@nikolaglumac I want to personally thank you and and anyone else involved in getting this wallet import feature enabled. I was in panic mode thinking that I may have lost my ADA forever and because of all of you, I got it back and am able to successfully send it (using the FC version and using my spending password which I somehow remembered 😄 ). You will never know how much this means. If I ever g

[2021-02-13 16:21] CGmoney commented on #1234
@nikolaglumac was able to recover successfully. Truly amazed at you hard work and patience. Forever grateful, thank you for your service to this community and your willingness to communicate with us.

[2021-02-13 16:38] MichalPietrzok commented on #1234
Thank you @nikolaglumac . Cardano the best support ever. ! 🎉🥳

[2021-02-13 17:17] nikolaglumac commented on #1234
This was all team effort - and we are all here for you!
Thank you for the support and the trust you have given us!
Go Cardano! 🚀

[2021-02-14 02:18] rohitsud04 commented on #1234
Hi @nikolaglumac, I am in a similar situation as well.
Unfortunately I lost access to my file with restore phrase and spending password.
I just came to know about Daedalus flight earlier this week and got it running, AND see all my coins in my wallet :)
But I am unable to move them into my Nano Ledger wallet because of spending password.

Any way around that? I can provide proof of ownership since

[2021-02-14 03:00] no1ninja1973 commented on #1234
The beauty of decentralization is that your truely own your crypto and only you have a say if it can be spent or not.  No 3rd party can suddenly block your funds, based on ideology, politics or religion.

There is also a drawback to this, in that if you do not take care of your funds, they will not be touchable by anyone, not the programming team, not Cardaono itself... they will be lost to the wo

[2021-02-14 03:58] serjikc commented on #1234
Hello,

I went over all of the discussions above and I am not quiet sure if I understand correctly whether the funds can be retrieved from a daedalus wallet where I can see them in the wallet, but I can not move them to another wallet because I lost my spending password and the 12 mnemonic phrase. Could you please help me, I will very much appreciate it. I will even give away a thank you gift from

[2021-02-14 04:51] rohitsud04 commented on #1234
From I am reading, unfortunately there's no way (atleast yet) to recover those coins and the money. Hopefully you can get your hands on one of the two, else it's a lost cause.

[2021-02-14 09:28] nikolaglumac commented on #1234
The only way you can “reset” the spending password is by restoring your wallet by using your wallet recovery phrase.
There is no other way.
Wallet import feature imports wallets with their existing spending password (the one you set) and there is no way for us to know what password you used. That would be a security issue in fact.
So, I am afraid you will have to remember the spending password in

[2021-02-14 17:15] Elaniobro commented on #1234
@nikolaglumac after importing the wallet, which I was able to do. In order to move the money to a new wallet, I need the transaction password?

If I am unable to remember it, is there a way to move the funds to a new wallet within dadelus, and or re-set the seed key? Or is there a way for me to view the seed key via the logs and or `secret.key` file?

I believe the answer is no, but wanted to conf

[2021-02-14 17:19] nikolaglumac commented on #1234
@Elaniobro no there is no way to so that 😞
Your wallet’s private is encrypted by your spending password and in that form it’s written to the secret.key.
Although Daedalus can import it and display the transaction history but you can not move the funds without remembering your spending password. Sorry for not being able to provide more help ☹️

[2021-02-14 18:33] Gururzer commented on #1234
Hello,

I have the same problem of losing my 12 words phrase and i cant access my ADA that i have bought in august of 2018 in the earlier version of deadalus. I can find a folder with secrets-1.0 but there are 2 folders here secret and secret.key when i open secret i get chinese letters and when i open secret.key its empty and it also says it 0 bytes in it. is this normal? and is there a possibili

[2021-02-14 18:37] nikolaglumac commented on #1234
@Gururzer you need to use wallet import feature from Daedalus Flight: https://daedaluswallet.io/en/flight/

[2021-02-14 18:37] Gururzer commented on #1234
Hi Nicola i am downloading it now and will try it. I remember trying it earlier with the import function and i couldnt to it then. i willt try it again now

[2021-02-14 18:49] Gururzer commented on #1234
I just did it with the secret key and it says the balance and transactton history of the wallet is getting synced with the blockhain. and it says the number of transactions is null below. I hope this is the way to get it back.

[2021-02-14 19:03] nikolaglumac commented on #1234
Please wait for it to fully sync.

[2021-02-14 23:51] Elaniobro commented on #1234
@nikolaglumac, for my own edification, spending w/o password. There is no way to extract the coins from my `secret.key` file into a new wallet, where I could then create a new spending password?

[2021-02-14 23:54] rohitsud04 commented on #1234
If you have an old wallet without spending password, you should be able to restore it using flight and transfer the coins to a new mainnet wallet. You would put a spending password on this new wallet.

[2021-02-14 23:56] Elaniobro commented on #1234
@rohitsud04 yup. I was able to restore the wallet, but in trying to send it to a new shelly wallet, I am being prompted for a spending password, which I thought I had, but apparently it does not work.

I guess I am up shits creek without a paddle on this one. :rage1:  unless there is a way via daedelus to "re-set" a spending password.

[2021-02-15 00:17] rohitsud04 commented on #1234
I'm in the same position 😂😂.. as of now there's no recourse. Hoping that the team can (eventually) figure out a way to get these back.

[2021-02-15 01:12] Gururzer commented on #1234
@nikolaglumac, the sync has completed. It shows the number of ADA in the name that i gave in the beginning and says number of transactions 1. Below that it shows the date i bought ADA and the amount with the text ADA received and transaction confirmed. Is there anything i have to do know? Or has it succeeded like this.

[2021-02-15 01:48] simonmichael commented on #2164
I too had byron wallets. I transferred most of them last year with an older Daedalus. In current Daedalus 3.2.0, I can't transfer the last one - the UI for it is there, but after selecting the destination account it just shows the spinner for ever (?). If this is the same issue reported here, I don't think it should be closed.

[2021-02-15 03:59] rdlrt commented on #1234
@Elaniobro @rohitsud04 - It is impossible for developers to find a way to 'reset' your spending password. The node/codebase does not know what you used as spending password (it would be a very insecure backdoor if it was saved). Thus, except for bruce force attack by limiting your chars to what you think you could have set, there is no way for anyone else to help you unlock the funds.

Note that t

[2021-02-15 07:52] nikolaglumac commented on #2164
I doubt this is the same issue but in order to help you, we need more info.
Please provide a screenshot of the error alongside a screenshot of the "UTXO distribution" screen of that Byron wallet.
This one:
![Screenshot 2021-02-15 at 08 50 28](https://user-images.githubusercontent.com/376611/107919042-fe623e80-6f6a-11eb-98f4-b1dd2c303e52.png)
Having Daedalus logs (collected straight after you withn

[2021-02-15 07:55] nikolaglumac commented on #1234
No. This is not possible. That would be a major security issue.

[2021-02-15 07:57] nikolaglumac commented on #1234
@Elaniobro @rohitsud04 just as @rdlrt already mentioned, there is no way for us (Daedalus developers), or anyone else for that matter, to reset your spending password. The only thing you can do is keep trying to remember your password. I hope you remember it! 🤞

[2021-02-15 07:59] nikolaglumac commented on #1234
That's your wallet and it's balance, alongside transaction history. The process is complete.
Now you should:
1. Create a new Shelley wallet (24-word recovery phrase)
2. **Save** your 24-word recover phrase in a secure place
3. Send your funds from Byron wallet (the one you imported) to the Shelley wallet

Good luck!

[2021-02-15 08:28] nikolaglumac commented on #2359
Hi @spirestaking!

Let me first explain why this happens.

It is `cardano-node` and `cardano-wallet` that take care of:
1. Actively watching for stake pool registrations (and re-registration) on the chain, and,
2. Fetching metadata from the SMASH server.

The first action happens constantly while the other one is triggered periodically.
This means that Daedalus will instantly know about a change i

[2021-02-15 08:36] nikolaglumac commented on #2360
Thanks for opening this ticket @rynz!
Daedalus (as of now) is not intended to be a stake pool operator tool.
This might change in the future so let's leave this ticket open and assigned to @darko-mijic, Daedalus product manager.
Thanks!

[2021-02-15 08:57] nikolaglumac commented on #776
@goetzc we have the PGP signature in the latest release notes: https://github.com/input-output-hk/daedalus/releases/tag/3.3.0-FC1

Hope you like it 😄

Many thanks to @LaurenceIO 🙏

[2021-02-15 09:32] rynz commented on #2360
Cheers @nikolaglumac :D!

[2021-02-15 14:44] mrbanana87 commented on #1234
Similarly to some guys above, and having been out of the game for a few years, I've managed to import my old wallet using Flight  3.3.0 and a secret.key, but:

The disappointment on my face when I tried to send _my_ ADA to a shiny new wallet and was confronted with "type your spending password".

I have no idea what my password is and have no recollection of every making one.  That said, assuming

[2021-02-15 14:54] automaticprofits opened #2362 "Import ADA Private Key from Atomic Wallet into Daedalus?"
Hello,

How may we Import ADA Private Key from Atomic Wallet into Daedalus?

Thank you.

[2021-02-15 15:14] KtorZ commented on #1234
Just to say what @rdlrt already said, but slightly differently to get the message clear :blush:

a) Developers of Cardano have **absolutely no ways** to get access to your root private key.
b) If you have forgotten both your recovery phrase and your spending passphrase, **you have lost your Ada**.

You can't brute-force it and you can't change the passphrase. Your best and only hope is to remember

[2021-02-15 15:20] nikolaglumac commented on #2362
In what format is this private key?

[2021-02-15 15:25] mrbanana87 commented on #1234
Oh - that message was perfectly clear, to be honest.  I just thought (and hoped) that there may be a quicker way to attempt large numbers of passwords.

And selfishly (and embarrassingly), there's now no drama here as my own password-naming convention has paid dividends; was able to send my ADA to a shiny new Shelley wallet.

"“If winter comes, can spring be far behind?”

All the best,

Banana

[2021-02-15 15:32] automaticprofits commented on #2362
I don't know how to answer that question.  What are the different types of formats?

This key has 180 characters.

[2021-02-15 16:15] Elaniobro commented on #1234
@nikolaglumac regardless of my predicament, your responsiveness is bar none. I appreciate all that you and the Cardano/Daedalus team have done for us here, as well as what you will be doing in the future.  🙏

Best of luck to others seeking help and resolve with their wallets here.

[2021-02-15 16:27] nikolaglumac commented on #1234
Thank you kindly @Elaniobro!
I hope you will find your spending password 🙏
Best of luck!

[2021-02-15 16:41] nikolaglumac commented on #2362
@CarlosLopezDeLara will look into this and get back to you here in the thread.
Thank you for your patience!

[2021-02-15 17:40] Morgorth commented on #605
there is now an option to change it.
Daedalus Diagnostic > Daedalus State Directory

[2021-02-15 17:49] nikolaglumac commented on #605
@Morgorth that is a view only option. You can **not** change that value.

[2021-02-15 18:55] simonmichael commented on #2164
Well, as I prepared screenshots, today it just worked: after clicking Transfer funds button, instead of an unending spinner it immediately showed the spending password field, and the transfer worked normally. Not a very satisfactory report, but oh well. Thanks for your attention!

[2021-02-15 18:56] nikolaglumac commented on #2164
Glad that it worked! Cheers!

[2021-02-15 21:24] no1ninja1973 commented on #1234
Yes, that is what I am hoping that those of you who have lost your passwords understand.  YOU ARE IN THE BEST POSITION to figure out your password,.  The programmers can't help in this matter even if they wanted to.    Mrbanana87 you seem to understand that and I think of all the users you will have the most success in doing so.

The key is to be POSITIVE.  Don't act like your money is lost, act l

[2021-02-15 21:33] no1ninja1973 commented on #1234
Think of all the important people in your life, all the important numbers, how do you react when the password maker says password is too short?  Do you add numbers, do you double words.  How do you react when it asks you to use symbols, or caps and lowercase together?

If you write down all the passwords you have ever used, all the numbers that have meaning to you.  All the patterns you use to exp

[2021-02-15 21:45] serjikc commented on #1234
Well, that is very sad. I really hope that Cardano developers will come up with something that will help to retrieve the investment, otherwise there's a lot more to be lost for the incoming believers.

I unfortunately will never remember the password because after all you have to protect your investment with a strong password so I did it out usual habit of writing a pass that would take a few week

[2021-02-15 21:55] nikolaglumac commented on #1234
Thanks for sharing positive vibes @no1ninja1973 ❤️

I understand the frustration of not being able to remember your password and I would gladly spend my own personal time in finding a way to help but there is none. Unfortunately, the only thing you can do is to try every single password that you can think of.

It makes me sad that you don’t trust what @KtorZ and I’ve said.
I am sorry to let you do

[2021-02-15 22:35] CGmoney commented on #1234
Trust me @nikolaglumac , you are a miracle worker

[2021-02-16 09:42] ayelvs commented on #1234
Can Daedalus show me my seed words again?

[2021-02-16 09:44] nikolaglumac commented on #1234
No.

[2021-02-16 10:20] no1ninja1973 commented on #1234
For those of you who have remembered your password.  It is important that you send your funds to a NEW wallet, one where you can record you 24 word seed,   This seed will recover you account in case you lose it in the future, even if you lose your password.  Just reading the frustration of the users who are in that predicament should make you want to send the funds to a new wallet whose seed is kn

[2021-02-16 14:34] ACApool opened #2364 "Stake pool not showing in Daedalus - ACA"
Sorry you can close this. I figured out the issue

[2021-02-16 16:27] #2364 closed

[2021-02-16 16:35] haripetrov opened #2365 ""Show used" toggle button everytime is on"
Hello team,

I don't know if this is normal behaviour but when I turn off the toggle button "show used" under the section "Your wallet addresses" > "Receiving addresses" of my Windows Daedalus Wallet (ver. 3.2.0), the next time when I start the wallet app it's still active. And this is every time. Could we change the logic so that once it's selected to be turned off to stay that way?
![изображение

[2021-02-16 16:38] perfectsquircle commented on #1234
Just wanted to mention that I've been lurking a long time on this issue, but yesterday I was able to recover my Byron era wallet using Daedalus flight. A huge thank you to Daedalus developers and cardano-wallet developers, @nikolaglumac, @KtorZ.

[2021-02-17 04:33] katakombi opened #2366 "Resolve payment addresses of internal wallets"
Hi,

 it happens frequently that I swap Ada between several registered wallets. It would be nice if daedalus would highlight (maybe in form of a tooltip) the name of the wallet if the payment address resolves to a registered wallet. It is mainly for convenience and feeling safe that nothing went wrong.

thanks

[2021-02-17 04:34] katakombi opened #2367 "Please implement unstaking of wallets"
Hi,

 I've got a couple of "dead" wallets I've been playing with and those are staked. Would be nice if I could unstake them and retrieve my 2 Ada back. If someone knows of a workaround to do it using cli I'd be glad to do this on my own, but I reckon it can't be a difficult feature to implement into daedalus

thanks

[2021-02-17 04:42] katakombi opened #2368 "Odd withdrawal fee >1Ada when withdrawing staking rewards"
Hi,

 I recently wanted to withdraw my staking rewards from my main wallet when I noticed that the withdrawal fee was more than 1.17 Ada. First I almost couldn't believe it and lowered it by 1 Ada, and the fee was around 0.18. Also when I raised it by 1 Ada, fee was again something like 0.18. I tried to figure out the "boundaries" but I couldn't get a clue about what was happening.

I really found

[2021-02-17 04:45] rdlrt commented on #2368
Assuming you had some transactions between 1.17 and 0.18 ADA as fee, You might want to check the example mentioned [here](https://iohk.zendesk.com/hc/en-us/articles/900001987323-Fees-Explained) as part of explanation for how fees work

[2021-02-17 04:47] rdlrt commented on #2367
The easiest method would be simply open the same wallet (using same mnemonics/keys) in [Yoroi](https://yoroi-wallet.com) and withdraw rewards from Dashboard (note that you need to send it a couple of ADA before you can withdraw rewards, and deregister keys to get 2 ADA deposit back.

[2021-02-17 04:49] katakombi commented on #2367
Thanks, that will do. Would not hurt daedalus to have this feature though :)

[2021-02-17 04:51] katakombi commented on #2368
Ah, didn't know this can happen. I thought it is a linear function (sth like a+b*amount). Can it be related to the rewards amount or was it just coincidence?

[2021-02-17 05:36] rdlrt commented on #2368
The amount of rewards you have does not have an impact on transaction fee. It would be affected by how your funds are distributed in _non-reward part_ of your balance.
Yes, the transaction fees are `a+b*(size in bytes)` but as explained in link there is also minUtxoValue which is 1 ADA. If you had a single input of 1 ADA and you're paying 0.18 ADA as transaction fee, the left over change that goes

[2021-02-17 08:17] nikolaglumac commented on #2365
Hi @haripetrov!
This behavior is per design.
We will discuss this on our usual UI/UX design calls and get back to you.
Thanks for the feedback!

[2021-02-17 08:20] nikolaglumac commented on #2367
Hi @katakombi!
We have an open PR for this: https://github.com/input-output-hk/daedalus/pull/2351
This means we will soon have this feature available in Daedalus too 🙂
Thank you for your patience!

[2021-02-17 08:25] nikolaglumac commented on #2366
Hi @katakombi!
I like this idea and I can see how it could be helpful 🙂
We will discuss this in our UI/UX design call and let you know the outcome.
Thank you for your patience!

[2021-02-17 08:37] nikolaglumac commented on #2368
Hi @katakombi and @rdlrt!

The cause of this behavior is in random input selection and minimum UTXO value.
It has nothing to do with the size of your rewards...

Every transaction in Daedalus passes two phases:
1) Fee estimation
2) Transaction submission.

Both of these include running random input selection on the cardano-wallet side.
In order to estimate fees, cardano-wallet runs a few of the ra

[2021-02-17 08:37] #2368 closed

[2021-02-17 16:38] katakombi commented on #2367
Great news! Looking fwd... Meanwhile I was able to undelegate using Yoroi. Does that mean I need to wait for another two epochs until pending rewards are being paid?

[2021-02-17 16:39] nikolaglumac commented on #2367
Indeed. Make sure to withdraw the rewards after each epoch.

[2021-02-17 20:15] teoman002 opened #2374 "JavaScript error: failed to get 'appData' path"
I got an error after my first installation on a Linux Mint 19 x64 machine.
After starting the wallet software I received this error message:

![image](https://user-images.githubusercontent.com/1367821/108262351-1c938e80-7165-11eb-9acf-a5b1ce2be6ff.png)

[2021-02-17 20:18] nikolaglumac commented on #2374
OpenSuse is not officially supported: https://iohk.zendesk.com/hc/en-us/articles/360010496553-Daedalus-System-Requirements
Still, you might try these steps to get Daedalus Mainnet working: https://iohk.zendesk.com/hc/en-us/articles/900000776446-Installing-Daedalus-Mainnet-on-Linux-

[2021-02-17 20:18] #2374 closed

[2021-02-17 20:20] nikolaglumac commented on #2357
The fix for this issue is now available in Daedalus Mainnet 3.3.0.
Please update your version of Daedalus either through the automatic update or manually by downloading the installer from: https://daedaluswallet.io/en/download/
Thank you for your patience!

[2021-02-17 20:20] #2357 closed

[2021-02-17 20:20] nikolaglumac commented on #2320
The fix for this issue is now available in Daedalus Mainnet 3.3.0.
Please update your version of Daedalus either through the automatic update or manually by downloading the installer from: https://daedaluswallet.io/en/download/
Thank you for your patience!

[2021-02-17 20:20] #2320 closed

[2021-02-17 20:20] nikolaglumac commented on #2309
The fix for this issue is now available in Daedalus Mainnet 3.3.0.
Please update your version of Daedalus either through the automatic update or manually by downloading the installer from: https://daedaluswallet.io/en/download/
Thank you for your patience!

[2021-02-17 20:20] #2309 closed

[2021-02-17 20:20] nikolaglumac commented on #2255
The fix for this issue is now available in Daedalus Mainnet 3.3.0.
Please update your version of Daedalus either through the automatic update or manually by downloading the installer from: https://daedaluswallet.io/en/download/
Thank you for your patience!

[2021-02-17 20:20] #2255 closed

[2021-02-17 20:20] nikolaglumac commented on #2116
The fix for this issue is now available in Daedalus Mainnet 3.3.0.
Please update your version of Daedalus either through the automatic update or manually by downloading the installer from: https://daedaluswallet.io/en/download/
Thank you for your patience!

[2021-02-17 20:20] #2116 closed

[2021-02-17 20:23] nikolaglumac commented on #1234
The fix for this issue is now available in Daedalus Mainnet 3.3.0. 🎉
Please update your version of Daedalus either through the automatic update or manually by downloading the installer from: https://daedaluswallet.io/en/download/

The time has come to close this issue as this epic voyage has come to its end...
**Thank you all for all the patience, support, understanding, and trust!** ❤️
Please rem

[2021-02-17 20:23] #1234 closed

[2021-02-17 20:25] teoman002 commented on #2374
I am running Linux mint, its a fork of Ubuntu, which is said to be supported.
Does that mean only Ubuntu is supported?

[2021-02-17 20:31] nikolaglumac commented on #2374
Officially yes. Please make sure you covered all these steps: https://iohk.zendesk.com/hc/en-us/articles/900000776446-Installing-Daedalus-Mainnet-on-Linux-

[2021-02-18 02:03] automaticprofits commented on #1234
Hello.

I tried importing the old wallet into the new 3.3 wallet and am getting the following error.
Also why does the secret.key file say Keynote Presentation next to it?  Is that right?  And if not, how do I rectify this?

Thank you.

![image](https://user-images.githubusercontent.com/30329206/108293953-e48b4c00-7162-11eb-98df-56c02c204d30.png)

[2021-02-18 07:44] alex-stout opened #2377 "Send Amount UI Bug"
Hello,

There is a bug when entering zeros after the decimal point for the amount of ada to send.

### This works fine:
![image](https://user-images.githubusercontent.com/17804548/108321987-83776e80-718a-11eb-94cb-33214c512b47.png)

### This does not work:
![image](https://user-images.githubusercontent.com/17804548/108321939-722e6200-718a-11eb-884e-966e573ee2e2.png)
The amount entered was `1.0000`

[2021-02-18 07:47] nikolaglumac commented on #2377
Thanks for raising this!

@ManusMcCole @miorsufianiohk @gabriela-ponce please check this out 🙏

[2021-02-18 07:49] nikolaglumac commented on #1234
@automaticprofits please make sure old Daedalus is not running during the import attempt.

[2021-02-18 11:23] dustinf1989 commented on #2255
Thanks, now a csv file actually comes out, but it only has one row with my
current rewards value.  Isn't it possible to get the entire rewards history
by epoch into csv format?

On Wed, Feb 17, 2021 at 9:20 PM Nikola Glumac <notifications@github.com>
wrote:

[2021-02-18 12:51] v21vicky opened #2382 "Ledger pair error occurred"
hi all first time on gate hub means i need help please. i was using daedalus wallet with ledger and everything works fine till we had latest update 3.0.0 after that i had problem with connecting to network. i uninstall and install wallet again. but now i can't pair my ledger keep saying error occurred. my all device up to date cardano app up to date. im using ledger with passphrase. on 24 seed i c

[2021-02-18 16:39] automaticprofits commented on #1234
Ok I closed the old Daedalus wallet and tried importing the old wallet 'secret.key' file into the Daedalus 3.3 version and it still get the same message, "No wallets found. Make sure you have selected a valid 'secret.key' file.  I even tried point it to the state directory and still same message.

I even rebooted the computer to make sure no Daedalus wallets were running in the background and trie

[2021-02-18 16:47] nikolaglumac commented on #2382
Thanks for submitting the ticket. We will investigate and get back to you!

[2021-02-18 16:50] nikolaglumac commented on #2347
@feraldruid22 please expand on this:

...I am not sure I understand the issue.

[2021-02-18 16:52] nikolaglumac commented on #2255
We do not get more than that from the cardano-wallet API and thus we can only show total ever earned rewards for every single wallet.
As soon as we get the data from the API we will enable our already built UI which will enable you to browse all your rewards historically and also to export all of them in the CSV.
This is the issue you can track for this feature request https://github.com/input-out

[2021-02-18 16:55] nikolaglumac commented on #1234
You can ignore `secret.key lock` - or even better, delete it as it is just a lock file.
The size of the `secret.key` file doesn't tell us much. It might be that it is indeed empty.
Are you sure this was the file Daedalus used at the time when you had your wallets in it?
It could be that perhaps windows-restore or macOS time-machine was used and reverted the file to an earlier (empty) state?

[2021-02-19 04:28] sbr0 opened #2383 "Delegation center Potential rewards" estimation"

[2021-02-19 07:29] nikolaglumac commented on #2383
Thanks for raising this @sbr0!

We are aware of this issue. Daedalus fetches only one global list of stake pools based on the value set by the stake pool slider. This of course means that the potential rewards (and sometimes even rank) shown on the "Delegation center" are wrong as most likely wallet balance is not the same as the value of the stake pool slider. We are working on a solution for thi

[2021-02-19 07:30] nikolaglumac commented on #2377
The issue has been fixed in https://github.com/input-output-hk/daedalus/pull/2379
We will be releasing this in the next Daedalus update.
Thanks for reporting this @alex-stout 🙌

[2021-02-19 08:00] chsami opened #2384 "Cancelling vote registration will still deduct 0.17 ada"
When canceling a vote registration the transaction will still continue and deduct 0.17 ada

https://explorer.cardano.org/en/transaction?id=f487ea731b5cf1b5eb9d37bb217b8ccff9a85cdeb8145bb4941820b29ca6f7d5

![image](https://user-images.githubusercontent.com/23292806/108475179-a9873680-7290-11eb-9049-3b67259cb5cb.png)

[2021-02-19 08:02] nikolaglumac commented on #2384
This is expected. If you cancel the registration after you make the transaction you can not get this ada back.
It has already been spent on the fees.

[2021-02-19 08:02] #2384 closed

[2021-02-19 09:11] dipterix opened #2385 "Vote registration takes more than 30min and failed"
I tried twice to register to vote, but each time it took more than 30min to respond. The coin was sent but got no feedback (frozen at step 3 and cannot enter the step 4)

Is there any hardware requirement to vote?

[2021-02-19 09:16] nikolaglumac commented on #2385
@dipterix sorry to hear about your trouble!

There is no special hardware requirements to vote.
Please make sure to:
- not let your machine go to sleep / hibernation during voting registration
- try to have the Daedalus window focused during voting registration step 3
- before attempting to register make sure to restart your machine and have only Daedalus Mainnet running.

Let us know if this help

[2021-02-19 11:17] searchuser commented on #1234
I have the same problem too :(
I create wallet in first half of 2018. My keyfile have only one protection address. secret.key (203 b)

[2021-02-19 12:28] nikolaglumac commented on #1234
@KtorZ any chance you might help us here? Is this file size specific to an empty secret.key file? 🤔

[2021-02-19 13:34] KtorZ commented on #1234
A typical empty secret would be around 6 bytes. So 203 bytes does contain some info. The restoration tool currently looks in only one particular place of the keystore which is where the old, and old-old wallets were putting keys. Now... it could also be that an even earlier version of cardano-sl placed keys in a different location within the keystore (I would be only mildly surprised here... and l

[2021-02-19 14:17] KtorZ commented on #1234
There are some pretty interesting stuff in the closet :)

[2021-02-19 17:49] CarlosLopezDeLara commented on #2362
@automaticprofits I'm still digging around on Atomic docs, but what I know for sure is that the 12-word recovery phrase you get from them helps you to restore a Legacy Wallet, the same that you find under Settings>PrivateKeys>Cardano>LegacyPrivateKey.

We still  need to find how they are building the Shelley wallet starting from that same 12-word. I'm awaiting response from them.

Importing from x

[2021-02-19 18:18] dipterix commented on #2385
@nikolaglumac I followed your suggestions. It failed after running for hours. (Daedalus went back to re-sync with the mainnet)

In addition, I also aligned my computer time with my local time (+- 0.01s).
I'm using macbook pro 2017 with 4 core i7, 16GB RAM and 256 GB NVMe SSD.

The Ada was sent successfully within minutes, but waiting for confirmation took so long.

[2021-02-19 18:20] nikolaglumac commented on #2385
And you didn't see it getting confirmed in the Voting registration wizard step 3?

[2021-02-19 18:29] dipterix commented on #2385
I don't think so. It was stuck in the 3rd step trying to confirm, not "confirmed". I don't know what's the interface next.

[2021-02-19 18:36] nikolaglumac commented on #2385
Would you be so kind to do send us the logs?

[2021-02-19 18:42] dipterix commented on #2385
Sure, that'll be the best. Is there any way to get the logs?

[2021-02-19 18:43] nikolaglumac commented on #2385
Please use the “Download logs” option from application menu.

[2021-02-19 20:35] searchuser commented on #1234
If it helps to understand the structure. I can show head and bottom of secret.key file

`0x00 84 81 58 41 18 b6 63 cf 0c 88 e4 7f b0 09 c3 66`
......
`0xc0 bc 7f ea af 5f 40 04 d9 9f ff 80  `

[2021-02-19 21:51] PrinzMonty commented on #2359
I have the same Problem in the new Daedalus Wallet 3.3.0 .

See my forum post on cardano Forum:

https://forum.cardano.org/t/after-reinstalling-daedalus-my-pool-is-no-longer-shown/48879

[2021-02-19 21:54] nikolaglumac commented on #2359
@PrinzMonty there was no change in 3.3.0
that would improve this so it is expected.

[2021-02-19 22:12] PrinzMonty commented on #2359
Yes I think my problem is also little different at above.

My pool is simply no longer displayed. Why? I have no idea and no plausible explanation.

[2021-02-19 22:14] PrinzMonty commented on #2359
My pool is just not showing up anymore. Why? I have no idea and no plausible explanation.

Probably my problem is also different from the one of the issue creator.

[2021-02-19 23:02] KtorZ commented on #1234
@searchuser can you remove the first byte `0x00` and try again?

[2021-02-20 00:30] dchmelik commented on #1899
Be clear: daedalus isn't a GNU/Linux program; it's a _systemd_/GNU/Linux program.  Please either make it for GNU/Linux in general (like Slackware and it's large family of derivatives, and Gentoo) or specify it's for systemd OSs only.  Snaps are horrible and never should be used outside cell phones, which they originally were designed for.  Flatpaks are almost as bad as they require an installer.

[2021-02-20 04:24] katakombi opened #2388 "Wallet checksum similar to what Yoroi has"
Hi,

  it would be convenient if on transactions a short checksum would be displayed. The checksum might entail the staking address and identify the wallet, and can be shown when the receive address is copied, and can be shown when it is pasted in supported wallets. This would ease the burden for the user to check the validity of the address every time a transaction is being made.

Best would be t

[2021-02-20 06:32] searchuser commented on #1234
0x00 It's not first byte. It's string number.
`0x00 <>`
`0x01 ...`
`0x02 ...`
`......`
`0xc0 ...`

[2021-02-20 08:15] nikolaglumac commented on #1899
cc @disassembler

[2021-02-20 09:10] nikolaglumac commented on #2359
@PrinzMonty if your stake pool is not visible on SMASH then it won't be visible in Daedalus either.
You most likely have the wrong metadata hash or a similar issue. This not an issue on our end.

[2021-02-20 09:12] nikolaglumac commented on #2359
@PrinzMonty you can call the Smash-Server like:

[code]

Replace the with your Pool-ID in hex or bech format and with your Meta-Hash in hex.
Your stake pool won't show up in Daedalus in case it is not picked up by IOHK SMASH server first.

[2021-02-20 10:23] PrinzMonty commented on #2359
@nikolaglumac

Unfortunately, it is not listed for me. I have not changed anything either. As I see it, some other SPOs are also no longer listed.

`https://smash.cardano-mainnet.iohk.io/api/v1/metadata/796ab264483c464e2df3add039a8cd04e3eed9c79f45507fba35bf02/9078baf4f59a345af0b2cd6339bbbcfee32cc816e817ec7385c2a9a58de48c02`

I get the meta hash by the following command:

`cardano-cli stake-pool me

[2021-02-20 10:39] nikolaglumac commented on #2359
For all SMASH related issues please turn to https://github.com/input-output-hk/smash

[2021-02-20 13:28] searchuser commented on #1234
I found password create/change date  in my secret.key file on bytes[138-141]:
`0x08 ** ** ** ** ** ** ** ** ** 5a 9e 43 2e ** ** **`
int(0x5a9e432e) = Mar 06 2018 10:28:46

[2021-02-20 15:22] bitmvr opened #2389 "Daedalus Mainnet does not open on macOS"
The Daedalus Mainnet Application does not open on macOS. The icon is shown in the Dock but when I right click it, the message I see is `Application Not Responding`.

Backstory...

I downloaded Daedalus on February 16th. I synced with the blockchain and then followed the directions over at https://iohk.zendesk.com/hc/en-us/articles/900004722083-How-to-use-Ledger-and-Trezor-HW-with-Daedalus. I then

[2021-02-20 15:50] bitmvr commented on #2389
Disregard but I want to document this in case others run into it...

For some reason macOS believed Daedalus(3.2.0) was still running. When I attempted to restart/shutdown macOS, it responded and told me that Daedalus was not shutting down and needed to be `Force Quit.` After many attempts at a `Force Quit`, I went to `Terminal` too try and execute a `kill` on the process. After reviewing my proce

[2021-02-20 15:50] #2389 closed

[2021-02-20 19:14] sorki opened #2390 "Crash when trying to Save PDF"
Happens on the last step of voting fund registration:

[code]

My system is pretty minimal and I don't have a lot of standard distro stuff installed. I do have `xdg-open` and correct XDG settings since it can open URLs in browser. `xdg-open some.pdf` seems to work as well.

[2021-02-20 19:15] sorki commented on #2390
Similar to  #2255

[2021-02-21 07:25] Ahmedie-m opened #2391 "State directory can not be configured and is set to default drive"
When trying to install Daedalus wallet, I selected for it to be installed on the D drive. That worked fine, but the state directory was still pushed to the C drive.

I would recommend this to be configurable in the installer, as there were no options there for this and I can't seem to find a way to change the drive and right now it's just stuck on this screen:

![image](https://user-images.githubu

[2021-02-21 08:58] katakombi opened #2392 "Bug: Wallet which has been undelegated using Yoroi still shows as delegated in Daedalus"
See title, should be easy to reproduce.
I can attach info about my wallet if necessary.

[2021-02-21 09:06] nikolaglumac commented on #2391
Duplicate of https://github.com/input-output-hk/daedalus/issues/605
Please follow this: https://github.com/input-output-hk/daedalus/issues/605#issuecomment-771782614

[2021-02-21 09:06] #2391 closed

[2021-02-21 09:07] nikolaglumac commented on #2392
The wallet is still delegated for 2 epochs after you trigger undelegation in Yoroi.
Please state when you did the undelegation and provide a screenshot of the Daedalus "Delegation center" screen.
Thanks!

[2021-02-21 09:09] nikolaglumac commented on #2388
cc @darko-mijic

[2021-02-21 09:10] nikolaglumac commented on #2385
@dipterix any news on the logs?

[2021-02-21 09:14] nikolaglumac commented on #2390
This works as expected on [officially supported operating systems](https://iohk.zendesk.com/hc/en-us/articles/360010496553-Daedalus-System-Requirements) with default configuration.
Please update your system in order to use the "Save PDF" feature.

[2021-02-21 09:14] #2390 closed

[2021-02-21 09:39] sorki commented on #2390
It says it's aimed at `All Linux distributions` - I'm on NixOS but without Gnome, looks like I'm just missing `gsettings-desktop-schemas` (maybe it could be part of Daedalus Nix closure).

[2021-02-21 09:49] nikolaglumac commented on #2390
Yes but it is officially tested against:
- Ubuntu 18.04 LTS, Ubuntu 20.04 LTS
- Fedora 28

@cleverca22 could you look into the Nix closure `gsettings-desktop-schemas`...

[2021-02-21 09:56] sorki commented on #2390
I'll test this locally and submit a PR if it helps, trouble is I need to go through complete registration process - maybe I should try this against testnet.

[2021-02-21 10:05] nikolaglumac commented on #2390
That would be great 🙏

[2021-02-21 10:07] dipterix commented on #2385
@nikolaglumac sorry for being late. I just sent to your gmail

[2021-02-21 10:14] nikolaglumac commented on #2385
Thanks! I have checked them and they are not helpful as the information we need was already "rotated out" in the logs.
So we can only get this information if you do another attempt to register and then send us logs 10 mins after the registration attempt.

[2021-02-21 12:10] katakombi commented on #2392
Thanks for the reply. I did the undelegation last epoch. I cant remember when exactly I guess 17th of Feb. Strangely enough I can't find a transaction in my Yoroi wallet where I received back the 2 Ada deposits. Is however states that it is undelegated.

I still suspect this could lead to problematic behaviour ... e.g. I could try to redelegate in daedalus, and what would happen? Does it assume I

[2021-02-21 12:21] katakombi commented on #2392
![image](https://user-images.githubusercontent.com/5052427/108624830-99658780-7447-11eb-8ca1-e5964873fc49.png)
NB I couldn't test redelegation because I need 10 Ada miminum for that...

[2021-02-21 12:47] nikolaglumac commented on #2392
Please provide the Daedalus logs so that I can look into that more closely.

[2021-02-21 14:36] europound opened #2393 "please type your passphrase hidden wallet stuck, no prompt"
please type your passphrase hidden wallet stuck, no prompt
daedalus is not working with Trezor T
no prompt for hidden wallet password
just stuck spinning at export the public keys on your device

[2021-02-21 15:59] nikolaglumac commented on #2393
Closing this one as it is a duplicate of https://github.com/input-output-hk/daedalus/issues/2238
Please follow that thread for more info.

[2021-02-21 15:59] #2393 closed

[2021-02-21 18:42] europound commented on #2238
when are you going to fix this problem?

[2021-02-21 19:03] stoladev commented on #2238
Yes, this is a growing problem amongst friends who use Trezor and have picked up Cardano recently. They don't have an "easy" way to go about it (not as technically literate as you or I).

[2021-02-21 19:10] nikolaglumac commented on #2238
I apologize for the inconvenience.
We are aware of the problem and we are not ignoring it. The work on this already started but it was delayed due to other very important tasks (like Catalyst voting and Native tokens): https://github.com/input-output-hk/daedalus/pull/2284

There have also been some intermediate tasks that were needed to be completed first as they are prerequisite for this.

We are

[2021-02-21 19:12] NinjaPerson24119 commented on #2238
I literally cannot use Daedalus because of this, consider another person
affected. IMO this is a breaking bug.

On Sun., Feb. 21, 2021, 11:11 a.m. Nikola Glumac, <notifications@github.com>
wrote:

[2021-02-21 19:14] stoladev commented on #2238
You are doing a beautiful job, your hard work is very much appreciated. We all love Cardano and what it stands for, and your response to this issue shows the quality doesn't end with the software - it definitely exists in the developers as well.

Take as much necessary time to make this and all portions of Daedalus as you usually do - with quality care and execution.

Cheers.

[2021-02-21 19:26] Klobbinger commented on #2238
@NinjaPerson24119 there is a workaround described above that's really not hard to do. Especially if you so eagerly need this function. Also, you could use Yoroi anytime, as the passphrase feature works there.

[2021-02-21 19:30] NinjaPerson24119 commented on #2238
I've tried the workaround, and have my Trezor set to automatically ask for
the password on the device. Last I checked, it didn't work.

I understand that the team is small, but to be objective, Adalite and Yoroi
have a better product for me. Which is unfortunate because I'd rather run a
full node.

On Sun., Feb. 21, 2021, 11:26 a.m. Klobbinger, <notifications@github.com>
wrote:

[2021-02-21 19:39] europound commented on #2238
how small are you?
badly funded?

[2021-02-21 19:43] katakombi commented on #2392
Can I somehow PM it? The zip file is huge and I wonder what all is contained in these logs...

[2021-02-21 20:13] nikolaglumac commented on #2392
Feel free to send it to my email: niglumac@gmail.com
There is nothing compromising in the logs.

[2021-02-21 20:21] nikolaglumac commented on #2238
You can not compare light and full-node wallets. Please remember that we have to use cardano-wallet API and that is the only way for us to interact with the blockchain. We need to work closely with both cardano-node and cardano-wallet teams to make things happen. Daedalus is also a desktop application which has it's own challenges - especially in terms of running the node on user's machine...

I a

[2021-02-21 20:23] nikolaglumac commented on #2238
We have a team of four full-time developers...

[2021-02-21 20:24] katakombi commented on #2392
Here are the logs...
[logs-2021-02-21T193124.0181Z.zip](https://github.com/input-output-hk/daedalus/files/6018417/logs-2021-02-21T193124.0181Z.zip)

[2021-02-21 20:27] NinjaPerson24119 commented on #2238
Yeah no worries, I get it's more complicated. I just mean that from the
consumer perspective, they just see a lack of features.

Software takes time. The wallet is getting better, just clarifying that I'm
at least one person who can't use it specifically because of this.

On Sun., Feb. 21, 2021, 12:23 p.m. Nikola Glumac, <notifications@github.com>
wrote:

[2021-02-21 20:33] nikolaglumac commented on #2392
Thanks @katakombi!
I have checked the logs and you are right - we have a bug in Daedalus...

[code]

☝️ your wallet is indeed undelegated from epoch 250. Daedalus should show that in the UI.
We will work on this in our next sprint which starts tomorrow.

Thanks!

cc @darko-mijic

[2021-02-21 20:37] nikolaglumac commented on #2238
I agree but to be fair there are also features unique to Daedalus (and I am not talking about the most obvious one of being able to run it completely independently of all centralized services such as db-sync).

We will get this done - we just need a bit more time.
Thanks for the feedback and patience 🙏

[2021-02-21 20:37] katakombi commented on #2392
That's great news. Thanks!

[2021-02-21 23:28] Straightpool opened #2394 "Proper transaction history for taxation purposes"
**Short summary**
Whilst Daedalus 3.3.0#16556 transaction details have been improved, the details are still not useable for direct imports into taxation software as the documentation logic is not following best practice.

**Current situation**
Example case: Wallet A sends 10 ADA to wallet B with a fee of 0.17 ADA on timestamp X
- Wallet A shows an outgoing transaction on timestamp X with outgoing

[2021-02-22 06:43] nikolaglumac commented on #2394
Thanks for raising this @Straightpool!
We've just recently got the separated fee value in the scope of transaction details and enables us to improve the CSV export feature. We will for sure be improving this.
Just to be 100% clear - this change will only impact the CSV export and not the transactions within Daedalus UI.

Cheers!

[2021-02-22 06:55] Real-XkLi opened #2395 "Daedalus Wallet Linux Segmentation fault during installation"
Hello,
I have tried downloading and installing the newest Daedalus Wallet on Arch Linux (5.10.16-arch1-1)

After changing the execution bit, when trying to run the `daedalus-3.3.0-mainnet-16556.bin `I get the following error message:

`./nix/store/apzfc51a2aki7xdyzifldp1nm4w8a1am-nix-user-chroot-2c52b5f/bin/nix-user-chroot: error while loading shared libraries: libXau.so.6: cannot open shared obje

[2021-02-22 07:05] nikolaglumac commented on #2395
Arch Linux is not officially supported: https://iohk.zendesk.com/hc/en-us/articles/360010496553-Daedalus-System-Requirements
Still, you might try these steps to get Daedalus Mainnet working: https://iohk.zendesk.com/hc/en-us/articles/900000776446-Installing-Daedalus-Mainnet-on-Linux- - Please let us know if this fixes the issue.

[2021-02-22 12:21] Straightpool commented on #2394
Thank you Nikola!

If you do not want to change the transaction view within Deadalus UI, I do suggest the following additions to the CSV export:

For withdrawals:
- Add column "fee",  e.g. "0.17"
- Add column "Amount before fee" e.g. "10" in my above example

By just adding those 2 columns the utility of the CSV export is increased a lot while remaining consistent to the Daedalus UI.

While you ar

[2021-02-22 13:02] nikolaglumac commented on #2394
Thanks @Straightpool!
We will look into this.

2021-01-14T202501.0000Z

01/14/2021 20:25:01
mm/dd/yyy hh:mm:ss

The date format you are proposing is missing timezone info.
The format we are using is the ISO 8601 standard.

cc @darko-mijic

[2021-02-22 22:30] Straightpool commented on #2394
Good point! I looked into the ISO 8601 standard, may I suggest to use ISO 8601 extended for timestamps? This allows for pretty straightforward Excel parsing like this (ignoring the timezone, but still very useful):

`=TEXT(DATEVALUE(MID(<CELL>,1,10))+TIMEVALUE(MID(<CELL>,12,8)),"mm/dd/yyyyy hh:mm:ss")`

(Yeah, Excel does still not parse `yyyy-mm-dd"T"hh:mm:ss".0000Z"`)

Basic:
2021-01-14T202501.00

[2021-02-23 09:14] nikolaglumac commented on #2394
We'll check it out. Thanks!

[2021-02-23 16:15] tdiesler opened #2396 "[FR] - Catalyst registration from HW wallets"
This currently (i.e. 3.3.0) does only work for wallets with nmemonic

[2021-02-23 16:17] tdiesler opened #2397 "Add support for multiple accounts per HW device"
Please have a look at the account feature in [ADALite](https://adalite.io). There you can create independent wallets from the same HW device.

[code]

A feature that folks are used to in LedgerLive as well

[2021-02-23 16:21] nikolaglumac commented on #2397
Thanks for raising this @tdiesler!
We are aware of this feature request and have it in our backlog.
Will let you know as soon as the implementation work starts.
Thank you for the patience! 🙏

[2021-02-23 16:23] nikolaglumac commented on #2396
Thanks for raising this @tdiesler!
This is a known issue. There is no clear ETA on when hardware wallet support for Catalyst registration will be added as it depends on multiple teams (including the team that needs to add support for this on the Ledger Cardano app side).
We have this in our backlog and we will try to implement it as soon as possible.
Thank you for your patience! 🙏

[2021-02-23 16:33] jcortes commented on #2115
Hello everyone. I did follow de instructions here:
1. https://daedaluswallet.io/en/download/#modal=download_pgp_instructions_linux
2. https://iohk.zendesk.com/hc/en-us/articles/900000776446

But I'm getting the same error using Ubutnu 20.04.2 LTS:
[code]
Any clue on what can I do to solve the issue in this case?
Thanks in advance!

[2021-02-23 16:34] nikolaglumac commented on #2115
Did you follow all these steps? https://iohk.zendesk.com/hc/en-us/articles/900000776446-Installing-Daedalus-Mainnet-on-Linux-

[2021-02-23 16:37] jcortes opened #2398 "error: cannot figure out user name on Ubuntu 20.04.2 LTS"
Hello everyone. I did follow the instructions here:
1. https://daedaluswallet.io/en/download/#modal=download_pgp_instructions_linux
2. https://iohk.zendesk.com/hc/en-us/articles/900000776446

But I'm getting the same error using Ubutnu 20.04.2 LTS:
[code]
Any clue on what can I do to solve the issue in this case?
Thanks in advance!

_Originally posted by @jcortes in https://github.com/input-output

[2021-02-23 16:42] nikolaglumac commented on #2398
Did you follow all these steps? https://iohk.zendesk.com/hc/en-us/articles/900000776446-Installing-Daedalus-Mainnet-on-Linux-

[2021-02-23 16:45] jcortes commented on #2115
Yes I even ran the commands in the **note** section but nothing!

[2021-02-23 16:51] jcortes commented on #2398
Yes I even ran the commands in the note section but nothing! I thought it was an issue with the Ubuntu version but I got also the same issue with Ubuntu 18 before upgrading it to Ubuntu 20

[2021-02-23 16:53] nikolaglumac commented on #2398
Can someone of you help us out here?
@cleverca22 @disassembler @miorsufianiohk @ManusMcCole

[2021-02-23 17:09] miorsufianiohk commented on #2398
Hi @jcortes. I hope that you are well. Could you try this please:
 `bash daedalus-3.3.0-mainnet-16556.bin`

Please let us know the outcome.

Thank you,
Mior

[2021-02-23 17:54] cjkoepke opened #2399 "Pool Gradient Update"
This is just a suggestion as a designer and developer on the web. Currently, the gradient for stake pools goes from Green to Red. While I can understand some of the reasoning behind this, if we really want to incentivize decentralization in the Cardano ecosystem (and therefore staking to less saturated pools or smaller ones just starting out), then I think it might make sense to avoid using red as

[2021-02-23 17:57] nikolaglumac commented on #2399
cc @darko-mijic

[2021-02-23 18:29] jcortes commented on #2398
Thanks @miorsufianiohk still same output:

[code]

[2021-02-23 20:50] Tomassmits commented on #2025
I quite dislike the combination of a cryptocurrency wallet and unprivileged namespace, or am I just the paranoid one here?

[2021-02-24 17:54] dipterix commented on #2385
Thanks. The bug is fixed after upgrading to `3.3.1`

[2021-02-24 17:54] #2385 closed

[2021-02-24 19:02] laplasz commented on #2115
i tired again and still failing:
can we re-open this?
[code]

[2021-02-24 22:09] vicepool commented on #2307
I upvote for this too. A simple clickable "max" word that can put the maximum amount minus TX fee would be great. I transferred all funds between wallets several times, and each time I had to guess each a decimal number by typing it and waiting for the field to become red or not. If the program knows that the amount I enter is too big, it already knows the max possible amount. Implementing this sh

[2021-02-25 03:37] wadie914 commented on #1234
having same problem key file shows no wallet in all methods can someone pls help ill pay

[2021-02-25 07:53] nikolaglumac commented on #1234
@wadie914 what is the size of the secret.key file and do you remember when it was created?

[2021-02-25 11:22] europound commented on #2307
indeed

[2021-02-25 13:03] sorki commented on #2390
Investigating this I realized this was caused by my system switching to incompatible graphics stack without reboot so it wasn't able to launch any graphical applications including file selection dialog.

`XDG_DATA_DIR` is configured correctly in chroot and has `gsettngs-desktop-schemas`.

There's not much you can do about this and it's pretty unlikely users are going to hit this. One idea to impro

[2021-02-25 13:23] rekuenkdr opened #2403 "Cardano-node crashed - Ubuntu 20.04"
Hi, I've downloaded the latest binary from the website (3.3.1 mainnet), installed both on my local machine and on a VM, running Ubuntu 20.04, the issue is the same, after starting the wallet for the first time, it keeps flickering , complaining about cardano-node crashing.
[code]
Here are my logs:
[json-logs.zip](https://github.com/input-output-hk/daedalus/files/6043183/json-logs.zip)
[cardano-wal

[2021-02-25 13:32] nikolaglumac commented on #2403
Did you follow all these steps? https://iohk.zendesk.com/hc/en-us/articles/900000776446-Installing-Daedalus-Mainnet-on-Linux-

[2021-02-25 13:37] rekuenkdr commented on #2403
Hi, yes, I'm not new to the GNU/Linux sphere, the installation went fine, no errors at all, is the first time the wallets starts, for some reason it fails to connect to the node, that I suppose is embedded within the wallet, or do I have to run my own node?  I have a few relays on my own so it won't be a problem, but I thought the wallet uses is own.

[2021-02-25 13:38] nikolaglumac commented on #2403
It's a node issue. I don't think we will be able to help you here on the Daedalus end...

[2021-02-25 13:43] rekuenkdr commented on #2403
So where do I open a bug report?

[2021-02-25 13:44] nikolaglumac commented on #2403
http://github.com/input-output-hk/cardano-node

[2021-02-25 13:52] rekuenkdr commented on #2403
Thanks, I will try there, but again the issue I have is with the daedalus wallet itself, not the cardano-node binary.

[2021-02-25 13:53] nikolaglumac commented on #2403
No. The issue is outside Daedalus. You did not submit node-logs. It looks like the node is unable to connect to the network.

[2021-02-25 13:57] rekuenkdr commented on #2403
The node.log is empty. I will open an issue there.
Thanks.

[2021-02-25 13:59] nikolaglumac commented on #2403
So that's definitely a node issue. Thanks!

[2021-02-25 13:59] #2403 closed

[2021-02-25 15:09] feraldruid22 opened #2405 "Continue without clock synchronization..."
Ok so I have to say after this bug being present in ALL deadalus versions up until to the latest one I have to say 1 thing:

IM SICK OF THIS SHIT!!!

![sht](https://user-images.githubusercontent.com/68493405/109172895-8a524280-7783-11eb-96e3-8f6e1abf0603.png)

No matter what I use ntpd, chrony... It always says the clock is not synchronized. Yes the f it is.

[2021-02-25 15:17] nikolaglumac commented on #2405
@feraldruid22 you obviously have some specific network configuration or a firewall which prevents Daedalus from reaching the NTP service...

[2021-02-25 16:40] nikolaglumac commented on #2377
Fix released in Daedalus 3.3.1: https://daedaluswallet.io/en/download/

[2021-02-25 16:40] #2377 closed

[2021-02-25 17:11] Alex602021 commented on #1234
Hi, thanks for all the work so far. I was a lurker on this topic. I have the same problem as wadie941, automaticprofits and searchuser. I have the Daedalus 3.3.0 running on my new computer now and tried to import my olf secret.key file.

- secret.key file is 203 B in size and wallet was created in July 2018.
- Interestingly the secret.key file updates its creation date everytime the old Daedalus (

[2021-02-25 17:23] nikolaglumac commented on #1234
If there is any way to restore your wallets I am sure @KtorZ will find it.
What we need to ask you at this time is just a little more patience 🙏
Please keep following this thread as we will post all the news here.
Thank you!

[2021-02-25 17:38] wadie914 commented on #1234
not 100% sure what size it is but it does have some stuff in it it doesn't
have a small size where it's empty also it was created at the very first
stages of the wallet when there was no seed key or secret phrase just a
secret key and maybe a password that I probably can remember

On Thu, Feb 25, 2021, 2:53 AM Nikola Glumac <notifications@github.com>
wrote:

[2021-02-25 18:58] wadie914 commented on #1234
size is 203bytes

[2021-02-25 19:20] wadie914 commented on #1234
pls helppp

[2021-02-25 19:50] carrotshadow commented on #2025
+1.
Some explanation would be useful please.
Guess I try virtualisation next. Probably build from source to choose installation directories too.
Most likely I just lack the knowledge, and documentation, but I did search.
Thanks for all efforts.

[2021-02-25 19:53] nikolaglumac commented on #2025
cc @disassembler

[2021-02-26 02:07] wadie914 commented on #1234
203 2018

[2021-02-26 03:32] AaronVasquez commented on #1234
I'm having issues restoring my wallet as well. I was using Daedalus 1.0.3619 and trying to import using Daedalus 3.3.1, but it doesn't seem support. Will importing from 1.0.3619 be supported in the future?

[2021-02-26 03:32] EtherDotBlue commented on #2274
@nikolaglumac I confirmed that this issue has not been resolved in the latest release.  Do you have an ETA? I have a significant amount stuck.

[2021-02-26 03:33] wadie914 commented on #2274
I have a pretty significant amount myself

On Thu, Feb 25, 2021, 10:32 PM Tom Lindeman <notifications@github.com>
wrote:

[2021-02-26 03:35] wadie914 commented on #2274
I even tried the Mac version but it will not connect in order for me to use
the key tool

On Thu, Feb 25, 2021, 10:33 PM Wadie T <wadie914@gmail.com> wrote:

[2021-02-26 07:35] nikolaglumac commented on #2274
@EtherDotBlue we would have had announced this as fixed if it was the case.
There is an open PR that adds the support for withdrawals on hardware wallets: https://github.com/input-output-hk/daedalus/pull/2408
Once merged, we will have it released (first on Daedalus Flight and shortly after on Daedalus Mainnet).
I expect this to happen in the next 2 weeks.

Thanks for the patience!

[2021-02-26 07:39] nikolaglumac commented on #1234
The number you have “1.0.3619” is a build number and not a Daedalus version. This build belongs to a Daedalus 0.X which is supported. The import should already work for your version of Daedalus.

Make sure the old version of Daedalus is not running while you are trying to use the import feature in Daedalus Mainnet 3.3.1. It would also be beneficial if you would share a screenshot of the errors you

[2021-02-26 11:48] aljosa opened #2410 "Staking/voting rewards history"
Daedalus depends on cardano-wallet, where is the issue (in cardano-wallet or some other dependency you use) which is preventing detailed overview of staking/voting transactions?

I'd like to track the non-daedalus dependency that's blocking this.

[2021-02-26 11:50] nikolaglumac commented on #2410
This is a duplicate of https://github.com/input-output-hk/daedalus/issues/2347
Please follow that thread instead. We are limited by the cardano-wallet API: https://github.com/input-output-hk/cardano-wallet

[2021-02-26 11:50] #2410 closed

[2021-02-26 12:50] aljosa commented on #2410
@nikolaglumac there is no issue in cardano-wallet tracking this requirement?

[2021-02-26 12:51] nikolaglumac commented on #2410
AFAIK it is only present in JIRA and not in GH.

[2021-02-26 12:52] AaronVasquez commented on #1234
<img width="952" alt="Daedalus_Mainnet__3_3_1_16693__and_aaronvasquez_Aarons-MacBook-Pro___" src="https://user-images.githubusercontent.com/1048612/109302494-57ea2900-7807-11eb-81d4-75230c0e99bc.png">

When I select `Daedalus 'secret.key' file, I get

[2021-02-26 13:43] GeorgeFlerovsky opened #2411 "Babel fees: add wallet support to cover your own outstanding liabilities"
Babel fees are an amazingly elegant new mechanism coming soon to Cardano that will allow people to use native tokens to pay for transaction fees. This works by introducing a liability UTXO with a negative ADA fee output and a positive output of the native tokens offered as fee. Stakepool operators (SPO) or others on the network can then notice this liability UTXO in the mempool (where not-yet-proc

[2021-02-26 14:37] wadie914 commented on #1234
so no fix for now?

[2021-02-26 14:38] nikolaglumac commented on #1234
If the current version does not work then you need to wait yes.

[2021-02-26 14:39] wadie914 commented on #1234
Thank you I appreciate your time

On Fri, Feb 26, 2021, 9:39 AM Nikola Glumac <notifications@github.com>
wrote:

[2021-02-27 10:33] haripetrov commented on #2365
Thank you @nikolaglumac!

There is another example which can be useful regarding this setting. Bittrex global are having this toggle button:
![image](https://user-images.githubusercontent.com/1268290/109384769-d7572580-78f7-11eb-9ae4-6a0f7ddf0266.png)
Once you activate it every time when you login it's the same view which is very convenient.

[2021-02-27 20:09] benapetr opened #2412 "Change storage location"
Hello,

The program doesn't seem to have any option to change storage location, I have NVME disk I would like to move the DB to, so that blockchain scanning is faster and app doesn't take forever to start, but there is no option in preferences to change where you want to store it. Defaults to somewhere in AppData on system disk.

[2021-02-27 20:11] benapetr opened #2413 "Configure default relay to connect to?"
It doesn't seem obvious how is daedalus connecting to cardano network - where does it get topology of relays from? I assume it has some IOHK relay servers hardcoded right now?

Would it be possible to let users to pick alternative relays or specify custom topology? Having everything relying on IOHK infrastructure is not good for decentralization.

[2021-02-27 23:15] nikolaglumac commented on #2412
Closing this ticket as it is a duplicate of: https://github.com/input-output-hk/daedalus/issues/605
Please follow these steps: https://github.com/input-output-hk/daedalus/issues/605#issuecomment-771782614

[2021-02-27 23:15] #2412 closed

[2021-02-27 23:23] FelixTruger opened #2414 "Crash when saving PDF (Registration to vote for Fund3)"
My Daedalus 3.3.1 crashed when I tried to save the PDF of the QR code created in the Registration menu for Fund3. I scanned the code using the Catalyst App before. When I clicked the Save PDF button, Daedalus completely vanished from the screen without any trace or error message.

You may want to double check that exception handling is done correctly there.

I'm using Ubuntu 18.04.4 LTS in case th

[2021-02-28 03:09] MatusmotoEO commented on #2238
Well actually....it doesn't work.
When trying to access your Trezor T wallet via Yoroi, it causes an error after being asked to enter in your Passphrase. For those who originally don't have a passphrase that is...

[2021-02-28 03:24] MatsumotoEO commented on #2238
Also, I found that there is a temporary workaround by disabling the passphrase dialog via command-line trezorctl when using Daedalus.
But it appears that the tutorials online are made only for window users...

[2021-02-28 13:03] MarinBernard commented on #2398
Hi,
I have the same issue on Ubuntu 20.10:
[code]

[2021-02-28 15:05] wadie914 commented on #1234
any idea when or who is working on this ?

[2021-02-28 15:09] nikolaglumac commented on #1234
Yes we are working on this. @KtorZ is investigating the issue and I will be adding a fix to Daedalus as soon as he finds a solution. I can not give you an ETA on when this will be done. Please keep following this thread.
Thanks for the patience!

[2021-02-28 15:10] wadie914 commented on #1234
Thank you sir

On Sun, Feb 28, 2021, 10:09 AM Nikola Glumac <notifications@github.com>
wrote:

[2021-02-28 15:38] jonathancross opened #2415 "[feature] Newly created wallet should not need to sync history"
When creating a new wallet in an instance of Daedalus that has already synced older wallets, Daedalus will immediately go through a long, slow process of syncing:

This makes no sense as there is verifiably zero transactions and zero balance on a newly generated wallet.

Instead, Daedalus should recognize that this wallet is _already synced_ and skip unnecessarily looking up history.

[2021-02-28 15:49] jonathancross opened #2416 "[feature] Add "birthday" (aka "block height") option when restoring wallet"
When restoring a wallet from seed phrase, the user should have an option to set a so-called "birthday" (block height or date) of the first transaction.  The idea is that transactions from older blocks can be ignored unless they have direct bearing on UTXOs owned by this wallet.

The goal is dramatically faster syncing.

I am coming at this from the Bitcoin / Monero space where this feature has bee

[2021-02-28 16:08] jonathancross commented on #2307
Thanks @nikolaglumac, but I'm with @vicepool -- no need for a complex "wallet migration" feature here, but a simple clickable "max" that adds up all UTXO amounts and subtracts fees.

[2021-02-28 16:36] nikolaglumac commented on #2307
Even though this seems quite easy, unfortunately, it is not.
If it was, we would have implemented it long ago.
The problem is that it is a bit more complex "under the hood" on the cardano-wallet side and it is not just a "select all UTXO and substrate the fees" situation. The fees actually vary and selecting 99% of the wallet balance could require a different amount of fees than 100% of the wallet

[2021-02-28 16:43] nikolaglumac commented on #2398
@disassembler @cleverca22 please help us out here 🙏

[2021-02-28 19:35] nikolaglumac commented on #2415
Hi @johnalotoski!

I agree with you but there is nothing we can do on Daedalus side to change this.
This is not a Daedalus but a cardano-wallet change request. Once they implement this, it will automatically work like that in Daedalus.
Please open a ticket on https://github.com/input-output-hk/cardano-wallet

Thanks!

[2021-02-28 19:35] #2415 closed

[2021-02-28 19:36] nikolaglumac commented on #2416
Hi @jonathancross,

This sounds interesting 🤔
I am not sure we can do that but it is once again a question for https://github.com/input-output-hk/cardano-wallet.
Please open a ticket there 🙏

Thanks!

[2021-02-28 19:36] #2416 closed

[2021-02-28 19:37] nikolaglumac commented on #2405
@feraldruid22 did you have time to check your firewall / network-configuration?

[2021-02-28 22:41] nocmonkey opened #2417 "Shared seed between Trezor Model T and Ledger Nano S give different ADA wallets"
I'm new to hardware wallets so not sure if this is a Daedalus problem or a problem with one of the hw wallets' firmware/app or just user error.  I use a Ledger Nano S as a backup hw wallet to my Trezor Model T.  All other cryptocurrency wallets, that I use, are in sync except for the ADA wallet.  I didn't use a passphrase on either hw wallet.  I added both hw wallets on Daedalus 3.3.1 on Ubuntu 20

[2021-03-01 08:24] nikolaglumac commented on #2417
cc @darko-mijic @tomislavhoracek

[2021-03-01 13:06] nikolaglumac commented on #2413
Relays Daedalus uses are defined in IOHK-nix: https://github.com/input-output-hk/iohk-nix/blob/master/cardano-lib/default.nix#L40

@disassembler @darko-mijic any comment from your side?

[2021-03-01 14:09] nikolaglumac commented on #2414
@gabriela-ponce @miorsufianiohk @ManusMcCole please check this 🙏

[2021-03-01 14:25] nikolaglumac commented on #2417
cc @ManusMcCole

[2021-03-02 01:34] tracyloowho commented on #2238
Command line not necessary to disable the passphrase.

1) Go to https://wallet.trezor.io/
2) Click on device name
3) Click "Advanced"
4) Disable passphrase
5) Disconnect Trezor, then reconnect and it pairs successfully with Daedalus

[2021-03-02 01:39] mark-stopka commented on #2238
Disabling the passphrase is a dump idea until [TropicSquare](https://tropicsquare.com/), which is a SatoshiLabs joint-venture brings to market open-source secure element which will be available in a form of a SD card you just add to the current Model T. If someone steals your Trezor without passphrase and has enough time he can gain access to your crypto, it's know impact of a initial design decis

[2021-03-02 04:51] europound commented on #2238
a very weak solution

[2021-03-02 07:26] adamwojt opened #2419 "Pasting Recovery Phase removes spaces"
**Current Behaviour:**
Pasting space separated sequence of words into `Recovery phrase` text field removes spaces.
![image](https://user-images.githubusercontent.com/45100954/109612751-e0830500-7b38-11eb-85f1-9819c913589a.png)
**Expected Behaviour**
Spaces are preserved so that user can just click `Check recovery phrase`

[2021-03-02 08:29] nikolaglumac commented on #2419
Hi @adamwojt!

This is per design as we wanted to make sure users are not keeping their recovery phrases in a digital format as the only safe option is keeping it on a piece of paper.
However, there might be cases where pasting would be a good option.
We will give this another thought.

Thanks!

[2021-03-02 08:32] nikolaglumac commented on #2238
We are working on adding the support for the passphrase in our current sprint.
You won't need any workaround soon!
Thank you for your patience 🙏

[2021-03-02 10:03] nikolaglumac commented on #2274
The fix for this issue is now available in Daedalus Flight 4.0.0-FC1: https://daedaluswallet.io/en/flight/
We will be releasing it on Daedalus Mainnet next week.
Thank you for the patience!

[2021-03-02 10:03] nikolaglumac commented on #2392
The fix for this issue is now available in Daedalus Flight 4.0.0-FC1: https://daedaluswallet.io/en/flight/
We will be releasing it on Daedalus Mainnet next week.
Thank you for the patience!

[2021-03-02 10:09] Klobbinger commented on #2274
Thanks for your hard and relentless work! Haven't tried the fix yet but trust it'll work!

[2021-03-02 10:16] nikolaglumac commented on #2274
@Klobbinger please let us know if it worked! Thanks 😃

[2021-03-02 10:50] MatsumotoEO commented on #2238
Kudos and Thanks.
Will be waiting for the update.

[2021-03-02 11:06] JasinYip opened #2423 "Why can't we allow volunteers to submit for more translations?"
Cardano is more and more famous, more and more people come from different countries. But now Daedalus wallet still only support English and Japanese.

I found some of Cardano lovers sent pull requests for other language support but all been rejected for the internal maintain process reason. Reply by @nikolaglumac :

![image](https://user-images.githubusercontent.com/7105264/109639150-d2110980-7b89

[2021-03-02 12:12] adamwojt commented on #2419
@nikolaglumac I personally think this is strange way to let user know that storing phrases digitally is not encouraged as this would come up after they would've already stored it digitally.

I think not being able to copy it when created might be enough? Just thinking at loud here.

Ps. Thanks for multi asset support, I am testing `flight` version and it's looking great!

[2021-03-02 13:51] wadie914 commented on #2274
I tried to import the secret key it did not load up

On Tue, Mar 2, 2021, 5:32 AM Klobbinger <notifications@github.com> wrote:

[2021-03-02 14:11] wadie914 commented on #1234
same thig when i use the new fight ?

[2021-03-02 14:19] nikolaglumac commented on #1234
There is no update on this. Please be patient.

[2021-03-02 14:24] wadie914 commented on #1234
you sent me new 4.0 that was you in email right?

[2021-03-02 14:25] nikolaglumac commented on #1234
That was unrelated to this thread.

[2021-03-02 14:31] wadie914 commented on #1234
im sry im lost here so 4.0 is a fix for my situation ?

[2021-03-02 14:31] nikolaglumac commented on #1234
No it is not.

[2021-03-02 14:33] wadie914 commented on #1234
thank you

[2021-03-02 15:12] automaticprofits commented on #1234
Is **0.8.2** a Build or a Version number?

And will it work with the new version 3.3.1 for importing the secret.key file?

Thanks.

[2021-03-02 15:14] nikolaglumac commented on #1234
0.8.2 is the version and the secret.key file it generates is supported in 3.3.1.

[2021-03-02 15:26] automaticprofits commented on #1234
Thank you Nikola.

[2021-03-02 16:02] europound commented on #2238
AMEN! GOD BLESS

[2021-03-02 17:26] nikolaglumac commented on #2423
Hi @JasinYip!

Unfortunately, we still suffer from the same problem...

You need to understand that every single line of text added to Daedalus needs to be proofread and translated into all languages Daedalus supports. This means that we need a dedicated translator and proofreader (as they can not be the same person) for every additional language we show in the UI (so it's 2 more people per single

[2021-03-02 17:27] AndrewWestberg commented on #2307
@nikolaglumac This shouldn't be that complicated. It's been implemented by CNTools, ATADA scripts, and my JorManager. There, it's a slider you just drag to 100%.
![image](https://user-images.githubusercontent.com/245918/109688718-7028b380-7b39-11eb-90c8-a51b91bec33d.png)

[2021-03-02 17:28] nikolaglumac commented on #2307
@AndrewWestberg do any of them use cardano-wallet API?

[2021-03-02 17:30] nikolaglumac commented on #2419
@adamwojt this is just a part of it. The wallet-creation wizard warns the user not to store the recovery phrase in a digital format too.

This is already implemented long ago.

Glad to hear that 😄

[2021-03-02 22:29] matedu commented on #2398
Same on Fedora 33

[code]

[2021-03-02 23:12] gabriela-ponce commented on #2414
@nikolaglumac I can't reproduce this scenario in Mainnet, but I tried to download the rest of the PDF and other files in Daedalus and it worked as expected.

[2021-03-03 00:22] rvl commented on #2307
Hi all, yes this feature is totally dependent on the [cardano-wallet](https://github.com/input-output-hk/cardano-wallet) API, and we're working on it.
Our internal ticket reference is [ADP-680](https://jira.iohk.io/browse/ADP-680).

[2021-03-03 09:22] JasinYip commented on #2347
Unfortunately cardano-wallet isn't able to implement this feature either (via https://github.com/input-output-hk/cardano-wallet/issues/2547#issuecomment-789562114).

So could we get this data via cardano explorer RESTful API when the explorer supports the feature?

[2021-03-03 09:25] nikolaglumac commented on #2347
That is indeed our plan @JasinYip!
We will soon start working on it. Will keep you updated here in the thread!
Thanks for the patience 🙏

[2021-03-03 09:26] nikolaglumac commented on #2414
@gabriela-ponce did you test it on the same Ubuntu version @FelixTruger is using?

[2021-03-03 09:27] nikolaglumac commented on #2398
@disassembler @cleverca22 we really need your help here 🙏

[2021-03-03 09:54] ManusMcCole commented on #2414
Im taking a look now on an 18.04 Ubuntu VM that I have @nikolaglumac

[2021-03-03 11:20] gabriela-ponce commented on #2414
@nikolaglumac Yes, Ubuntu 18.04 (VM)

[2021-03-03 11:21] nikolaglumac commented on #2414
@FelixTruger do you have some special config on your platform?

[2021-03-03 11:32] ManusMcCole commented on #2414
My chain folder transplant kept not working correctly. Syncing chain from scratch 🐢 but I will post results when its done. Im trying on 18.04 also

[2021-03-03 12:01] Klobbinger commented on #2274
@nikolaglumac

Just tested, it works 👍
I noticed the following :
The wallet wants to withdraw the rewards from the account even if the utxo balance is sufficient for the transaction. I'm not sure this is the intended design.

[2021-03-03 12:12] KtorZ commented on #2274
@Klobbinger it is. The wallet will withdraw rewards as soon as they are "worth it" (that is, withdrawing them doesn't cost you more than what they're worth). In principle, as a user you have:

a) no reasons to even know about it
b) no reasons to keep your rewards in a reward account.

When withdrawing, delegation choices are preserved so it is really a transparent operation. Also good to know, the

[2021-03-03 12:35] Klobbinger commented on #2274
@KtorZ it's my understanding that fees cannot be payed from the rewards. That's one of the downsides when switching to a new wallet. You'll need to leave some Ada in the old wallet so you can withdraw the rewards that will come with a delay and since they are automatically redelegated you'll have to withdraw them to a new wallet after every epoch until they are negligible.

The way it worked for m

[2021-03-03 13:10] wadie914 commented on #1234
will 3.3.1 work for me @nikolaglumac

[2021-03-03 13:11] nikolaglumac commented on #1234
No.

[2021-03-03 13:49] nikolaglumac commented on #2274
Perfect! Thanks for letting us know!
I will close this ticker as soon as we release Daedalus Mainnet 4.0.0.

[2021-03-03 13:51] Mendez849 commented on #2362
@automaticprofits Hello Mate, Sorry to hear about your issue, you can contact Atomic Wallet Support on Telegram via the weblink www.t.me/theatomicwallet. They'll be happy to resolve your issue. Cheers.

[2021-03-03 15:13] ManusMcCole commented on #2417
I tested this and my findings are in line with @nocmonkey. I restored the seed from my Ledger Nano S (balance of 15 ADA) on my Trezor Model T and it restores an empty wallet in Daedalus @nikolaglumac

[2021-03-03 15:14] nikolaglumac commented on #2417
What about restoring the same BTC wallet in both Trezor and Ledger?

[2021-03-03 15:39] vicente-pinto commented on #1234
Hello! I have been reading the forum all night and I share the same error as many that is the Secret.key file I have all the information from my previous Deadalus version but I don't have the phrases to restore my wallet and I think the Secret.key file is encrypted or corrupt. Is there a way to restore the file so that the Deadalus app can read it?
 Thank you very much 🙌🏼

[2021-03-03 15:48] ManusMcCole commented on #2417
Yes it seems they are standard across devices.I found this online "Ledger and Trezor support the same consensus standards and so the seeds are reversible. You can use a Ledger seed on Trezor, and you can use a Trezor Seed on Ledger, which we will go over today" at https://medium.com/@vasyavovich87/how-to-restore-ledger-wallet-with-trezor-wallet-seed-backup-ed5498d3588f. Is that sufficient confirma

[2021-03-03 16:14] ManusMcCole commented on #2417
I tested it with my Ledger and Trezor and for BTC it restores the same wallet @nikolaglumac

[2021-03-03 16:42] alex-stout opened #2430 "Daedalus.io Broken Link"
Hi,

I couldn't find the repo for the website, so I'm posting this here. The link to this repo is not working on the daedalus.io link.

The specific link that's not working is:
<img width="1581" alt="Screen Shot 2021-03-03 at 10 40 03 AM" src="https://user-images.githubusercontent.com/17804548/109839646-f104af80-7c0c-11eb-941c-8bdbe02327cd.png">

The link is pointed to `https://github.com/input-ou

[2021-03-03 17:22] nikolaglumac commented on #2417
OK thanks @ManusMcCole. This is very interesting and I guess we should have a broader discussion on this topic with @darko-mijic @KtorZ and @rvl.

[2021-03-03 17:27] KtorZ commented on #2417
Hi. This is "normal". Ledger and Trezor uses a different algorithm for generate root keys from seed. Trezor uses even a different method between 18-word phrases and 24-word phrases. You can find more details here: https://github.com/cardano-foundation/CIPs/blob/master/CIP-0003/CIP-0003.md

Also: Cardano is not Bitcoin :blush: ...

[2021-03-03 17:32] nikolaglumac commented on #1234
@vicente-pinto did you use the "Wallet import" feature as described in https://iohk.zendesk.com/hc/en-us/articles/900000623463-Importing-wallets ?

[2021-03-03 17:33] nikolaglumac commented on #1234
@wadie914 I will announce the fix for the issue here in this thread. You don't have to check new Daedalus releases for the fix in case I haven't announced it here.
Thanks for the patience!

[2021-03-03 17:35] nikolaglumac commented on #2417
Thanks @KtorZ! With that being said I will now close this ticket.
@nocmonkey we suggest you to use another Ledger device as a backup for Ledgers, and another Trezor device as a backup for Trezors. Thanks!

[2021-03-03 17:35] #2417 closed

[2021-03-03 17:36] nikolaglumac commented on #2430
What is the URL of this website @alex-stout?

[2021-03-03 17:45] nikolaglumac commented on #2430
I found it - will report to our web team. Thanks for reporting!

![Screenshot 2021-03-03 at 18 44 46](https://user-images.githubusercontent.com/376611/109848441-8ffecb00-7c50-11eb-9221-cf24b4989b93.png)

[2021-03-03 17:45] FelixTruger commented on #2414
To be more precise, I was using Lubuntu (i.e., LXDE). But I guess it was just a sporadic error. In the meantime, I tried again to save the PDF (after rebooting) which worked just fine. I don't think this will be reproducable. I just meant to inform you that it seemed like there was missing exception handling in this crucial step.

Thanks everyone for checking it out,

Kind regards

[2021-03-03 17:49] nikolaglumac commented on #2414
Thanks for letting us know @FelixTruger!
Glad it is working for you now.
Closing this issue...

[2021-03-03 17:49] #2414 closed

[2021-03-03 17:55] nikolaglumac commented on #2423
I will close this issue as our process doesn't allow us to accept external contributions in terms of additional language translations. We are considering adding more languages and I hope we will be able to add them soon.
Thank you for your patience!

[2021-03-03 17:55] #2423 closed

[2021-03-03 17:59] wadie914 commented on #1234
Thank you  much appreciate it

On Wed, Mar 3, 2021, 12:33 PM Nikola Glumac <notifications@github.com>
wrote:

[2021-03-03 21:25] Benruren opened #2435 "Cardano launcher fails, due to update 3.3.2"
I downloaded the install file for the update but installation failed, and now I cannot start Daedalus. Thoughts?
![Capture](https://user-images.githubusercontent.com/59262178/109874437-08708680-7c67-11eb-915f-f952de10cfba.PNG)

[2021-03-03 21:30] nikolaglumac commented on #2435
Try restarting your machine. Most likely you had old version of Daedalus running while attempting to install/run the new one.

[2021-03-03 21:42] Benruren commented on #2435
Thank you, it worked just fine! It really is amazing how the simplest fix is generally the solution. I restarted and it allowed me to install and login. It took its sweet time to login but that he did. Thank you again!

[2021-03-03 21:56] #2435 closed

[2021-03-03 22:40] cdoubleu opened #2436 "MacOS Big Sur - Daedalus Wallet PKG file - GPG Trusted Signature"
I've been following the instructions on https://daedaluswallet.io/en/download/ to download and install the Daedalus Wallet.

After clicking the "Verify Signature Instructions" link, I've been able to follow all of the steps up to step 7.

In step 7 it states...
The Verification Results dialog will then appear with the verdict in the Result column:
- “Signed by: IOHK Signing Authority 1471941A -- f

[2021-03-04 00:25] andresgalvis12 commented on #2238
Im having the same issue... any updates related with this problem???

[2021-03-04 01:02] vicente-pinto commented on #1234
If I have tried, but the message "Wallet not found, make sure you have selected a valid secret key file"

[2021-03-04 01:03] rdlrt opened #2437 "Allow manual refresh/download for a specific pool's metadata"
This is a feature request for the UI part of capability (against `cardano-wallet` [here](https://github.com/input-output-hk/cardano-wallet/issues/2551) ).

It would be nice to add a refresh metadata against a pool ID to be able to fetch up-to-date information independently of SMASH server status, given that 99% of users cant be bothered with adding a custom SMASH server instance in settings, unles

[2021-03-04 01:04] vicente-pinto commented on #1234
As I mentioned, I think the secret.key is encrypted and the app can't read it or something like that.  is there any way to restore that file?

[2021-03-04 01:43] rvl commented on #2437
If you need to refresh stake pools metadata, go to the Stake pools settings in Daedalus, and select "None". Then (optionally) select "IOHK" again.

[2021-03-04 04:28] rdlrt commented on #2437
@rvl
First - this assumes the pool ID is correctly showing up in smash already, which is not always the case.
Secondly - switching to `None` and then back would mean end user starts rebuilding pool DB for *every* pool from smash (even those that were correct), resulting in wait.

Again, these are not issues that I face, but it gives a very frustrating UX , especially when user knows the pool ID, c

[2021-03-04 08:00] nikolaglumac commented on #2437
@rdlrt we are working on extending the list of stake pools that are shown in Daedalus so that you can view stake pools without metadata as well as the private ones (profit margin === 100). This will enable you to delegate to stake pools that do not have any metadata too. The feature you are requesting is the "next step" in case this is doable on the cardano-wallet side since we depend on it's Api.

[2021-03-04 08:02] nikolaglumac commented on #1234
If that is the case @vicente-pinto, I am afraid you will have to wait until the support for your version of secret.key file is added.
@KtorZ is working on that but there is no clear ETA at the moment.
There is no other option for you rather than to be patient and wait for us to announce a fix is in place.
Thanks for the patience!

[2021-03-04 08:03] nikolaglumac commented on #2238
As announced 2 days ago (https://github.com/input-output-hk/daedalus/issues/2238#issuecomment-788725124), we are working on this in our current sprint. If everything goes well, you can expect this issue to be resolved within a week or two.
I will post all relevant updates to this thread.
Thanks for the patience! 🙏

[2021-03-04 08:07] nikolaglumac commented on #2436
@ManusMcCole @miorsufianiohk @gabriela-ponce can you please assist us here and explain what is the expected result?

[2021-03-04 08:22] dadepo opened #2438 "Daedalus not connecting to network after update to 3.3.2"
I recently upgraded Daedalus 3.3.2 and shortly after, the wallet could not connect to the network. This has been the case for over 24hrs now.

I initially thought maybe my ISP was blocking the network, but I tried with TunnelBear VPN and still the same.

Here is the output of running `uname -a`:

`MacBook-Air-2.local 20.1.0 Darwin Kernel Version 20.1.0: Sat Oct 31 00:07:11 PDT 2020; root:xnu-7195.

[2021-03-04 08:25] dadepo commented on #2438
Here is the logs, I downloaded it from the page that shows up after not being able to connect to the network. I thought it might be helpful to also have this.

[logs-2021-03-03T214251.0162Z.zip](https://github.com/input-output-hk/daedalus/files/6081919/logs-2021-03-03T214251.0162Z.zip)

[2021-03-04 08:26] nikolaglumac commented on #2438
Please try restarting the machine.

[2021-03-04 08:28] dadepo commented on #2438
I have tried restarting the machine also. That did not help

[2021-03-04 08:39] dadepo commented on #2438
Don't know if this has anything to do with the issue. But I withdraw some funds from an exchange to the wallet, and the signs of trouble started when the funds was not being reflected in my wallet. I then restarted the wallet and since then it has refused to be synced with the network

[2021-03-04 08:40] nikolaglumac commented on #2438
@dadepo we will check the logs. Thanks for the patience.

[2021-03-04 08:53] nikolaglumac commented on #2438
Logs point to some cardano-node errors:

[code]

@rvl @dcoutts can you assist us here? 🙏

[2021-03-04 09:42] miorsufianiohk commented on #2436
Hi @cdoubleu.

I hope that you are well and thank you for contacting us. Could I check that what you saw was similar to the following:

![Screenshot 2021-03-04 at 09 31 42](https://user-images.githubusercontent.com/67595081/109943168-d0039380-7ccc-11eb-89a5-d48f9fe032fe.png)

If it is, then the signature is ours, has been verified and can be trusted.

The reason why the expected behaviour on Step

[2021-03-04 10:06] nikolaglumac commented on #2436
OK I will notify the web team! Thanks!

[2021-03-04 13:09] wadie914 commented on #1234
The wallet import feature is reenabled in Daedalus 3.3.2. This feature enables you to import wallets from ‘secret.key’ files of old versions of Daedalus (Daedalus version 0.15.1 and earlier.)

still no wallets found when i try

[2021-03-04 13:14] nikolaglumac commented on #1234
@wadie914 please see https://github.com/input-output-hk/daedalus/issues/1234#issuecomment-789913929

[2021-03-04 13:21] wadie914 commented on #1234
just showing email i got from IOHK

[2021-03-04 14:57] JamesRobertKelley commented on #2419
I prefer to paste instead of type because of key loggers. I've actually pulled words out of the BIP list to drag and drop before.

[2021-03-04 15:55] PSLLSP commented on #2438
I observe similar probem at Linux (Ubuntu).
Linux build 16919, Cardano Node 1.25.1, Cardano Wallet 2021.2.15

Sync status is 91.52% and it doesn't continue, Daedalus reports it cannot connect to network. I cannot see any problem with network connection and I see more than 200 GB of free disk space. I tried to restart wallet but issue is not fixed. Diagnostic screen reports that Cardano node is not

[2021-03-04 16:51] nikolaglumac commented on #2438
@PSLLSP can you also share your logs?

[2021-03-04 18:01] eddex commented on #2438
I have similar issues on Windows 10. I'm using a fresh installation of v3.3.2, never had the app or any other Cardano wallet installed on this system before.

Windows build 16919, Cardano Node 1.25.1, Cardano Wallet 2021.2.15
[logs-2021-03-04T153520.0574Z.zip](https://github.com/input-output-hk/daedalus/files/6085697/logs-2021-03-04T153520.0574Z.zip)

When I open the app, at first the "Cardano nod

[2021-03-04 18:59] nikolaglumac commented on #2438
@PSLLSP @dadepo can you perhaps also check if the problem persists while using VPN?

[2021-03-04 19:19] dadepo commented on #2438
Yes. I did check with VPN yesterday, and also checked again now. Issue still persist