[2021-08-31 18:32] brandonmcgarvey opened #2656 "Share wallet address - Unable to select "You have verified the address""
Daedauls 4.2.1
Windows 10 21H1
Using with Trezor Model T

IMO, this is a rather low priority issue, but I am no longer able to select the "You have verified the address" check box when using the share wallet address from Receive menu. I am using this with a Trezor Model T hardware wallet if relevant. The Export key properly comes up on the device, which I confirm and then address comes up as well,

[2021-08-31 18:36] nikolaglumac commented on #2656
cc @tomislavhoracek

[2021-08-31 19:05] tomislavhoracek commented on #2656
@brandonmcgarvey  Thank you for contacting us and for the detailed instructions. We will have this check and get back to you as soon as possible.

[2021-09-01 01:13] mrbrinker opened #2657 "Daedalus failing to calculate TX fees"
I am running Daedalus Flight 4.2.1#18759 on a Linux machine with Ubuntu 20.04.

When trying to send multiple NFTs and Native tokens my wallet just do not calculate the tx fee therefore I am nit able to send these tokens. It might be a cardano-wallet issue but thought I would file here first/

Please find logs attached.
[logs-2021-09-01T010024.0487Z.zip](https://github.com/input-output-hk/daedalus/

[2021-09-01 14:16] miorsufianiohk commented on #2657
Hi @mrbrinker ,

Thank you for contacting us. I have been wondering if you could give another try please as I have experienced this issue before due to intermittent internet connection. If the issue still persists, we could rule the internet out. If possible, could you attempt the transaction using the Mainnet build which could be downloaded from [here](https://daedaluswallet.io/en/download/)

In

[2021-09-02 09:41] nikolaglumac commented on #2657
@mrbrinker how many NFTs are you trying to send within the same transaction?

[2021-09-02 09:55] mrbrinker commented on #2657
@miorsufianiohk I doubt internet was an issue but I will set up a mainet one and try again. @nikolaglumac it was 46 NFTs.

[2021-09-02 10:21] mrbrinker commented on #2657
@nikolaglumac  I saw that issue months ago  but once I saw it mentioning the problem had been resolved in Daedalus 4.2.0, I assumed should be fine to send more NFTs. Am I not getting something?

[2021-09-02 10:23] nikolaglumac commented on #2657
I would not recommend sending over 20 NFTs at once (30 max!).
This is the limitation of the system at the moment.

[2021-09-03 13:10] tomislavhoracek commented on #2656
@brandonmcgarvey  I checked the issue. "You have verified the address" label / checkbox is not clickable. Are you able to scroll to the bottom and select one of the answers (yes / no,reverify)? Once you click that, "You have verified the address" checkbox should be checked or you will proceed with the re-verifying process.

![Trezor verification](https://user-images.githubusercontent.com/18653950/

[2021-09-03 13:16] brandonmcgarvey commented on #2656
🤦‍♂️Well I feel kind of of dumb. Yes that worked. I didn't even realize that was there, but I know before I was able to just check the box. Thank you for taking the time.

[2021-09-03 13:16] #2656 closed

[2021-09-03 13:19] tomislavhoracek commented on #2656
@brandonmcgarvey hehe no worries, we are here to help!

[2021-09-03 14:20] andr3 commented on #2590
I wonder if we could have some level of personal customization?

Ideas:
1. A Setting to attempt to render any ipfs/arweave/... link in the minting metadta where the MIME type is an image as thumbnail "Render images in metadata as thumbnails".
1. Ability to manually "name" an asset. "Add a custom name" feature, where the user would write the name for which it would be identified in the list.
1. Abi

[2021-09-04 00:18] abdellahaski opened #2659 "Daedalus Testnet Sync get stuck at slot 426654 epoch 153"
Hello,
My Daedalus Testnet sync gets stuck every time on that slot, I tried restarting everything, I uninstalled and reinstalled it again but still the same.

Logs: [Google Drive](https://drive.google.com/drive/folders/1upNNgJxrUjzK7wYZICyiUBmB5m4FBJHR?usp=sharing)

[2021-09-04 06:19] nikolaglumac commented on #2659
What is the version of your Daedalus Testnet?

[2021-09-04 10:37] benapetr commented on #2505
is there any tool that allows you to display a wallet balance when you just give it one of the wallet addresses? All tools that claim they can do this failed on unstaked wallets, it was only possible when wallet was staked. You are right that each wallet has a stake key, but only staked wallet has this key written into blockchain and publicly searchable.

[2021-09-04 13:45] abdellahaski commented on #2659
It's v4.3.0

[2021-09-04 13:49] SR-Lut3t1um opened #2660 "Not working on Windows on ARM"
I'm getting an issue that the application is not supported on windows that run on ARM. Sadly the batch file mentioned in the readme does not exist. Otherwise I would have tried to just change the platform target. Kindest Regards

[2021-09-04 20:44] HartS commented on #2505
@benapetr regardless of whether a tool exists right now, the stake keys are embedded in the addresses. You can use the `bech32` command included in https://github.com/input-output-hk/cardano-wallet to get the stake key (the last 56 characters of the output). Someone posted an example [here](https://forum.cardano.org/t/how-to-derive-stake-key-from-wallet-address/40688)

I just did this for several

[2021-09-05 08:28] diicasses opened #2661 "Daeladus + Other Wallets Unable to send $ADA to wallet address to change Pledge"
The wallet address on pools uses the oldest address, I've had too many transactions on my old address and I am now unable to send myself more than 1800 ADA to change my Pledge. I don't want to send multiple small transactions and get all those fees.

The only solution I see is creating an entirely new hardware wallet and sending the ADA to that wallet. But considering my pool is setup with my hard

[2021-09-05 17:14] rcmorano commented on #2613
Any plans on integrating this CIP anytime soon? It would become very handy for a project we are working on.

[2021-09-05 18:13] Sunset17 commented on #2613
Is this to me?

[2021-09-06 06:17] nikolaglumac commented on #2613
Not in the next couple of sprints due to Alonzo and other higher priority work.
I will let you know once it gets scheduled for work.
Thanks for the patience!

[2021-09-06 09:39] nikolaglumac commented on #2660
Sorry to disappoint you but running Daedalus on Windows running on ARM is not supported.

[2021-09-06 09:39] #2660 closed

[2021-09-06 09:48] nikolaglumac commented on #2659
@abdellahaski can you try to do a full re-sync please?

[2021-09-06 11:47] dmitrii-gaico commented on #2659
@nikolaglumac I installed Testnet latest dev build 4.3.0 \ 1.29.0 and was able to sync 0-100% with no issues or stuck states. Last network block 154.
@abdellahaski Could you please make sure you are following the Uninstall instruction and try to re-sync from the scratch ?
Instruction below :
https://iohk.zendesk.com/hc/en-us/articles/360013170694-Uninstall-Daedalus-and-remove-wallet-s-data

[2021-09-06 14:05] abdellahaski commented on #2659
Hello, Thanks guys for the help but unfortunately I still face the same issue I installed and removed all the files, reinstalled again, and got stuck on epoch 153, restarted the Node still the same.

The mainnet is working without a problem, and also I have a small Ubuntu server on the same network running a Testnet node that syncs without a problem. (it's currently not running)

![image](https://

[2021-09-06 23:48] danger89 commented on #605
Thanks for rolling-out smart contracts rather soon than later on the mainnet, so you can update Daedalus with those must needed features indeed!

[2021-09-07 06:07] davelab6 commented on #643
@LukeL99 this imported correctly for me, I didn't double check it worked as expected within cointracking. I ran it unmodified in Google CoLab and wondered how to download the CSV file from there; I appended these 2 lines to the end and got a link to download, apparently this requires Chrome/Chromium.

[code]

[2021-09-07 08:13] nikolaglumac commented on #2659
Thanks for the details! We will investigate further...

[2021-09-07 08:46] dmitrii-gaico commented on #2659
@abdellahaski Hello, hope you are fine.
Could you please do the steps below as I would like to gather more information for further research.
1. Clean Daedalus re-install ( I believe you already did it and this did not resolved the issue. However let's do it one more time to keep logs small.
2. Once you face the issue and you are stuck at epoch 153 please Close the Daedalus and then attach the Node

[2021-09-07 11:31] nikolaglumac commented on #2505
@HartS please read my earlier comment https://github.com/input-output-hk/daedalus/issues/2505#issuecomment-820344343

I think you are missing the point of how UTXO accounting works - your funds are "contained" in UTXOs not addresses.
The change you are proposing would need to be implemented on cardano-wallet side first: https://github.com/input-output-hk/cardano-wallet

[2021-09-07 11:33] nikolaglumac commented on #2590
cc @darko-mijic @daniloprates @alexander-rukin

[2021-09-07 11:45] benapetr commented on #2505
just a reminder I already opened this also there in cardano-wallet https://github.com/input-output-hk/cardano-wallet/issues/2614 but it's being somewhat ignored, devs over there seem way less active than here in daedalus repo.

[2021-09-07 11:51] nikolaglumac commented on #2505
I would not say they are less active - they are equally interested in helping our users and the community! All of us at IOHK share this same mission! We are all under a heavy load due to the Alonzo work and I am sure you will get a response from the Adrestia team soon after Alonzo is rolled out.
Thanks for all the support and the patience 🙏

[2021-09-07 22:01] danger89 opened #2662 "FR: Changing the mainnet storage location within the GUI"
As a user I would like to change the blockchain (mainnet) storage location to another directory.

I expect those settings some where in the settings menu or wallet menu. Thus _without_ symlinks I want to be able to easily select another directory and/or disk where the data got stored on.

Please, these are important low-hanging fruit that needs to be solved, otherwise people will keep using adalit

[2021-09-08 07:52] nikolaglumac commented on #2662
Closing as this is a duplicate of https://github.com/input-output-hk/daedalus/issues/605
We have this item in our backlog and we will let you know as soon it gets scheduled for implementation.
This feature is very much needed and we will make sure to add it.
Thanks for the patience!

[2021-09-08 07:52] #2662 closed

[2021-09-08 12:31] saeed-saeedi opened #2664 "SSE4 support for installing daedalus"
On an old machine with dual core, I can install daedalus on windows 10, but on the same machine when I want install daedalus on ubuntu 20.04, it says "ERROR: your cpu lacks sse4 support, cardano will not work"

[2021-09-08 13:14] nikolaglumac commented on #2664
I would say this has to be due to specifics of your Linux setup.
@disassembler @cleverca22 any clue?

[2021-09-08 15:28] saeed-saeedi commented on #2664
I tried a minimum installation for ubuntu. is thee any missing packages? I ran update and upgrade before daedalus installation.

[2021-09-09 13:25] mareksoha commented on #1895
any update on this please? it should be easy change though.

[2021-09-09 13:53] hodlonaut commented on #2488
Has anything happened on this front since 20th of May? Just wondering...

[2021-09-09 14:26] hodlonaut opened #2666 "Pool fee information shown can be misleading"
Steps to reproduce the issue:
1. Register stake pool with 0% variable fee
2. Wait for pool to appear in Daedalus wallet
3. Near the end of the epoch modify the pool and change variable fee to 100% - a few minutes later Daedalus will show pool fee as 50%
4. Wait for epoch boundary and snapshot, then half an hour into new epoch modify the pool and change variable fee to 0% - a few minutes later Daed

[2021-09-09 17:33] aleincsharp commented on #2488
Yes, working again on it after a forced break...will try to release first steps soon.

[2021-09-10 08:52] nikolaglumac commented on #2666
Daedalus gets this information from the [CWB](https://github.com/input-output-hk/cardano-wallet). So this is more of a question for the Adrestia team.
What do you think @rvl ?

[2021-09-13 02:44] sitcsitc opened #2669 "checksum and signature fail for latest (4.3.1) version on download page!"
This is alarming!
I was about to download from https://daedaluswallet.io/en/download/

both verifications fail:
e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855  daedalus-4.3.1-mainnet-18992.bin
and
gpg: BAD signature from "IOHK Signing Authority <signing.authority@iohk.io>" [full]

[2021-09-13 06:01] nikolaglumac commented on #2669
@dmitrii-gaico can you please check this?

[2021-09-13 06:30] nikolaglumac commented on #2659
Any news @abdellahaski? We would really appreciate if you could send us the info @dmitrii-gaico requested 🙏

[2021-09-13 07:15] dmitrii-gaico commented on #2669
@sitcsitc Hello and thank you for your report.
Could you please share more information about your "verification fail" such as which exactly steps were used and would you also mind to attach screenshots of outputs for our further research.

From my side both verifications Passed. Please see details below.

SHA256
![image](https://user-images.githubusercontent.com/83477982/133039707-32a859a2-baf9-41

[2021-09-13 10:59] abdellahaski commented on #2659
Sorry, I wasn't able to provide the info, was on vacation :).
Actually, an update to 4.3.1 resolved the issue, it's syncing now to 100%.
Thanks guys for the help

[2021-09-13 11:00] nikolaglumac commented on #2659
Glad to hear that!
Thanks for letting us know!

[2021-09-13 11:00] #2659 closed

[2021-09-13 13:32] nikolaglumac commented on #2669
cc @CarlosLopezDeLara @jakewyo

[2021-09-13 13:56] sitcsitc commented on #2669
Thank you for looking into this! I now see that my / partition was full and the download of daedalus binary was corrupted. Thank you for taking this seriously and sorry for the noise.

gpg: Good signature from "IOHK Signing Authority <signing.authority@iohk.io>" [full]

[2021-09-13 14:48] dmitrii-gaico commented on #2669
@sitcsitc nice to hear it worked fine for you. Closing the ticket as it was resolved.
cc @nikolaglumac

[2021-09-13 14:48] #2669 closed

[2021-09-14 17:26] dessalines commented on #2514
I'm still getting this issue, even after a time sync.

[2021-09-15 06:07] nikolaglumac commented on #2514
@dessalines it sometimes takes a long time for the node to start up. Sometimes up to 30 to 60 mins. Please let it run and see if it recovers. If not, then please let us know and provide the logs. Thanks!

[2021-09-15 15:12] lucassimon opened #2674 "I would like to translate the messages for portuguese pt_BR"
Hi I would like to translate the `locales` and `i18n` message files to Brazilian Portuguese.

And for that is there any command to generate these `locales` in each folder? Or just copy and paste the `en-US` file and proceed with the translation?

**Files**

- `https://github.com/input-output-hk/daedalus/blob/develop/translations/translation-runner.js`

- [ ] Adds `pt-BR` on the array

**locales/i1

[2021-09-17 09:11] nikolaglumac commented on #2674
Thank you for your contribution! Unfortunately, at this moment in time, we can not accept this translation as it would be hard to maintain it without internal translation/audit process.

[2021-09-17 09:11] #2674 closed

[2021-09-20 03:28] Diatrus opened #2677 "Native Apple ARM64 Support"
Creating issue in hopes of having an installer for a native M1 version of Daedalus

[2021-09-20 13:21] nikolaglumac commented on #2519
This issue has been fixed in https://github.com/input-output-hk/daedalus/pull/2673
Is to be released in the next Daedalus version.

[2021-09-20 14:10] Zerophase opened #2678 "Cardano-sl still in use by build-installer-unix.sh"
Looking at the Cardano-sl repo it's supposedly deprecated in favor of another script. It's still being used by build-installer-unix.sh. Should it still be in use for a Nix install?

[2021-09-20 20:30] AaronGenereaux opened #2679 "unable to restore my wallet Daedalus wallet"

[2021-09-20 20:38] AaronGenereaux commented on #2679
i am a new user.

I get "an error occurred" after clicking continue from the "wallet name, spending password creation page"
I have two wallet recovery phrase's and I have tried them both. They both verify but then when I go to the next step I get the aforementioned.

I tried deleting Daedalus and reinstalling already.

[2021-09-21 08:32] miorsufianiohk commented on #2677
Dear @Diatrus ,

Thank you for the request. We do have a plan to release the arm version of Daedalus. Once, it's completed we will let everyone know via our normal communication channel.

Kind regards,
Mior

[2021-09-21 08:39] miorsufianiohk commented on #2677
Hi @danielmain,

Created Jira ticket is [here ](https://input-output.atlassian.net/browse/DDW-745)

Thanks,
Mior

[2021-09-21 08:49] miorsufianiohk commented on #2679
Hi @AaronGenereaux ,

Thank you for contacting us. From the log, I could see that you might have attempted to restore the same wallets many times. After deleting and reinstalling Daedalus, did it fix your issue?

Thanks,
Mior

[2021-09-23 09:14] danielmain commented on #2678
Hi @Zerophase, I was looking in our source code and in fact we are not using cardano-sl anymore. Could you pls tell me on in which line of https://github.com/input-output-hk/daedalus/blob/develop/scripts/build-installer-unix.sh you mean ?

Thank you!

[2021-09-23 20:05] Zerophase commented on #2678
Let me see if I can find it. I'll have to reconfigure my PKGBUILD to test.

[2021-09-24 11:57] OlegWebmaster commented on #2535
![2021-09-24_14-55](https://user-images.githubusercontent.com/18643614/134670383-fab99a4e-0f40-48e4-b53d-2ccead815226.png)
It isn't normal memory usage, I think!

[2021-09-24 14:34] nikolaglumac commented on #2535
@OlegWebmaster please open a ticket on https://github.com/input-output-hk/cardano-node
Thanks!

[2021-09-27 16:11] kimiotakemura opened #2682 "How to clear cached mainnet files?"
Daedalus took about 12~15GB of my disk space, I would like to clear the downloaded files. is it possible? if i can delete them, can i still use the wallet?

[2021-09-28 08:06] nikolaglumac commented on #2682
You can not continue using Daedalus if you delete the downloaded data.
You will also lose all your wallets if you do that so make sure to have their wallet recovery phrases safely stored.

All the downloaded data is stored in the so-called "state" directory. You can find more about it in the following article: https://iohk.zendesk.com/hc/en-us/articles/360013170694-Uninstall-Daedalus-and-remove-wa

[2021-09-28 08:06] #2682 closed

[2021-09-30 05:53] miorsufianiohk commented on #2679
Closing this issue. Considered fixed.

[2021-09-30 05:53] #2679 closed

[2021-09-30 13:47] endlessbux commented on #1234
@KtorZ is there somewhere I can follow the development of this feature?
Also, is there any way I can help coding this up?

[2021-10-03 15:41] Klobbinger opened #2688 "Potential rewards sometimes are not displayed according to slider value."
See screenshot. The amount on the slider was manually chosen. This happens sporadically. Sometimes it will show the correct rewards estimation, other times it'll show the amount corresponding to the default 1000 ADA.

![grafik](https://user-images.githubusercontent.com/67224145/135761236-b94ddf90-40e4-43ac-ae42-bc41c0a536ea.png)

[2021-10-03 16:28] Klobbinger opened #2689 "Estimated rewards for pools outside top k pools incorrect"
Follwing the design specifications the non-myopic rewards for pools outside the top k ranking should be calculated without any user stake. Only operator pledge and the stake the user is planning to delegate should be considered for that calculation. This is opposed to top k pools where it is assumed that the pool is 100% saturated for the calculation.

If the potential rewards were calculated corr

[2021-10-03 23:44] hodlonaut commented on #2179
Where are we at with regards to notifications in Daedalus front? Any progress made since the start of the year that is coming to mainnet?

[2021-10-04 10:27] nikolaglumac commented on #2179
Sorry to disappoint, but there is still no way for Daedalus to actively track pool changes. We can not collect historical data as we depend on the data we get while Daedalus is running. We might explore the idea of tracking those changes (AKA. between now and last time you ran Daedalus) but that's about it for now :-(
cc @daniloprates @alexander-rukin @mariusb

[2021-10-04 11:00] miorsufianiohk commented on #2688
Dear @Klobbinger ,

Thank you for letting us know. We will investigate and let you know in due course.

Kind regards,
Mior

[2021-10-04 11:01] miorsufianiohk commented on #2689
Dear @Klobbinger ,

Thank you for letting us know. We will investigate and let you know in due course.

Kind regards,
Mior

[2021-10-04 11:42] hodlonaut commented on #2316
@nikolaglumac Any idea whether this improvement (that has been implemented by Yoroi wallet already since this github issue was originally raised in Daedalus repo) has progressed in the backlog?

[2021-10-04 11:54] rdlrt commented on #2179
I feel horribly wrong to comment on how big a gap conceptually could be from above statement to where we are now (which got turned into generic vague news feed).

Regardless, as far as I am concerned, this issue can be closed, I didn't expect things to go any different when I commented last. It seems yhe issue is apparently not big enough as UI frontend glitter, besides - from tg support point of

[2021-10-04 11:54] #2179 closed

[2021-10-05 17:49] jflayhart commented on #2689
can confirm as I was playing around with the slider.

[2021-10-05 17:56] Klobbinger commented on #2689
What you describe seems to be more related to issue #2688

[2021-10-05 23:20] ahaxu opened #2692 "Daedalus (v4.3.2) exit unexpected when cardano-node synced nearly 99% (on fedora 34)"
Daedalus (v4.3.2) exit unexpected when cardano-node synced nearly 99%

System information

[code]

Daedalus information
![Screenshot from 2021-10-06 05-55-11](https://user-images.githubusercontent.com/81793148/136114583-09b029b0-09d6-488e-ab68-9e523a3853a0.png)

![Screenshot from 2021-10-06 06-42-02](https://user-images.githubusercontent.com/81793148/136117635-bc24c4da-130b-4381-8ab9-925a92abfc72.

[2021-10-06 06:54] #2692 closed

[2021-10-06 07:33] ahaxu commented on #2692
How about adding swap space memory? @nikolaglumac

[2021-10-06 07:35] nikolaglumac commented on #2692
Well, you can try that but I can't give you any guarantees.

[2021-10-06 09:52] Klobbinger commented on #2689
@miorsufianiohk
Daedalus 4.3.1

Edition	Windows 10 Home
Version	21H1
Installiert am	‎30.‎08.‎2020
Betriebssystembuild	19043.1237
Leistung	Windows Feature Experience Pack 120.2212.3530.0

[2021-10-06 23:38] bhlevca opened #2694 "Daedalus crashes on 10 bit/color (30 bit) displays on Linux -"
Daedalus (4.3.1 stable, not flight) crashes at startup. From start posts 2 errors and it ends after it retries a few times. See below.

I suspected from the start that the color space may be a problem and the last message about the compositor confirmed it.

I believe that it is a small fix to make it work. All the applications that I have using Electron except Daedalus work. I see that Daedalus is

[2021-10-07 02:45] angelstakepool opened #2695 "Daedalus testnet 4.3.2 crashes on windows 10"
Replaced Daedalus Testnet 4.3.1 and now this version crashes all the time.  Deleted the user profile folder and issue persists

[2021-10-07 03:31] ahaxu commented on #2692
thanks @nikolaglumac

[2021-10-07 08:01] nikolaglumac commented on #2695
Sorry to hear about these issues @angelstakepool :-(
Please first make sure you have your wallet recovery phrases safely stored and then proceed to:
- [Locate the state directory](https://iohk.zendesk.com/hc/en-us/articles/360039391494-Open-the-state-directory) of the **Testnet** instance (be careful not to delete the Mainnet one)
- Close Daedalus Testnet
- Uninstall Daedalus Testnet
- Delete the

[2021-10-07 08:54] nikolaglumac commented on #2316
@daniloprates is this included in https://github.com/input-output-hk/daedalus/pull/2649 ?

[2021-10-08 07:37] katakombi opened #2696 "Can't send token in transaction: "Not enough ada. Try to move a smaller amount!""
I'd like to move a share of my WMT tokens from one wallet to another using Daedalus. I plan to get this done until Monday because I'd like to stake only a portion of these.

However, it always fails with a note "Not enough ada. Try to move a smaller amount!" This happens AFTER I type the spending password. I even deposited some additional Ada in case that would be the problem and my balance shows

[2021-10-08 08:52] nikolaglumac commented on #2696
Are you sure this is an official Daedalus Mainnet?
The latest version is 4.3.1 and not 4.3.2...

[2021-10-08 08:53] katakombi commented on #2696
Yep... sorry my wrong: I am running version 4.3.1, mainnet

[2021-10-08 10:47] nikolaglumac commented on #2696
I believe the problem is that there is not enough ada left in the wallet to cover the remaining WMT tokens.
Please try send more ada to this wallet (so that it totals at least 10 ADA) and then try to send out the amount that the wallet recommends.

Unlikely. If you want to test it out you can use the "Change password" option on the wallet "Settings" screen.

[2021-10-11 05:37] camdhxd opened #2699 "I had created new my pool stake, but not show in cardano pools (https://pooltool.io/ or https://adapools.org/)"
Dear Supporters

I had created new my pool stake. After 8 hours created, i check it in cardano pools (https://pooltool.io/ or https://adapools.org/)
but it not found in the search. Please help me!

My Producer Node
{
"name": "JAPAN1-WORLD",
"description": "Low fee.Powerful AWScloud,Experience security,development.Safety,prosperity,growth of your asset",
"ticker": "JAPAN"
}

I checked the log and c

[2021-10-11 07:56] #2699 closed, assigned to nikolaglumac

[2021-10-11 15:05] nikolaglumac commented on #2694
Daedalus setup on Linux is quite specific.
Hope @cleverca22 will have time to look into this.

[2021-10-12 09:07] tomyfalgui commented on #2695
https://gist.github.com/tomyfalgui/fae9e38f1d81c1281e5fc686d08f3941

Here @nikolaglumac

[2021-10-12 14:52] tomyfalgui commented on #2695
yep,  the same thing happens for me. i was able to start it up once when i first synced the cardano-node. subsequent uses just made it crash immediately. The daedalus window would pop up, the logo would show and then it would freeze and exit.

[2021-10-12 15:09] angelstakepool commented on #2695
vanishes -> 🎩

[2021-10-13 08:44] fhcalderon87 opened #2706 "Hi @macovedj ,"
Hi @macovedj ,

I was also trying the verification in Ubuntu and again the keyserver is not available (old and new). Please let me know if there is another alternative.

We have conducted our investigation and found out that the keyserver is no longer operational. Whilst waiting for our webteam to update the information, could you try this command out with an alternative server and let us know the

[2021-10-17 01:03] adrem1 commented on #2548
Has this #CIP been scheduled for implementation into Daedalus or Yoroi yet? As far as I can tell the latest entries in the repos linked here date back to 2019...

Direct web links to delegate would greatly benefit small SPOs and increase decentralisation of stake (and thereby resilience) on the Cardano network.

Keen to see this move forward :)

[2021-10-18 06:08] Reaver22 commented on #2548
Looking forward to it!

[2021-10-18 13:16] tomyfalgui opened #2711 "Daedalus Mainnet 4.4.0 immediately crashes upon startup"
My problem is similar to #2695. After updating my daedalus mainnet to 4.4.0, the daedalus window pops up and then freezes after a second and then crashes.

[2021-10-18 17:11] dmitrii-gaico commented on #2711
@tomyfalgui Thank you for assistance, we are currently researching this issue.
Thank you!

[2021-10-19 05:41] Valvorian commented on #2711
How can I roll back to 4.3.1? Any help appreciated. Thank you.

[2021-10-19 17:16] angelstakepool commented on #2695
@nikolaglumac

Sure, installing now ...

[2021-10-19 17:22] nikolaglumac commented on #2695
Many thanks 😊

[2021-10-20 08:53] Jack-0 opened #2713 "User experience request - tokens are hard to interact with"
![Screenshot from 2021-10-20 09-10-26](https://user-images.githubusercontent.com/24880289/138060804-175494ee-621d-4f6e-858c-50650e28735b.png)

Please review the token search method. I believe any product must have good user interfaces.

Searching for tokens via the fingerprint is not user friendly. This is a request to change it. So that at least the ASCII readable version of the token is present

[2021-10-20 09:22] nikolaglumac commented on #2706
@fhcalderon87 @miorsufianiohk what is this about?

[2021-10-20 15:18] #2706 closed, assigned to miorsufianiohk

[2021-10-21 04:26] elipwns opened #2718 "Can't connect to ledger on 4.4.1"
![image](https://user-images.githubusercontent.com/5620009/138211490-5ee867a1-c809-4203-a914-032e3afc46fa.png)

[2021-10-21 04:55] nikolaglumac commented on #2718
Please provide more info:
- Daedalus logs
- Operating system info
- Machine details (CPU, RAM, etc$
- Ledger details (type, firmware, cardano app version)
- Are you able to use your Ledger device with Ledger Live / Yoroi / AdaLite
- Were you able to pair your Ledger with earlier versions if Daedalus
- Dis you make sure Ledger Live / Yoroi / AdaLite was not running while trying to pair Ledger with

[2021-10-21 06:30] nikolaglumac commented on #2711
Hi all!
Yesterday we released Daedalus 4.4.1 which includes the fix for crashes on Windows.
Please use the auto-update feature or download the latest version from the official Daedalus website: https://daedaluswallet.io/en/download/
Once again sorry for the inconvenience and thanks for the support!

[2021-10-21 06:30] #2711 closed

[2021-10-21 06:31] nikolaglumac commented on #2695
Hi all!
Yesterday we released Daedalus Testnet 4.4.1 which includes the fix for crashes on Windows.
Please use the auto-update feature or download the latest version from the official Daedalus Testnet website: https://testnets.cardano.org/en/testnets/cardano/get-started/wallet/
Once again sorry for the inconvenience and thanks for the support!

[2021-10-21 06:31] #2695 closed

[2021-10-21 06:41] nikolaglumac commented on #2678
Cardano-sl is definitely not being used anywhere any more. It's been like that for a long time actually. Closing this ticket...

[2021-10-21 06:41] #2678 closed

[2021-10-21 08:55] tomislavhoracek commented on #2718
@elipwns Problem is probably with the corrupted Daedalus state directory.
Can you please clean your state directory: https://iohk.zendesk.com/hc/en-us/articles/360039511853-Delete-the-contents-of-the-state-directory
If you are still not able to restore your hardware wallet please follow the instructions @nikolaglumac  mentioned.

p.s. If you have other wallets, please ensure you have mnemonics for

[2021-10-21 20:01] lukehinds opened #2720 "MacOS upgrade followed and lost all information"
I have a nano ledger S, so I know my ADA is safe, but reporting this as a UX bug.

Opened the daedalus app to check what my rewards may have been from staking and noticed the UI told me a new version was out. So I clicked on the link and upgraded. The upgrade went through with no issue. Reopened the app and all previous state is completely lost and it's like a fresh install.

I figure I will be ab

[2021-10-29 15:20] rx2347 opened #2728 "Sending Tokens doubles the Amount of ADA and Tokens???"
After sending ONE Token, I get two new entries in the ledger, one "Multiple tokens sent" (thats just a typo, if its 1 token, it should not say MULTIPLE) and another pending transaction. The amount of ADA in the wallet and all token counts have DOUBLED...

I have to quit Daedalus und restart, cancel the pending transaction to get everything working again. Quite frightening, pls fix asap...

This is

[2021-10-30 03:43] KIDx opened #2729 "unknown delegate on daedalus"
Rewards address: stake1uxxz9r7uhdpeglnv855lqpapdg2hdsxj6pz7yu9lgqhy3ysru3hms

unknown delegate on daedalus :
![image](https://user-images.githubusercontent.com/2316836/139518983-220d4da4-2e3b-47ed-83cb-2aff1535f8ad.png)
![image](https://user-images.githubusercontent.com/2316836/139518998-3c08a6e8-8e51-46f7-8c60-adf37088b78c.png)

on https://adapools.org/stake/stake1uxxz9r7uhdpeglnv855lqpapdg2hdsxj

[2021-10-31 04:17] ssoto2 commented on #2729
I am also experiencing the same issue

Daedalus Version: 4.4.1
Wallet: Ledger Key Enabled
Delegating To: Meld5 ISPO

![Selection_611](https://user-images.githubusercontent.com/5123879/139567396-8c9d02af-3538-447a-85a9-1e5bfb06f555.png)

![Selection_612](https://user-images.githubusercontent.com/5123879/139567368-909263ba-a19a-4c25-915d-afdf826c0ecd.png)

[2021-11-01 11:57] dmitrii-gaico commented on #2729
Hello. Thank you for your reports. @KIDx @ssoto2
Looks like the Meld5 ISPO is missing metadata and as result it is displayed as "unknown".
Could you please advise when you noticed that it is displayed as "Unknown" ? Did it showed up correctly previously?
Thank you in advance.

[2021-11-01 13:20] ssoto2 commented on #2729
@dmitrii-gaico I wish I could provide a more exact time but I just recently noticed as i don't go in to the delegation page that often.

Regarding the question had the MELD pool showed up in the delegation panel, yes it did. The first time I have noticed it not being there in Daedalus is after 4.4.1 upgrade.

[2021-11-01 21:54] daniloprates commented on #2713
Thanks you @Jack-0, this is a very valuable suggestion and it should be soon discussed in our team.

[2021-11-02 15:25] elipwns commented on #2718
Sorry, was out elk hunting. I cleared my state directory, and then my ledger was connected just like before once it had fully synced the chain. Sorry for late response / not enough debug info in OP.

[2021-11-02 15:25] #2718 closed

[2021-11-02 15:28] tomislavhoracek commented on #2718
@elipwns I'm happy to hear that everything is ok now :)

[2021-11-02 16:16] CarlosLopezDeLara commented on #2729
The pool was updated a few days ago (Oct/27): [https://cardanoscan.io/transaction/39751912efced3faa178817a00492560f4faadce15f7f3abc22fa68dcd6f6466?tab=poolcertificates](https://cardanoscan.io/transaction/39751912efced3faa178817a00492560f4faadce15f7f3abc22fa68dcd6f6466?tab=poolcertificates)

Metadata seems to be wrong.  SMASH replies with:

[code]

[2021-11-02 20:01] kk-hainq commented on #2729
@CarlosLopezDeLara Is there a potential cache or delay in the above SMASH? We've fixed the metadata mismatch issue two days ago with Yoroi, for example, reflected correctly. For example with the above pool:
- https://pool.vet/#4d4e74fd118c8ac009b8c9fcb7e5e8d6ef297bbdc36aa794282c71ef

[2021-11-03 12:46] ssoto2 commented on #2729
I am now seeing Meld SP showing up Daedalus! Don't know what has changed or if something was out of sync, but the SP is showing up now! Thanks, Guys!

![Selection_617](https://user-images.githubusercontent.com/5123879/140062309-d39d5be2-319e-4997-ad6f-5a257a7fb058.png)

[2021-11-03 13:13] kk-hainq commented on #2729
Awesome! I guess we can close this issue now then.

[2021-11-03 13:15] dmitrii-gaico commented on #2729
Great to hear it was resolved. Closing the ticket. Thank you.

[2021-11-03 13:15] #2729 closed

[2021-11-05 15:18] weebl2000 opened #2734 "Drastically reduce cardano-node memory usage by setting RTS params"
Since most heap in use by cardano-node is long-lived stuff, passing the `+RTS -c -RTS` should result in roughly half the memory usage that cardano-node is currently using.

It might be possible to reduce memory usage further by setting `-F1.5`, but I'm not sure about that one.

Also: CPU usage is usually high when running Daedalus. I think it would be wise to set `-I0` (no idle GCs) or setting `-I

[2021-11-08 13:42] weebl2000 commented on #2734
I've also been testing using "-xn" (non-copying collector), but at least for GHC 8.10.4 it does not seem 100% stable and can cause crashes. Though following GHC release 8.10.6 there have been improvements made to the non-copying collector.

https://downloads.haskell.org/ghc/8.10.7/docs/html/users_guide/8.10.6-notes.html

Fix a crash on the non-moving GC due to incorrect logic for calculating the h

[2021-11-10 11:10] dmitrii-gaico commented on #2734
Hello! Thank you for the report and suggestions!
Currently we are preparing a release which includes [Improvements](https://github.com/input-output-hk/daedalus/pull/2735) to reduce RAM usage. Would be glad to hear your feedback after the official builds are out.
Thank you!

[2021-11-11 15:49] mark-stopka commented on #2677
https://github.com/input-output-hk/daedalus/pull/2684

[2021-11-13 12:11] RNDfr opened #2743 "Gift Card Support"
It would be interesting to have Gift Card support in Daedalus, allowing gift card creation and tools to empty a gift card. I wrote a short article about Gift Cards [on Reddit](https://www.reddit.com/r/cardano/comments/qpf87q/cardano_gift_cards), and I made a live demo of a gift card generator [here](https://randomfrenchpool.com/en/cards).

Here are the relevant points:

Here are three Gift Card fe

[2021-11-14 20:29] locallycompact commented on #492
Can I please reopen this issue? I do not see the claim that this build is fully nixified to be reflected in the README. I see derivations that produce installers, but I do not see any derivation that simply runs the wallet.

[2021-11-15 03:48] rvl commented on #492
Hi @locallycompact, please open a new issue with a good explanation of what you need and why.
I suspect that you want to be able to start Daedalus with something like `nix run github:input-output-hk/daedalus#electronApp`, right?

[2021-11-15 10:09] locallycompact commented on #492
Ok, yes I want something that would be suitable to consume in a system config.

[2021-11-18 15:48] CherryDT opened #2746 "Cannot start 4.5.0 - DbLocked"
**EDIT: Here is the workaround for people finding this on Google:**

---

I got an update from 4.4.1 to 4.5.0 today.

After the update, I can no longer start Daedalus. It goes in a cycle of "Connecting to network", "Stopping cardano node", "Cardano node crashed".

`node.log` shows that it keeps crashing with the `DbLocked` error:

[code]

At this point, there are always two instances of `cardano-n

[2021-11-18 16:26] CherryDT commented on #2746
I tried attaching a debugger to understand what's going on.

Apparently Daedalus is checking the wrong PID somehow. It checks PID 34200 all the time (this process doesn't exist). Also, there is an error about failing to store the PID (empty in this case, because it _did_ detect that 34200 is no longer running).

![image](https://user-images.githubusercontent.com/6010463/142454437-e1c5c2e6-c069-4b1

[2021-11-18 23:42] 2072 opened #2748 "Windows 10: Loop "crashing" startup issue"
version: 4.5.19689
OS: windows 10: 19042.1348

I have a problem when launching Daedalus: it starts several `cardano-node.exe` processes and complains that the node crashes because the second one cannot run while the first one is still running. It stays in this state where it loops trying to run a second cardano-node.exe.
See the relevant logs below, the second process is launched 3 seconds after t

[2021-11-19 08:05] dmitrii-gaico commented on #2746
@CherryDT Hello. Thank you for your research and such a detailed report.
We are currently investigating the issue in order to fix it asap.

Please let me know if it works now as expected after your tweak.

Thank you in advance.

[2021-11-19 08:06] nikolaglumac commented on #2748
Hi @2072!
Sorry to hear about the issues you are experiencing...
May I kindly ask you to do the following:
1. Shut down your machine (to make sure none of the Daedalus processes are running)
2. Launch Daedalus and observe the list of processes to see if the issue of duplicated processes reappears
3. Exit Daedalus and start it up again to see if restarting will trigger duplicated processes again.
T

[2021-11-19 08:08] CherryDT commented on #2746
Hm, no, seems it works only _once_ this way. After closing Daedalus, the `mainnet-PREVIOUS-CARDANO-PID` again doesn't get removed and next time it will go into the same cycle as described above. I have to manually delete this line every time I want to start Daedalus.

[2021-11-19 08:23] nikolaglumac commented on #2748
@2072 can you please also provide full Daedalus logs?

[2021-11-19 08:29] dmitrii-gaico commented on #2746
@CherryDT Can you please provide the Logs zipped?
Thank you!

[2021-11-19 08:34] CherryDT commented on #2746
Sent you an email.

[2021-11-19 08:50] CherryDT commented on #2748
This is probably a duplicate of https://github.com/input-output-hk/daedalus/issues/2746

As a workaround, you can do the following (every time you start Daedalus):

Open the file `%appdata%\Daedalus Mainnet\config.json` in an editor. (Maybe create a backup first.) Find the line that contains `mainnet-PREVIOUS-CARDANO-PID` and delete it. If this was the last line in the file before the final `}`, d

[2021-11-19 08:55] dmitrii-gaico commented on #2746
Can you please attach the Log.zip to this card in GH ?
Thank you in advice!

[2021-11-19 08:56] CherryDT commented on #2746
Just to confirm, it won't contain any sort of sensitive information?

[2021-11-19 09:03] dmitrii-gaico commented on #2746
@CherryDT Yes, it doesn't not contain any sensitive information. However I have received the logs so thank you! No need to attach it.
Thank you , we are continue the research.

[2021-11-19 09:04] CherryDT commented on #2746
On that note, I looked at the log files now because I'd have removed anything problematic and then posted here, but I discovered that there _is_ problematic information in `wallet-migration-report.json`. It showed names of wallets.

[2021-11-19 09:09] CherryDT commented on #2746
This is my `config.json` by the way, in case it's relevant:

![image](https://user-images.githubusercontent.com/6010463/142596225-69b6696f-ab05-4e9c-b195-08d91a422554.png)

[2021-11-19 09:10] dmitrii-gaico commented on #2746
@CherryDT by now to have your Daedalus back in a good shape I suggest you to perform a clean re-installation process.
Unfortunately you would need to Sync the chain from the scratch. Please make sure you have all your mnemonics near by so you can restore your wallets once Node is fully synced.
Please follow the instruction https://iohk.zendesk.com/hc/en-us/articles/360013170694-Uninstall-Daedalus-

[2021-11-19 09:12] CherryDT commented on #2746
This is _very_ inconvenient. How come that something that looks like an issue in controlling the state of the cardano node (from the outside) would require the chain to be resynced? Can't I keep the "chain" folder and put it back after reinstallation?

[2021-11-19 09:15] dmitrii-gaico commented on #2746
Yes, you can try to keep the chain folder and use it after the re-installation but I cant guarantee that it would resolve the crashing loop issue. You can try this is as a Plan A and if it doesn't helps then Re-install + full re-sync is a Plan B.

[2021-11-19 11:35] CherryDT commented on #2746
I don't think this will help, thanks anyway for the suggestion. Instead I investigated the root cause and fixed it. See https://github.com/input-output-hk/daedalus/pull/2749

[2021-11-19 12:36] CherryDT commented on #2734
I think the question of how to control these arguments is valid though, even with these improvements. After I got the DbLocked issue fixed and it was all working well for a while, I now see it suddenly crashing at random intervals and in the log it shows `heap exhausted`. I fixed it now by changing the launcher code to set `-M10000M` instead of `-M6553M`, but it would be great if this could be con

[2021-11-19 12:48] weebl2000 commented on #2734
Hi CherryDT. This is unicorn advice, but can you do the same and try just these RTS params: "-I0 -w -xn"

I think this will DRASTICALLY reduce memory usage.

[2021-11-19 12:52] greg-pendlebury commented on #2746
Thanks for the analysis and workaround. Daedalus has been broken for me all day until I found this workaround. Hope the fix is pushed through so I don't have to keep cleaning up the config file. I can confirm I was seeing the same symptoms of two nodes starting on my PC and contending for the lock file. One was healthy and processing the chain data, whilst the other was perma-crash looping. It was

[2021-11-19 13:01] CherryDT commented on #2734
@weebl2000 Thank you! I tried your advice and changed it to `nodeConfig.rtsOpts = ['-I0', '-w'];` in `resources\app\dist\main\index.js` and the behavior is definitely different now, more of a continuous ramp than those fixed jumps.

The final result seems definitely _better_ although the improvement was not as drastic as I hoped. After the same 20 minutes that the last screenshot showed, it was at

[2021-11-19 13:02] weebl2000 commented on #2734
It's not really a memory leak. The problem is in GHC MEGABLOCK (1MB) are never returned to OS. The "-w" is a simple single threade mark/sweep GC but I think it is perfect for cardano-node!

[2021-11-19 13:04] weebl2000 commented on #2734
You can try one more thing, might not make things better but:

+RTS -w -G2 -A128m -n1m -C0 -I0.3 -Iw3600 -O4000m -RTS

[2021-11-19 13:13] weebl2000 commented on #2734
Yeah, it's not really a cardano-node problem. It's a GHC problem. Megablocks in GHC are never returnedf to the OS in 8.10.7. In the newest GHC 9.2.1 they have made efforts to return memory to the OS.

![image](https://user-images.githubusercontent.com/2385844/142628315-d164566d-a790-425b-883b-b8d425941893.png)

If you want to chat more about this, not sure if you have a matrix account, but you can

[2021-11-19 13:13] weebl2000 commented on #2734
To add to this, if you create 1000 objects that are each in their own megablock but actually very small. It will never return 1000 MB to the OS.

[2021-11-19 13:16] CherryDT commented on #2734
Hm whatever the root cause may be, it's strange that I get those pipe errors in the log at random intervals and then the memory usage jumps up. I left it running now, and with your `-I0 -w` setting there is no limit at which it would crash, so now the memory reached 15 GB... I'm assuming it will continue to grow and eat everything my computer has. :|

I guess my question is how come that these pip

[2021-11-19 13:17] weebl2000 commented on #2734
Yeah -I0 is evil for running cardano-node in Daedalus. You can reduce -Iw600 to Maybe -Iw300 (every 5 minutes idle GC instead of every 10 minutes).

[2021-11-19 13:17] weebl2000 commented on #2734
Oh btw. Is your cardano node fully synced? Or is it still busy syncing?

[2021-11-19 13:19] CherryDT commented on #2734
It's fully synced. Just adding new blocks.

I was about to open this issue with `cardano-node` before you mentioned it's not supposed to be their issue - this shows you more detail:

[2021-11-19 13:38] CherryDT commented on #2734
OK the result of using `+RTS -N2 -w -A128m -n1m -I0.3 -Iw300 -O3500m -I0 -RTS` is that the initial memory usage after DB loading is 4.98 GB instead of 5.25 GB as it was before, and now the pipe errors don't seem to be connected to the RAM jumps anymore... The RAM still increases at irregular intervals but this time by 0.5 GB and not 1 GB, and I cannot see a correlation to the pipe errors anymore..

[2021-11-19 13:41] weebl2000 commented on #2734
You're welcome. I'm not enitrely sure if this is actually memory in use or just "occupied" by cardano-node but that is easily swapped out. I don't think it matters much, but you might try one more extra param:

`+RTS -N2 -w -A64m -n1m -I0.3 -Iw600 --disable-delayed-os-memory-return -RTS`

[2021-11-19 13:43] CherryDT commented on #2734
I don't know if it may be easily swapped out or not, but at least my OS didn't yet swap it out, because I had physical memory usage of 24 GB and when I closed the wallet again it went down to 14 GB now, so...

I'll try your new suggestion.

[2021-11-19 13:43] weebl2000 commented on #2734
I think I might have passed the wrong params before, try my latest suggestion.

[2021-11-19 13:50] danielmain commented on #2746
Thank you @greg-pendlebury for your feedback!
Would you pls tell me what is your operating system?

[2021-11-19 14:20] CherryDT commented on #2734
Still happens, but a bit slower.

![image](https://user-images.githubusercontent.com/6010463/142637683-65f706f6-dc15-44b5-b21e-b701e0ffa1b2.png)

[2021-11-19 14:26] weebl2000 commented on #2734
Oh wow, that's actually very high usage. Hmm. I've been running a cardano-node on a 4 GB machine without any swapping. Not sure if it's just trying to use all the memory there is...

[2021-11-19 14:36] weebl2000 commented on #2734
How sure are you that params are passed to the cardano-node?

[2021-11-19 14:55] CherryDT commented on #2734
Hmm, I looked at the command line of the process now, and there was `+RTS` and `-RTS` **twice** each time. I did replace the arguments of `-H4G -M6553M -c70` with what you sent, but since Daedalus already passed them between `+RTS <...> -RTS`, it means now with the new arguments that you wrote after `-I0 -w`, which also had `+RTS <...> -RTS`, that it was now `+RTS +RTS <...> -RTS -RTS`.

I fixed t

[2021-11-19 14:57] weebl2000 commented on #2734
I'd be willing to try this next week on Linux. I actually have a the Daedalus source code checked out and have ran yarn nix:mainnet etc. Can you make a branc with your changes so I can pull it and try the same thing on LInux?

[2021-11-19 14:59] CherryDT commented on #2734
I patched it in the already-transpiled JS code, but it corresponds to https://github.com/input-output-hk/daedalus/blob/e9623ecc8919891c7e68b618ce675d178dd433d1/source/main/cardano/CardanoWalletLauncher.js#L145

[2021-11-19 15:01] weebl2000 commented on #2734
If I forget to check this on Linux, can you remind me next week? I've been playing around with GHC RTS params before because I think the memory+CPU usage of cardano-node when running in Daedalus is completely stupid. I have one PR there which is about to be merged which should improve CPU usage when using cardano-node in a *nix build

https://github.com/input-output-hk/cardano-node/pull/3349

[2021-11-19 15:18] CherryDT commented on #2734
Okay! Thank you.

[2021-11-19 15:27] CherryDT commented on #2734
By the way, you asked if it is actually "used" or can be easily paged out.

It seems the ever-growing part can be easily paged out, but it's still a problem because my virtual memory can't have infinite size either.

I forced it to page out all of its memory and then watched it page back in what's needed, and this way I was able to get the working set down from 16 GB to 3 GB. But those other 13 GB

[2021-11-19 15:28] weebl2000 commented on #2734
I will definitely try next week on Linux. I am able to run cardano-node (plain) without about 3-4GB of heap usage.

[2021-11-19 15:59] danielmain commented on #2746
Hi @CherryDT thank you so much for the PR.

It is a long story, originally another problem related to how do we start cardano-node implemented [here](https://github.com/input-output-hk/daedalus/pull/2735#issue-1047468519) caused this race condition. Your code definitely solves one side of the puzzle, that is why we will provide a complete fix very soon!

Thank you for your time and your suggestion

[2021-11-19 16:24] praseenr opened #2750 "Windows 10: Loop "crashing" startup issue, with 'Unexpected end of JSON input' error in logs"
Hi Daedalus developers/support,
Since my Daedalus wallet was automatically upgraded to Cardano Wallet 2021.9.29 (Windows build 19689, Cardano Node 1.30.1) version, on 11/18/2021... my Daedalus wallet started crashing. And when I checked the logs at developer tools, i see below error:

 DevTools failed to load source map: Could not parse content for file:///**<my-daedalus-wallet-folder-path>**/prel

[2021-11-19 21:46] CherryDT commented on #2750
This may be a red herring, look at `%appdata%\Daedalus Mainnet\Logs\pub\node.log` and see if there are errors at the bottom. If you see `DbLocked` errors then it's a duplicate of #2746, and you can find a workaround there (and the tram is working on a fix).

[2021-11-19 22:06] daniloprates commented on #2316
@stakelovelace thank you for your suggestion. It was implemented on #2733 and released in the [4.5.1](https://iohk.zendesk.com/hc/en-us/articles/4409944350489-Daedalus-4-5-1-release-notes) version.

[2021-11-19 22:06] #2316 closed

[2021-11-19 23:49] greg-pendlebury commented on #2746
Windows 10

[2021-11-20 17:30] 2072 commented on #2748
Yes this is the same as #2746, clearing the previous PID value in the config file prevents this loop and does allow Daedalus to start normally once. Thank you!
Before creating this ticket tried to put an existing pid there with a process also named cardano-node.exe so it has something to kill at startup but it did not work, removing it however prevents the problem). Was it because the extra time t

[2021-11-20 18:51] CherryDT commented on #2748
In a way - it was because of a race condition in how it checked whether it was OK to start a new process, and if a previous PID existed, that would prolong the time period of this check (because it'd also check if that process was still running) and make this race condition a lot more likely. See #2749 for a more detailed explanation.

[2021-11-21 16:32] locallycompact opened #2752 "glibc error in nix shell"
Hi, running

[code]

results in

[code]

in current master

[2021-11-22 11:15] asanchez1987 opened #2754 "High resource usage"
Hi,

I'm aware Daedalus is a full node wallet and it downloads a full copy of the Cardano blockchain and verifies every transaction. Once it is 100% synced, I guess it keeps validating incremental changes.

Is it expected for the underlying cardano-node process to use 1024.6GiB VSZ, 9.6GiB RES, 118.9 %CPU?
Many times I can't perform other lightweight tasks on the system if I have Daedalus running

[2021-11-22 11:23] nikolaglumac commented on #2752
Hi @locallycompact! Can you please check the latest master (it has been updated today) or try out the develop branch?

[2021-11-22 11:26] nikolaglumac commented on #2750
Hi!
This issue should be fixed in the latest release 4.5.1.
Can you please see if it works?
Thanks!

[2021-11-22 11:26] nikolaglumac commented on #2748
Hi!
This issue should be fixed in the latest release 4.5.1.
Can you please see if it works?
Thanks!

[2021-11-22 11:26] nikolaglumac commented on #2746
Hi!
This issue should be fixed in the latest release 4.5.1.
Can you please see if it works?
Thanks!

[2021-11-22 11:28] nikolaglumac commented on #2754
Hi @asanchez1987!
We are working on optimising Cardano Node's memory usage through the RTS flags.
This however, requires a lot of testing and therefore we need a bit more time to test it before releasing it.
Thank you for the patience!
Cheers!

[2021-11-22 11:45] CherryDT commented on #2746
Hi, thank you, but I think the bug is still lingering. From how I understand, the commit https://github.com/input-output-hk/daedalus/pull/2755/commits/44fcccbebfe56087effa5f934e468eb3fcaf9c9d does remove the trigger that made it appear most of the time by removing on of the disk space check calls, and the window for the race condition is now probably smaller (actually I originally somehow assumed

[2021-11-22 11:48] nikolaglumac commented on #2746
Thanks @CherryDT!
We are refactoring that part at the moment.
Thank you for the pointers - we will make sure all race conditions are eliminated.

[2021-11-22 12:14] locallycompact commented on #2752
Still the same

[2021-11-22 12:15] nikolaglumac commented on #2752
Can you please share more info about your system/environment?

[2021-11-22 12:17] locallycompact commented on #2752
Never mind, I had a dirty working tree. It launches now. Thank you!

[2021-11-22 12:17] #2752 closed

[2021-11-22 12:38] asanchez1987 commented on #2754
Hi @nikolaglumac ,

Thanks for your feedback. I guessed this was an already known issue.
Just out of curiosity, has the source of the high memory footprint been identified?

If that's the case, can you elaborate on why this happens?

Are the synced blocks from the chain mmaped() into memory?

Thanks!

[2021-11-22 12:56] nikolaglumac commented on #2754
Mainly UTXO growth. This is more of a question for https://github.com/input-output-hk/cardano-node

[2021-11-22 14:46] 2072 commented on #2748
Hi,
Yes 4.5.1 no longer launches several node processes!

[2021-11-22 14:46] #2748 closed

[2021-11-22 23:02] weebl2000 commented on #2734
[code]

I'm getting errors running the nix build from latest master. I'm guessing they need to update nix packages first to support GLIBC 2.33

[2021-11-24 09:32] zinigor commented on #2754
@nikolaglumac I'm happy to help test various RTS parameters if you need volunteers for that. Do you have documentation about how to do that somewhere that I can read?

[2021-11-25 14:11] Valvorian opened #2757 "Reinstall Issue"
Hello, I've been using Daedalus for a few months now (5-6) and I never encountered a problem until update 4.4.0 released. With 4.4.0 my Daedalus kept crashing so I uninstalled and reinstalled Daedalus. When I reinstalled my new Daedalus client still had my wallets on it and I didn't need to recover them. Now my Daedalus seems to be having issues.

Is there any way to completely uninstall Daedalus?

[2021-11-27 19:17] #2757 closed

[2021-11-29 04:16] mratmartinez commented on #1899
It's been more than one year. Does Daedalus still depends on systemd?

AppImage definitely would be the proper solution here. Specially since the Download page says:
"Linux - Aimed at all Linux distributions"

[2021-11-29 11:56] dmitrii-gaico commented on #2750
@praseenr Hello. Could you please confirm if you are no longer experiencing the issue in the latest 4.5.2 release ?
Thank you in advance!

[2021-11-29 13:48] mratmartinez commented on #1899
It's been more than one year. Does Daedalus still depends on systemd?

AppImage definitely would be a proper solution here. Specially since the Download page says:
"Linux - Aimed at all Linux distributions"

[2021-11-29 18:03] Chris-Graffagnino opened #2764 "Daedalus 4.5.2 - network sync display error"
MacOS, Monterey 12.0.1
Daedalus v4.5.2#19820
<img width="675" alt="daedalus-4 5 2-display-error" src="https://user-images.githubusercontent.com/8118351/143919623-0dc78536-c80d-4087-84db-b4666c786103.png">

[2021-11-29 18:19] #2764 closed

[2021-12-01 20:01] RNDfr commented on #2743
I'm trying to submit a [CIP](https://forum.cardano.org/t/cip-cardano-gift-cards/87219) for a technical specification as [suggested](https://github.com/Emurgo/yoroi-frontend/issues/2525) by one of Yoroi's developers.

[2021-12-02 07:10] locallycompact opened #2767 "Stuck on 99.9% verifying the blockchain."
Hello, I've deleted and redownloaded the mainnet several times and each time it daedalus gets stuck on `99.9% verifying the blockchain`.

[2021-12-03 11:07] danielmain commented on #2767
Hi @locallycompact would you pls specify:

- NixOS what channel ?
- Starting it from the developer environment? if yes, what branch? pls specify your steps.
- If you are running the mainnet binaries from daedaluswallet.io its normal (unfortunately) to wait sometimes hours to get the blockchain synchronized

thank you!

[2021-12-06 09:38] dmitrii-gaico commented on #2750
Closing the call due to the issue was fixed in 4.5.2 release.
If you still facing the crashing loop please create a new card with a reference to the actual one.
Thank you.

[2021-12-06 09:38] #2750 closed

[2021-12-06 20:27] daniloprates commented on #2743
Thanks @RNDfr, we'll keep an eye on the CIP.

[2021-12-06 20:27] #2743 closed

[2021-12-08 20:58] JPBrier opened #2777 "Trezor T Exporting the public key failed"
After upgrading my Trezor T to firmware 2.4.3, i cant no longer send transactions or pair more wallets on Daedalus since it gives me the error of "Exporting the public key failed".

Any workaround on this ?

[2021-12-08 21:24] JPBrier commented on #2777
I've managed to fix it downgrading to version 2.4.2, waiting on the fix for version 2.4.3.

[2021-12-08 21:24] #2777 closed

[2021-12-09 00:55] rp5210 commented on #2569
I have three SMASH servers running on mainnet, one for each of three different pool alliances.  After updating one to the new version of dbsync v12 the one for the CMDP (mission driven pools) is currently down for maintenance.  If you want to test the other two, one is for the SPA (single pool alliance - https://smash.panl.org) and the other for the xSPO alliance (https://xspo.panl.org).

Would gr

[2021-12-09 09:34] przemyslaw-wlodek opened #2778 "[ignore] Testing issues alerting integration"

[2021-12-09 09:34] #2778 closed

[2021-12-09 10:33] #587 closed

[2021-12-09 10:35] danielmain commented on #1380
We provide instructions for this here: https://daedaluswallet.io/en/download/#modal=download_pgp_instructions_darwin

[2021-12-09 10:35] #1380 closed

[2021-12-09 10:46] danielmain commented on #2553
As far I can see, this Issue was solved with your workaround

[2021-12-09 10:46] #2553 closed

[2021-12-09 10:53] dmitrii-gaico commented on #2746
Closing the ticket as the team is working on improvements and most of the discussed issues supposed to resolved in 4.5.2 release.
Please create a new ticket if you still experience any issues described.
Thank you!

[2021-12-09 10:53] #2746 closed

[2021-12-09 10:54] danielmain commented on #2694
Hi @bhlevca we just upgraded electron to version 13. There was an [Issue](https://github.com/electron/electron/issues/21414) in older Electron, would you pls tell us if this issue still exists?

[2021-12-09 10:54] #2694 closed

[2021-12-09 10:57] danielmain commented on #2469
If you have more questions, pls contact us

[2021-12-09 10:57] #2469 closed

[2021-12-09 11:03] dmitrii-gaico commented on #2767
@locallycompact Hello. Please let us know if your issue were resolved and you were successfully able to sync the verify and sync the chain. Thank you in advance.

[2021-12-09 11:07] tomislavhoracek commented on #2777
@JPBrier Thanks for letting us know.
Issues are reported to the Trezor team.
https://github.com/trezor/connect/issues/966

[2021-12-09 11:13] dmitrii-gaico commented on #2728
Closing the card due to no details were provided and our was not able to reproduce the issue. @rx2347 Please create a new card if you still facing the issue.
Thank you!

[2021-12-09 11:13] #2728 closed

[2021-12-09 11:21] dmitrii-gaico commented on #2720
@lukehinds Hello! Could you please advise if you still facing the issue? I might be the known issue that sometimes Wallets are vanished and displayed just fine after the app restart.
Thank you in advance.

[2021-12-09 11:40] danielmain commented on #2664
@saeed-saeedi I am sorry to tell you that we need that CPU feature SSE4. We have to check that here: https://github.com/input-output-hk/daedalus/blob/66427855ff4eb513b9500d91bafc7baafa6e6db3/default.nix#L391

I am impressed that you were able to run it on Windows. carndano-node requires a lot of memory and CPU resources, and being executed in an older than 2008 CPU is definitely not expected.

[2021-12-09 11:40] #2664 closed

[2021-12-09 14:04] bhlevca commented on #2694
Hi,

No problem anymore. Daedalus has been working fine on my 10 bit colr
display for a while now.

Thanks
Bogdan

On Thu., Dec. 9, 2021, 05:54 Daniel Main, ***@***.***> wrote:

[2021-12-10 10:52] wa1one commented on #2398
the issue is reproducible.

[2021-12-13 10:11] danielmain commented on #2452
Hi @mzabani I made a video how can I run Daedalus from a NixOS environment. (That is, in fact, my machine where I code for Daedalus).

https://drive.google.com/file/d/1XII8le_fTytCGGMbHBxSpNAmjL4j-qET/view?usp=sharing

Please reopen if you can still reproduce it and provide me more info about which branch and which NixOS are you using. Thanks!

[2021-12-13 10:11] #2452 closed

[2021-12-13 16:01] danielmain commented on #2398
Hi @wa1one, @jcortes I just started a new fresh ubuntu installation and did the installation without any Issues.

`daniel@qemu-ubuntu:~$ cat /etc/issue
Ubuntu 20.04.3 LTS \n \l

daniel@qemu-ubuntu:~$ cd Downloads/
daniel@qemu-ubuntu:~/Downloads$ ls
daedalus-4.5.2-mainnet-19820.bin
daniel@qemu-ubuntu:~/Downloads$ chmod +x daedalus-4.5.2-mainnet-19820.bin
daniel@qemu-ubuntu:~/Downloads$ ./daedalus-4

[2021-12-13 18:38] danielmain commented on #2328
Hi @Codanalt sorry for letting you so long waiting. As far I know, it is the first time someone requests this feature (correct me please if I am wrong).

If for security reason, only an administrator is allowed to install software on your machine:

Some workarounds:
- log in as the administrator and update Daedalus
- Run Daedalus as administrator (right-click on the shortcut) and update it.
- Alte

[2021-12-13 18:38] #2328 closed

[2021-12-15 17:17] danielmain commented on #2559
Fixed in #2206

[2021-12-15 17:17] #2559 closed

[2021-12-15 17:23] danielmain commented on #2588
Closed due to inactivity

[2021-12-15 17:23] #2588 closed

[2021-12-16 21:37] kastik commented on #2398
Same here on Arch, Daedalus was working fine for me until I uninstalled it and tried to reinstall it in a systemd-homed partition. Tried every workaround from above but nothing seems to solve the issue.

[2021-12-17 07:42] ikulis opened #2788 "Node crash on boot when ipv6 is disabled"
If the ipv6 is disabled on the system, the node crashes on boot. I have it disabled, because of use of vpn.

![Image](https://media.giphy.com/media/FdSIq10HBcaqgEz38W/giphy.gif)

Version
===
Broken in 4.6.0. In the version 4.5.2 it was booting fine.

How to reproduce (linux):
===
* sudo sysctl net.ipv6.conf.all.disable_ipv6=1
* start Deadalus

Error in developer console:
===
[code]

Node logs:
===

[2021-12-17 08:17] benapetr opened #2789 "Ledger Nano S works only if it's connected and unlocked BEFORE Windows Daedalus is launched"
This is extremely annoying and insecure - the only way to get Daedalus to work with Ledger Nano S is to connect it and unlock it and THEN start Daedalus (which sometimes takes >1 hour to start) so I have to leave unlocked connected hardware wallet at my desktop for a very long time.

If you first start Daedalus and connect the wallet later, then any combination of connecting / unlocking hardware w

[2021-12-17 10:45] mikew1 opened #2790 "exporting public key fails continually on new trezor firmware"
A few days ago I updated Trezor firmware to newest version, and daedalus exporting public key is now failing continually, so I am unable to spend funds.

I have tried, to no avail:

- disconnect & reconnect, multiple attempts
- different usb ports, multiple attempts

Trezor suite works fine, so the system is seeing the trezor.

I wonder if this means my hardware wallet within daedalus is now inacc

[2021-12-17 11:38] danielmain commented on #2788
Hi @ikulis thank you so much for giving us this detaliled report! I added an Issue on our cardano-node GitHub page here:
https://github.com/input-output-hk/cardano-node/issues/3449

Thank you so much!!

[2021-12-17 12:15] tomislavhoracek commented on #2790
@mikew1 Thanks for letting us know.
It is not your mistake for sure!

New Trezor firmware is not backward compatible with the older `trezor-connect` library and we got a fixed version after the new FW release.
We have a PR with the latest `trezor-connect` release and it will be included in one of the next Daedalus releases.
https://github.com/input-output-hk/daedalus/pull/2726

The workaround for

[2021-12-17 13:59] CarlosLopezDeLara commented on #2789
This is a known issue. The team is working to fix it. You can track https://github.com/input-output-hk/daedalus/pull/2698

[2021-12-17 13:59] #2789 closed

[2021-12-17 15:48] #2790 closed

[2021-12-17 17:37] miorsufianiohk commented on #2688
Hi @Klobbinger ,

I hope that you are well. Do you mind giving it another go please and see if you could reproduce this issue on the latest Daedalus (please note that the pool estimated rewards will be treated in its own ticket). .

Many thanks,
Mior

[2021-12-17 17:43] miorsufianiohk commented on #2689
Hi @Klobbinger ,

Apologies for the late reply. We managed to reproduce the raised issue and have consequently informed the relevant team to investigate further. If you find any more issues or have any question please do not hesitate to contact us in due course.

Many thanks,
Mior

[2021-12-18 00:51] PhilippeLeLong commented on #2688
I was able to replicate the bug once after initial start up. After that, I couldn't replicate it. I will try again tomorrow and report back.
![grafik](https://user-images.githubusercontent.com/67224145/146596872-a51e6ec2-76dc-4482-9276-1a04b4a2dcb7.png)

[2021-12-18 10:19] mikew1 commented on #2790
@tomislavhoracek Thanks for this info!  I've just tried following the instructions to downgrade though, and unfortunately I'm getting "not a correct firmware file" for `trezor-2.4.2.bin` in both trezor's web interface and trezor suite.  I've just contacted trezor support, but don't know how long they'll take to reply, and wondered if you knew anything about this in the meantime. Thanks for your he

[2021-12-18 11:57] PhilippeLeLong commented on #2688
So it seems like this only happens after starting Daedalus and going to the stake pool tab. first time the slider is adjusted it does not update the expected rewards. After moving the slider a second time the correct value is shown.

![grafik](https://user-images.githubusercontent.com/67224145/146639472-a24bccea-60c0-41e1-b685-7f04c8e18e6a.png)
![grafik](https://user-images.githubusercontent.com/6

[2021-12-18 16:07] KQT3 commented on #2788
I have a similar issue where Cardano Node keeps crashing when I am connected to nordvpn, when disconnecting from nordvpn the issue disappear.

[2021-12-22 19:08] djyanke commented on #2767
I encountered the same issue. I left it alone for half an hour, and it eventually finished. I think it is not accurately updating the percentage of task completion because mine jumped from 0% to 99.9% and then took forever before it eventually finished. Hope this observation helps. (On Mac)

[2021-12-22 22:41] rideorwalk opened #2795 "Cannot pair Trezor Model T with Daedalus after upgrading the firmware version to 2.4.3"
I've upgraded my Trezor Model T firmware yesterday to version `2.4.3` and right after doing so I could no longer send a transaction in Daedalus using my paired wallet, I kept getting `Exporting the public key failed`.

What I've tried:
- I've wiped my Trezor Model T and reset it
- I've uninstalled and reinstalled Trezor Suite
- I've upgraded Trezor bridge
- I've unpaired my Trezor from Daedalus

b

[2021-12-23 11:35] tomislavhoracek commented on #2795
@rideorwalk It is a known issue and here is the explanation
https://github.com/input-output-hk/daedalus/issues/2790

Let us know if you will have more problems with that. Thanks.

[2021-12-23 11:36] #2795 closed

[2021-12-26 03:54] pjivers opened #2796 "Clicking "Wallet Settings ⌘ ;" has no effect"
**Issue**

On the MacOS version of Daedalus Mainnet, sometimes clicking the "Wallet Settings ⌘ ;" option under the "Daedalus Mainnet" menu has no effect. Similarly, using the hotkey combination `⌘ + ;` has no effect. This is only an intermittent issue though, as clicking on the wallets icon and clicking away again seems to fix it.

https://user-images.githubusercontent.com/1411509/147398450-d2b92a

[2021-12-26 13:43] MattMav opened #2797 "Can't Verify PGP Signature with Linux"
Hi all,

I followed [these](https://daedaluswallet.io/en/download/#modal=download_pgp_instructions_linux) instructions on how to verify the signature but I haven't been successful.

I got up to the point to import the IOHK key and per the instructions I'm using the following:

gpg2 --keyserver hkp://Keys.Openpgp.org --search-keys signing.authority@iohk.io

It's giving me the following errors howev

[2021-12-27 11:14] prusnak opened #2798 ""Exporting Public Key Failed" with Trezor device"
Originally reported here: https://github.com/trezor/trezor-suite/issues/4669

[2021-12-29 09:06] danielmain commented on #2796
Hi @pjivers thank you for find and report this Issue!

[2021-12-29 10:25] danielmain commented on #2797
Hi @MattMav I made a video testing that commands on `Ubuntu 20.04.3 LTS` and I have no Issues.

https://user-images.githubusercontent.com/4303099/147652455-38ab962e-2501-44d4-8789-8d451e1cc28e.mp4

Your problem seems not to be related to Daedalus nor IOHK. Try to import any other key and check if it works, if yes open this Issue again and share more details about your system.

[2021-12-29 10:25] #2797 closed

[2021-12-29 10:38] danielmain commented on #2798
Hi @prusnak It is a known issue 🙁 and here is the explanation and the workaround [#2790](https://github.com/input-output-hk/daedalus/issues/2790#issuecomment-996678116)

[2021-12-29 10:38] #2798 closed

[2021-12-29 20:08] brandonmcgarvey opened #2800 "Daedalus 4.6.0 with Trezor - Issue exporting public key"
HI. Daedalus with Trezor Model T is unable to export the public key if I try to send ADA or use Share address. I have tried closing out of Daedalus, disconnecting the Trezor and reconnecting, but it still gives me this error. I know this was working somewhat recently, but I am not sure if it stopped working on the latest build or the one prior. I verified that I can send from this Trezor wallet us

[2021-12-30 08:11] danielmain commented on #2800
Hi @brandonmcgarvey It is a known issue 🙁 and here is the explanation and the workaround [#2790](https://github.com/input-output-hk/daedalus/issues/2790#issuecomment-996678116)

[2021-12-30 08:11] #2800 closed

[2021-12-30 13:07] brandonmcgarvey commented on #2800
Thank you. I downgraded fw and it is working again.

[2021-12-31 03:05] pjivers commented on #2796
No worries, @danielmain. Glad I can help.

[2022-01-03 13:08] mnn opened #2802 "error while loading shared libraries: libdl.so.2"
I have download today the binary, but when I try to run it, it crashes:
[code]
But it looks like I have the library installed:
[code]
Maybe the installer is jailed in some kind and only uses its own libraries, so it doesn't see the system ones?

<details>
<pre>
<> inxi -Fxzc0
System:
  Kernel: 5.15.7-1-MANJARO x86_64 bits: 64 compiler: gcc v: 11.1.0
    Desktop: i3 4.20.1 Distro: Manjaro Linux bas

[2022-01-04 15:59] danielmain commented on #2802
Hi @mnn I can't reproduce your error. Would you please give us more information about on what machine are you trying to install Daedalus?

Run this and paste it here pls:
- `uname -mra`
- `cat /etc/issue`

Thank you in advance!

[2022-01-04 16:22] mnn commented on #2802
Sure, here it is:
[code]

I replaced the name of my machine with `xxx` in the output of `uname`. I think both pieces of info are mentioned in the OP (the `▶ Details` should be possible to unfold by clicking on it, at least for me it seems to be working).

[2022-01-04 16:29] danielmain commented on #2802
You are using an arch based Linux. I have only NixOS and Ubuntu to test :(
Do you have any distro (preferably Debian based) to try?

Also we could check if your installer is corrupted? Please run this:

`sha256sum daedalus-4.6.0-mainnet-20052.bin`

[2022-01-04 16:35] mnn commented on #2802
[code]

It seems to match the hash on the site.

Do you have any distro (preferably Debian based) to try?

Unfortunately not, just this Manjaro and a live Arch somewhere. Later this week I could try live Debian.

[2022-01-04 19:22] mnn commented on #2802
Tried it in Debian Buster and it works.

While I understand you don't want to support more distros, your page is a bit misleading then:

Manjaro/Arch are no niche distros, on DistroWatch in last year Manjaro sits on 3rd place and on Steam, Manjaro and Arch are second and third respectively (I realize that's not an accurate market share, but it is an important indicator). I would suggest to start l

[2022-01-04 20:15] danielmain commented on #2802
Hi @mnn you are right I haven't checked the distro watch for a while and yes, we should consider Manjaro. What do you think @daniloprates ?

Here I made a video, I tested Manjaro Linux in a virtual machine and it works! look here please: https://www.youtube.com/watch?v=1WUNM7cNf-s

[2022-01-05 10:54] danielmain commented on #2796
This Issue will be solved here: [DDW-860](https://input-output.atlassian.net/browse/DDW-860)

[2022-01-05 12:17] miorsufianiohk commented on #2688
Hi @PhilippeLeLong ,

Thank you for your replies. We have been trying to reproduce the issue without any success. We tested on multiple platforms including Windows, Mac and Linux on at least two networks which are Mainnet and Testnet. I have been wondering if you could still reproduce it? If possible, could you kindly let us know the following details please:

1)Your operating system and version
2

[2022-01-05 13:03] PhilippeLeLong commented on #2688
1) Windows 10 Home, 21H1, Build 19043.1415
2) 16GB
3) 40 GB and 500 GB. Daedalus folder is on D: drive. Same issue though before when everything was on C:
4) Mainnet Build 20052
5) Upgrade from previous versions, fresh install in October 2020, don't know which version.
6) Steps to reproduce:

1. Open Daedalus wait for connection and full sync
2. Go to Stake Pools tab
3. click list view
4. move sli

[2022-01-05 16:41] danielmain commented on #2796
This bug will be fixed here: [DDW-881](https://input-output.atlassian.net/browse/DDW-881)

[2022-01-05 19:17] mnn commented on #2802
Thank you for taking the time to test it on a clean Manjaro, that didn't even occurr to me to try.

So it's probably something with my Manjaro setup... Any way to enable logging in the installer? I tried passing `-v` and `--verbose` but it doesn't do anything.

[code]

Is this some kind of nix container? I didn't have good experience with nix in the past, it looks like it continues to haunt me :sm

[2022-01-05 19:39] mnn commented on #2802
Did some searching and found out about `LD_DEBUG`. Here's I believe the relevant part:

[code]

My layman guess would be that for some reason it can't load the library from the nix "container".

I also noticed these errors (not sure if relevant to my problem):

[code]

[2022-01-05 21:41] danielmain commented on #2802
@mnn maybe you should try to reinstall your Manjaro. I hope you saw the video I created in order to know if Daedalus runs on Manjaro.

[2022-01-05 21:47] danielmain commented on #2802
About how to log/verbose the Installer, I can ask here in the company for that. But you would need to wait, :( Many of my colleagues have vacations.

[2022-01-05 21:54] danielmain commented on #2802
@mnn have you check this? https://ostechnix.com/fix-pacman-error-loading-shared-libraries-error-arch-linux/

I encourage you to try NixOS is my distro right now ;)

[2022-01-10 04:05] rumourscape opened #2806 "Cardano-node is still on version 1.30"
I would like to see an update to 1.33 released.

[2022-01-10 14:48] irishann69 opened #2810 "Daedalus wallet issue, Keep getting error when trying to reimport my wallet"
Good evening,

I am trying to reinstall my wallet but I keep getting error despite my 24 word seed phrase being correct. I am 100% guaranteed that these are my seed phrases but I keep getting error. I have reinstalled my Daedalus wallet and while the node is synching, I can see my wallet there and it is updating. However, when the node has synced 100% and attempt to reimport wallet using my seed p

[2022-01-10 15:27] danielmain commented on #2806
Hi @rumourscape we are releasing the end of this week `cardano-node 1.32.1` on Main.
We need to test `1.33.0` carefully before releasing.

Just follow our PRs if you want to track when this happens :)

[2022-01-10 16:20] danielmain commented on #2810
Hi @irishann69, would you please share more information?

- What operating system are you using
- What Daedalus version.
- What is the error message

IMPORTANT: Please do not share the 24 words here and nowhere.

Thank you :)

[2022-01-10 16:36] irishann69 commented on #2810
Daniel Thank you so so much for getting back to m.

But I figured out that with my update, I had never verified signature of file, hence issue.

Thankfully all good.

Again thank you for your kind response.

Take care

[2022-01-10 19:39] danielmain commented on #2810
Happy to help you :)

[2022-01-10 19:39] #2810 closed

[2022-01-20 14:04] TheRealCrypteus commented on #1234
@KtorZ oh, I thought there would be some backup files in that roaming folder

[2022-01-21 09:10] bcoste commented on #2628
As a new feature, is it possible to add parameters to specify proxy settings ?

[2022-01-21 13:56] #2713 closed

[2022-01-21 21:53] monkey-jsun opened #2834 "Daedalus mainnet (4.7.0#20341) - "loading staking pools" takes forever."
It has been running for 3 hours now, which is longer than anytime before.

Is there something wrong here?

[2022-01-21 22:47] Nintorac commented on #2025
Hi, not sure if this is still a valid issue, haven't tried to install Daedalus in a while but assuming since it's still open that it's still happening.

Recently it has been discovered there is a kernel bug in all Linux kernels prior to 5.1rc1 that allows complete kernel priivelege escalation with a local account. The mitigation is to disable this setting that Daedalus requires so perhaps it is ti

[2022-01-22 05:23] monkey-jsun commented on #2834
It kept it running for about 7 hours and it is still loading.  Something is definitely wrong.  Any help?

[2022-01-22 07:02] chisNaN commented on #2677
Hello Thanks for this adaptation.
I am also really interested in the arm version and prefer to wait instead of installing a rosetta emulation...
Any estimation ?
Thanks in advance

[2022-01-22 11:08] cedeon commented on #2441
Is there any timeframe for this?  The blockchain is getting pretty big to run full nodes locally and I have a perfectly and permanently sync'd cardano-wallet docker container running on my server exposing port 8090 over http.  Would it be hard to allow daedalus to switch cardano-wallet/ cardano-node back ends instead of running these locally?  I'd really <3 this feature!

[2022-01-22 12:13] danielmain commented on #2834
Hi @monkey-jsun please don't forget that Daedalus is a full node wallet, that means if you haven't open Daedalus recently it will take time (depending on your PC specs and Internet speed) to reach 100% blockchain sync. Daedalus downloads a full copy of the Cardano blockchain and independently validates every transaction in its history.

In my case, I haven't open Daedalus on Windows 11 for a while

[2022-01-22 12:19] danielmain commented on #2677
Hi @chisNaN we are very close to get a Daedalus aarch64 (M1) version.

If you need it now you can build it from the sources using the branch `feature/ddw-745-arm-support`. Or check our [PR #2684](https://github.com/input-output-hk/daedalus/pull/2684)

Or wait until we integrate the compilation in our CI process ;)

[2022-01-22 12:37] chisNaN commented on #2677
Thanks for your reactivity and instructions @danielmain but if "you are very close" indeed i prefer to wait.
I am with cardano and daedalus since end 2017 and hope to follow this ambitious project longer

[2022-01-22 13:50] danielmain commented on #2677
Hi @chisNaN "very close" is something relatively 😅 but from what I can say, using the source code you can have a native M1 Daedalus version today.

Correct me pls @disassembler we need to integrate real M1 macs on our CI process before we can produce a native aarch64-Daedalus. Samuel, do you know when is that going to happen? Thank you!

[2022-01-22 14:42] danielmain commented on #2834
After a while (1-2hours) I got this screen @monkey-jsun

![image](https://user-images.githubusercontent.com/4303099/150643002-347fe32b-cbd5-488b-b77b-6d67c91c06e5.png)

I would ask you to wait longer. You should be able to see at least the percentage. If not, please open this Issue again and share more details about your hardware/operating system because I cannot reproduce your problem ☹️

[2022-01-22 14:42] #2834 closed

[2022-01-22 18:41] monkey-jsun commented on #2834
Well, this time I kept it running for 12 hours.  Let us see what happens next.

Please note the blockchain has already caught up, which itself takes a long time if not running for a while.  Right now it is purely spinning on loading stake pools.

[2022-01-24 10:11] danielmain commented on #2025
Hi @Nintorac I have read a little about this knob and [why it was introduced](https://lwn.net/Articles/673597/) and as far I see my deduction is because of the sandbox approach nix is design. I am not sure how it is done by AppImage or Flatpak.

We have at IO many experts and committers in the Nix project and I am trying to contact them directly to get a satisfactory answer for you.

[2022-01-24 18:57] cleverca22 commented on #2802
i believe this kind of issue happens when /tmp fills up when you run the installer
and due to a bug, it wont re-unpack things if you fix the free space and run it again

check /tmp for any large folders, clean them up, and then try again

[2022-01-24 19:10] mnn commented on #2802
@cleverca22 I don't believe that's an issue I am facing. I let running `watch -n 1 'df -h | grep /tmp | tee -a df.log ; date | tee -a df.log'` and in other terminal I ran the installer.

[code]

It looks like in `/tmp` was 15.5GB free when the installer crashed.

[2022-01-24 21:27] danielmain commented on #2025
Hi @Nintorac I have got this from our DevOps regarding that knob [image](https://user-images.githubusercontent.com/4303099/150867394-fad6b9ea-bce8-4c97-bd0b-88e7b9ed811c.jpeg)

So I don't think this is going to change from our side just because some distros disable it. That is why I'm going to close this issue.

[2022-01-24 21:28] #2025 closed

[2022-01-24 23:00] Nintorac commented on #2025
Hi @danielmain thanks for chasing this up.

Still not super satisfactory answer, I'm definitely no expert so I may just be over reacting but I've never had an app request something like this before. And for an app where security is paramount it seems there should be some sort of deeper explanation and discussion around risks/benefits. Would this pass a security audit?

Additionally the vulnerabili

[2022-01-25 04:05] monkey-jsun commented on #2834
It eventually came up.  *sigh*

[2022-01-25 07:43] danielmain commented on #2025
Hi @Nintorac I can understand your security concerns if we use applications that handles "money".

But as far I can see here in the [discussion ](https://lwn.net/Articles/673614/), that this switch was never conceived for Desktop environments according to an interview with the creator:

<img width="787" alt="image" src="https://user-images.githubusercontent.com/4303099/150932529-cf70bff9-059d-4a93

[2022-01-26 09:54] danielmain commented on #2788
Fix coming soon 😊 https://github.com/input-output-hk/daedalus/pull/2839

[2022-01-26 15:44] carrotshadow commented on #2025
As far as I can gather, this enablement, which is required to install the Daedalus wallet on the desktop
renders that whole 'desktop system' more vulnerable to abuse by other processes.
I could not install Daedalus at all on a Linux system unless that system was built with SystemD.
When I tried to install on a problematic SystemD variant, then this compromised namespace issue became apparent.
It w

[2022-01-26 22:35] mkungla commented on #2310
- What is the state of this?
- Is that something considered and is it somewhere in roadmap?

[2022-01-28 12:50] Dragovioon commented on #1234
Hi. I was hoping you could help me. I have Lost both the spending password and the seed phrase of my Wallet. Where I had all my Ada. This was Also the first Wallet I ever opened and that I still keep and the files from it. Included the secret.key file. I am looking for help for years now. Can someone please help me?

[2022-01-29 14:11] danielmain commented on #2310
@mkungla and @FranciscoAndaur we have wallet sorting in the release 4.9.0

It is already implemented look at this: https://github.com/input-output-hk/daedalus/pull/2775
Hope this solves your problem.

[2022-02-01 06:02] ancoron commented on #605
Here is my take on it (a bit more generic). I just modified the `~/.local/bin/daedalus-mainnet` script into this:
[code]
Now, the only thing that needs to be set is the environment variable `DAEDALUS_DIR` (which is also used inside the nix chroot, but will not collide here). So I have this in my `~/.profile`:
[code]
...and the contents of that directory is:
[code]
_(so not a full home directory, o

[2022-02-01 17:17] jodeknudt opened #2851 "Export CSV with raw numbers."
Right now the exporting of the transactions use the preset number format.
Is it possible to  export the csv as a raw number format without the space/comma/period string-character.

The aesthetics of the number format are great and to my liking. but when i want to start fooling around with spreadsheets. it's just an extra step to remove the noise. :-)

[2022-02-01 17:46] szymonmaslowski commented on #2851
Hi @jodeknudt, thanks for your message. We will consider your suggestion and come back shortly with the decision.

[2022-02-02 12:56] szymonmaslowski commented on #2851
Hi @jodeknudt. We agreed your suggestion is valuable so we plan to implement it in the future.

[2022-02-02 13:17] jodeknudt commented on #2851
Thank you for the feedback, looking forward towards to this little tadpole of a change.

[2022-02-02 19:12] rafek47 commented on #2569
I believe the majority of the people, especially the new ones in Cardano will never switch to different SMASH servers.

Daedalus keeps showing 0 potential rewards in red color for most of the pools (even the ones regularly minting blocks and paying to delegates).
338 of the top 500 pools shown in Daedalus are Multipool operators.

The chance new delegates end up in multitool farm is about 70%.

My

[2022-02-03 22:25] weebl2000 commented on #2734
@dmitrii-gaico I think this was implemented in Daedalus 4.8 - do we want to close this or keep it open for looking into further RTS param tuning? I'd be open to help out with that.

[2022-02-04 23:00] danger89 commented on #605
Hopefully something like this can be merged upstream. So it's at least way better then now.

[2022-02-05 09:54] cleverca22 commented on #605
any changes you do to the script will undo at the next update

my personal preference is symlinks:
[code]
that will persist between updates, and seamlessly redirect everything

[2022-02-05 10:57] ancoron commented on #605
@cleverca22 Symlinking only works in your case because you kept everything under `/home`. Just look at the bind mount options that the standard version is doing in that start script (`/home` and `/etc`). So it simply can't work for other locations outside of those two directories (also: the symlink will be there, but Daedalus will not be able to follow it, since the nix chroot doesn't allow that.

[2022-02-06 02:13] cleverca22 commented on #605
ah yeah, the chroot complicates matters, anywhere you move it must still be accessible

[2022-02-07 07:18] akshitv1 commented on #2505
Hi @benapetr . How did u compose such a transaction ?

[2022-02-07 11:08] dmitrii-gaico commented on #2754
Daedalus 4.8.0 had released and includes the RTS Flags Mode which improves the RAM usage on any machines if enabled.
Please open a new card if you still experience any issues with Daedalus.
Thank you!

[2022-02-07 11:08] #2754 closed

[2022-02-07 11:49] dmitrii-gaico commented on #2734
Thank you all for the participation and feedback. Daedalus 4.8.0 had been released and includes the RTS Mode feature. For now we decided to stick with "-c" option only even it is showing not the best ram usage reduction. However based on our testing results "-c" is the safest option for the Node stability. Other flag combinations showed better ram usage improvements but unfortunately the Node star

[2022-02-07 11:49] #2734 closed

[2022-02-08 07:32] chisNaN commented on #2677
Hello folks.
Any update for the arm with the recent 4.8 release?
Have a good week

[2022-02-08 12:58] PhilippeLeLong opened #2864 "Daedalus not fully synching. Hung up on invalid block."
I've been completely resynching Daedalus several times. Once it reaches about 97% it stalls and keeps throwing the below errors in a never ending loop. Beetween the different times I tried resynching (I deleted immutable, volatile and ledger files) the error appears at different slot numbers.

cardano.node.DnsSubscription:Error:5723] [2022-02-08 12:44:42.24 UTC] Domain: "relays-new.cardano-mainnet

[2022-02-08 13:31] szymonmaslowski commented on #2864
Hello @PhilippeLeLong thank you for rising this issue. We are gonna take a look on that.

[2022-02-08 14:35] dmitrii-gaico commented on #2864
@PhilippeLeLong Hello. Could you please attach the Node.log file for further research? It has no sensitive information and it would be useful for investigation. Thank you in advance.

[2022-02-08 14:38] PhilippeLeLong commented on #2864
[node.log](https://github.com/input-output-hk/daedalus/files/8024686/node.log)

[2022-02-08 15:24] szymonmaslowski commented on #2864
@PhilippeLeLong In your case we have two suggestions for you. Before you try them please make sure that you have the correct recovery phrase(s) to prevent loosing access to your wallet(s): https://iohk.zendesk.com/hc/en-us/articles/360038581434.

- manually delete **the last** 20 files (of any type so including the `primary`, `secondary` and `chunk` files) from the `chain/immutable` folder of the

[2022-02-08 15:27] PhilippeLeLong commented on #2864
Thanks for the reply. I already tried both suggestions several times. The
same error occurs at around 97% synchronization, but with different slot
numbers throwing the error message.

Szymon Masłowski ***@***.***> schrieb am Di., 8. Feb. 2022,
16:24:

[2022-02-08 16:53] danielmain commented on #2677
We are waiting this PR to be merged first https://github.com/input-output-hk/cardano-wallet/pull/2767

[2022-02-09 00:20] PhilippeLeLong commented on #2864
Deleted complete state directory and reynched. Same error occurs, see log file.

[node.log](https://github.com/input-output-hk/daedalus/files/8028290/node.log)

[2022-02-09 08:25] szymonmaslowski commented on #2864
Hi @PhilippeLeLong thank you for your collaboration. We are working towards resolving that issue and once we have the solution we will reach you out here.

[2022-02-09 13:30] vtosevski opened #2868 "Wallet balance on the past date"
Dear Deadalus team,

Is there a way to read out the wallet's balance on the past date? For tax declaration purposes I am supposed to report the wallet balance on 31.12.2021 but I don't know how might I go about that. Any suggestion is appreciated!

Thanks, Vinko

[2022-02-10 16:59] vtosevski commented on #2868
Hi Przemyslaw,

Thanks for the feedback, I've intended to do that in case no other option was available. I am not the one who judges if that's enough so we'll have to wait and see :)

For reference, the wording from tax authorities is "Der Bestand an Kryptowährungen kann in der Regel mit einem Ausdruck der Jahresendbestände im "Wallet", also der digitalen Brieftasche, belegt werden." which leaves

[2022-02-10 16:59] #2868 closed

[2022-02-11 20:48] morucci opened #2874 "Error: Render frame was disposed before WebFrameMain could be accessed"
Hi,
I'm using 4.8.0 version and from time to time daedalus does not start and fails with the following error:
[code]

[2022-02-14 18:45] dmitrii-gaico commented on #2796
Closing the card as the issue was fixed and would be included into the upcoming releases.
Thank you for report!

[2022-02-14 18:45] #2796 closed

[2022-02-14 19:06] CarlosLopezDeLara commented on #2874
@danielmain This was also seen here: https://input-output-rnd.slack.com/archives/GGKFXSKC6/p1644339575876219?thread_ts=1644332036.328279&cid=GGKFXSKC6

[2022-02-14 22:46] minh0722 opened #2876 "Pairing Ledger device with Daedalus on a windows machine fails"
I'm having a very annoying problem when trying to pair a Ledger device with Daedalus on Windows machine and Ledger is not recognized. The screen is still asking user to connect and unlock the wallet. I have to connect and unlock the Ledger device before running Daedalus. This seems like an known issue but nothing is raised here so I decided to create the issue here

https://iohk.zendesk.com/hc/en-

[2022-02-15 08:13] dmitrii-gaico commented on #2876
Hello. Yes, this is a known issue and it is currently in our ToDo list to be fixed.
Thank you for your report!

[2022-02-15 20:32] danielmain commented on #2874
@morucci would you please share more info about your hardware and operating systems and help us to reproduce it?
Thank you!!

[2022-02-17 09:48] courtwebb opened #2879 "Unable to send Byron era"
Having issues sending Byron era ada which was not moved into shelley with fork. How can this be resolved. Is it possible to get an old version of Daedalus (2.0.0) to attempt to do this here.

[2022-02-17 09:54] nikolaglumac commented on #2879
Old versions of Daedalus will not help you as they can no longer connect to the network.
Please share more details:
- Do you have access to your Byron wallet in the latest Daedalus version?
- Do you see the correct balance?
- What error do you get when trying to send funds from that wallet?

Logs and screenshots would help us a lot 🙏

[2022-02-17 09:59] nikolaglumac commented on #2879
@rvl this is the individual who has reached out to us via Twitter.
Please let us know if there is any progress on this issue 🙏

[2022-02-17 10:22] courtwebb commented on #2879
https://github.com/input-output-hk/cardano-wallet/issues/2395
@rvl @nikolaglumac could anything on the above issue help solve the problem. Secret.key file is not in json version so also unable to drop it into any other wallets

[2022-02-17 10:35] courtwebb commented on #2879
renderer.js:34 [2022-02-17T08:33:42.544Z] [daedalus.*mainnet*:error:ipcRenderer] {
  "msg": "AdaApi::createTransaction error",
  "data": {
    "error": {
      "code": "created_invalid_transaction",
      "message": "The submitted transaction was rejected by the local node. Here's an error message that may help with debugging: TxValidationErrorInMode (ShelleyTxValidationError ShelleyBasedEraAlonzo

[2022-02-17 11:04] soobin93 opened #2880 "Moving HDD into my new computer"
Hi I'm trying to move my HDD into my new computer as my old one has suddenly died last night...
What's worse is that I've just realised that I have lost my notepad where I've written my security words...
I'm wondering if my daedalus wallet will still be logged in and working even if I just move my HDD into my new computer.
Please help!

P.S let me know if this is not the right place to post this k

[2022-02-17 12:42] danielmain commented on #2880
Hi @soobin93 this should not be a problem as long the Daedalus state directory stays in the same path

Windows: `C:\Users\soobin93\AppData\Roaming\Daedalus Mainnet`
Linux: `/home/soobin93/.local/share/Daedalus/mainnet`

[2022-02-17 12:43] #2880 closed

[2022-02-18 08:41] morucci commented on #2874
Hi, sure I'm running on a Lenovo T440s 8Gb RAM + 16GB swap on Fedora 34. CPU i7-4600U

[2022-02-20 23:03] bruno-nirello opened #2887 "Daedalus keep returning the sync to old epochs"
## Problem:

Daedalus keep returning the sync to old epochs, it syncs for almost 90%, them stops saying  validating blocks... syncing blocks... and finally it goes back to 74%.

I already tried with a Ubuntu 20.04 still same issue.
i tried to sync the clock with a NTP every minut to keep the clock in sync
I have an SSD 1TB ADATA SX8200

![image](https://user-images.githubusercontent.com/30416677/1

[2022-02-21 20:54] LukeL99 commented on #643
@davelab6 - I realize this is an old comment, but I'm just seeing it. Your solution works, but the file is also accessible from the files tab on the left side of the screen after you run the script. Glad this helped!

![image](https://user-images.githubusercontent.com/138888/155024943-e4683ee2-9037-4ebe-967b-74159b56bc70.png)

I'm getting some reports of some float conversion errors on Reddit wher

[2022-02-22 13:13] adamwojt commented on #2788
@KQT3 Same here. VPN on -> Daedalus crashes. But this still fits `sysctl net.ipv6.conf.all.disable_ipv6` problem as it gets set to `1` when VPN is on.

[2022-02-23 07:34] chisNaN commented on #2677
Hello. I saw daedalus flight is on 4.9.
Any news for the arm build one?
Thanks

[2022-02-23 17:55] ippei76 opened #2895 "test. please delete me"
test please delete me

[2022-02-24 11:34] #2895 closed

[2022-02-25 11:52] plamut commented on #2802
**Update** - I might have figured out what could be wrong, the library installed on my system seems to be too old.

For a start I followed [this StackOverflow answer](https://stackoverflow.com/a/21173918/5040035). I set the `LD_LIBRARY_PATH` environment variable to point to the location of the `libdl.so.2` library found above by the `locate` command:
[code]

Running the Daedalus installer again no

[2022-03-02 00:23] x-limitless-x commented on #643
I wrote this Powershell Script to do the parsing of the csv file:
<script src="https://gist.github.com/x-limitless-x/e885d030c4215e88761a55983fb3d707.js"></script>

[2022-03-02 23:51] minh0722 commented on #2876
PR created [here](https://github.com/input-output-hk/daedalus/pull/2698) but some conflicts need resolving

[2022-03-03 13:37] james-iohk opened #2903 "Unable to clear warning triangle when token's recommended decimal places is 0"
When viewing tokens I sometimes see an orange triangle indicating that I should review the recommended decimal places.

**Happy path**
If the recommended decimal places is greater than 0 then I can open the settings and click "Save" to apply recommended value which also dismisses the warning triangle.

**Buggy path**
If the recommended decimal places is 0 then when I open the settings the "Save" b

[2022-03-03 13:51] dmitrii-gaico commented on #2903
Hello. Thank you for your report. This issue is known and it would be fixed in the next release. cc @CarlosLopezDeLara

[2022-03-03 16:49] shawnbusuttil commented on #2903
https://github.com/input-output-hk/daedalus/pull/2905

There is a PR open for this.

[2022-03-03 20:52] plamut commented on #2802
Just for the record, I tried compiling glibc 2.35 from source and installing into a custom path (to not override the existing system installation). When I set `LD_LIBRARY_PATH` to point to that installation directory, the shell became unusable:
[code]
Clearly, pointing to too new a version of `libdl.so.2` was a dead end, unless I messed up something when compiling it. Clearing the environment vari

[2022-03-04 18:04] stfl commented on #2398
+1 on Arch

[2022-03-09 09:37] danielmain commented on #2677
Hi @chisNaN

Seems simple, but there is a lot of work under the hood 😵

1. The mentioned PR needs to be merged, then you can build from the sources a M1-native Daedalus.
2. Additionally, we are upgrading our CI infrastructure to build/sign/ship the new Daedalus so that you can soon download it from [daedaluswallet.io](https://daedaluswallet.io/) in case you prefer not to build it by yourself.
3. F

[2022-03-10 13:57] chisNaN commented on #2677
Thanks for your reply
Honestly as i have managed decent amount of ADA i prefer to wait for a simple to db click on dmg
(even if i am full stack web dev)

[2022-03-11 16:25] dmitrii-gaico commented on #2851
Thank you for your report. Closing the card as the feature was implemented and would be included into the upcoming release.

[2022-03-11 16:25] #2851 closed

[2022-03-14 21:49] ramanicus opened #2923 "high ram usage"
cardano-node.exe consuming 8,708.8 MB of RAM, i read that it could use around 2.5-3 gb or ram, but 8.7 seems excessive, is there a solution for this?

[2022-03-14 22:30] marcin-mazurek commented on #2923
Hi @ramanicus!

Daedalus is a full node wallet - as the blockchain grows, memory usage does too. While in the past you could observe memory usage of 2.5-3 GB, currently you can expect 8 GB or more. The current hardware recommendation is to have at least 16 GB of RAM: https://iohk.zendesk.com/hc/en-us/articles/360010496553-Daedalus-system-requirements

Having said that, in Daedalus 4.8.0 we introdu

[2022-03-14 23:38] ramanicus commented on #2923
Thank you for your fast response, I'm switching to Yaroi.  I did like the
daedalus, but i normally have 9GB free, and when I load it leaves me with 1
and sometimes 0 mem free.

El lun, 14 mar 2022 a la(s) 16:30, Marcin Mazurek ***@***.***)
escribió:

[2022-03-15 07:41] #2903 closed

[2022-03-15 07:47] marcin-mazurek commented on #2923
Thank you for your feedback!

[2022-03-15 07:47] #2923 closed

[2022-03-15 07:57] dmitrii-gaico commented on #2720
Closing the record due to inactivity. If you still facing the issue please create a new card so we can continue investigation. Thank you.

[2022-03-15 07:57] #2720 closed

[2022-03-15 14:14] bruno-nirello commented on #2864
I think this is the same issue as me, https://github.com/input-output-hk/daedalus/issues/2887

Do you think is something with the Internet service provider?

[2022-03-15 14:25] dmitrii-gaico commented on #2864
@bruno-nirello Hello! You could try to follow the steps in the thread. There is a chance it would help you but from our side we are researching the issue so resolve it. Thank tou!

[2022-03-16 10:27] marcin-mazurek commented on #2864
Hi @bruno-nirello, for better visibility, we've raised a corresponding issue in cardano-node repository, you should be able to track the progress there: https://github.com/input-output-hk/cardano-node/issues/3708

[2022-03-16 11:48] marcin-mazurek commented on #2887
Hi @bruno-nirello, for better visibility, we've raised a corresponding issue in cardano-node repository, you should be able to track the progress there: https://github.com/input-output-hk/cardano-node/issues/3708

[2022-03-17 09:50] marcin-mazurek commented on #2588
PR that addresses the issue: https://github.com/input-output-hk/daedalus/pull/2925

[2022-03-23 08:45] sakakibaraakio opened #2931 "Errata in "ADD A TOKEN" in Japanese environment"
![スクリーンショット 2022-03-23 173840](https://user-images.githubusercontent.com/69729884/159657795-d8bcc05d-8212-4d23-aec9-3d61589f1dd0.png)

In the "ADD A TOKEN" field of a remittance, the bottom buttons in English are "Cancel" and "ADD", but in Japanese they are "キャンセル（Cancel）" and "キャンセル".

There is no problem with the function, only with the notation.
If you select "キャンセル" on the right, the token wil

[2022-03-23 08:58] sakakibaraakio opened #2932 "Behavior when trying to transfer money from a wallet containing tokens so that the balance is less than 1 ADA"
If you send money from a wallet that does not contain tokens so that the balance is less than 1 ADA, the balance that would have remained will be added to the fee.
This means that the balance after the transfer will never fall below 1 ADA, and the transfer will be successful.

However, it seems that this function does not work well with wallets that contain tokens, and you can move to the confirma

[2022-03-23 12:51] marcin-mazurek commented on #2931
Hi @sakakibaraakio, a fix was added to this PR: https://github.com/input-output-hk/daedalus/pull/2921. It should be released with the next Daedalus release.

[2022-03-23 12:56] gabriela-ponce commented on #2932
@sakakibaraakio Are you trying to move all the ADA on your wallet and not the tokens?
If that's the case, Daedalus won't allow this action, since it calculates how much ADA you'd need to move the tokens you still have in the wallet and it prevents any transaction that would result in a smaller balance.
In other words, you cannot empty a wallet with tokens, since you'd need ADA to operate them.

We

[2022-03-23 16:05] marcin-mazurek commented on #2932
Hi @sakakibaraakio, I spoke to the team and apparently we've already got an improvement for this: https://github.com/input-output-hk/daedalus/pull/2783 - it will be shipped with the upcoming release, so stay tuned! 📻

I'm going to close this issue, if you have any further questions or feedback, please leave a comment here and we'll reopen the issue.

[2022-03-23 16:05] #2932 closed

[2022-03-24 10:33] m-i-k-e opened #2933 "Background daemon to keep node in sync and up to date"
There are endless issues with Daedalus being slow. The reason is simple: It has to fetch, sync and verify the blockchain.

This takes a long time, and is the most common complaint from users.

What I'm proposing is to create a background daemon that would run constantly to keep the node up to date on the local computer. When Daedalus is launched, it would more or less start instantly.

[2022-03-24 15:43] morucci commented on #2874
I no longer see it with the last version. I close here and re-open if needed.
Thanks !

[2022-03-24 15:43] #2874 closed

[2022-03-25 19:03] chisNaN commented on #2677
From what i can read here https://github.com/input-output-hk/cardano-wallet/pull/2767

it's seems almost available

[2022-03-27 19:08] gitmachtl commented on #2788
I made a short oneliner to fix it temporary by commenting out the troublemaking line in the index.js file of the launcher

https://github.com/input-output-hk/daedalus/pull/2839#issuecomment-1079997820

I have made a oneliner to fix it temporary:

[code]

- changes into the home directory of the user and subdirectory `.daedalus/nix/store`
- searches for the file that contains the specific line `con

[2022-03-28 17:27] kedicesur opened #2936 "What is the point of keeping the older Daedalus versions on disk?"
I have noticed that several older versions of Daedalus are kept under the `.local/share/Daedalus/mainnet/Downloads` folder (Linux). Daedalus is already taking up a huge space on the disk. Especially considering that each version is like ~450Mb and an older version won't work anyway, can we not get rid of the olders once an upgrade to the latest version is successfully completed?

[2022-03-29 12:28] shawnbusuttil commented on #2936
It has been agreed that these should be deleted on all platforms.

Can you confirm, @daniloprates?

[2022-04-05 11:07] dmitrii-gaico commented on #2864
@bruno-nirello Hello! Could you please advise if the issue is still reproducible at your end? It would be also great if you can try to sync up to 100% using another PC so we can exclude the "hardware root cause". Thank you in advance!

[2022-04-13 08:26] dmitrii-gaico commented on #2936
@kedicesur Thank you for your report. The issue would be fixed in the upcoming release.

[2022-04-13 12:16] dmitrii-gaico commented on #2931
Closing the card as the issue was fixed and would be included into the upcoming release. Thank you for reporting it!

[2022-04-13 12:16] #2931 closed

[2022-04-14 07:16] dmitrii-gaico commented on #2696
@katakombi Hello. Could you please advise if you still experience any issues with Daedalus (latest release)? Thank you in advance.

[2022-04-14 07:29] dmitrii-gaico commented on #2652
Closing the ticket as no additional clarification required.

[2022-04-14 07:29] #2652 closed

[2022-04-14 09:23] katakombi commented on #2696
I hardly use daedalus now to transfer token. If you give me exact instructions I will see what I can do to test something that comes close to the previous issue.

[2022-04-14 09:24] katakombi commented on #2696
that being said, I have no issues with daedalus although I use it mainly as a backend to submit my nami / etrnl transactions

[2022-04-14 09:44] dmitrii-gaico commented on #2696
@katakombi Thank you for your feedback! A lot of improvements were done so I just needed to make sure you no longer facing any issues. Please open a new ticket if you going to experience any issues in future or would like to suggest any improvements.

[2022-04-14 09:44] #2696 closed

[2022-04-18 09:29] dmitrii-gaico commented on #2887
@bruno-nirello Hello. Could you please advise if you still experiencing the issue using latest Daedalus release ? If so can I kindly ask you if you have a possibility to check the issue on another PC. Thank you in advance!

[2022-04-18 09:31] dmitrii-gaico commented on #2637
Closing the ticket as issue were fixed.

[2022-04-18 09:31] #2637 closed

[2022-04-18 09:34] dmitrii-gaico commented on #2624
@maddinthegreat Thank you for your suggestion! All the feature suggestions are reviewed and potentially would be implemented in future releases.

[2022-04-18 09:34] #2624 closed

[2022-04-20 20:33] bruno-nirello commented on #2887
hi @dmitrii-gaico i still have the problem with daedalus 4.9.1 in my PC with ryzen, but not in my office laptop with Intel.

[2022-04-20 20:45] dmitrii-gaico commented on #2887
@bruno-nirello Thank you for reply. Am I right that you experience the issue on Windows / Ubuntu but on the same PC ? It might be that the issue is hardware related. It would be great if you can run some memory checks to make sure it is not faulty. I have checked the app on two different desktops one is with Ryzen 3600 and another one is Ryzen 7 4800h and both synced with no issues.

[2022-04-20 20:56] bruno-nirello commented on #2887
@dmitrii-gaico thank you for the advice, i will look for a software that scan errors on memory. Maybe the node is more sensitive to that.

[2022-04-21 23:18] bruno-nirello commented on #2887
after swithing all the memories, i found one that was having errors, i will close the issue, thanks @dmitrii-gaico @marcin-mazurek

[2022-04-21 23:18] #2887 closed

[2022-04-23 02:21] codyaverett opened #2968 "UI plugins or dapp integrations?"
I've been thinking that it would be nice to have a way to integrate my own UI components/views in daedalus similar to how I can develop and install an extension in Visual Studio Code.  I understand there would be risks involved in downloading and running potentially untrusted code in a wallet, so probably all transaction submissions requests originating from a plugin would need to be made transpar

[2022-04-23 02:29] codyaverett commented on #2968
What if dapp extensions could only be discovered and downloaded/installed if one of my wallets had an asset/nft that granted me that access.  Who is working on the dapp store?

[2022-04-23 17:19] PhilippeLeLong commented on #2688
Installed Daedalus on a new PC. Latest version 4.9.1 and the problem still persists.

[2022-04-27 04:25] isaacbrown92 opened #2970 "Subtle pasting issue with catalyst PINs."
When registering for voting, you're given a chance to set you PIN. If you copy paste multiple chars into the pin field, you'll see that it glitches out and pastes multiple chars into an individual character slot.

There are four slots like

[ ] [ ] [ ] [ ]

If I paste 1234 into there I should see

[ . ] [ . ] [ . ] [ . ]

but what I actually see is

[ . . . . ] [ ] [ ] [ ]

(Sorry for drawing it i

[2022-04-30 15:45] amutiso commented on #2397
+1 ccVault/Eternl, Trezor Suite on Trezor T also support secondary accounts in the same wallet.
It's mid 2022. What is the likelihood of this backlog item making into a release?

[2022-05-06 03:43] codingbeast opened #2974 "how to run after use yarn build"
can anyone please provide or guide how to use application after build by using
yarn build

the app is working fine when I use yarn dev  but after using the build command
I don't know how to run.

[2022-05-06 07:19] danielmain commented on #2974
Hi @codingbeast, I assume you want to build an artefact? We don't use yarn for that, we use nix for building.

Examples:

For Mac

[code]

For Linux

[code]

But you can check the shell scripts located under ./scripts/

[2022-05-06 09:02] codingbeast commented on #2974
HI @danielmain Thank you for the help but the Linux command is not working.

[2022-05-06 09:16] michalrus commented on #2974
Hey, @codingbeast, depending on what you need (I’m assuming the `mainnet` network):

### Linux installer which will work anywhere:

[code]

### Nix derivation which you can `nix-copy-closure` to another Nix-enabled system:

[code]

[2022-05-06 09:17] michalrus commented on #2974
@codingbeast unfortunately, you need to run `scripts/` from the root directory of the Daedalus project – it’s on my list to fix soon

[2022-05-06 09:20] codingbeast commented on #2974
@danielmain  and @michalrus Thank you for the help.

[2022-05-06 09:20] #2974 closed

[2022-05-06 12:20] codingbeast commented on #2974
@michalrus  Can you please help me with how to create a Windows and Mac installer?

[2022-05-06 13:00] michalrus commented on #2974
Sure!

### Windows installer – has to be built on Linux (!)

[code]
It will be in `result/`.

### macOS installer – has to be built on macOS

[code]
It will be in `installers/csl-daedalus/daedalus-...-0.pkg`.

[2022-05-07 12:29] codingbeast opened #2976 "tsx or ts compiled file not working."
when I try to try to edit something in TSX or ts file it's not showing when I run the app.
for example, I edit something in
<pre>source/renderer/app/components/settings/categories/SupportSettings.tsx</pre>

after that, I am running
<pre>
yarn lint
yarn compile
yarn check:all
yarn dev
<pre>

but the edited text is not showing.

[2022-05-07 12:58] danielmain commented on #2976
Sorry @codingbeast I dont understand your question. What are you trying to change?

[2022-05-07 13:01] codingbeast commented on #2976
![Screenshot from 2022-05-07 18-30-30](https://user-images.githubusercontent.com/19985985/167255575-5b33e740-931c-4cf6-8f36-1b8ab28e5517.png)
just for testing I changed this highlighted text but its not showing when I run app by <pre>yarn dev</pre>

[2022-05-07 13:03] danielmain commented on #2976
Do you know how `react-intl` works?

We use JSON files for the translations. What you are trying to change is only a "defaultMessage".

[2022-05-07 13:03] #2976 closed

[2022-05-07 13:08] codingbeast commented on #2976
but why its not showing in app ?

[2022-05-10 08:06] chisNaN commented on #2677
Hello folks
Any updates on this one?
thanks in advance

[2022-05-10 08:28] danielmain commented on #2677
Hi @chisNaN we have a running branch already, you can run it today. It can be run on your machine if you compile it.

An Installable artifact is not yet ready since our DevOps team needs to set up and install M1 machines in our CI infrastructure. cc: @disassembler

If you follow the [README.md](https://github.com/input-output-hk/daedalus/tree/feature/ddw-745-arm-support#linuxmacos) you can have it

[2022-05-12 19:48] DerekZiemba opened #2980 "Broke/can't start after 4.10.0 Upgrade `daedalus-4.10.0-mainnet-21740`"
I launched Daedalus and it told me I need to update.  I accepted and it installed.  After the setup finish, upon launching I'm met with:
[code]
![image](https://user-images.githubusercontent.com/7283693/168155504-3b000cfa-b48e-425a-a63c-91df0a2a8133.png)

I also checked the Windows Event Log for errors. There was nothing from Daedalus 4.10, but interestingly there was one from when 4.9.1 shutdown

[2022-05-13 07:44] danielmain commented on #2980
Hi @DerekZiemba do you have detection.node file in this path?

![image](https://user-images.githubusercontent.com/4303099/168235824-162d09d5-482e-4817-9444-f557af1da52f.png)

[2022-05-13 10:42] danielmain commented on #2980
We cannot reproduce your error. We have retested your scenario today, and it simply works on our side. Could it be an antivirus you are using? Or a bitflip 😐 ?

[2022-05-13 10:42] #2980 closed

[2022-05-13 11:01] DerekZiemba commented on #2980
@danielmain Yep.  But since I uninstalled and deleted the directory, I couldn't tell you what was there before.

![image](https://user-images.githubusercontent.com/7283693/168269390-50528880-41fe-4eb0-b0ea-e798be82fd90.png)

I have Antivirus/Defender disabled for performance reasons.

That's actually the first thought that popped into my head upon seeing `eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-daedalus-

[2022-05-14 14:48] codingbeast opened #2983 "stuck on cardano node starting"
every time when I try to run the app by yarn dev
app is stuck on starting cardano
what I did to fix the error :
I delete this folder
/home/ubuntu/.local/share/Daedalues/mainnet/chain/
but some time it work and some time not working .
also I am using rts flag but still not working .

![Screenshot from 2022-05-14 20-14-49](https://user-images.githubusercontent.com/19985985/168430633-8b529486-a301-4d

[2022-05-15 07:26] #2983 closed

[2022-05-15 07:27] codingbeast opened #2984 "too many symbolic links encountered error on startup"
when I try to run the app using yarn dev
the Cardano-node is not started and shows too many symbolic links encountered
I am using (ubuntu ).
![Screenshot from 2022-05-15 12-55-31](https://user-images.githubusercontent.com/19985985/168462048-5bbbf631-1db4-4317-884c-fa99404a91f3.png)

[2022-05-16 06:44] michalrus commented on #2984
Hey, @codingbeast, can you commit & push all your local changes to your fork, and give me the link to that commit, so that I can reproduce?

Thank you!

[2022-05-16 07:11] hirohiro8382 commented on #1234
The restoration was successful using secret.key. However, I cannot send money. Is there a solution
<img width="855" alt="スクリーンショット 2022-05-16 16 11 03" src="https://user-images.githubusercontent.com/105627957/168538294-9b3d49e3-9331-4df2-9243-667b910a41e3.png">
?

[2022-05-16 08:01] dmitrii-gaico commented on #2876
@minh0722 Hello. Could you please advise if issue is still reproducible for you using latest Mainnet release. Thank you in advance!

[2022-05-16 08:05] dmitrii-gaico commented on #2788
@ikulis Hello. Could you please advise you are still facing the issue after the latest Daedalus release? Thank you in advance!

[2022-05-16 08:44] hirohiro8382 opened #2985 "I used the import function and restored it, but a remittance error occurs."
I am Japanese. I'm sorry I can't speak English.

I imported it with secret.key which has no password set. I entered the name, set the remittance password, and restored it. The balance is also displayed.

I get an error message when I try to send money to a new wallet.

You can send money from the new address, but not from the ADA address assigned by Cardano.

What's happening with this? I will att

[2022-05-16 09:17] minh0722 commented on #2876
The issue is now not reproducible in 4.10.0. Thanks for the great work!

[2022-05-16 09:17] #2876 closed

[2022-05-16 09:45] Dragovioon commented on #1234
I need to remember my spending password but I have no idea need help pay well

[2022-05-16 10:05] PhilippeLeLong commented on #2864
I'm on a new PC and it works fine there. Cannot test the old machine right now.

[2022-05-16 10:19] hirohiro8382 commented on #1234
Thank you.  # 1234 I saw everything, but there was no solution.

[2022-05-16 10:22] danielmain commented on #2985
Hi @hirohiro8382

[2022-05-16 10:35] michalrus commented on #1234
_internal: correct linking of ↑: #1234_

[2022-05-16 11:43] hirohiro8382 commented on #2985
Thank you. I set a remittance password when I imported secret.key, isn't that password?

You can successfully transfer money with this password from an address containing a small amount of ADA. However, if you try to send more than that amount, you will get an error.

The remittance password was not set when the initial Daedalus wallet was created
![スクリーンショット 2022-05-16 20 42 16](https://user-imag

[2022-05-16 11:48] hirohiro8382 commented on #2985
↑↑↑↑↑↑
I've checked all of these issues, but there was no solution.

If it is a secret.key with no password set, I think that the contents are an unencrypted master key. I want to use it and import from YOROI.

Is there a way to see the contents of this secret.key?

[2022-05-16 12:06] dmitrii-gaico commented on #2864
Closing the ticket as it was resolved. Please create a new one if you experiencing any other issues with Daedalus. Thank you!

[2022-05-16 12:57] dmitrii-gaico commented on #2985
@hirohiro8382 Hello. Please submit a request with all the details via Service Desk. https://iohk.zendesk.com/hc/en-us Thank you in advance!

[2022-05-16 12:57] #2985 closed

[2022-05-16 17:31] HeptaSean opened #2987 "Decimal places should default to recommended"
The decimal places for native tokens default to 0, even if the recommended value according to the token registry is something else.

Also, at least in the Daedalus Flight 4.10.0 I have installed, all warning signs that the current decimal places setting is not the recommended one are gone.

Lastly, it is odd that before changing the decimal places, Daedalus displays, e.g., 8272 SUNDAE, and after c

[2022-05-16 19:40] danielmain commented on #2987
Hi @daniloprates would you pls evaluate this? thank you!

[2022-05-16 20:37] HeptaSean commented on #2987
Off-Topic: Can you remove the scam attempt in https://github.com/input-output-hk/daedalus/issues/2987#issuecomment-1128056530?

[2022-05-16 23:39] hirohiro8382 commented on #2985
IOHK does not look it up. The people here are kinder.

I'm sorry, but the situation is that this problem is currently occurring only in the secret.key that hiroki.okeya@gmail.com has, and it is a fairly low priority.
As stated in the Daedalus Terms of Service, please be sure to keep the recovery phrase. We have been asking users from the beginning to solve this problem because this recovery phrase

[2022-05-16 23:43] hirohiro8382 commented on #2985
Every time I restore a secret.key that doesn't have this password, I'm asked for a password. Does that mean it's reset every time

「This wallet is not password protected when sent.」
It is written like this.
<img width="674" alt="スクリーンショット 2022-05-17 8 31 05" src="https://user-images.githubusercontent.com/105627957/168699498-8aca244f-c43c-4e35-99de-6e8445fb17e6.png">
?

[2022-05-17 06:22] codingbeast commented on #2984
Hi I have fixed the use by using a direct file instead of symbolic links

[2022-05-17 07:08] michalrus commented on #2984
I would still like to get a look at what caused this, but if you cannot show it, then fine.

Happy you were able to fix this on your own. :wave:

[2022-05-17 07:08] #2984 closed

[2022-05-17 08:42] danielmain commented on #2985
Hi @hirohiro8382 we have several people reporting having the same problem by using the same secret.key pls respond the questions my colleagues in IOHK support are asking you.

[2022-05-18 00:23] hirohiro8382 commented on #2985
thank you.I will ask IOHK again.

I think it is the same as this problem. # 3142

____________________________________________________________
There are 3 separate bugs from the 2017 code which apply to this.

One is that the cardano-sl wallet never generated address indices in the hardened index range.
The other is that deriveXPub used the wrong range for hardened indices.
The last seems to be an

[2022-05-18 00:40] pauljgardner commented on #2788
Did the upgrade from 4.9.0 to 4.10.0 today on Ubuntu 20.04 and all went well. Thanks so much!

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Dmitrii Gaico ***@***.***>
Sent: Monday, May 16, 2022 2:05:20 AM
To: input-output-hk/daedalus ***@***.***>
Cc: Paul Gardner ***@***.***>; Manual ***@***.***>
Subject: Newsletter:_ Re: [input-output-hk/daedalus] Node cr

[2022-05-18 06:27] ikulis commented on #2788
@dmitrii-gaico  @danielmain  After upgrading to 4.10.0#21740 , it works great with ipv6 disabled.

Thank you very much :1st_place_medal:

[2022-05-18 06:27] #2788 closed

[2022-05-18 16:44] chisNaN commented on #2677
THanks a lot will do that

[2022-05-23 09:01] danielmain commented on #2677
@chisNaN if you check the branch `feature/ddw-745-arm-support` that is in this [PR](https://github.com/input-output-hk/daedalus/pull/2684) you will see that as soon it gets merged in develop branch it will look like this:
<img width="874" alt="grafik" src="https://user-images.githubusercontent.com/4303099/169783698-0a485917-a84c-4472-9fff-e42468461788.png">

[2022-05-24 07:18] chisNaN commented on #2677
THANKS a lot will try that then

[2022-05-25 04:03] maneetgoyal opened #2992 "Running v1.0.0"
![image](https://user-images.githubusercontent.com/25290212/170177177-ce910c3e-540a-42cb-af7b-1ad9626548c8.png)

Hi all,

Due to some restrictions, I need to use v1.0.0 but it shows me the above error. Please suggest if v1.0.0 can be used or I'll have to stick to the latest/greater versions?

[2022-05-25 06:07] danielmain commented on #2992
Hi @maneetgoyal of course this version is not maintained anymore. I can't imagine what restrictions do you have, but for security reasons and compatibility you need to use the latest version https://daedaluswallet.io/en/download/

[2022-05-25 06:11] #2992 closed

[2022-05-25 12:55] MrGhost44 opened #2993 "Hello, how to install old version on windows?"

[2022-05-25 13:59] danielmain commented on #2993
Hi @MrGhost44 we do not support older versions.

[2022-05-25 13:59] #2993 closed

[2022-05-25 13:59] daniloprates commented on #2987
@HeptaSean thanks for your report. Some legal concerns led us to decide on the implementation this way. We will re-evaluate to see if it's possible to have this improvement and let you know.

[2022-05-25 13:59] #2987 closed, assigned to thedanheller

[2022-05-31 10:44] NKT00 opened #2994 "Daedalus not respecting the SMASH delisting process fully"
There seems to be an issue with Daedalus not fully respecting the SMASH delists. Two pools which are delisted, GENS4 "40efc97d08315ff9be5898f24af5b8b120669b43027662c3499dd785" and a fake/clone FLICK "78e07590b2a28ca0e90602fb9319e11770b516ec34387c663ebda287" are still present in the returned results. Pool IDs are present in the Git list (I personally added the FLICK one, @disassembler added the oth

[2022-06-08 15:21] user1n commented on #605
Came here only to post this https://schinagl.priv.at/nt/hardlinkshellext/linkshellextension.html#hardlinks
Hoping it helps some of you as it has me.

[2022-06-08 21:05] danger89 commented on #605
Soft-links and hard-links are all a very bad workaround IMO.

Why can't I easily change the Daedalus wallet storage location in the GUI? After 5 years!!

[2022-06-08 21:08] danger89 commented on #605
@danielmain Can this feature be planned in any upcoming releases?

This missing feature is hampering me to use a good decentralized Cardano wallet on my PC (no web-wallets).

[2022-06-11 15:42] PhilippeLeLong commented on #2688
![image](https://user-images.githubusercontent.com/67224145/173194755-aa522ec3-7a9e-42f4-b328-1d26ef981845.png)
Daedalus version 4.11.0

Same faulty behavior. The first time after opening Daedalus and going to the stake pools tab and sliding to a custom amount, the potential rewards are calculated incorrectly. Only after adjusting the slider again the UI will show correct values.

[2022-06-11 15:50] PhilippeLeLong commented on #2689
Hi @miorsufianiohk,

just wanted to know if there was any progress on this issue. I know it's not the most important one, but it should be fixed at some point. Also for some reason the potential rewards from rank 546 onward are shown as 0.

![image](https://user-images.githubusercontent.com/67224145/173195126-b3a382a3-9ee4-4952-ba34-799f31b47868.png)

[2022-06-19 10:49] crazypioneer opened #3004 "URGENT - Old secret key not work on latest version of Daedalus"
DEAR Daedalus Team!

I have some money on this Daedalus.
I charged about 5 years ago.
Recently, I have to transfer some money to another address but I couldn't because error occurs.
I think this is because old secret key.

I find that Daedalus team updated the wallet algorithm.
I think this is the problem.

CAN YOU PLEASE HELP ME?
Best Regards.

[2022-06-20 21:43] KIVassilev commented on #605
I do want to run a full node, just not on my system drive.

[2022-06-22 07:44] danielmain commented on #3004
Hi @crazypioneer we haven't changed that algorithm, you need to enter the correct passphrase when importing the secret.key  to make transactions.

Would you please contact our support here: https://iohk.zendesk.com/hc/en-us/categories/360000877653-Daedalus-Mainnet

[2022-06-22 07:44] #3004 closed

[2022-06-23 05:02] crazypioneer commented on #3004
@danielmain
Thank you for your answer.
There was no problem importing secret.key file.
Can I import secret.key file with wrong passphrase?

[2022-06-23 08:05] dmitrii-gaico commented on #3004
@crazypioneer Hello! Thank you for your report. Could you please create a service desk request and share the details and circumstances as all the "secret keys" issues should be addressed via Service Desk first. Then if any DEV help would be required we would join the thread. Thank you in advance!

[2022-06-24 05:56] serjikc commented on #1234
Hi,

I am reaching out with almost similar problem. I have lost the spending password and the key phrase -daedalus wallet- byron. Can anything be done to retirieve the funds out of that wallet that it has been set up around 17-2018? I can see the funds on my laptop, I have the secret.key but I have no other information that would allow me to transfer the funds from this wallet to another. The pass

[2022-06-24 07:19] danielmain commented on #1234
Pls contact our service desk https://iohk.zendesk.com/hc/en-us/categories/360000877653-Daedalus-Mainnet

[2022-06-24 07:38] Dragovioon commented on #1234
There is no tópic about losing all passwords. Been in this situation for years now. No help whatsoever

[2022-06-24 07:40] Dragovioon commented on #1234
I have hundreds of thounsends of dollars trapped in my Open wallet and no help Will Come friend. This is a very sad situation

[2022-06-24 09:26] endlessbux commented on #1234
Any news about this? I'm a developer and I would like to contribute. Please let me know if there is a way I can help

[2022-06-24 10:51] Dragovioon commented on #1234
Also looking for a solution for só long now...

[2022-06-24 21:09] serjikc commented on #1234
I am sure there's a solution for every problem. Iohk foundation must do something for the sake of it's community. For the past 3 years I've read a lot about people like me that lost their funds due to different incidents and due to the rush in the market I can understand that such minor problem in the eyes of iohk foundation is not as important. But as time passes, the foundation must and shall de

[2022-06-25 12:08] danielmain commented on #1234
@serjikc with all respect, the problem here is not about an incident. **It's about someone forgetting their passphrase**. We have a dedicated team that filter this kind of requests so please contact our service desk here: https://iohk.zendesk.com/hc/en-us/categories/360000877653-Daedalus-Mainnet

[2022-06-25 13:05] endlessbux commented on #1234
That is not completely true. At least in my case, it is about a wallet exported to a file in 2017, which is not being recognised by the current Daedalus wallet recovery feature. I forgot my recovery seed, but I perfectly remember my passphrase.

I am simply asking if there are any news on this and, if not, if there is a way for me to contribute in solving this backward-compatibility issue.

[2022-06-25 13:09] endlessbux commented on #1234
I was just hoping to see some sort of update since this message. Not necessarily a solution, but at least knowing that the issue is being worked out

[2022-06-25 13:40] danielmain commented on #1234
@endlessbux, unfortunately, the colleagues who were trying to help you with the corrupted secret.key could not find any solution. Besides they don't work at IO anymore. Our colleges in the service desk are already in touch with many people that actually are reporting the same problem and with the exact same secret.key. I can't really do anything from the Daedalus Team side. **please contact the se

[2022-06-25 19:50] Dragovioon commented on #1234
No One can do anything! And no One Cares

[2022-06-25 21:00] danielmain commented on #1234
That is not true, a lot of time was spent here to help here. And I am writing you in my weekend even!

**Sorry for being direct with you, but you should ALWAYS save securely your recovery phrase**

[2022-06-25 21:40] wadie914 commented on #1234
I gave up on 50 Grand

On Sat, Jun 25, 2022, 5:00 PM Daniel Main ***@***.***> wrote:

[2022-06-25 21:58] serjikc commented on #1234
My case is similar @danielmain I had my information saved on a flashdrive the spending password and the  seed) -  someone has erased the flash drive. - Now I have  access to the desktop wallet with the funds but I am not able to transfer from the account to a new wallet due to missing password and seed. I have the secret key file but that doesn't do anything other than just recover the wallet with

[2022-06-25 22:31] wadie914 commented on #1234
Program version did you open secret file keywords every time I try to open
the secret key files it tells me it's invalid I have my password

On Sat, Jun 25, 2022, 5:58 PM serjikc ***@***.***> wrote:

[2022-06-25 23:36] endlessbux commented on #1234
I'll try to reach the service desk once again, but the last time I contacted them one year ago they couldn't solve this problem.

_Could you please direct me to the portion of code which used to generate the backup file?_

I just find it very much disappointing that the Daedalus development team included this feature which actually turns out to not work at all. At least I would like to see if I ca

[2022-06-26 07:58] Dragovioon commented on #1234
Lost dar more than 50 grande friend and watched all my investment Lost during years of mental illness. Asking every chat you fórum or the support for Help and all people Will have say is "you should not lose the seed phrase"

[2022-06-30 18:03] frozencopper opened #3006 "Node stops synchonizing at epoch 340, slot 417,281 (InvalidBlock)"
I didn't use Daedalus for a while so there was an update (4.10 -> 4.11.0#21857) when I started it a few days ago. After restarting Daedalus tried to verify and update the on-disk blockchain. But it sucked at a certain point. Restarting Daedalus and the PC didn't change that problem.

I started to google a little bit an found the advice to delete the content of the chain folder. After restarting it

[2022-07-01 07:32] danielmain commented on #3006
Hi @frozencopper sorry to read that. I will ask the node team. But I would appreciate if you can create an issue [here](https://github.com/input-output-hk/cardano-node) next time :)

[2022-07-01 07:43] danielmain commented on #3006
@dorin100 would you please 🙏 take a look on the logs here. Thank you!!

[2022-07-01 09:55] dorin100 commented on #3006
Hi @frozencopper sorry to hear that you have issues. In order to get a better idea about what is happening we would need some more info like:
1. what network are you trying to connect to (Mainnet, Testnet)?
2. what Daedalus version are you using?
3. please provide the full node logs
4. can you try updating to the latest version of Daedalus?

[2022-07-08 15:35] KtorZ commented on #1234
I am starting a collaborative effort as part of [CardanoSolutions/ByronWalletRecovery](https://github.com/CardanoSolutions/ByronWalletRecovery#readme), trying to centralize all the existing knowledge, tools and content about this issue. If some have time and are interested in solving this, I encourage you to join and participate.

[2022-07-08 15:36] KtorZ commented on #1234
@danielmain if you can forward this to the current support team to let them know and possibly, let them redirect people to this repository once they've identified that they might be affected by this mysterious issue.

[2022-07-08 15:59] Dragovioon commented on #1234
I don't know how to help I'm One of the Manu that Lost os passwords and regrets ir everyday. Top much as been Lost to me. If someday this issue can bem helped or solved this would Change my life

[2022-07-09 08:48] crazypioneer opened #3011 "How can I download old version of Daedalus Windows Application?"
I'm trying to download old version of Daedalus App.
But it seems there is only current staging version download function.
https://daedaluswallet.io/en/download/

[2022-07-09 10:54] danielmain commented on #3011
Not possible, we only support the latest version. Older versions cannot not even sync.

[2022-07-09 10:54] #3011 closed

[2022-07-09 16:58] danger89 commented on #605
Yea so this bothers me quite a bit. I looks like there is no focus on Daedalus wallet for the past years as you mentioned. Cardano project is now even focusing in creating their own light wallet. Which is fine as well, but IMO Cardano project/IOHK should definitely focus on Daedalus. Especially on the user ability side, like this kind of issues.

[2022-07-09 17:26] danielmain commented on #605
@danger89 I created a task for this in our backlog. If our product owner thinks that this a high requested feature, I can imagine creating a PR for it.

[2022-07-11 19:33] danielmain commented on #3006
Closed due inactivity

[2022-07-11 19:33] #3006 closed

[2022-07-11 19:42] danielmain commented on #605
Our PO set this as low priority because we have a great workaround described here: https://iohk.zendesk.com/hc/en-us/articles/900004340586-How-to-symlink-Daedalus-chain-folder

Actually my chain folder is in my NAS on my home network and Daedalus works perfectly:
<img width="1046" alt="CleanShot 2022-07-11 at 21 40 18@2x" src="https://user-images.githubusercontent.com/4303099/178345160-29568f90-0b

[2022-07-11 19:42] #605 closed

[2022-07-12 09:26] danielmain commented on #605
@tbidne, we have an internal JIRA ticket in our backlog with low priority so that we will not forget it :)
<img width="600" alt="image" src="https://user-images.githubusercontent.com/4303099/178457861-875f6e1a-676b-410d-b2f0-fa347db45179.png">
As soon we start with the implementation I will parte the PR link so you can track it.

Well seems easy to find it:
<img width="973" alt="image" src="https:

[2022-07-15 09:03] danielmain commented on #2936
This has been fixed in the latest testnet release and coming in the next Daedalus mainnet release. The PR that solved it is: https://github.com/input-output-hk/daedalus/pull/2941

[2022-07-15 09:03] #2936 closed

[2022-07-15 09:43] zktky opened #3020 "I want to solve the problem that "created_invalid_transaction" is output by migration"
In daedalus 4.11.0, wallet was restored from sercret.key.
On daedalus, synchronization is completed and the balance is displayed normally, but when I try to move to shelly-wallet, an error is displayed.

I don't know the solution on daedalus, so I tried Migrations using Cardano Wallet Backend API, but Create a migration plan is returned normally,
Migrate fails.

It seems that there is an error in

[2022-07-15 16:27] danielmain commented on #3020
Hi @zktky can you help us to reproduce your error? If you are one of the users trying to recover a secret.key that was generated by Daedalus 0.8.0 (which was not a public release) I would ask you to contact our [Zendesk support](https://iohk.zendesk.com/hc/en-us/categories/360000877653-Daedalus-Mainnet).

[2022-07-16 05:17] zktky commented on #3020
Hi @danielmain
I thought it could be solved by a technical problem, so I posted it here, but I will check with support.
Also, if you would like to consult with us in a technical area, thank you.

[2022-07-16 05:17] zktky commented on #3020
Hi @danielmain
I thought it could be solved by a technical problem, so I posted it here, but I will check with support.
Also, if you would like to consult with us in a technical area, thank you.

[2022-07-16 20:51] danielmain commented on #3020
Please contact our [Zendesk support](https://iohk.zendesk.com/hc/en-us/categories/360000877653-Daedalus-Mainnet).

[2022-07-16 20:51] #3020 closed

[2022-07-20 07:28] zktky commented on #3020
Thank you. Contact support

[2022-07-20 09:03] dmitrii-gaico commented on #2802
@plamut @mnn Hello. I apologize for the delay. Please let me know if you are still experiencing any issue with running latest Daedalus build otherwise I would like to close the ticket. Thank you in advance!

[2022-07-20 09:08] dmitrii-gaico commented on #2666
@hodlonaut Hello. Can I kindly ask you to advice if the issue you reported is still reproducible. If so could you please create the same card/report under the "cardano-wallet" repo mentioned by Nikola. Thank you in advance!

[2022-07-20 12:14] mnn commented on #2802
@dmitrii-gaico Yes, the issue is still present. Just tested it with freshly downloaded binary:

[code]

[2022-07-20 12:29] plamut commented on #2802
@dmitrii-gaico Same result as @mnn, the issue still occurs on my system, I'm afraid. I currently use a virtual machine as a semi-OK workaround (slow, as my total system RAM is only 16 GB, and I cannot allocate all of it to the VM).

[code]

[code]

[code]

[code]

Thank you for looking into this in advance!

[2022-07-20 14:38] Dragovioon commented on #1234
Will I ever bem able to recover my Lost ADA?

[2022-07-21 10:21] danielmain commented on #2802
Hi @plamut would you help me to reproduce it? What ubuntu version are you using?
Run pls `cat /etc/issue` and paste it here and I can try to reproduce it ;)

I don't understand this:

You say you have to run Daedalus on a virtual machine, which is running what Linux version?

[2022-07-21 12:08] plamut commented on #2802
@danielmain
[code]

It's worth noting that it's an old system running for 4+ years, and I imagine a lot of Frankenstein bloat has accumulated in these years. It's likely that the issue won't be reproducible under a clean Ubuntu 18.04 installation.... meh.

FWIW, I actually had Daedalus installed at some point, but then removed it because I was short on storage space. When re-installing it a few mo

[2022-07-25 07:48] danielmain commented on #2802
Hi @plamut I took the time to install/run Daedalus in a VM running Ubuntu 18.04.6 LTS
![image](https://user-images.githubusercontent.com/4303099/180724779-bc9cb0d3-9041-4968-9e25-de47a6e53ef5.png)
![image](https://user-images.githubusercontent.com/4303099/180724813-b6c39ee1-5383-4a1a-bc73-6164719f2042.png)
![image](https://user-images.githubusercontent.com/4303099/180724837-2340f415-29d2-4cf1-8e8e

[2022-07-25 07:48] #2802 closed

[2022-07-25 08:13] danielmain commented on #2628
Hi @bcoste you seem to be the first case that needs to connect Daedalus behind an HTTP proxy. We don't plan to have a plan to support it. I encourage you to ask this feature here 🙏 https://github.com/input-output-hk/cardano-node/issues

[2022-07-25 08:13] #2628 closed

[2022-07-25 09:58] plamut commented on #2802
@danielmain Thank you for looking into this.

For the reference (for future readers), "Frankenstein" was just my speculation, not a definite claim, because I had Daedalus successfully running on the very same machine as late as in September 2021 - but with the issue being non-reproducible could hint that the problem could be on my machine.

Cannot say much about the reasons why @mnn experienced th

[2022-07-25 10:23] danielmain commented on #2802
Thank you @plamut for understanding.

@mnn would you help me to reproduce it?

[2022-08-09 20:56] danger89 commented on #605
Also keep in mind that if you already created a symlink before the Daedalus installation (executing: `daedalus-x.x.x-mainnet-x.bin`). You will get an error:

[code]

Please consider reopening this issue. Since it's still relevant and needs to be fixed.

[2022-08-10 14:11] danger89 commented on #605
**Update:** I noticed that latest versions of Daedalus is not using that much storage anymore. Because it's consolidating the data. This would mean less storage requirements, correct?

[2022-08-12 21:15] danger89 opened #3026 "How to run a full node on my server and use Daedalus as lite wallet connecting to my full node?"
Hi,

Currently Daedalus is trying to do everything on the same machine. However, I would like to run the Cardano full node on my server machine (running 24/7). And I would like to open Daedalus on my desktop pc, which could be able to connect to the full node on my local server. Allowing very fast start-up times and less strain on the desktop.

How can I do this setup?

Regards,
Melroy van den Ber

[2022-08-15 07:35] danielmain commented on #3026
Hi @danger89 thank you for your Idea. This is unfortunately not so simple, since `cardano-wallet` communicates with `cardano-node` via local IPC and not TCP.
We are not planning to do it in the short/mid-term, but I will definitely tell our product owner about it 😉

cc: @daniloprates @mariusb

[2022-08-15 07:35] #3026 closed

[2022-08-15 12:46] danger89 commented on #3026
That is very sad to hear. I really hope this could be an option in the near future. Since that will really help the user experience of daedalus.

[2022-08-15 13:10] danielmain commented on #3026
Hi @danger89 I hope you can understand us, this is not so simple to do it from Daedalus. There is one video of someone who connected Nami-Wallet to Daedalus, this might be interesting for you? https://www.youtube.com/watch?v=_-WDEaSnaWU

[2022-08-15 15:01] danger89 commented on #3026
Related: https://github.com/input-output-hk/cardano-wallet/issues/1556

[2022-08-18 11:36] HeptaSean commented on #2367
Does anyone still work on this? It's somehow not optimal that we have to tell users that they have to (at least temporarily) switch to another wallet app if they want their deposit back.

[2022-08-23 23:41] quinn-dougherty opened #3029 "`flake.nix`"
I'm running nixos, and I can't install daedalus in pure mode. I need to run `--impure` flag on `nixos-rebuild switch`, or else I get the following bug

[code]
My install looks like this, with `home-manager`:
[code]

I think a flake would be a better way to install daedalus.

[2022-08-24 06:49] danielmain commented on #3029
Hi @quinn-dougherty we only give official support by using the signed installers from www.daedaluswallet.io

But I am sure @michalrus could give you an answer here 🙏

[2022-08-25 13:56] michalrus commented on #3029
Hey, @quinn-dougherty!

If you want flakes, you can try this in-progress PR → #3008

We use some impure evaluations for code signing of the Windows builds, so it may take some time, before this is merged into `develop`

If #3008 works for you, I can merge the current `develop` into it, so that you have more up-to-date code

[2022-08-25 13:58] michalrus commented on #3029
Or you can also look at that diff, to see what I had to change to make it build purely.

Unfortunately, IIRC, I don’t think that passing `target = "x86_64-linux";` when you import this repository would be enough…

[2022-08-29 04:28] quinn-dougherty commented on #3029
So
[code]
works great, and the reason I can't build my system is the package isn't interacting with fish completions
[code]

[2022-08-29 12:10] michalrus commented on #3029
Oh, so there is no `name` for the `defaultPackage` on that branch?

Interesting :open_mouth: Thanks! :bow: I’ll add it :memo:

[2022-09-10 10:01] Dragovioon commented on #1234
Is there any solution for people like us who Lost all password. Me like Many other also. I have the secret file and all backup files of the deadalus wallet

[2022-09-10 10:27] KtorZ commented on #1234
@Dragovioon the only "solution" is brute-forcing the password. But if your password was strong enough, this is likely hopeless.

[2022-09-10 10:29] Dragovioon commented on #1234
Thanks....

[2022-09-12 07:01] okepod commented on #1234
[cardano-sl-subset](https://github.com/CardanoSolutions/ByronWalletRecovery/tree/master/tools/cardano-sl-subset)
What does this tell us about the secret key? ?

[inspect-keystore](https://github.com/CardanoSolutions/ByronWalletRecovery/tree/master/tools/inspect-keystore)
I got a private key encrypted with this tool and a passphrase I didn't set.

thank you

[2022-09-13 14:55] NuclearPsychedelic opened #3034 "Feature Request: Make it possible to recover a wallet with the Ledger seed phrase"
Ledger Nano Devices generate different wallets than Daedalus from the same recovery phrase. If someone would break or lost ledger hardware wallet there are no quick and user-friendly way to get access to the funds. The only user-friendly ways are to either purchase another ledger or manually generating private keys from ledger-created recovery phrase, which would require a lot of technical knowled

[2022-09-16 01:24] okepod opened #3037 "I want to know the hash of the spending password"
Is there a way to check from the sqlite file?

Or I would like to know the method (algorithm) to convert from password phrase to hash.

[2022-09-26 03:30] simonmichael commented on #2677
Great, I appreciate the work on this, many of us are keenly ready to waste less cpu power and speed up wallet catchup.

Why "close the issue as completed" ? That's confusing.

[2022-09-26 06:34] danielmain commented on #2677
Hi @simonmichael builds for aarch64-darwin (apple M1) can already be downloaded at https://buildkite.com/input-output-hk/daedalus/builds/22165#0182f32d-45de-420b-97c8-3df67fc992a7

**Just, those builds are not yet signed with the IOG certificate**, so you will see a warning by installing.

Our colleague @disassembler has to setup apple-M1 machines in our CI first so we can sign the installers. Aft

[2022-10-08 20:42] Jtlie opened #3046 "Failed to start all required subscriptions"
Hi,

My Daedalus wallet doesn't sync anymore. At some point it goes back to the first screen, and it's stuck on 'Replaying ledger from on-disk blockchain 2%'. The logs also keep saying "relays-new.cardano-mainnet.iohk.io" Failed to start all required subscriptions. I tried changing my firewall settings but that doesn't work. I even tried with my fire wall off. Please help me solve this.

![image](

[2022-10-09 08:56] danielmain commented on #3046
Hi @Jtlie I just checked my Daedalus and is syncing fine.

Would you please provide here the logs?
<img width="1089" alt="image" src="https://user-images.githubusercontent.com/4303099/194747574-4c02a031-e9e9-4883-b96f-e715317f9225.png">

Thank you!

[2022-10-09 11:55] Jtlie commented on #3046
[logs-2022-10-08T181855.0513Z.zip](https://github.com/input-output-hk/daedalus/files/9741469/logs-2022-10-08T181855.0513Z.zip)

[2022-10-11 14:16] danielmain commented on #3046
@Jtlie have you checked this:
https://iohk.zendesk.com/hc/en-us/articles/4406070442137-Get-to-know-your-node-logs

<img width="1321" alt="image" src="https://user-images.githubusercontent.com/4303099/195115332-f09736cf-821c-498c-8733-95a6fd6011dd.png">

You seem to have a Firewall or something blocking your machine to connect to `relays-new.cardano-mainnet.iohk.io`

[2022-10-11 14:16] #3046 closed

[2022-10-21 07:52] Montolva commented on #3037
Happy to provide you with further informations regarding Cardano ecosystem. Kindly reach out with a short summary of your queries. https://t.me/Montolvacardano

[2022-10-21 07:53] Montolva commented on #2601
Happy to provide you with further informations regarding Cardano ecosystem. Kindly reach out with a short summary of your queries. https://t.me/Montolvacardano

[2022-10-21 11:36] danielmain commented on #3034
Hi @NuclearPsychedelic

You are aware that the key reason for using hardware wallets is that your private key never leaves your hardware wallet and is never exposed.

No one (not even Daedalus) can recover a private key from the hardware wallet.
The legdger-seed-phrase is a method that ledger uses to construct your private key again. Ledger is not open-source, so we cannot do anything from our sid

[2022-10-21 11:46] NuclearPsychedelic commented on #3034
Hello @danielmain !
I am aware of that, but unpleasant situations can still arise. Of course, provided nothing goes wrong, the requested feature would not be used. Still, there are countless people who lose, accidentally destroy or otherwise lose access to their hardware devices. I should also mentioned that I experimented with an old and unused seed to see if funds were recoverable with only the

[2022-10-30 09:16] kedicesur opened #3072 "Improve Daedalus"
It ate my SSD and I decided to move the gargantuan `~/.local/share/Daedalus` directory to HDD. There is no way to do this from Daedalus UI so I had to do it manually and posted about it [here](https://cardano.stackexchange.com/a/9340/7742). Initially the directory was 78.5GB in size and after 14+ hours of resync and whatnot it is now like 96.5GB. During this lifetime like process while monitoring

[2022-10-30 17:48] danielmain commented on #3072
Hi @kedicesur what is consuming cpu and time is the verification of every block of the entire cardano Blockchain since the genesis block not the Download.

That is the beauty of a secure full node Wallet, your machine verifies locally the integrity of the Blockchain.

Light wallets do this job for you and are much faster but then you have to trust them 😉. I hope I could somehow explain how a Full

[2022-10-31 09:53] michalrus commented on #3072
A small question in addition to @danielmain’s excellent answer:

Did you see the increased CPU usage in Electron’s process, and not in native `cardano-node`? That would be unusual

[2022-10-31 17:04] kedicesur commented on #3072
@michalrus I have an 8 thread CPU on this machine. So once a single thread is fully engaged the total CPU occupation is like 12.5~13% on Gnome System Monitor. So let's watch the average CPU consumprions of these processes in the three phases of Daedalus .
**1. Start Up (When there is no UI)**
- `cardano-node` process takes up  **13%** so I think it occupies a thread by itself.
-  `cardano-wallet`

[2022-11-01 08:00] deepfire commented on #3072
The startup phase is doing chain replay, which is a lightweight for of block application.

You're indeed right in noting that we don't have block application parallelised -- and yes it can be.

@dcoutts has plans for the future, as usual : -)

[2022-11-01 16:09] kedicesur commented on #3072
@deepfire Just an idea on how parallel verification can be implemented. Storing Cardano BC state hashes either within Cardano BC or a separate indexing BC once in every n blocks.
![](https://i.ibb.co/Ns94WBX/BC.png)

[2022-11-02 05:38] danielmain commented on #3072
@kedicesur any suggestion (GitHub Issue) or maybe a contribution (Pull Request) related how cardano-node should behave use please the following repositories 🙏:

- https://github.com/input-output-hk/ouroboros-network
- https://github.com/input-output-hk/cardano-node

[2022-11-02 05:38] #3072 closed

[2022-11-03 06:25] danielmain commented on #3037
hi @okepod the password is not stored in Electron but in `cardano-wallet` check here:

https://github.com/input-output-hk/cardano-wallet/blob/675f55fd854e0210dd9cfcd81f4a1b10ccaab15f/lib/wallet/api/http/Cardano/Wallet/Api/Http/Shelley/Server.hs#L815

[2022-11-03 06:25] #3037 closed

[2022-11-03 06:43] #3034 closed

[2022-11-03 13:24] ThatGuyLLC opened #3073 "Repo Preparation for MBO"
This repo has been marked as core tech and is part of initiative of repo preparation, part of this includes adding needed missing documentation.
This repo in particular needs:

Explain how to make a contribution (Contributing MD)
Include the Standard Code of Conduct
Identify the Core Maintainers

[2022-11-07 14:36] danielmain commented on #3073
@ThatGuyLLC who are you?

[2022-11-07 16:16] ThatGuyLLC commented on #3073
Christian Taylor, Open Source Analyst on Constellation team, worked with Marcin and Kevin H on the above

[2022-11-08 09:22] #3073 closed

[2022-11-11 02:21] gernotpokorny opened #3079 "Spend specific UTXO(s)"
With Cardano we have an UTXO based ledger and a rewards address.

I'd like to spend specific UTXOs in particular the ones of the staking rewards and it seems that this is not possible with Daedalus.

With Electrum (a Bitcoin wallet) for example it is quite easy to optionally select the UTXOs to spend. There are various reasons why somebody would want to do that.

Daedalus internally of course will

[2022-11-11 14:08] danielmain commented on #3079
Hi @gernotpokorny we do not have yet this functionality to select which UTXOs to use. Would you please propose this change in this repository (which is our backend) https://github.com/input-output-hk/cardano-wallet

Thank you in advance!

[2022-11-11 14:08] #3079 closed

[2022-11-11 18:37] gernotpokorny commented on #3079
I opened the issue there as you suggested. But I have to mention that this is not a backend issue only. I assume the majority of the work will be in the frontend.

[https://github.com/input-output-hk/cardano-wallet/issues/3581](https://github.com/input-output-hk/cardano-wallet/issues/3581)

[2022-11-21 20:51] rlees85 commented on #2398
Having the same problem with systemd-homed. Relying on /etc/passwd is fairly awful really...

[2022-11-22 11:07] danielmain commented on #2398
HI @rlees85, would you help me to reproduce it? What Ubuntu are you running? Have you tried in a fresh installation?

[2022-11-23 15:32] cleverca22 commented on #2398
https://github.com/NixOS/nix/blob/master/src/libutil/util.cc#L531-L538

the error comes from nix, not daedalus
its using `getpwuid()` to lookup the current uid, and if that fails it will instead use `$USER`

[2022-11-24 12:04] rlees85 commented on #2398
Fairly poor reason to close the issue imo. Its still completely broken on a fresh Arch/Ubuntu install where systemd homed is used or LDAP (or any other form of authentication than /etc/passwd).

Closing it due to it being an upstream issue would make more sense. I will raise the issue upstream.

@cleverca22 sadly, setting/exporting `$USER` does nothing for Daedalus installer - it still fails as re

[2022-11-24 12:10] danielmain commented on #2398
Hi @rlees85 I closed because you did not answer my question. But now I can try to reproduce it.

[2022-11-24 18:40] stfl commented on #2398
I have the same issue on Arch with a sssd setup where my user is not stored in `/etc/passwd`

[2022-11-26 09:05] baizon opened #3086 "BitBox02 Hardware Wallet Support"
Hello,

could You please also add BitBox02 support to the Daedalus wallet.

Link to the GitHub: https://github.com/digitalbitbox

[2022-11-26 11:14] chisNaN commented on #2677
Hello danielmain how are you and thanks
Is it this link in the "Artifact" section?

https://buildkite.com/organizations/input-output-hk/pipelines/daedalus/builds/22165/jobs/0182f32d-45de-420b-97c8-3df67fc992a7/artifacts/0182f342-d972-4bbf-9ae9-94bc2d73f749

[2022-11-26 15:36] danielmain commented on #2677
Hi @chisNaN this native M1 build corresponds to Daedalus 5.1.1 (latest version today) https://buildkite.com/input-output-hk/daedalus/builds/22358#01840989-ff30-46ad-b983-8bbac3a105a7

And yes, go to artifacts and download the `[UNSAFE-internal-build/daedalus-5.1.1-mainnet-22358-aarch64-darwin.pkg](https://buildkite.com/organizations/input-output-hk/pipelines/daedalus/builds/22358/jobs/01840989-ff3

[2022-11-27 16:35] chisNaN commented on #2677
@danielmain thanks a lot