[2021-03-04 20:24] PSLLSP commented on #2438
My wallet is synchronized, I updated my first entry (https://github.com/input-output-hk/daedalus/issues/2438#issuecomment-790720515), I prepared log file.

[2021-03-04 20:28] cdoubleu commented on #2436
It's close to what I saw.  Same dialogue, but the messaging that I received is not the same.  Here's what I received.

Trusted signature
IOHK Signing Authority <signing.authority@iohk.io>
9F98 40B5 0AE5 39A2 732C  F646 C131 557F 1471 941A

The part that has me concerned is the trust level.  i.e. "Trusted Signature" vs what you show "Fully Trusted Signature" with the additional "This signature can

[2021-03-04 20:32] floriangrousset commented on #2238
Thanks a lot for the update @nikolaglumac!

[2021-03-04 21:02] dadepo commented on #2438
@nikolaglumac how much free disk space is required? It is currently stuck at 99.91% and I have 14.26GB free. Sounds okay?

[2021-03-05 07:10] katakombi opened #2439 "Feature Request: Possibility to import QR code"
Hi,

 I find it still very difficult to send Ada from Daedalus to my Yoroi wallets. I can send from one Yoroi wallet to another very easily by just scanning the QR code. Could a similar function be considered for daedalus as well? Like import of a screen shot or direct access to webcam?

Or maybe there is a better solution to get the receiving address into daedalus?

[2021-03-05 07:48] nikolaglumac commented on #2438
So your issue has been resolved?
Well, RAM size is not a bottleneck here. The initial syncing requires a lot of CPU and the cardano-node uses up to CPU cores which means they will most likely run flat out at that time...

[2021-03-05 07:50] nikolaglumac commented on #2438
@dadepo yes that should be enough free space. Daedalus would warn you in case it detect you don't have enough free disk space. Sometimes it takes an unusually long time for Daedalus to connect to the network (more than 20 mins) so I advise you to stay patient and let it run for at least half an hour 🙏

[2021-03-05 08:09] dadepo commented on #2438
I had it running overnight yesternight, still did not complete. I uninstalled it, deleted the data and I am currently restoring the wallet. At 98.99% now...so fingers crossed

[2021-03-05 08:50] dadepo commented on #2438
Ok, now another problem 😪

I had two wallets. I started restoring both wallets yesternight, and the progress was showing for both...then I woke up this morning and saw the progress was only showing for one of the two wallets.

The first wallet has finished synchronizing now and all seems fine.

But now I tried restoring the second wallet, but I kept getting an error where I need to put the spendin

[2021-03-05 08:52] dadepo commented on #2438
Here are the new log files:

[logs-2021-03-05T085156.0527Z.zip](https://github.com/input-output-hk/daedalus/files/6089286/logs-2021-03-05T085156.0527Z.zip)

[2021-03-05 08:58] nikolaglumac commented on #2438
OK so in the logs I can see this error:

[code]

This is an API error thrown by the cardano-wallet. I would suggest you to restart your machine and try again and let us know if that helped. If not, then we will have to raise this with the Adrestia team.

[2021-03-05 09:19] dadepo commented on #2438
I restarted and the second wallet pops up

...currently syncing at 95.2%

[2021-03-05 09:27] dadepo commented on #2438
Phew all synced now!

I must say, I get the impression that Daedalus still has a lot of rough edges and feels quite unstable. Probably something the Cardano crew is aware of already...but it definitely looks like more effort still needs to go into polishing things up.

Thanks for the help thus far, and I am quite happy that everything seems to be working fine...atleast for now!

[2021-03-05 09:31] nikolaglumac commented on #2438
I am happy your issue has been resolved!
There is always room for improvement and all of the Cardano teams are doing their best to provide our users with the best quality software. To be honest we don't get many reports such as yours...
Still, Daedalus architecture is quite complex and it can happen that some of the components fail due to different platform configurations, network specifics, etc.

[2021-03-05 09:31] #2438 closed

[2021-03-05 09:32] dadepo commented on #2438
Thanks for the help too! 🙏

[2021-03-05 09:39] miorsufianiohk commented on #2436
Hi @cdoubleu ,

I hope that you are well and thank you for contacting us again.

I have conducted some investigation and found out that the reason why you received different dialog was because you had the latest version of GPG Services (Version 2.1), whereas the one that I used before was GPG Services (Version 2.0). Upon upgrading to GPG Services (2.1), I received exactly the same dialog as yours

[2021-03-05 15:28] cdoubleu commented on #2436
@miorsufianiohk Thank you for tracking this down.  I'll continue my installation.

I'd like to point you to a discussion that I found on the Cardano forums.  It might be a good idea to check in there and let other users know of this issue.

https://forum.cardano.org/t/daedalus-wallet-catalyst-pgp-signature-verification/44925/19

Cheers,

cdoubleu

[2021-03-05 16:17] dadepo commented on #2438
FYI: Getting disconnected again and not reconnecting :(

It really looks like something went wrong with the latest release of Daedalus (or maybe the issue is somewhere else?) as I started using the wallet around December last year, and never experienced this level of connectivity issues until now.

[2021-03-05 16:17] miorsufianiohk commented on #2436
Hi @cdoubleu,

I hope that you are well.

Thank you for the reply and I am glad that we managed to help you out. Thank you also for letting us know about the forum discussion. I believe the forum and the instruction page are currently being dealt with.

In the meantime, if you require further assistance please do not hesitate to contact us again. cc: @nikolaglumac

Kind regards,
Mior

[2021-03-05 16:24] nikolaglumac commented on #2438
Can you try Daedalus Flight? It has a newer version of cardano-wallet: https://daedaluswallet.io/en/flight/

[2021-03-06 10:26] ronaldvdmeer opened #2441 "Configure your node as source of the blockchain instead of local storage"
I was wondering if its possible to simple look at my relay node instead of holding a local copy. If thats not currently possible this might be something for the feature request list.

[2021-03-06 10:51] eddex opened #2442 "Synchronization with the blockchain not working. DNS server fail-over issue."
This is related to my [comment](https://github.com/input-output-hk/daedalus/issues/2438#issuecomment-790813158) in #2438.

**System information**

Daedalus v3.3.2
Windows build 16919, Cardano Node 1.25.1, Cardano Wallet 2021.2.15

**Problem**

When I open the daedalus app, at first the "Cardano node syncing" seems to be ok (green). But the blockchain verification doesn't proceed (stays at the curr

[2021-03-06 12:43] eddex commented on #2442
Don't know if this is related, but now after I was successfully able to sync the blockchain, my wallet doesn't sync.

In the logs I can see the following error:
`[31m[cardano-wallet.wallet-engine:Error:25][0m [2021-03-06 12:39:38.04 UTC] c0d523e1: Unexpected error following the chain: user error (restoreBlocks: given chain isn't a valid continuation. Wallet is at: 5f20df93<-[d2d90d10-0#0] but th

[2021-03-06 17:24] wadie914 commented on #1234
any news ...sorry to bother but what is the fix im waiting for ? i realy need ti get my coins for my  family

[2021-03-06 17:36] nikolaglumac commented on #1234
@wadie914 your version of Daedalus created a specific version of secret.key file which we currently don’t support in the scope of the “Wallet import” feature.
@KtorZ needs to analyze that format and update the wallet extractor library so that it can extract the wallets from that version of secret.key file too.
This work has not yet been completed and we don’t have a clear ETA on it. Please under t

[2021-03-06 17:38] wadie914 commented on #1234
Thank you I appreciate it I'm sorry to be a pain I fully understand what you're saying now thank you again I will just wait

[2021-03-06 22:10] HartS commented on #2347
I've only just been staking long enough to receive two rewards payouts, and I was pretty shocked to see the rewards received per epoch is not available. I live in Canada and my (very limited) understanding of our tax laws is that each rewards payout is a taxable event (so if I receive 1 ADA as a reward for staking, it would be treated as capital gains based on the value of that 1 ADA at the time I

[2021-03-07 00:33] Danation commented on #2347
This is required for USA tax purposes as well.  Every reward gained is considered regular income, so I would love to have the following: A history of each reward and associated timestamp as well as the approximate value in fiat (based on user's chosen fiat) at the time of reward.  Then a simple export lets us sum up the fiat column and report it to our favorite folks at the IRS.

[2021-03-07 10:07] HartS commented on #2347
Really, more reporting around tax purposes would be really useful. Sending some ada could show approximate value at the time of the transaction, with a statement of the value difference from when that ADA was deposited (using first-in-first-out)

[2021-03-07 15:36] ronatola commented on #2238
Any way for us to be alerted via EMAIL when this passphrase enhancement is released?

[2021-03-07 16:27] tracyloowho commented on #2238
Depending on your GitHub notification settings you should get an email when they post updates to this thread.

[2021-03-07 16:33] ronatola commented on #2238
Yep - I got one - thx

[2021-03-08 02:52] JasinYip commented on #2347
@HartS @Danation Currently we can use some blockchain explorer like adapools.org to see rewards every single epoch for our address. You can search your staking address (starts with `stake`) to see it, or you can check out the delegator list in the stake pool you staked and find out your address to  see it as well.

This feature requeest issue is more like an user experience improvment.

[2021-03-08 03:28] HartS commented on #2347
I mean Daedalus is really just a user experience improvement as well. After all, we can generate our own wallet addresses, manage them, and send all the necessary transactions through https://github.com/input-output-hk/cardano-node/ right?

I only intended that to be half as snarky as it sounds. In reality, not having this functionality makes Cardano inaccessible to the majority of people who live

[2021-03-08 03:56] JasinYip commented on #2347
@HartS Totally agree with you

[2021-03-08 11:08] MatsumotoEO commented on #2238
One or two weeks?? Thank you!!!

[2021-03-08 11:12] Klobbinger commented on #2238
It won't be done quicker if you keep asking every day. There are several
workarounds available, one of them is using adalite or yoroi for the
moment.

MatsumotoEO <notifications@github.com> schrieb am Mo., 8. März 2021, 12:08:

[2021-03-08 11:22] nikolaglumac commented on #2442
@eddex please submit a ticket here: https://iohk.zendesk.com/hc/en-us/requests/new
Make sure you add all the details and the Daedalus logs.

[2021-03-08 11:22] #2442 closed

[2021-03-08 11:27] nikolaglumac commented on #2238
This work was a bit delayed as we were focusing on adding native token support to hardware wallets.
Adding passphrase support for Trezor is next on the list and we will do our best to implement it in our new sprint which lasts for 2 weeks and starts today.
Sorry for the delay and thanks for the support and patience 🙏

[2021-03-08 11:35] nikolaglumac commented on #2347
@HartS Daedalus is not **omitting** this feature nor any other feature for that matter.
This data is **not available** via cardano-wallet API, which is the single source of truth for us as Daedalus is a full-node wallet. We understand the importance of having this feature and the team is working on it. In order to get this information, one has to use explorer-like deployment (e.g. cardano-db-sync)

[2021-03-08 18:20] HartS commented on #2347
@nikolaglumac thank you for your work on Daedalus. I think you've misunderstood me. This is a feature which Daedalus currently does not support. Hence, it is omitted. Any unsupported feature is omitted. I wasn't implying that Daedalus was ignoring or had decided *against* the feature.

[2021-03-08 18:22] nikolaglumac commented on #2347
All good @HartS! We are on the same page.
I want you to know that we are fully aware of the importance of this feature.
The team will add it as soon as humanly possible.
Thanks for the support and patience 🙏

[2021-03-08 18:48] outermeasure commented on #2025
+1 What are the side effects of this? Why would daedalus need this?

[2021-03-08 18:49] nikolaglumac commented on #2025
cc @disassembler

[2021-03-09 10:28] feraldruid22 commented on #2405
Yes now I figured out what's going on you must have hardcode the NTP servers inside deadalus.
Bad practice. Of course the box is firewalled and I only let out connection to my own NTP server on the LAN.
You should consider first using either the ntp of the local machine or the default ntp by ntpd.conf and not to make connections outside.
If I allow 123 UDP/TCP to anywhere then it works.

[2021-03-09 11:45] nikolaglumac commented on #2405
I am glad to hear that resolved the issue.
The NTP servers are configured on the https://github.com/input-output-hk/cardano-node level. Please open a ticket there 🙏

[2021-03-09 11:45] #2405 closed

[2021-03-09 16:16] CantTouchDis commented on #605
I tried to change the chain directory in the same way miorsufianiohk explained in: [his post](https://github.com/input-output-hk/daedalus/issues/605#issuecomment-771782614) but it did not work as expected. What happened instead is that a new directory with the path of the link was created in my `/tmp` folder. (I assume this is caused by the path I linked to being on a different SSD)

After that I

[2021-03-09 22:26] shub42 commented on #2398
diso@bilbo ~/Downloads $ ./daedalus-3.3.2-mainnet-16919.bin
SSE4 check pass
inside installer
source /nix/store/0nvm4f6m7yr62da3w2sd8b14khf3c95j-tarball/tarball/tarball.tar.xz
 346MiB 0:00:23 [14.9MiB/s] [=========================================================================================================>  ] 99%
error: cannot figure out user name

Same ... i did follow the steps and daedalus i

[2021-03-10 12:26] nikolaglumac commented on #2430
This has now been fixed! Thanks for reporting!

[2021-03-10 12:26] #2430 closed

[2021-03-10 15:22] MextroNL commented on #2413
You can put in any set of relays you want in daedalus
You just edit the topology file and restart the node

C:\Program Files\Daedalus Mainnet\topology.yaml

Credit to @TOPO_Pool (Twitter)

[2021-03-10 17:42] GabScher opened #2448 "Consume a lot of ressources at launch"
Hi,
When I launch Deadalus app, it uses about half of my CPU ressources and my MacBook Pro heats up to 80°C which is inconvenient. Is is normal? Until now, I didn't want my computer to be that hot so I systematically killed the app...

My conf is a 2018 MacBook Pro, 4 cores 8Go Ram up to date.
Thanks

[2021-03-10 17:43] nikolaglumac commented on #2448
This normal during the initial syncing process as it is CPU intensive.
Once Daedalus gets fully synced it won't need so much CPU and thus it won't consume so much resources nor heat up your MacBook.

[2021-03-10 17:43] #2448 closed

[2021-03-11 10:22] g4m3r0 commented on #2419
Most keyloggers also log your clipboard.

[2021-03-13 17:58] mzabani opened #2452 "Error when running development procedures or installation with Nix"
Hi! I cloned the repository and tried to follow the instructions to run Daedalus with Nix, but was unable to. I'm on NixOS, edited nix.conf accordingly and then ran instructions (long post because all the output is also pasted below). It is my first time running _any_ Cardano wallet, and am going the development route because I didn't find daedalus in nixpkgs, so sorry if this is some lame mistake

[2021-03-14 01:54] Brian-Hou commented on #2238
Thank you @nikolaglumac! Looking forward to the passphrase support for Trezor feature :)

[2021-03-15 08:09] nikolaglumac commented on #2452
I suggest you to try the steps for running Daedalus described in https://github.com/input-output-hk/daedalus#running-daedalus-with-cardano-node

e.g. for Mainnet:

Run yarn nix:mainnet from daedalus.
Run yarn dev from the subsequent nix-shell

[2021-03-15 08:11] nikolaglumac commented on #2452
Sorry, I've missed the second part of your post.
Not sure what that error is - we are all running dev mode on macOS.
Perhaps @disassembler or @cleverca22 can help us out here?

[2021-03-15 08:22] nikolaglumac commented on #2362
@CarlosLopezDeLara any news on this one?

[2021-03-15 09:43] pheelLikeWater opened #2455 "Copied Ledger Wallet can't be accessed anymore"
When copying the Wallet from one to another device or e.g. from Daedalus Main to Flight Wallet folder, I cannot access the Wallet anymore.
This might be correct because of privacy issues.

The issue:
But when I click on the Wallet within Daedalus I am getting a message, where I shall change my password, which is not working and well. But for a user it is misleading because I am always getting a "w

[2021-03-15 09:46] nikolaglumac commented on #2455
You are not supposed to do that. This is not an option Daedalus supports as the other Daedalus instance thinks that your Ledger wallet is a software wallet as you can not copy all the data from the other instance.

[2021-03-15 09:46] #2455 closed

[2021-03-15 12:02] nikolaglumac commented on #2286
This one has been fixed in https://github.com/input-output-hk/daedalus/pull/2450 and the fix is to be released on Daedalus Flight today. You can expect it on Daedalus Mainnet a bit later this week.
Thank you for the patience! 🙏

[2021-03-15 12:03] nikolaglumac commented on #2345
This feature has been implemented in https://github.com/input-output-hk/daedalus/pull/2429 and it is to be released on Daedalus Flight today. You can expect it on Daedalus Mainnet a bit later this week.
Thank you for the patience! 🙏

[2021-03-15 18:53] katakombi commented on #2392
Thanks! I will check the fix once 4.0.0 is released.

[2021-03-15 18:54] katakombi commented on #2439
I've checked with latest Daedalus Flight. Unfortunately the exported public key is shown as invalid in Yoroi and can't be imported.

[2021-03-15 21:49] schoenenbach commented on #2025
+1 maybe providing an AppImage would be a way to deploy across linux distros for use lazy people who don't want to build from source. Besides that, I second all the questions above.

[2021-03-16 09:08] nikolaglumac commented on #2439
@katakombi I am not aware of this feature in Yoroi?

[2021-03-16 09:23] nikolaglumac commented on #2382
@v21vicky we were unable to reproduce the issue. I believe it was something temporary and you should not see the problem if you update to the latest version oo Daedalus.
Please do that and let us know if it is working fine now. Thanks!

[2021-03-16 13:47] katakombi commented on #2439
You can import someone elses wallet as "read-only" in Yoroi, e.g. your friends wallet to see his transactions. I posted this mistakenly in this context because I assumed that the newly public key export feature in Daedalus would accomplish exactly that. Still unclear to me what this new feature actually is good for.

As far as this issue is concerned - no, there is no such feature in Yoroi, but it

[2021-03-16 13:48] nikolaglumac commented on #2439
@katakombi can you point me to this feature in Yoroi? Screenshot or something?

[2021-03-16 14:02] katakombi commented on #2439
Import Yoroi
add wallet (shelley) -> restore wallet -> writeprotected wallet ->
instructions on how to export a wallet from another yoroi instance will be displayed

[2021-03-16 14:03] nikolaglumac commented on #2439
Thanks!

cc @darko-mijic

[2021-03-16 14:12] katakombi commented on #2439
Link to associated reddit thread: https://www.reddit.com/r/cardano/comments/m5s6zm/daedalus_flight_public_wallet_key_export_what_is/

[2021-03-16 21:42] matedu commented on #2398
Same issue with 3.3.2.

[2021-03-17 21:15] Sebastix commented on #605
Same happens here (Linux - Lubuntu OS).
@CantTouchDis Can you give an example of a path you used for `[MyDaedalusDirectory]` ?

[2021-03-17 21:20] CantTouchDis commented on #605
In my case it was something like `/media/Samsung1TB/daedalus` but it could be any path

[2021-03-17 22:13] alex-stout opened #2464 "Sending Error"
Hi,

I'm having an issue sending ada. I have no pending transactions in the transaction list.

This is what the interface looks like after adding an address and amount.
<img width="1350" alt="Screen Shot 2021-03-17 at 5 04 52 PM" src="https://user-images.githubusercontent.com/17804548/111545271-c73aa500-8743-11eb-92a7-b6e78f2829e0.png">

And here is the console error that I am getting in when this

[2021-03-17 22:14] alex-stout commented on #2464
Also a note about this wallet, the amount in the wallet is almost exclusively rewards from staking. I have created another wallet and transferred all the ada from the old -> new.

[2021-03-18 01:47] alex-stout commented on #2464
Here's the UTXO message:
![Screen Shot 2021-03-17 at 8 47 03 PM](https://user-images.githubusercontent.com/17804548/111561151-feb84a00-8761-11eb-9a4b-6822d1ea12cf.png)

[2021-03-18 05:01] jazzqi opened #2465 "Is it possible to support Trezor One?"

[2021-03-18 10:30] nikolaglumac commented on #2465
Hi!
Unfortunately no. Cardano is not supported on Trezor One devices...

[2021-03-18 10:30] #2465 closed

[2021-03-18 10:32] nikolaglumac commented on #2464
It is not possible to move rewards in case you have no UTXOs in that wallet as you can not cover fees in that case.
This error message you saw is misleading and has been fixed in this PR: https://github.com/input-output-hk/daedalus/pull/2450
It has already been released on Daedalus Flight 4.0.2-FC3 and we will soon release it on Daedalus Mainnet too.

[2021-03-18 16:46] alex-stout commented on #2464
Awesome! Thank you.

[2021-03-19 07:45] #2464 closed

[2021-03-19 11:14] whosystem opened #2467 "error: changing ownership of path '/tmp/tmp.dSnL7Jzjz0/nix/store': Invalid argument"
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.2 LTS
Release:	20.04
Codename:	focal
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.2 LTS
Release:	20.04
Codename:	focal
 5.4.0-67-generic #75-Ubuntu SMP Fri Feb 19 18:03:38 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
executing
cardano@ubscardano:~/Downloads$ sudo bash
root@ubscardano:/home/cardano/Downloads#  sh -x ./daedalus-3.3.2-mainnet-16919.bin

[2021-03-19 11:21] whosystem opened #2468 "error while loading shared libraries: libpng16.so.16: cannot open shared object file: No such file or directory"
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.2 LTS
Release:	20.04
Codename:	focal
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.2 LTS
Release:	20.04
Codename:	focal
 5.4.0-67-generic #75-Ubuntu SMP Fri Feb 19 18:03:38 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
executing
sh -x ./daedalus-3.3.2-mainnet-16919.bin

.
.
.
.
+ sed s|&&|%|g ; s|&_|\&|g
+ head -c 1165601
+ true
+ . ../env
+ exec ../ru

[2021-03-19 16:53] dinobagio opened #2469 "Blank Window While SSH X FWD Remote Access"
Hi,

I'm sorry if the place is not appropriate for this kind of question,

My ENV

  "env": "mainnet:Linux:5.4.105-1-MANJARO",
  "ns": [
    "daedalus",
    "v3.3.2",
    "*mainnet*"
  ],
  "data": {
    "cardanoNodeVersion": "1.25.1",
    "cardanoWalletVersion": "2021.2.15",
    "cpu": "Intel(R) Core(TM) i7-6500U CPU @ 2.50GHz",
}

Daedalus launch OK while accessing through my MANJARO xfce deskto

[2021-03-19 16:59] cleverca22 commented on #2468
might be due to running out of disk space during the initial install, try `rm -rf ~/.daedalus/` and then reinstall

[2021-03-19 18:41] nikolaglumac commented on #2467
@cleverca22 please help us with this one 🙏

[2021-03-19 18:41] nikolaglumac commented on #2468
@whosystem please let us know if what @cleverca22 suggested helped you to resolve the issue 🙏

[2021-03-19 18:42] nikolaglumac commented on #2469
Hi @dinobagio!
MANJARO is not officially supported platform but perhaps @cleverca22 can help us out here 🙏
Thanks!

[2021-03-20 02:49] wadie914 commented on #1234
anything? feeling hopeless here

[2021-03-20 05:56] katakombi commented on #2469
This issue should be independent on the distribution being used. Have you tried to run x11vnc on the server side and connect via xfreerdp?

[2021-03-20 08:13] dinobagio commented on #2469
No but i can try,

But it's weird because I can access all the other apps this way, i mean
using XoSSH.

What could cause this ?

Maybe missing some ENV params ?

Can you try on your side so that I can understand whether it's related to
my ENV or not ?

On Sat, 20 Mar 2021, 06:56 katakombi, ***@***.***> wrote:

[2021-03-20 08:49] katakombi commented on #2469
I tried it using Linux Mint 20. The window shows up but it stays blank white and nothing is being displayed.

[2021-03-20 08:51] dinobagio commented on #2469
Same as in my case then.
Which window manager ?
Xfce/cinnamon/kde ?

On Sat, 20 Mar 2021, 09:49 katakombi, ***@***.***> wrote:

[2021-03-20 08:55] katakombi commented on #2469
Mate. No compositing, no desktop effects.

[2021-03-20 09:01] dinobagio commented on #2469
Ok then I'll try to debug window rendering,

What is interesting in x forward is that it's more efficient than vnc
remote which takes the whole desktop.

Can daedalus logs can help tu understand ?

On Sat, 20 Mar 2021, 09:56 katakombi, ***@***.***> wrote:

[2021-03-20 09:13] katakombi commented on #2469
No. Logs look perfectly fine. No errors.

[2021-03-20 10:13] dinobagio commented on #2469
I've seen a similar issue here :
https://github.com/electron/electron/issues/22775

Can you tell me whether you use shared memory, and if we can prevent daedalus yo use it in such case ?

[2021-03-20 12:14] whosystem commented on #2467
Distributor ID: Ubuntu
Description: Ubuntu 20.04.2 LTS
Release: 20.04
Codename: focal
Distributor ID: Ubuntu
Description: Ubuntu 20.04.2 LTS
Release: 20.04
Codename: focal
5.4.0-67-generic #75-Ubuntu SMP Fri Feb 19 18:03:38 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
#!!!!------- running this as cardano user on my system------------!!!!!!!!!!!!
.
.
.

+ exec ../run
./nix/store/apzfc51a2aki7xdyzifldp1n

[2021-03-20 13:35] katakombi commented on #2469
Thanks to this electron issue I could make it work:
`
DEBUG_SHELL=1 ~/.local/share/Daedalus/mainnet_flight/namespaceHelper
`
You enter a shell. The launch daedalus within the sandbox:
`
QT_X11_NO_MITSHM=1 daedalus
`
It is effing slow but it works. But the alternative is to bind mount /tmp/.X11-unix and /dev/shm which I couldn't succeed in. Maybe the devs can implement a switch...

[2021-03-21 11:03] nikolaglumac commented on #1234
Not yet. Sorry...

[2021-03-22 08:44] cleverca22 commented on #2467
[code]
the installer cant be ran as root

what does `df -h /tmp` report?

[2021-03-22 09:20] dinobagio commented on #2469
OK thank you It worked for me as well,
Could remote access my wallet.
Anyway, for sure a switch (~ --no-xshm) would much appreciated,
To be continued...

[2021-03-22 19:19] nikolaglumac commented on #2394
Hi @Straightpool!
The changes you requested have been implemented in https://github.com/input-output-hk/daedalus/pull/2451 and will be released in the next Daedalus version.
Thanks for the patience 🙏

[2021-03-22 19:19] nikolaglumac commented on #2170
Hi @iasinDev!
The changes you requested have been implemented in https://github.com/input-output-hk/daedalus/pull/2451 and will be released in the next Daedalus version.
Thanks for the patience 🙏

[2021-03-22 19:21] nikolaglumac commented on #2382
Closing this one since we can not reproduce it and I hope neither can you @v21vicky 🙏

[2021-03-22 19:21] #2382 closed

[2021-03-22 19:34] iasinDev commented on #2170
wow, awesome! thank you!!

[2021-03-22 19:34] #2170 closed

[2021-03-23 05:04] katakombi commented on #2392
I installed FC meanwhile and although I did not repeat the full test and unstake a staked wallet it is showing the previously unstaked wallet as staked.
I hope this is enough of a confirmation but leave it up to you devs to close this bug.
Thanks a lot for the fix!

[2021-03-23 08:25] nikolaglumac commented on #2392
Thanks for confirming this @katakombi!
Closing this issue now...

[2021-03-23 08:25] #2392 closed

[2021-03-23 20:28] diicasses commented on #2238
Any update for the passphrase for Daeladus/Trezor?

[2021-03-23 21:20] nikolaglumac commented on #2238
The feature has been implemented in https://github.com/input-output-hk/daedalus/pull/2284 and is to be released in the next Daedalus version!
Thanks for the patience 🙏

[2021-03-24 13:52] MECHBUILDER commented on #1234
I have version 0.11.0 on my old Windows 7 laptop. Will the fix you are working on help me?

[2021-03-24 13:53] nikolaglumac commented on #1234
Have you tried to use the existing "Wallet import" feature from Daedalus Mainnet 3.3.2?

[2021-03-24 14:04] MECHBUILDER commented on #1234
It will not allow me to install on the Windows 7 laptop that has the original wallet. I have it installed on my Windows 10 laptop though

[2021-03-24 14:13] nikolaglumac commented on #1234
Well then please copy over the secret.key file from the Windows 7 machine to the new one and use Daedalus Mainnet 3.3.2 to import wallets from it. Read this article first: https://iohk.zendesk.com/hc/en-us/articles/900000623463-Importing-wallets

[2021-03-24 14:14] MECHBUILDER commented on #1234
Thank you, I will try again

[2021-03-25 00:22] MECHBUILDER commented on #1234
It is still saying no wallet found. I know there is a balance on there.

[2021-03-25 00:45] wadie914 commented on #1234
Mine has a balanced super shows nothing

On Wed, Mar 24, 2021, 8:22 PM MECHBUILDER ***@***.***> wrote:

[2021-03-25 13:16] laplasz opened #2477 "Daedalus in docker container - Failed to load module "canberra-gtk-module""
Dockerfile:
[code]
docker run:
[code]
installation was successful, buy running `.local/bin/daedalus-mainnet` the window of Daedalus displayed but without any content.
And getting the following error:
[code]
I am using docker because on the host machine I getting this error: #2115
can you help me on this one?

**Update:** using virtulabox now it working even I am getting this warning. Probably X11

[2021-03-26 00:11] MECHBUILDER commented on #1234
there are two files in the secret folder. secret.key and secret.key.lock. When trying to import, only the secret.key file shows, but still doesnt load.

[2021-03-26 06:41] nikolaglumac commented on #1234
@MECHBUILDER please delete the `secret.key.lock` and then try importing `secret.key` again.
Please post a screenshot of the error message Daedalus shows.

[2021-03-26 07:54] makaroffar commented on #1234
I have the same problem. My version is 0.10.1. and no wallets found.
My secret.key is 203 byte. Is it OK ?

[2021-03-26 08:10] fighterleslie opened #2478 "Cannot install Daedalus 3.3.2 on Ubuntu 18.04 LTS"
Following the instruction [here](https://iohk.zendesk.com/hc/en-us/articles/900000776446), I can't install `daedalus-3.3.2-mainnet-16919.bin` on a Ubuntu 18.04 LTS laptop successfully. The error message is below:

Following is my `/etc/nix/nix.conf`:

The laptop has 4 CPUs, 16GB memory, 66GB available SSD disk space.

[2021-03-26 22:57] mreed911 opened #2481 "Daedalus 3.3.2 - Kernel panic (GPUWatchdog) on macOS 10.15.7"
[Daedalus Mainnet Helper (GPU)_2021-03-26-152448_Mikes-Office-Mac-Mini.crash.zip](https://github.com/input-output-hk/daedalus/files/6214673/Daedalus.Mainnet.Helper.GPU._2021-03-26-152448_Mikes-Office-Mac-Mini.crash.zip)

Under heavy load, I opened Daedalus.  Everything froze.  I waited, but the watchdog panic'ed the system and I got to reboot.

I'm attaching the unsymbolicated log here and can pro

[2021-03-26 23:27] mreed911 commented on #2398
Can you do a whoami and get any results?  Are you logged in as root on a system without /etc/passwd?

[2021-03-26 23:39] MECHBUILDER commented on #1234
Unfortunately
![Screenshot 2021-03-26 183652](https://user-images.githubusercontent.com/81270117/112702736-9274cf00-8e62-11eb-9b5a-a7722e6c4544.png)
 it still does not work

[2021-03-27 15:27] matedu commented on #2398
`$ whoami
myusername`

I'm not logged in as root, but my username is not present in `/etc/passwd`.

[2021-03-27 16:54] mreed911 commented on #2398
Thanks.  There's a known issue in a part of nix that depends on /etc/passwd.  I don't know nix or the Daedalus codebase enough to find the fix in code, but the nix github seems to indicate that on certain Debian implementations, adding the user into /etc/passwd is a workaround.  The specific nix module looks like it's not being udpated and no fix is forthcoming, so that may be your only option.

[2021-03-27 17:11] MarinBernard commented on #2398
Thanks for investigating. I have the same issue, but unfortunately my account is managed by LDAP, so adding an entry to /etc/passwd is not an option. Another workaround might be to create a local user dedicated to Daedalus, and install/run the wallet as this special user. I'll try to do this ASAP.

[2021-03-27 17:16] mreed911 commented on #2398
Here's another workaround setting $USER: https://github.com/NixOS/nixpkgs/issues/2825

[2021-03-27 17:25] MarinBernard commented on #2398
But the $USER environment variable _is_ set.

[code]
Passing it explicitly doesn't help either:
[code]

[2021-03-27 17:50] mreed911 commented on #2398
Must be the /etc/passwd dependency, then.  Sorry, I'm out of ideas.  I might try to look through the code later and see what's triggering this...

[2021-03-29 19:53] chirkunov opened #2484 "Ledger Nano S Bug"
When trying to send funds, the Ledger (v. 1.6.1 with up to date Cardano App) with 24 seed phrase + passphrase is stuck on the message "Waiting for commands..." and the Deadalus Mac OS X app (3.3.2#16919) on "Connect the "xxxxxxx" device and enter your PIN to unlock it."

On a second computer it worked fine for the first transaction, after playing with it for a bit and declining transactions it sto

[2021-03-29 20:10] chirkunov commented on #2484
I just sent you the logs.

[2021-03-29 20:16] nikolaglumac commented on #2484
Thanks! I have received them!
@tomislavhoracek will investigate this as he is our hardware wallet specialist once he is back from his vacation next week.
Thanks for the patience!

[2021-03-30 04:27] WhitemanE0 opened #2487 "Daedaus Flight fails to sent One Hundred of Quadrillion Cardano's Native Tokens"
I've minted the 9,223,372,036,854,775,807 tokens I've called ATHOMs.
Nine Quintillions and some.
Although Daedaus Flight is able to diplay the amount correct, it's unable to sent A Hundred of Qadrillions ATHOM's, giving at amount of Assets to be sent an error "Please give a valid Amount". But don't see what is an issue to  send A Hundred of Quadrillions ATHOM's and more till the total CAP of Nine

[2021-03-30 08:54] aleincsharp opened #2488 "Messaging/ Alert system"
Hello everybody,

as a small pool operator, I currently stumble across overcrowded pools every day and what is even worse:
Retired pools currently have a total of over 17 million ADAs delegated!

My idea was to implement a kind of messaging / alert system in Daedalus, where the delegator in the system receives a message,
that he is currently staked in a pool that is either overcrowded or that the

[2021-03-30 09:32] nikolaglumac commented on #2488
Hi Arthur :-)

Can you expand on the idea?
What messaging/alert type do you have in mind?
Also, we are limited to showing the alerts only once Daedalus is running.
E.g. if you delegate and then don't run Daedalus for a year (during which time the SP you delegate to retires), we have no way to notify the user.

More info is greately appreciated!

Thanks!

[2021-03-30 09:51] timack commented on #2488
Thats an interesting idea ... but I wonder if this should be a 3rd party service maybe optionally initiated from within the wallet - ie. you could (optionally) provide your email and and pool id to a monitoring service who would email you if the pool over-saturates, goes down or gets retired. Then you you're not reliant on having to check the wallet to see if the pool is still active?

If I delega

[2021-03-30 09:51] aleincsharp commented on #2488
Of course, you can only send a notification when the application is running.
First, a "warning message" could be displayed when someone wants to delegate to an overcrowded pool.
It would also be important that the delegator receives a notification as soon as a pool is classified as retired.

At the first step a in-app alert system would be good and maybe a desktop push notification.
Maybe a option

[2021-03-30 09:54] aleincsharp commented on #2488
Yes, this was also in my mind to create a API and link the wallet to a email or similar.

[2021-03-30 09:56] nikolaglumac commented on #2488
All of this would require Daedalus to be constantly running and that is not realistic.
It is obviously a 3rd party service requirement that needs to be integrated with Daedalus.

As far as Daedalus goes the best we can do is to run a check to see if any of the wallets you have are delegated to a retired stake pool and raise an alert in case they are...

[2021-03-30 10:00] aleincsharp commented on #2488
This would be a great step!

[2021-03-30 10:01] aleincsharp commented on #2488
Do you have an idea how best to integrate with a 3rd party app to daedalus? A plugin, a api?

[2021-03-30 10:02] nikolaglumac commented on #2488
An API would do.

[2021-03-30 18:24] nikolaglumac commented on #2170
This has been implemented and released in scope of Daedalus Mainnet 4.0.3: https://github.com/input-output-hk/daedalus/releases/tag/4.0.3
Thanks for the patience 🙏

[2021-03-30 18:25] nikolaglumac commented on #2365
This has been implemented and released in the scope of Daedalus Mainnet 4.0.3: https://github.com/input-output-hk/daedalus/releases/tag/4.0.3
Thanks for the patience 🙏

[2021-03-30 18:25] #2365 closed

[2021-03-30 18:25] nikolaglumac commented on #2345
This has been implemented and released in the scope of Daedalus Mainnet 4.0.3: https://github.com/input-output-hk/daedalus/releases/tag/4.0.3
Thanks for the patience 🙏

[2021-03-30 18:25] #2345 closed

[2021-03-30 18:25] nikolaglumac commented on #2286
This has been implemented and released in the scope of Daedalus Mainnet 4.0.3: https://github.com/input-output-hk/daedalus/releases/tag/4.0.3
Thanks for the patience! 🙏

[2021-03-30 18:25] #2286 closed

[2021-03-30 18:26] nikolaglumac commented on #2274
This has been implemented and released in the scope of Daedalus Mainnet 4.0.3: https://github.com/input-output-hk/daedalus/releases/tag/4.0.3
Thanks for the patience! 🙏

[2021-03-30 18:26] #2274 closed

[2021-03-30 18:26] nikolaglumac commented on #2238
This has been implemented and released in the scope of Daedalus Mainnet 4.0.3: https://github.com/input-output-hk/daedalus/releases/tag/4.0.3
Thanks for the patience! 🙏

[2021-03-30 18:26] #2238 closed

[2021-03-30 18:27] nikolaglumac commented on #2394
This has been implemented and released in the scope of Daedalus Mainnet 4.0.3: https://github.com/input-output-hk/daedalus/releases/tag/4.0.3
Thanks for the patience! 🙏

PS. We will be updating the transaction details display shortly too. It will match what you requested. Thanks for raising this once again!

[2021-03-30 18:27] #2394 closed

[2021-03-30 18:36] wadie914 commented on #2274
Fixed?

On Tue, Mar 30, 2021, 2:26 PM Nikola Glumac ***@***.***>
wrote:

[2021-03-30 18:38] nikolaglumac commented on #2274
@wadie914 if you are asking about wallet import feature, then I must disappoint you as it has not yet been fixed. The good news is we have an open PR which might fix the issue: https://github.com/input-output-hk/daedalus/pull/2445
Will keep you posted on the original thread. Thanks for the patience!

[2021-03-30 18:41] wadie914 commented on #2274
Thank you man

[2021-03-30 20:32] vicepool opened #2492 "Extra square brackets on all objects in metadata json"
I attach screenshots to compare. Daedalus puts every object in square brackets.
Btw, a smaller, monospace font would look better for displaying a structured data.

Daedalus
![202103300156](https://user-images.githubusercontent.com/78110707/113052342-4d74d380-91a7-11eb-8e05-cab2eef1ea15.png)

Cardano Explorer
![202103300157](https://user-images.githubusercontent.com/78110707/113052368-549be180-91a7

[2021-03-30 20:36] nikolaglumac commented on #2492
Is this different than what it used to be in earlier Daedalus versions?

[2021-03-30 20:39] vicepool commented on #2492
I am not sure because I don't have it installed anymore. I am using the last 4.0.3 version.

[2021-03-30 20:44] nikolaglumac commented on #2492
Alright - we will check it out.
Thanks for raising this!

[2021-03-30 21:45] vicepool commented on #2492
Here is another thing to fix.
![202103300162](https://user-images.githubusercontent.com/78110707/113061145-ef012280-91b1-11eb-8c20-ed8e2b84382a.png)

It display empty string as null. There is no null. The original had a "string" type for the value:

[code]

I understand the effort you need to put into schema conversion. I don't understand why the JSON-schema was made this hard way. I struggled and

[2021-03-31 00:50] ronatola commented on #2238
It doesn't prompt me for the passphrase.  On EXODUS it does.  Here is a video of it.  https://photos.app.goo.gl/mGQFueqmTxS2AWZJA

[2021-03-31 07:24] dgellow commented on #2345
@nikosbentenitis Should I be able to find my wallet on https://explorer.cardano.org/en.html by copy-pasting the public key? That's not the case for me, no result is found. I'm using a Ledger Nano S wallet, not sure if that matters here.

[2021-03-31 07:28] MatsumotoEO commented on #2238
Thank you for the update!

I was able to connect my Trezor to the Daedalus wallet but my balance is showing 0.
When I connect my Trezor to adalite, I am able to see my balance.
I do not have a passphrase.

Perhaps Daedalus doesn't display the first public key but creates a new one?

[2021-03-31 11:52] nikolaglumac commented on #2238
@MatsumotoEO Daedalus only shows Shelley wallet balance. Perhaps your Trezor has all the funds on the Byron addresses. Can you check?

[2021-03-31 11:55] nikolaglumac commented on #2238
@ronatola please try the following:
1. Delete the wallet you already have restored in Daedalus and disconnect your Trezor device
2. Go to "Add wallets > Pair" screen
3. Connect your Trezor device and it will ask you to enter a passphrase.

[2021-03-31 11:56] nikolaglumac commented on #2492
@DominikGuzei can you please check this?

[2021-03-31 12:28] nikolaglumac commented on #2345
@dgellow later on, new functionality will enable the import of read-only wallets from a wallet's public key. These view-only wallets will show the wallet's balance and transaction history without the ability to spend funds, change delegation preferences, or modify anything in the wallet. View-only wallets will be useful for auditing and similar purposes.

For now, I think you can only try importin

[2021-03-31 12:53] dgellow commented on #2345
By curiosity I tried to import a wallet's public key with [Accointing](https://www.accointing.com/) but that doesn't seem to work. Of course that could be an issue on their side.

[2021-03-31 12:55] nikolaglumac commented on #2345
They most likely do not have support for Cardano public keys yet.

[2021-03-31 13:03] dgellow commented on #2345
Ok, I think that I understand. They do have support for "XPubKey" which is what you describe as "view-only wallet" as far as I understand.

[2021-03-31 13:06] nikolaglumac commented on #2345
Indeed. Still, it is important to have the same implementation.

[2021-03-31 13:09] dgellow commented on #2345
Thanks :)

[2021-03-31 14:23] edwmurph commented on #2345
i updated my daedalus to 4.0.3 but when i try to add the "Wallet public key" as a public address wallet to my cointracker, it's failing with "Failed to add wallet. Please check the values below." i also confirmed that cointracker isn't even able to fetch the balance via https://www.cointracker.io/wallet/cardano and is failing on that page with "Failed to fetch wallet balance". is this cointracker

[2021-03-31 14:49] nikolaglumac commented on #2345
I believe https://www.cointracker.io/wallet/cardano accepts wallet address and not public account key.

[2021-03-31 14:51] nikolaglumac commented on #2345
I can confirm it works if you paste in a valid wallet address:
![Screenshot 2021-03-31 at 16 51 34](https://user-images.githubusercontent.com/376611/113164438-65993100-9241-11eb-8ca5-f3030e19f63b.png)

[2021-03-31 15:02] edwmurph commented on #2345
oh ya i've been able to manually put all the generated addresses for my daedalus wallet into my cointracker fine. i just currently dont see a way to import this new daedalus wallet public key into cointracker? it sounds like cointracker actually doesn't support importing cardano public keys yet

this is a pain point for me because i had to manually import all my generated addresses for my daedalus

[2021-03-31 15:15] nikolaglumac commented on #2345
Sorry for that...
I believe now the cointracker needs to be updated to handle import of the Cardano wallet account public keys.

[2021-03-31 15:47] ronatola commented on #2238
I did all that and rebooted.  When I PAIR this comes up.  I enter my PIN.  But no prompt for passphrase.  Just stays here
![image](https://user-images.githubusercontent.com/79535527/113172901-e262e580-9216-11eb-95d4-fccbb8faea85.png)

[2021-03-31 15:54] DominikGuzei commented on #2492
@vicepool thanks for the feedback - the `null` issue is definitely a bug that is easy to fix 👍

Regarding the "Objects" (actually called "maps" in the metadata schema) being rendered with square brackets (as JS arrays): That was a design decision I made while implementing the metadata parsing because I figured that since metadata `maps` can have arbitrary "key" values (even nested lists & maps) we

[2021-03-31 16:00] nikolaglumac commented on #2238
@ronatola please make sure your Trezor device is updated to the latest firmware and that you are using latest Daedalus Mainnet 4.0.3.
You will need to input your passphrase on the device same as you do with the PIN.

[2021-03-31 18:11] nikolaglumac commented on #2238
@ronatola please make sure all earlier instances of Trezor are deleted from Daedalus UI.
Then restart Daedalus while the device is disconnected and only then proceed to "Add wallet > Pair".
Let us know if it worked.

[2021-03-31 18:15] ronatola commented on #2238
Same.  NM. I'm not even going to use it right now.  Hopefully when I need it, it will be sorted out.

[2021-03-31 18:22] ronatola commented on #2238
I downloaded the logs -  but can't find them.  WHere did they save to?

________________________________
From: Nikola Glumac ***@***.***>
Sent: March 31, 2021 2:18 PM
To: input-output-hk/daedalus ***@***.***>
Cc: ronatola ***@***.***>; Mention ***@***.***>
Subject: Re: [input-output-hk/daedalus] Daedalus does not prompt for entry of a passphrase when connecting passhphrase protected Trezor Model T

[2021-03-31 19:29] oranheim opened #2493 "Daedalus Spending Password issue with Trezor"
I tried the latest Daedalus v4.0.3 feature for Trezor Hidden Wallets and lost my ADA? Not good, making me very nervous..

Issue: unable to access 2 ADA -- spending password NOT working

Reproduce issue:

1) Create hidden wallet with a 4 char 13th mnemonic
2) I created a Daedalus wallet and importing public key using #1
3) Transferred 2 ADA to the hidden wallet
4) Transaction was successful

--so f

[2021-03-31 19:37] nikolaglumac commented on #2493
Something must have gone wrong with the earlier attempts to pair your Trezor wallet.
Do you have any other wallets in Daedalus or is it just your Trezor wallet?

[2021-03-31 19:41] nikolaglumac commented on #2493
Can you please send your logs to my email address: nikola.glumac@iohk.io or submit a support ticket here: https://iohk.zendesk.com/hc/en-us/requests/new and make sure to include the logs?

[2021-03-31 19:57] oranheim commented on #2493
Nope, only, Trezor Model T.

[2021-03-31 19:58] oranheim commented on #2493
Sent.

[2021-03-31 22:31] michaeljfazio commented on #2345
This is correct. I’ve raised this with CoinTracker multiple times now. I suggest you lodge a support request with then and reference this issue so we can generate some visibility with them. Unfortunately they’re support is atrocious when it comes to this type of thing.

[2021-04-01 03:51] dk8996 opened #2494 "Daedalus upgrade to 4.0.3 failed on Ubuntu"
Operating System: Ubuntu 18.04.5 LTS
   Kernel: Linux 4.15.0-140-generic
   Architecture: x86-64

It seems like the upgrade to 4.0.3 failed from the app. I tried download the wallet again and reinstalling but getting the same error message in system log.

`Daedalus-mainnet.desktop[3571]: execvp(/nix/var/nix/profiles/profile-mainnet/bin/enter-phase2): No such file or directory`

[2021-04-01 04:40] rhyslbw commented on #2492
@DominikGuzei
As explained at the time, the metadata shown in the `cardano-explorer-app` is formatted by `cardano-db-sync`. It's certainly worth testing how that implementation handles the complex keys.

[2021-04-01 06:50] nikolaglumac commented on #2493
Thanks @oranheim! I have received the logs.
@tomislavhoracek, our lead hardware wallet developer, will check it out next week once he returns from his vacation.
Thanks for the patience!

[2021-04-01 06:53] nikolaglumac commented on #2238
Thanks for sending the logs @ronatola! I have received them and I forwarded them to @tomislavhoracek (our lead hardware wallet developer) to check them out next week once he returns from his vacation.
Thanks for the patience! 🙏

[2021-04-01 07:34] oranheim commented on #2493
Great! :)

[2021-04-01 07:55] nikolaglumac commented on #2494
@disassembler @cleverca22 your help here is greatly appreciated 🙏

[2021-04-01 07:58] nikolaglumac commented on #2317
This feature has been implemented in https://github.com/input-output-hk/daedalus/pull/2475 and is to be released in the upcoming Daedalus Mainnet 4.0.4 version.

[2021-04-01 07:58] #2317 closed

[2021-04-01 10:44] NotoriousPyro opened #2496 "Daedalus reports cardano-node has crashed"
# Context

After upgrading to 4.0.3, using the automatic update functionality, Daedalus reports cardano-node has crashed although the logs show no such crash and shows the node as syncing if left... The first instance of this caused me to restart Daedalus for no reason as I suspected it had indeed crashed... but it was syncing.

## Essential Information

 - **Version**:      2021.3.4 (git revision

[2021-04-01 12:31] KtorZ commented on #2496
(cc @nikolaglumac)

[2021-04-01 14:43] dk8996 commented on #2494
I did some digging around last night. The folder that's in `~/.daedalus/nix/var/nix/profiles/` is missing `profile-mainnet`. That folder has other links like `profile` that was created on the date I installed/upgrade the wallet.  I'm going to try renaming it `profile-mainnet` see how that goes hahaha.

[2021-04-01 14:54] dk8996 commented on #2494
It seems like the links in the `/nix/var/nix/profiles/` are wrong

profile-mainnet -> profile-mainnet-14-link
profile-mainnet-14-link -> /nix/store/XYZ-profile (this is wrong path)

[2021-04-01 16:40] NotoriousPyro commented on #2496
[logs-2021-04-01T103348.0877Z.zip](https://github.com/input-output-hk/daedalus/files/6245048/logs-2021-04-01T103348.0877Z.zip)

[2021-04-01 17:28] mreed911 opened #2498 "Stake Pools UI defaults to 1000 ADA on initial page load/view"
When going to Stake Pools, the UI slider defaults to 1000 ADA.  Changing it causes stake pools to recalculate.

This should default to something other than 1000 and could be:

- The total ADA represented in all wallets in Daedalus (likely the best/most compatible option)
- The largest total in a single wallet in Daedalus
- The largest total in an unstaked wallet in Daedalus

This would allow me, a

[2021-04-01 17:31] mreed911 commented on #2484
If you're also using Ledger Live, or any other Ledger-connected app, quit that app before using Ledger in Daedalus.  They seem to "contend" for the device.

[2021-04-01 18:52] chirkunov commented on #2484
@mreed911 Other Ledger-connected apps are definitely not running. The second mac doesn't have any other Ledger apps installed at all and Chrome was not running in the background.

[2021-04-01 19:21] nikolaglumac commented on #2498
cc @darko-mijic

[2021-04-01 19:26] DominikGuzei commented on #2492
@rhyslbw @vicepool @nikolaglumac while trying to implement the improvements discussed above I figured that it's technically not possible to mix the "simple" object representation (like in Cardano Explorer) with the requirement of handling arbitrarily complex keys too. The problem is that if we simplify the map rendering to key-based object representation we can no longer display complex keys (beca

[2021-04-02 07:45] nikolaglumac commented on #2496
@NotoriousPyro please check your machine's time and make sure it is in sync with the NTP and then try again.

[2021-04-02 07:48] nikolaglumac commented on #2484
@tomislavhoracek will get back to you next week.
Thanks for the patience!

[2021-04-02 07:49] nikolaglumac commented on #2496
@NotoriousPyro please leave Daedalus running (20 - 60mins) and let us know if it recovers (Node starts responding) after that.

[2021-04-02 07:50] nikolaglumac commented on #2492
Whatever we decide to do, let's just make sure all products are in sync in terms of the metadata display.
cc @darko-mijic @KtorZ @rvl

[2021-04-02 07:52] nikolaglumac commented on #2492
@disassembler I would like to hear your opinion here too!

[2021-04-02 12:22] morrigan opened #2502 "Better token info display"
It's great that native tokens are supported but the display of the token name is kinda secondary and feels like lacking the UX user is expecting.

![image](https://user-images.githubusercontent.com/4976604/113415004-8f2b9700-93be-11eb-9681-ccaeeec21277.png)

Would be great if through the app token name is clearly visible rather than some non-user friendly ids.

[2021-04-02 17:04] shub42 opened #2504 "Daedalus 4.0.4 - cannot open display: :0"
OS : openSuSE Leap 15.2

Fresh install, all works fine. Daedalus install was succsefull but when i try to start:

(electron:3493): Gtk-WARNING **: 18:59:10.841: cannot open display: :0
[launcher:Notice:19] [2021-04-02 16:59:10.84 UTC] Wallet exited with exitcode: ExitFailure 1
[launcher:Notice:19] [2021-04-02 16:59:10.84 UTC] Daedalus exited with ExitFailure 1, will shutdown cardano-launcher

----

[2021-04-03 09:15] benapetr opened #2505 "Allow user to send without splitting the wallet balance into more addresses"
I noticed Daedalus right now has some annoying feature, where it randomly (at least when it decides to auto-withdraw rewards) splits the balance by sending ADA from address A, but returns unspent ADA back to address B (both A and B belonging to same wallet, but being different addresses). From user perspective this probably doesn't matter (with exception, see *), but it doesn't matter when you are

[2021-04-04 01:32] rvl commented on #2492
Why not show metadata in (nested) tables instead of JSON?

[2021-04-05 14:55] edwmurph commented on #2345
added a feature request to cointracker if anyone wants to upvote it to help get cointracker's attention on this https://feedback.cointracker.io/features/p/add-support-for-importing-transactions-via-xpub-cardano-daedalus-keys

[2021-04-05 23:35] CaffeinatedCM commented on #2505
Someone please correct me if I'm wrong, but my understanding is that this is just the way the Cardano chain works?

[2021-04-05 23:51] CaffeinatedCM commented on #2505
To elaborate on my above comment, my understanding (at least my best attempt at putting it to words) is that your wallet balance is actually just the sum of transaction outputs that you received and have not spent. The Ada is still inside of each of those unspent transaction outputs. When you create a new transaction, your wallet will take one (or more) of your unspent transaction outputs and use

[2021-04-06 01:34] olafeyikan opened #2507 "Import Wallet Via Daedalus State Directory and Secret.Key File but no ADA in it"
Hi, in 2017 I created 2 wallets in same application (Daedalus wallet) gave both different password. Fast forward 2019 I deleted the wallet as I can not remember the passwords.

I used the 12 recovery phrase and was able to restore 1 of the wallet, the second is yet to be restored, I have used both the State Directory and Secret.Key from my desktop to restore the wallet but all to no result, I saw

[2021-04-06 02:26] fighterleslie commented on #2478
It's 10 days and no one replied, I'll close this.

[2021-04-06 02:26] #2478 closed

[2021-04-06 06:33] Asafkbalink commented on #2488
@aleincsharp [PoolTool](https://play.google.com/store/apps/details?id=com.pegasus.tool&hl=en&gl=US) on android can provide you updates if the pool changed fees, became over-saturated or produced a new block.
Regardless, this feature is important to have in Daedalus as well. Daedalus have wider adoption

[2021-04-06 07:26] KtorZ commented on #2507
@olafeyikan I've transferred your issue to Daedalus as it seems to be a better fit. Could you clarify the situation a little because I am unclear with your explanations :thinking:

Let me try to re-formulate:

- You had 2 wallets, created during the Byron era.
- You do have two 12-word recovery phrases, one for each wallet.
- You do also still have your state directory from 2017, and the secret.ke

[2021-04-06 07:40] aleincsharp commented on #2488
Yes, the pooltool and adapools apps can do this.
I am working currently on the API! Because this API i a part of my bigger platform/solution it takes more time for now. But i hope to get the first version online soon!

[2021-04-06 12:40] olafeyikan commented on #2507
Do you see any transaction in the history of the second wallet? **NO (only in the first wallet)**
Is your local node fully synced with the blockchain? Are the wallet synced? **YES**

You had 2 wallets, created during the Byron era. **YES**
You do have two 12-word recovery phrases, one for each wallet. **Yes**
You do also still have your state directory from 2017, and the secret.key from it. **I ha

[2021-04-06 20:48] colemickens opened #2508 "Staking Process is Painful and shows the wrong amount?"
I drug the slider to "2,000", then picked a pool, then went through everything and signed the transaction, and then at the end, this is the confirmation I got. I don't know if this is a localization issue, but it's a bit alarming.

![wat2](https://user-images.githubusercontent.com/327028/113775994-49344300-96de-11eb-9ce2-1353bb02cb2e.PNG)

This thing is way too slow to be considered usable, too, i

[2021-04-06 21:20] NotoriousPyro commented on #2496
Hi, of course it does - I said so in the ticket. The issue is daedalus says it has crashed causing me to stop the application only to have it say the same thing is confusing.

[2021-04-07 18:13] olafeyikan commented on #2507
Any idea what i should do please?

[2021-04-08 00:50] olafeyikan commented on #2507
Hello again support team:

If I have 2 wallets on the same Daedalus application does that mean I will have 2 Daedalus State Directory or Secret.key files? this is what happened to me, I created 2 wallets on the same Daedalus Application running on my desktop. today I rimport wallet and can only see the primary wallet and its transaction details, I can not see the other transaction from the other w

[2021-04-08 07:37] michael8359 commented on #1234
Hi @nikolaglumac @KtorZ Any update or news?

[2021-04-08 10:17] not-mms commented on #1234
+1

[2021-04-08 11:48] olafeyikan opened #2511 "Import Wallet Via Daedalus State Directory and Secret.Key File but no ADA in it (#2507)"
Hello again support team:

If I have 2 wallets on the same Daedalus application does that mean I will have 2 Daedalus State Directory or Secret.key files? this is what happened to me, I created 2 wallets on the same Daedalus Application running on my desktop. today I import wallet and can only see the primary wallet and its transaction details, I can not see the other transaction from the other wa

[2021-04-08 14:27] wadie914 commented on #1234
it won't connect in order to try @not-mms

[2021-04-08 15:30] tomislavhoracek commented on #2484
@chirkunov  Hi.
I investigated the issue you have and I want to check a few things if you don't mind.

1. So, as I saw, you have restored 2 hardware wallets. Both HW are restored from the same device (first one with and the second one without passphrase) right?

2. As I can see the device is successfully connected and recognized by Daedalus ( that definitely eliminates @mreed911 comment ), the wei

[2021-04-08 15:37] ronatola commented on #2238
UPDATE:  I got it to work.
Uninstalled Daedalus/reinstalled
Uninstalled Trezor Bridge / Reinstalled
Removed PASSPHRASE using Trezor Suite
PAIRED Trezor to Daedalus OK
Hooked Trezor back up to Trezor Suite and re-enabled passphrase
Removed wallet in Daedalus
Did a new PAIR in Daedalus
It prompts for the PASSPHRASE

[2021-04-08 16:40] not-mms commented on #1234
Alright. to tell the truth i haven't tried it myself recently :) But I still have a wallet for which I've lost the mnemonic and for which I might still remember the password.

So what is the most straightforward way to open it?
1) download and install the newest daedalus version
2) wait till all blocks are downloaded
3) import the secret.key
4) and just try to change the password over and over aga

[2021-04-08 20:18] strongheart1 opened #2513 "UI: Rightmost column of stake pools are not visible (in grid view)."
In the example screenshot below the following stake pools are not visible: no. 16, 32, 48, 64 ....
(depending on the window size).
DAEDALUS 4.0.4; Linux build 17475

![Screenshot](https://user-images.githubusercontent.com/35747159/114089782-daf6a880-98b6-11eb-8f5c-41b9af5ef6fa.png)

[2021-04-09 01:13] geektechniquestudios opened #2514 "Wallet stuck on loading screen at 0% "Verifying the blockchain""
![image](https://user-images.githubusercontent.com/42378648/114114015-e98c9200-98ad-11eb-8dfe-7151eb1f4608.png)
[logs-2021-04-09T010332.0235Z.zip](https://github.com/input-output-hk/daedalus/files/6282472/logs-2021-04-09T010332.0235Z.zip)

This is not the first time I've encountered this issue. I've waited several hours for this process to progress, but nothing has happened. Restarting my machine

[2021-04-09 14:06] tomislavhoracek commented on #2238
@ronatola I'm glad to hear that. Thanks for letting us know.

[2021-04-09 14:13] tomislavhoracek commented on #2493
@oranheim I'm investigating the issue you found. Can you tell me what message is shown on the Trezor device for **case 7.**? Maybe that is connected to the Trezor-Connect issue we also faced?
https://github.com/trezor/connect/issues/783

Can tell me what firmware version you have on the device?

[2021-04-09 14:21] #2504 closed

[2021-04-10 06:56] lszl84 opened #2515 "Cannot withdraw ADA"
I'm trying to withdraw all my ADA from my wallet (including rewards). I've also tried withdrawing 1-2 ADA less than my balance, with no luck. I'm signing my transaction with ledger nano, but after confirming the transaction in Daedalus, the confirm button progress indicator keeps spinning or "An error occured." message shows up.

Here's the log line that looks suspicious to me:

[code]

Let me kno

[2021-04-10 07:07] lszl84 commented on #2515
It seems that original transaction went trough. So this is a minor bug where after cancelling hanging transaction, the wallet is not updated and shows the old ADA amount. Subsequent withdrawal attempts result in error, because the ADA amount is not updated and Daedalus tries to withdraw money that's not there. Closing the issue.

[2021-04-10 07:07] #2515 closed

[2021-04-10 07:37] oranheim commented on #2493
My Trezor Model T firmware is: 2.3.6

It was the one with a passphrase (the hidden wallet).

I'll try your to remove the State directory and try to reinstall a fresh copy of Daedalus.

[2021-04-10 10:18] oranheim commented on #2493
I was able to restore my "hidden wallet #1". However, I am unable to restore the "standard wallet".

Does this mean that Daedalus only supports one paired wallet at a time?

I also think that found the bug that introduces "set spending password" issue.

How to reproduce:

1) Set up Trezor Suite with a Hidden Wallet #1
2) Pair your Model T device and enter your 13th mnemonic key (Please note: PIN i

[2021-04-10 14:18] oranheim commented on #2493
I found a way to make this work :)

1) Set up Trezor in Standard Wallet mode (using pin)
2) Open Daedalus and Pair (follow instructions)
3) Set up Trezor in Hidden Wallet mode (with Passphrase)
4) Open Daedalus and Pair (follow instructions)

When you want to send money from Standard Wallet, you need to disable the Trezor Passphrase; and re-enable it when you want to operate on the Hidden Wallet.

[2021-04-10 16:27] europound opened #2516 "Unsupported firmware"
trezor t Firmware version
Your current firmware version is 2.3.5.

Up to date

daedalus 4.0.4

why is that?

[2021-04-11 17:41] buttery-potato commented on #2514
I am getting this issue as well.

[2021-04-12 08:38] nikolaglumac commented on #2516
@europound can you clarify please?
What message are you seeing and where?
Screenshot and more context would help us a lot.

cc @tomislavhoracek

[2021-04-12 08:39] nikolaglumac commented on #2511
Closing as this is a duplicate of https://github.com/input-output-hk/daedalus/issues/2507

[2021-04-12 08:39] #2511 closed

[2021-04-12 08:44] tomislavhoracek commented on #2516
@europound That means you need to update your Trezor device firmware.
Just follow these instructions: https://wiki.trezor.io/User_manual:Updating_the_Trezor_device_firmware

[2021-04-12 08:45] nikolaglumac commented on #2508
@colemickens can you please clarify what you see as a wrong amount / localization issue on the confirmation dialog?

**Regarding the performance issues and the slider**
Stake pool rankings and potential rewards are depending on the amount of stake you wish to delegate.
This is why we have the slider. Sure, it is painfully slow - but this has nothing to do with your Internet connection speed.
The d

[2021-04-12 08:47] nikolaglumac commented on #2516
Thanks @tomislavhoracek!

@europound please update your Trezor to firmware version **2.3.6** by following the steps from https://wiki.trezor.io/User_manual:Updating_the_Trezor_device_firmware

[2021-04-12 08:47] #2516 closed

[2021-04-12 08:51] nikolaglumac commented on #2502
ASCII names are misused. These are NOT supposed to be used as "the name" of the token. The real name is a part of the token's metadata which the creator of the token needs to register. Soon this will be possible here https://github.com/input-output-hk/cardano-metadata-submitter/#readme

This is how it will look like (screenshots are from the live Testnet Daedalus version):
![image](https://user-im

[2021-04-12 08:51] #2502 closed

[2021-04-12 08:53] colemickens commented on #2508
I had selected **2000** units of ADA to stake, then when I clicked a pool and went through the process and got to the very end, I got the screenshot above show "2.000000 units of ADA".

RE: performance, I thought the stake pool ratings were leveraging IOHK's SMASH servers? The description of this makes it sound like its meant to address this exact thing?

Maybe if this were fast, the slider UX wou

[2021-04-12 08:54] tomislavhoracek commented on #2493
@oranheim We are glad to hear you successfully restored your hidden wallet.
Thanks for the details (reproduction steps). We will investigate the issue. Daedalus supports both Standard and Hidden wallets at the same time without disabling/enabling passphrase.

[2021-04-12 08:57] nikolaglumac commented on #2505
@benapetr this is the default way cardano-wallet works and this is what Daedalus uses for creating transactions. Change/unspent amount is always returned to a newly generated change address of your wallet.
There are many benefits from having your ada spread across multiple addresses - this enables you to create multiple transactions very close one to another (time-wise), it also enables you to "or

[2021-04-12 09:00] nikolaglumac commented on #2507
@olafeyikan if you have the 12-word wallet recovery phrases for both wallets, then there is no point of discussing the "state directory / secret.key" aspect of it as you don't need those.

If after restoring a wallet from your wallet recovery phrase you get no transaction history and a zero balance I am 100% sure you are not using the correct recovery phrase.

Perhaps you only used the first of th

[2021-04-12 09:02] nikolaglumac commented on #2514
Please leave Daedalus running and it should eventually connect.
The cardano-node sometimes need up to 20-60 mins to boot.
The team is working on improving this.

Please let us know if leaving Daedalus running helps. Thanks!

[2021-04-12 09:03] nikolaglumac commented on #2493
@tomislavhoracek @ManusMcCole  please try to reproduce the issue @oranheim reported 🙏
It should be possible to restore a no-passphrase wallet even without disabling passphrase on the device.

[2021-04-12 09:09] nikolaglumac commented on #2508
You have misunderstood the meaning of "Deposit". This has nothing to do with the value of the slider.
You are always delegating **all the funds** you have in your wallet.
The deposit is required only for your first-ever delegation as your wallet's delegation certificate needs to be registered on the chain. Every subsequent delegation preference change will not include a deposit.

SMASH servers onl

[2021-04-12 09:10] tomislavhoracek commented on #2493
@nikolaglumac I agree. I'm on it!

[2021-04-12 09:12] nikolaglumac commented on #2484
@chirkunov any news?

[2021-04-12 09:17] colemickens commented on #2508
Oh. I see. I guess maybe this be changing (I hope I get this right) since I think the ability to stake to different pools from one wallet is coming soon?

Anyway, thank you for the multiple detailed replies; you are correct, I have indeed misunderstood, it's now clicked into place a bit better, thank you for taking the time. Given this all seems by-design I'll close this out.

[2021-04-12 09:17] #2508 closed

[2021-04-12 10:01] nikolaglumac commented on #2508
Happy to help @colemickens 😎

[2021-04-12 10:41] nikolaglumac commented on #2513
Thanks for reporting this @strongheart1 - we are looking into it!

[2021-04-12 10:45] nikolaglumac commented on #1234
@wadie914 no news yet...

@not-mms yes - the steps you have listed are the way to go.
There is no script nor a way to speed this up I'm afraid.

[2021-04-12 11:19] nikolaglumac commented on #2478
Sorry @fighterleslie - I was on leave up until today.
@ManusMcCole @miorsufianiohk @gabriela-ponce can someone check this please?

[2021-04-12 11:27] oranheim commented on #2493
Thanks a lot guys! I really appreciate your help and attention. Awesome 🥇

[2021-04-12 11:28] nikolaglumac commented on #2493
We will sort it out together - I am sure of that 🙌   😄

[2021-04-12 11:39] ManusMcCole commented on #2493
I was able to reproduce the issue above in 1 out of 6 attempts(I cleaned state and reinstalled Daedalus between each attempt) by

1. Pairing a standard wallet(No passphrase)
2.Unplugging device
3.Plugging in device.
4.Pair a new wallet with passphrase

Daedalus then wrongly asks for a spending password for the passphrase protected as also outlined above. The issue only occurred 1 out of 6 times wi

[2021-04-12 11:48] nikolaglumac commented on #2493
@tomislavhoracek please take it from here 🙏

[2021-04-12 11:56] ManusMcCole commented on #2493
Hi @tomislavhoracek. When the issue occurs on windows the error is different. Instead of asking for a spending password the user gets an error occured message when trying to pair the wallet with this [message](https://drive.google.com/file/d/1sFpSRr2uMd-prqMSaIU-a4fvGOQT9SC_/view?usp=sharing) in the console(unexpected error). I hope this helps you to figure out the cause

[2021-04-12 11:56] olafeyikan commented on #2507
Hi Nikolaglumac, thank you for your response, Yes i had 2 wallets created within application, I wrote the second 12 -  word out for both and for some reasons i could restore one, this was what lead to me restoring via the state directory / secret.key. So yes you are correct after restoring the second wallet from state directory / secret.key, I got no transaction history and a zero balance.

regard

[2021-04-12 12:11] nikolaglumac commented on #2507
Thanks for clarifying that @olafeyikan.
This leads me to believe that the second wallet you restored has never been used and thus has no transaction history and zero balance. There is no other way for this to happen - especially since you tried both the wallet recovery phrase restoration as well as importing wallets from your secret.key file.
Please try hard to remember if you ever used that walle

[2021-04-12 12:16] olafeyikan commented on #2507
Hi again, I understand, but i did created the second wallet.

[2021-04-12 12:19] nikolaglumac commented on #2507
But have you ever used it? Each wallet you create in Daedalus has it's own wallet recovery phrase, it's own addresses, transaction history, and a balance.
If you have only created it but never sent any funds to it, then it is supposed to be empty.

[2021-04-12 12:29] olafeyikan commented on #2507
I did send funds into it in 2017, but did not send out of it. I send funds from Binance into it.

[2021-04-12 12:31] nikolaglumac commented on #2507
Can you please find the transaction ID and send it to us? We need to confirm that the transaction was successful.

[2021-04-12 12:36] olafeyikan commented on #2507
is it safe to send it here?

[2021-04-12 12:37] nikolaglumac commented on #2507
Feel free to either open a support ticket: https://iohk.zendesk.com/hc/en-us/requests/new
... or send transaction details directly to me at nikola.glumac@iohk.io

[2021-04-12 12:39] olafeyikan commented on #2507
I just sent it over to you..

[2021-04-12 12:44] nikolaglumac commented on #2507
Are you sure this was the only transaction made from and to that wallet?

[2021-04-12 12:48] olafeyikan commented on #2507
Yes i am sure, I have not reason to lie, I tried to send it to a paper wallet when i did not remember my password but i did not have success doing that. so i deleted both wallets since I could not retrieve the passwords.

[2021-04-12 12:52] nikolaglumac commented on #2507
So let me get this straight, these are the steps you took:
1. Created this wallet
2. Sent one transaction to that wallet which was successful and you were able to see that transaction in the wallet's history and the balance was correct
3. You tried to send that ada from that wallet to a paper wallet but failed to do so
4. Then you deleted it from Daedalus
5. You tried to restore it from a state di

[2021-04-12 12:57] olafeyikan commented on #2507
that is correct. when i did the transfer from Binance to my wallet i got the balance there. It was there for months, then i did not remember the password, so i tried to send it all to a paper wallet, i believe without the correct password the paper wallet thing did not work either, still a novice and trying to understand how to do the whole thing..

I hope this all make sense. But you are correct.

[2021-04-12 15:52] nikolaglumac commented on #2507
We have concluded the wallet recovery phrase and the state-directory/secret.key are not matching the wallet @olafeyikan was trying to find. Seems like the 2nd wallet was not matching the one which had funds sent to it.
Please remember that the secret.key file contains only wallets that were visible in the Daedalus UI at that point in time as if you delete a wallet it also gets removed from the sec

[2021-04-12 15:52] #2507 closed

[2021-04-12 16:13] buttery-potato commented on #2514
I had Daedalus running all night (12 hrs) and still nothing.

[2021-04-12 16:32] nikolaglumac commented on #2514
Please send the logs to nikola.glumac@iohk.io and I will check it out. Thanks!

[2021-04-12 17:28] buttery-potato commented on #2514
Yes, it's synced.

[2021-04-13 09:49] ManusMcCole commented on #2478
Hi @fighterleslie. I was unable to reproduce the issue you are having on Linux Ubuntu 18.04. Could you try with the newest production version of [Daedalus](https://daedaluswallet.io/en/download/). Hopefully this will solve the issue. If the command to run ./daedalus-2.5.0-mainnet-15326.bin is not working you could try bash ./daedalus-2.5.0-mainnet-15326.bin also directed at the folder containing t

[2021-04-13 09:58] nikolaglumac commented on #2514
Node logs are full of these lines:

[code]

...while cardano-wallet ones have these ones repeating over and over again:

[code]

Your machine clock looks good - there is less than a second drift.

@dcoutts @rvl @KtorZ any chance you could have a look into this?
I can share you the logs if needed.

[2021-04-13 10:02] rvl commented on #2514
Thanks @nikolaglumac - we'll look into it.

[2021-04-13 10:41] fighterleslie commented on #2478
@ManusMcCole Thank you for your reply. Actually I successfully installed daedalus-3.3.2-mainnet-16919.bin on another Ubuntu 16.04 laptop, although Ubuntu 16.04 is not officially supported. I think some libraries on my Ubuntu 18.08 OS may be broken.

You can leave this issue closed.

[2021-04-13 12:54] Anviking commented on #2514
### logs-2021-`04-09`T010332.0235Z.zip

I think the node is still replaying blocks here. It seems to be at 2021/04/02 13:41:44 UTC, judging from the last `Replayed block: slot SlotNo 25804613` message, despite the date being 04-09.

The wallet was last seen logging
[code]

It looks like the wallet/node was running
- 23:08:28.12 - 23:36:24.71
- 00:57:35.68 - 01:03:35.04

with a few shutdowns.

Alth

[2021-04-13 15:48] buttery-potato commented on #2514
[logs-2021-04-13T154640.0387Z.zip](https://github.com/input-output-hk/daedalus/files/6305002/logs-2021-04-13T154640.0387Z.zip)

[2021-04-13 23:57] buttery-potato commented on #2514
Using a VPN fixes the problem.

[2021-04-14 06:33] geektechniquestudios commented on #2514
This issue just happened to me again, so I'll try this. I turned on a VPN after seeing your message and it jumped from 0 to 97.6% complete, where it currently sits. I'll post what happens when it moves again.

[2021-04-14 07:10] nikolaglumac commented on #2514
@buttery-potato @geektechniquestudios were you able to use Daedalus without VPN before this "verification stuck at 0%" issue started to happen?
If so, did you change your Internet connection provider? Can you please give us a bit more context?

[2021-04-14 14:28] ggcaponetto opened #2519 "Wallet sync stops on Windows 10 when user connects/disconnects USB peripherals."
### Expected behaviour

I expect the Daedalus wallet to perform a full synchronization even if i connect or disconnect the mouse/keyboard usb peripheral during synchronization.

### Current behaviour

While the wallet is synchronizing and the initial loading screen is displayed, Daedalus crashes if I unplug and replug the USB mouse and keyboard. From this point on Daedalus is not able to perform t

[2021-04-14 14:55] miorsufianiohk commented on #2519
Thank you for contacting us @ggcaponetto . We will have this check and get back to you.

[2021-04-14 15:35] buttery-potato commented on #2514
Yes. I used Daedalus for a while but then this started 3 days ago. No change in ISP.

[2021-04-14 20:14] geektechniquestudios commented on #2514
I set up and started using the Daedalus wallet without a vpn a couple of months ago and did not have an issue. I have not changed my isp (google fiber).  The vpn I'm using is called Mullvad. I really haven't changed anything that I can think of.

[2021-04-15 09:48] benapetr commented on #2505
@nikolaglumac but as I mention this behaviour is breaking scripts and tools that observe pledge of staking pools, when I send ADA directly using RAW CLI commands, I can always send it in a way that all balance remains on a single wallet address (which is expected from pool pledge wallets). Breaking them up into many addresses may have some undesired behaviour as I described above, so it would be r

[2021-04-15 09:52] benapetr commented on #2505
also can you elaborate on how does this help someone organize their wallet better? it's not like you can easily move your funds from one address to another within one wallet (definitely not for free anyway). I fail to see the added value from having your balance pretty much randomly split into multiple addresses, how is random splitting equal to "organizing" of your funds?

[2021-04-15 10:34] nikolaglumac commented on #2505
Perhaps your script should be modified? 🙂
Joking aside - I understand your point of view. However, this is not something we can easily change in Daedalus. We need this to be made configurable on the [cardano-wallet](https://github.com/input-output-hk/cardano-wallet) side first. It is a product decision that has to be made by the product team lead by @darko-mijic.
The discussions will be held, anal

[2021-04-15 10:58] nikolaglumac commented on #2493
The [PR 2520](https://github.com/input-output-hk/daedalus/pull/2520) with the fix has been merged and it will be released in one of the upcoming Daedalus releases.
Thanks for the fix @tomislavhoracek and @ManusMcCole, and thanks for reporting this and helping us debug it @oranheim 🙏

[2021-04-15 11:03] benapetr commented on #2505
the scripts are not mine, they belong to 3rd party, but if their website shows your pool doesn't adhere to pledge because their script is broken, delegators will go somewhere else, and that's where this becomes a problem.

Anyway, I understand logic where specific people are sending to specific address, that's same even with BTC, what I don't understand is how "random reshuffling of your balance b

[2021-04-15 11:17] nikolaglumac commented on #2505
Well, I guess they should be asked to fix the issue on their end as this is how the system works and whichever application depends on [cardano-wallet API](https://input-output-hk.github.io/cardano-wallet/api/edge/) functions in this way...

This is more of a question for [cardano-wallet](https://github.com/input-output-hk/cardano-wallet) as the input selection logic is not directly implemented in

[2021-04-15 12:13] nikolaglumac commented on #2505
@benapetr to be fully clear - this has nothing to do with number of addresses you use! If you send me 4 transactions of 1 ADA to the same address I would still have 4 UTXOs!

[2021-04-15 12:29] nikolaglumac commented on #2492
Empty string values display has been fixed in https://github.com/input-output-hk/daedalus/pull/2503 and released in Daedalus 4.0.5 today.

[2021-04-15 12:30] nikolaglumac commented on #2496
@NotoriousPyro may I kindly ask you to update to the latest Daedalus 4.0.5 version which was released today?
I hope the changes we did will fix the issue you were experiencing 🙏
Any feedback is greatly appreciated!

[2021-04-15 12:31] nikolaglumac commented on #2513
This issue has been fixed in https://github.com/input-output-hk/daedalus/pull/2517 and released in Daedalus 4.0.5.
Thanks for reporting it! 🙏

[2021-04-15 12:31] #2513 closed

[2021-04-15 12:58] NotoriousPyro commented on #2496
Yes, it seems to work fine now. Thank you.

[2021-04-15 12:58] #2496 closed

[2021-04-15 13:10] nikolaglumac commented on #2496
Thanks for letting us know!
The fix was implemented here: https://github.com/input-output-hk/daedalus/pull/2510

[2021-04-15 14:17] marcondesmacaneiro opened #2522 "Wallet not open NewsFeed"
Version 4.0.5#17596

In Windows 10, Daedalus not open the NewsFeed.

Daedalus Flight open normaly

![erro_daedalus](https://user-images.githubusercontent.com/113733/114884179-f0e6fa80-9ddb-11eb-8f04-dae0b309a331.png)

[2021-04-15 16:36] srdjan commented on #2498
also, after upgrading to the latest (4.0.5) no matter what amount I select using the slider - after stepping through tree step wizard, amount is fixed to 2 ADA?

<img width="337" alt="Screen Shot 2021-04-15 at 12 30 57 PM" src="https://user-images.githubusercontent.com/61190/114905354-dd8d5c80-9de6-11eb-947d-78c0c02bfe47.png">

[2021-04-15 16:39] mreed911 commented on #2498
Yes, that's the deposit to stake (plus the fee for the transaction), not the amount that's being staked (which is snapshotted in the wallet).  In your screenshot this is working correctly and isn't related to the problem I reported.

[2021-04-15 16:57] srdjan commented on #2498
agree - not related - deleted...

hope I'm the only one confused with this.

[2021-04-15 16:59] mreed911 commented on #2498
Instead of replying - again - and cluttering the thread, why not delete THIS one, too, so we can keep things clean?

[2021-04-16 02:50] Tranilator opened #2523 "Missing Wallet Balance – Daedalus 4.0.5"
Hi there,

After update from 4.0.4 to 4.0.5, wallet balance and conversion options no longer appear in primary the summary window:

![image](https://user-images.githubusercontent.com/38444216/114964423-10e8ed80-9eb2-11eb-8de7-f5c960479d66.png)

Thanks!

[2021-04-16 03:36] alex-stout opened #2524 "Linux cardano-cli path?"
I just switched over to Ubuntu. Is there a way to use the cardano-cli similar to how you can use it on MacOS?

[2021-04-16 06:55] nikolaglumac commented on #2498
Thanks for the suggestion @mreed911 - we are discussing the options and are leaning towards having the default to be "The total ada represented in all wallets in Daedalus".

However, we also need to think of a case where users have no wallets or the total ada in their wallets is zero or less than 10 (which is the minimum slider value). What I am trying to say is that we need a default value for th

[2021-04-16 08:29] nikolaglumac commented on #2523
Hi! This is a known issue due to a change in the conversion currency formats and here's a quick fix: https://iohk.zendesk.com/hc/en-us/articles/900005736566

[2021-04-16 08:31] nikolaglumac commented on #2524
@alan-mcnicholas can you help us out here? I am not sure if cardano-cli is available on Ubuntu...

[2021-04-16 08:32] nikolaglumac commented on #2522
It works fine on macOS 🤔
@miorsufianiohk can you please check it out on Windows 10?

[2021-04-16 09:08] miorsufianiohk commented on #2522
Hi @marcondesmacaneiro ,

Thank you for contacting us. I attempted to replicate the issue that you raised but unfortunately was not successful. Could you please kindly restart Daedalus and retry. If the issue remains, it would be great if you could take a video of it + full details of your operating system (ie the maker, specs + touchscreen or not etc).

I look forward to receiving your reply in d

[2021-04-16 09:24] miorsufianiohk commented on #2519
Hi @ggcaponetto ,

I hope that you are well.

We unsuccessfully tried to replicate the issue that you raised, unfortunately. However, the issue might be related to another issue that has been found (which also relates to usb device crashing Daedalus on Windows). I could see that this issue is already on the development pipeline to be looked at in a few weeks time.

In the meantime, could you pleas

[2021-04-16 09:51] alan-mcnicholas commented on #2524
The cardano-cli (and other binaries) are installed to the nix store; you can find the path with the following:
```ls -l ~/.daedalus/nix/store/*daedalus*/bin/*cardano-cli```
I hope this helps :)

[2021-04-16 10:09] nikolaglumac commented on #2524
Thanks @alan-mcnicholas 🙏

[2021-04-16 10:09] #2524 closed

[2021-04-16 10:14] DominikGuzei commented on #2492
@rvl we certainly can do this - actually in Daedalus it's all prepared for more advanced display but we decided to release the simple solution as fast as possible (now we know the downside of the JSON representation)

[2021-04-16 10:24] ggcaponetto commented on #2519
Thank you for trying. This issue does not block me from using daedalus at the moment. I will provide you the logs this weekend.

The steps for a successful recover are:

1. Opening Daedalus after it crashed
2. Shutting down the node (Exiting the Deaedalus app)
2. Deleting the wallet and chain data
3. Rebooting the machine
4. Open Daedalus

[2021-04-16 12:55] marcondesmacaneiro commented on #2522
my computer doesn't have touch screen. But today the wallet show normally the news feed.

[2021-04-16 12:55] #2522 closed

[2021-04-16 13:04] nikolaglumac commented on #2519
@ggcaponetto do you maybe use a YubiKey?

[2021-04-16 13:05] nikolaglumac commented on #2519
Also, an exact model of your USB devices that trigger this issue would be appreciated 🙏

[2021-04-16 15:17] mreed911 commented on #2498
Given the current price in USD of ADA, 1000 ADA represents a pretty significant investment vs. what someone just wading in might buy, especially as Alonzo rolls out and people can begin buying ADA to actually use, etc.

I'd suggest that "total ADA in all wallets" is a start point as long as that is > 10, and all the way down to 10, otherwise default to 10 (the minimum) if they have 10 or less, no

[2021-04-16 19:39] alex-stout commented on #2524
Thank you!

[2021-04-17 03:11] Tranilator commented on #2523
Thanks for pointing me in the right direction 🙂

[2021-04-17 03:11] #2523 closed

[2021-04-17 06:17] airtonix commented on #2345
@edwmurph  how? adding a hd ledger wallet only lets you put one address.

[2021-04-17 08:42] ggcaponetto commented on #2519
Hi.
The mouse that i use i a [Microsoft Sculpt Mobile Mouse](https://www.microsoft.com/accessories/en-my/products/mice/sculpt-mobile-mouse/43u-00005) (Model 1569). Other mice i have work fine and I don't have any YubiKey connected.

My system is:

[code]

Unfortunately I couldn't spot any error/crash log entry.

[2021-04-17 09:09] nikolaglumac commented on #2519
So the only way to reproduce the issue is to use that specific type of mouse?
The issue does not happen when other mice are used nor with any other USB hardware like the keyboard for example?

[2021-04-17 09:36] ggcaponetto commented on #2519
Exactly. It seems to be an issue specific to that mouse but mybe others too. It wouldn't be a problem at all if only Daedalus was able to recover itself and resync without having to delete wallet and chain data manually.

[2021-04-17 17:22] alex-stout commented on #2524
@alan-mcnicholas Got the chance to try executing the cli on my machine and I'm getting a `No such file or directory` error. It's weird because I'm running a 64-bit system and the file does exist and is executable.

Sorry to open back up this issue...

[2021-04-17 17:22] edwmurph commented on #2345
i added a new/separate public address wallet to cointracker for each of the generated addresses for my daedalus wallet into cointracker via https://www.cointracker.io/add_wallet

![image](https://user-images.githubusercontent.com/20996513/115121280-bc13a880-9f7f-11eb-958d-265b694f9125.png)

[2021-04-17 20:26] wadie914 commented on #1234
anything yet  ?

[2021-04-19 07:05] nikolaglumac commented on #1234
Unfortunately, no news still...

[2021-04-19 07:07] nikolaglumac commented on #2514
@buttery-potato @geektechniquestudios can you please try installing and running Daedalus 4.0.5 (https://daedaluswallet.io/en/download/) and let us know if you are still experiencing the same issues? 🙏
Many thanks!

[2021-04-19 08:48] alan-mcnicholas commented on #2524
No worries! I should have tried it on my own system before recommending it, I am digging further and hope to have an answer asap. This is not a supported scenario as part of Daedalus so while there are no guarantees, I will do my best.

[2021-04-19 12:38] alan-mcnicholas commented on #2524
The binaries can only be ran in the chroot in this instance. An alternative would be to download the cardano artifacts directly https://hydra.iohk.io/build/6092531/download/1/cardano-node-1.26.2-linux.tar.gz and use them as such, this is beyond the realm of Daedalus however. I hope this helps! :)

[2021-04-19 17:53] buttery-potato commented on #2514
The new release works without a VPN. What do you think changed?

[2021-04-19 18:08] geektechniquestudios commented on #2514
As the issue is intermittent, it's hard to definitively say the problem is resolved. However, I haven't experienced the problem reported here since I updated.

I installed the update through a prompt in the wallet, as opposed to manually installing it. After doing that, it kept crashing and restarting, unable to sync. I restarted my system, and now everything seems to be working normally. I will r

[2021-04-19 22:41] alex-stout commented on #2524
Awesome. Thank you very much

[2021-04-20 07:13] nikolaglumac commented on #2514
We have [updated cardano-wallet revision](https://github.com/input-output-hk/daedalus/pull/2495) and [reduced the allowed NTP time drift](https://github.com/input-output-hk/daedalus/pull/2510) - these are the only changes I can see potentially fixing the issues you were experiencing.  I will close this ticket now since you can not reproduce the issue any longer.
Feel free to re-open it in case it

[2021-04-20 07:13] #2514 closed

[2021-04-20 07:56] Scalextrix opened #2527 "Unplugging USB devices crashes wallet"
I switch my keyboard mouse between devices manually, if I do this while Daedalus is open it causes the wallet to crash about 5-10 seconds after I unplug the USB.

The node log shows nothing, its a silent crash.

OS: Windows 10
Daedalus 4.0.5

[2021-04-20 08:03] nikolaglumac commented on #2527
Closing as it is a duplicate of https://github.com/input-output-hk/daedalus/issues/2519
@Scalextrix please add your report as a comment in the above-mentioned issue.
Thanks!

[2021-04-20 08:03] #2527 closed

[2021-04-20 08:41] dinobagio opened #2528 "Delegations Pools Have Same Rank"
Hi,
Not sure if it's wrong or not but I have two wallets, which I've delegated to two different SPO,
When I go to the delegation center tab, I can see these delegations for my two wallets, but the 2 distinct SPOs have the same rank displayed,
Is that possible ?
Thanks in advance

![daedalus_same_ranks](https://user-images.githubusercontent.com/16324000/115365535-c2df2d00-a1c4-11eb-9fd6-21701870bbb

[2021-04-20 08:55] nikolaglumac commented on #2528
@dinobagio this is expected. The stake pools you are delegating to do are unranked. The last ranked pool has the rank of 553.

![Screenshot 2021-04-20 at 10 54 42](https://user-images.githubusercontent.com/376611/115367895-dee3ce00-a1c6-11eb-81b6-601791ecf6e0.png)

[2021-04-20 08:55] #2528 closed

[2021-04-20 08:58] dinobagio commented on #2528
Oh OK ! Apologies.

[2021-04-20 09:03] nikolaglumac commented on #2528
No worries - it is always better to ask 🙂

[2021-04-20 10:02] Scalextrix commented on #2519
I am having this same issue: https://github.com/input-output-hk/daedalus/issues/2527

After reading above, in my case it is because of a Yubikey, with the Yubikey plugged into the keyboard USB port, Daedalus crashes on disconnect.  If the Yubikey is removed first, then disconnect does not cause a Daedalus crash.

[2021-04-20 10:11] nikolaglumac commented on #2519
@gabriela-ponce @ManusMcCole can you please try to reproduce this ☝️

[2021-04-20 10:25] Scalextrix commented on #2519
After a little more experimentation, plugging the Yubikey into any of several USB ports (peripheral or not) also crashes the Daedalus wallet.  Basically any addition or removal of the Yubikey causes the issue.

[2021-04-20 11:36] ManusMcCole commented on #2519
Hi @nikolaglumac. I was able to reproduce the error with the Yubi keys. Plugging in or removing the key crashed Daedalus immediately. When the Yubi key was unplugged this error was shown [screenshot](https://drive.google.com/file/d/1yvjr0PQRzaTAey9F1GE2Jd1-sbgLBZ9Z/view). When it is plugged in Daedalus crashes with no error message.I was not able to recreate Daedalus crashing when a wireless mouse

[2021-04-20 12:38] gabriela-ponce commented on #2519
@nikolaglumac I can't reproduce the issue with the USB peripherals. I don't own the device mentioned in [this comment](https://github.com/input-output-hk/daedalus/issues/2519#issuecomment-821790599), but tried with other USB devices, including two different wireless mice.
However, Daedalus closes for me just after plugging the Yubikey (5C NFC).

[2021-04-21 03:24] AJFunk opened #2532 "Missing stake pool"
I recently registered a stake pool under the TREES ticker, but it does not show up in Daedalus.

It works in Yoroi, ADAPools (https://adapools.org/pool/010135d6c273b169481091d1b1486ec8e21b978de354c1572f3c4429) and other sites.

I recently discovered that this ticker was used already and retired
https://adapools.org/pool/b98514bb7c8fe8efaa6762d6ae811ad2fbb783653f7af1aba12ba201

I'm guessing that Da

[2021-04-21 08:32] tomislavhoracek commented on #2532
Thank you for contacting us @AJFunk  . We will check this and get back to you.

[2021-04-21 08:41] nikolaglumac commented on #2532
@AJFunk did you make sure your stake pool is listed on SMASH?

You can call the Smash-Server like:
`https://smash.cardano-mainnet.iohk.io/api/v1/metadata/<poolid>/<metahash>`
* Replace the with your Pool-ID in hex or bech format and with your Meta-Hash in hex.

If it isn't then Daedalus won't show it.

[2021-04-21 17:53] AJFunk commented on #2532
After doing some more digging, I think the issue is on my end. I updated to pool metadata.json, but I did not create a new metadata hash and resubmit my registration certificate with the updated hash.

Thank you for taking a look!

[2021-04-21 17:53] #2532 closed

[2021-04-22 06:57] nikolaglumac commented on #2494
@dk8996 can you try updating to 4.0.5 please?

[2021-04-22 06:58] nikolaglumac commented on #2484
@chirkunov please update Daedalus to the latest version (4.0.5) and let us know if that resolves the issue.

[2021-04-22 07:02] chirkunov commented on #2484
It did. I could not reproduce the issue anymore.

On Thu, Apr 22, 2021, 08:59 Nikola Glumac ***@***.***> wrote:

[2021-04-22 07:02] nikolaglumac commented on #2484
Thanks! Glad to hear that!
Closing this issue...

[2021-04-22 07:02] #2484 closed

[2021-04-22 07:04] nikolaglumac commented on #2481
@mreed911 can you please update to latest Daedalus 4.0.5 and try again?

[2021-04-22 07:08] nikolaglumac commented on #2477
This indeed sounds like the same issue as https://github.com/input-output-hk/daedalus/issues/2350
Virtualbox should work fine - we use it all of the time so this issue must be some misconfiguration on your side.
I suggest you to debug your setup or perhaps try running Daedalus with the "Blank screen fix" mode on:
![Screenshot 2021-04-22 at 09 08 14](https://user-images.githubusercontent.com/376611

[2021-04-22 07:09] #2477 closed

[2021-04-22 08:28] laplasz commented on #2477
So does this mean that Daedalus is not supported running in a docker container?

[2021-04-22 08:33] nikolaglumac commented on #2477
It is not officially supported: https://iohk.zendesk.com/hc/en-us/articles/360010496553-Daedalus-System-Requirements

[2021-04-22 14:57] nikolaglumac commented on #2419
This feature has been implemented in https://github.com/input-output-hk/daedalus/pull/2459 and is to be released in next Daedalus version.
Thanks for the patience 🙏

[2021-04-22 18:14] pieterhouwen opened #2535 "High RAM usage"
When I leave Daedalus open for a longer period of time to keep up with the blockchain it sometimes goes up to 3,5 GB RAM usage. Why is this necessery and how can I lower this?

[2021-04-23 06:14] nikolaglumac commented on #2441
Daedalus always runs it's own cardano-node instance which it uses to access of the blockchain.
Relay node is something else... Can you please further clarify your use-case? Why do you think it would be better/safer to use a relay?

[2021-04-23 06:19] nikolaglumac commented on #2535
@pieterhouwen can you please send us a screenshot of the memory usage stats?
Daedalus runs couple of processes, including cardano-node and cardano-wallet, and we need to know which of these is using most of this memory 🙏

[2021-04-23 07:36] pieterhouwen commented on #2535
![Screenshot 2021-04-23 093535](https://user-images.githubusercontent.com/10866686/115836045-4beda280-a417-11eb-94bd-825f3b6f55bd.png)

[2021-04-24 23:41] strongheart1 opened #2536 "deleteWalletWarning message for HW-wallets"
In the "settings" page there should be a special deleteWalletWarning message text for hardware wallets, because the general warning message does not quite fit here.

https://github.com/input-output-hk/daedalus/blob/d536fe9ae551a853c6989d03f61feb0134f4ff8c/source/renderer/app/components/wallet/settings/WalletSettings.js#L83

[2021-04-26 06:18] nikolaglumac commented on #2535
Thanks @pieterhouwen! We will investigate this and get back to you. Thanks for the patience!

@gabriela-ponce @ManusMcCole can you please try to reproduce this?
Please give it a shot on all 3 platforms and make sure to keep an eye on all Daedalus processes (including cardano-wallet and cardano-node). Thanks!

[2021-04-26 08:09] falassiry opened #2537 "Issues with wallet containing many unique native assets"
Sharing some issues I am facing with an NFT focused wallet which contains more than 700 different unique native asset NFTs.

For almost any send transaction, the "calculating fees" step can take from 1 minute to sometimes up to 10 minutes until a transaction fee is shown and I can click send.

Sometimes, this ultimately leads to a failure to complete transaction after entering a correct spending p

[2021-04-26 09:53] nikolaglumac commented on #2536
This is on our "todo" list. We will hopefully get it done soon. Will keep you posted!
Thanks for the patience!

[2021-04-26 14:40] gabriela-ponce commented on #2535
@nikolaglumac I was able to reproduce this in Windows and in macOS (still checking Linux, I'll add my results on this comment later)
[Here's a video](https://drive.google.com/file/d/1tSvBrrfW_1FDN_qy9PZzOVUM4ucPK2d0/view?usp=sharing) from Windows. In the span of 5 minutes, the memory usage reaches 4 GB (I started capturing the video when I first open Daedalus, it was synced and had no wallets)
A f

[2021-04-26 16:42] nikolaglumac commented on #2535
@pieterhouwen this is normal cardano-node memory usage and is a direct result of the current UTXO growth. This is also the reason we recommend having 8 GB of RAM to run Daedalus as per: https://iohk.zendesk.com/hc/en-us/articles/360010496553-Daedalus-System-Requirements

In other words, I am afraid there is nothing you can do to reduce the memory footprint.

[2021-04-26 16:42] #2535 closed

[2021-04-26 16:43] nikolaglumac commented on #2441
@ronaldvdmeer I would really appreciate your input here 🙏

[2021-04-26 16:44] nikolaglumac commented on #2481
@mreed911 any news?

[2021-04-26 16:44] nikolaglumac commented on #2494
@dk8996 any news?

[2021-04-26 16:45] nikolaglumac commented on #2398
@cleverca22 @disassembler can you assist us here please? 🙏

[2021-04-26 17:01] mreed911 commented on #2481
Haven't seen it since - but only saw it once.  Only filed to submit the logs just in case.  Welcome to close/can't reproduce.

[2021-04-26 17:06] nikolaglumac commented on #2481
Alright! Will close it then. Feel free to re-open it in case it happens again!
Thanks for the support!

[2021-04-26 17:06] #2481 closed

[2021-04-26 17:20] ronaldvdmeer commented on #2441
Well I have a fast node/relay in my homenetwork  already so startup times will improve because it doesn’t have to sync with a slow server. Sometimes it takes a long time (several minutes) to startup the client and I’m thinking it has something to do with the local node selecting a slow peer to sync with.

Also it would be nice if it doesn’t have to sync anything. It just works with the information

[2021-04-26 17:22] nikolaglumac commented on #2441
Thanks for the clarification @ronaldvdmeer!
Would you agree with me that the feature request you are longing for is an option to configure the source of blockchain data?
E.g. it could also be a centralized service provider or your own remote instance?

[2021-04-26 17:25] ronaldvdmeer commented on #2441
I think there are two features.

1. being able to configure which node it will sync with
2. being able to not sync at all and work completely from another node.

[2021-04-26 17:28] nikolaglumac commented on #2441
Got it! Thanks!

[2021-04-27 09:58] kevinhammond commented on #2535
As @nikolaglumac says, `cardano-node` is currently using approx. 3.5GB of RAM on all platforms, including MacOS.  Since Daedalus is a full node wallet, there is no way to reduce the memory usage at this point in time, and we therefore recommend using a system with 8GB of RAM, which will give headroom for growth.  There is ongoing development work that will reduce this requirement in time.

[2021-04-27 10:35] nikolaglumac commented on #2395
Closing due to inactivity...

[2021-04-27 10:35] #2395 closed

[2021-04-27 10:36] nikolaglumac commented on #2156
Closing this ticket as there are no plans to add support for non-SSE4 CPUs.

[2021-04-27 10:36] #2156 closed

[2021-04-27 10:38] nikolaglumac commented on #2314
@JasinYip may I kindly ask you to try running the latest Daedalus develop branch? Please use `yarn nix:testnet` command and let us know if it works 🙏
Thanks!

[2021-04-27 10:41] nikolaglumac commented on #2441
I believe this issue is connected/related to https://github.com/input-output-hk/daedalus/issues/2413

[2021-04-27 10:46] ronaldvdmeer commented on #2441
Partially because it still needs to sync the whole blockchain. I tried this with my Mac by the way but somehow it didn’t work. Not sure why the topology file couldn’t be changed or found. Not sure anymore what the issue was

[2021-04-27 10:50] nikolaglumac commented on #2441
There is no easy nor nice way to change the topology at the moment...

[2021-04-27 11:00] ronaldvdmeer commented on #2441
Check! So one part of this feature request indeed is the same as the other. The other part of this feature request “being able to work of a relay without a local copy” is yet another feature

[2021-04-27 11:05] nikolaglumac commented on #2441
Agreed! This is why I have noted that the two are connected/related and not duplicates :-)

[2021-04-27 11:54] ronaldvdmeer commented on #2441
Perhaps I should change the title of this issue so it more reflects the difference

[2021-04-27 12:26] nikolaglumac commented on #2441
Yes please 🙏

[2021-04-27 13:28] nikolaglumac commented on #2362
@automaticprofits Atomic wallet still uses Byron wallets only. There is no way to import those into Daedalus.
I suggest you to create a Shelley wallet in Daedalus and move your funds to it so you can delegate them and earn rewards.

[2021-04-27 13:28] #2362 closed

[2021-04-28 07:35] nikolaglumac commented on #2494
Closing issue due to inactivity. Please re-open this ticket if the problem remains unsolved. Thanks!

[2021-04-28 07:35] #2494 closed

[2021-04-28 08:42] JasinYip commented on #2314
@nikolaglumac It works! Thank you for fixing this :)

[2021-04-28 08:42] #2314 closed

[2021-04-29 06:16] nikolaglumac commented on #2492
Thanks @rvl and @DominikGuzei - we will tackle this in our next sprint.
cc @darko-mijic

[2021-04-29 08:14] ILIYANGERMANOV opened #2539 "Delegation -> Rewards more info when first rewards are paid out"
Hi IOHK team,

As a user, I felt a little frustrated that after 80% of an epoch in which I'm "earning rewards" I still have 0 ADA as a reward. I even thought to redelegate my stake to another pool because I thought my stake pool is responsible for that. Then I made a quick Google search and learned that the first rewards are paid out after a certain delay. (I'm still not sure how long exactly tbh)

[2021-05-02 02:06] soccer193 opened #2543 "Daedalus starts a cardano-node process which listens on all network interfaces (0.0.0.0)"
When I start Daedalus, its `cardano-node` process publishes a network service on `0.0.0.0:<some high order port number>`. This introduces a vector for network attacks that is unnecessary.

[code]

I suggest that `cardano-node` publishes on loopback addresses only.

[2021-05-02 08:26] nikolaglumac commented on #2543
Please open a ticket on cardano-node GitHub repository: https://github.com/input-output-hk/cardano-node

[2021-05-02 09:12] soccer193 commented on #2543
Hi Nikola,

To be clear, there's no issue with the `cardano-node` tool, `cardano-node` is designed to listen on ipv4 and ipv6 interfaces that can be chosen by the user. Rather, Daedalus is using the default values provided by the tool, when I'm instead suggesting that it uses a non-default value:
[code]

[2021-05-02 12:51] nikolaglumac commented on #2543
@rvl @rhyslbw can we control this via cardano-launcher?

[2021-05-02 19:47] tonypapousek opened #2544 "nhfjigkccccccnnhbugnitndibtijugjedeirljnjhljjckcfic"

[2021-05-02 19:48] #2544 closed

[2021-05-03 02:28] rvl commented on #2543
Thanks @soccer193 - there is no good reason to have the node listening on 0.0.0.0. Although it should be safe for users because every stake pool node exposes this port.

We should fix cardano-launcher to make the node listen on 127.0.0.1 and ::1 by default.

[2021-05-04 12:56] rphair opened #2548 "Implement Stake Pool URIs (CIP-0013)"
At this time, the accepted CIP documenting Stake Pool URIs as part of the general *Cardano URI Scheme* (https://github.com/cardano-foundation/CIPs/tree/master/CIP-0013) calls for links to single stake pools to be implemented in Cardano wallets, to express and implement a delegation choice.  The necessity of Daedalus, the most widely used Cardano wallet, to interpret links like this has already bee

[2021-05-04 18:51] steveflextech commented on #1234
Same issue with me. Hopefully new release will allow me to import my secret.key without any issues. I am pretty certain my backup is from a release that the wallet restore supports. Any other tips or ideas? Running on Mac.

[2021-05-04 19:02] wadie914 commented on #1234
The wallet support team tells me there's no funds in the wallet and you guys are giving me hope that they are still there I just can't access them because of the wallet upgrades I'm just confused why something that serious is not being handled by the people who made the wallet

[2021-05-05 21:32] timack commented on #2488
This incident might have been the sort of thing a delegator would have wanted to know about - Pool operator increased margin to 99% just before the end of Epoch:
https://twitter.com/SproutPool/status/1390036177407725568

[2021-05-06 07:48] nikolaglumac commented on #1234
Hello all!

-------

**Important note** 🚨
When trying to run the import always make sure the secret file is named correctly - the name **MUST** match: `secret.key`

-------

We did extensive research and have done thorough testing of all of the legacy Daedalus versions that generate `secret.key` file. **We have concluded that the 203 bytes `secret.key` file in all of these Daedalus versions matche

[2021-05-06 13:13] steveflextech commented on #1234
oh man... thank you so much for looking into this. It is however bad news. It seems there is no way I can retrieve my ADA now as my backup was from a scenario like the above case.

[2021-05-06 13:32] nikolaglumac commented on #1234
Really sorry to hear that @steveflextech - I wish there would be a way for me to help you :-(

[2021-05-06 13:45] steveflextech commented on #1234
Ye, I'm just trying to think back to the beginning of 2018 and what I would have done...

My old Mac had Daedalus installed and I think I could access the ADA just by opening it. So the Mac was in effect the hardware wallet and I think I just had to input my password to access it. It has since been formatted though.

Then I changed computers and made the backup but I guess in my case it was a back

[2021-05-06 13:49] nikolaglumac commented on #1234
I know it is a long shot but maybe some file-recovery software could help you out? Of course only in the case you still have that old mac and it's hard drive. I've heard of cases where people were able to recover some files even after the hard drive was formatted.

[2021-05-06 13:50] steveflextech commented on #1234
Thanks for the great suggestion...it might actually be worth it

[2021-05-06 15:40] mrpelotazo opened #2553 "Can't pair Trezor T device"
The **Pair a hardware wallet device** dialog is stuck with the **Connect your device and enter your PIN to unlock it** message even after unlocking the Trezor device.

Currently running on
Daedalus 4.0.5
trezord 2.0.30
Arch Linux (5.11.16-arch1-1)

I have no issues with other application accessing the device over the trezor bridge.
Deleting Daedalus state directory and reinstalling the application

[2021-05-07 08:27] nikolaglumac commented on #2553
I believe this is due to your local system configuration. Trezor works normally on Ubuntu (which we officially support: https://iohk.zendesk.com/hc/en-us/articles/360010496553-Daedalus-System-Requirements).
Perhaps it is bindings issue or something specific to Arch Linux, but I am not sure.
Please make sure you do not have any active connections to the device before trying to pair it with Daedalus

[2021-05-07 08:29] nikolaglumac commented on #2553
@ManusMcCole are you able to spin up a Arch Linux instance and test pairing Trezor model T there? 🙏

[2021-05-07 08:47] aleincsharp commented on #2488
Yes, i am working on multiple notifications through telegram, email, twitter, etc.
Because this project/API is a part of my new plattform (https://ada-data.eu/), it takes a little bit longer to implement.

[2021-05-07 08:48] nikolaglumac commented on #2488
@aleincsharp is that project of yours publicly available? AKA. open source?

[2021-05-07 09:09] aleincsharp commented on #2488
At the moment no, but i plan to do it, yes!

There is a lot to do, but unfortunately I don't have that much spare time with a normal job. I do it like many others in my spare time. I'll do my best and hurry up! :)

[2021-05-07 09:16] nikolaglumac commented on #2488
Thanks for all the efforts @aleincsharp!
We need to open more direct communication in order to integrate your service within Daedalus.
Perhaps you could prepare an architectural overview or a plan and present it to us in a call?
We would be glad to push this forward in the 2nd part of May.
cc @darko-mijic

[2021-05-07 10:28] nikolaglumac commented on #2488
I meant like Google Meet session.

[2021-05-07 10:32] aleincsharp commented on #2488
We can schedule the meeting on any platform. As it suits you best.

[2021-05-07 14:45] daniloprates commented on #643
@davelab6 @kylebehse thank you for the suggestion. We have requested Cointracking to include Daedalus in their import list:

![Cointracking](https://user-images.githubusercontent.com/1504716/117466966-a3b4ff00-af29-11eb-97c8-e42ec4f75d6d.png)

[2021-05-07 15:12] nikolaglumac commented on #643
Thanks @daniloprates - please keep this GH issue updated in case you get an answer from Cointracking 🙏

[2021-05-07 16:04] mrpelotazo commented on #2553
Sure, its possible, but on the other hand other applications are working (trezor-suite, metamask), so (at this stage) I'm inclined to think that the differentiating factor relies somewhere else.

From what I read there, daedalus officially is "Aimed at all Linux distributions".

Neither am I. I'm sure we''ll figure it out. Maybe the bundled trezor-connect version has a play in this(?)

Done, no su

[2021-05-07 16:06] nikolaglumac commented on #2553
Keep in mind Daedalus is sandboxed and perhaps that is the issue here. We need support from our DEVOPS crew to investigate this. @disassembler @cleverca22 please help us out 🙏

[2021-05-11 19:33] rufat-badal opened #2559 "Small mouse pointer on HiDPI screen and 2x scaling on Linux"
Minor visual bug that I have on the Linux (Ubuntu 20.04) client of Daedalus.
Daedalus seems to not respect the 200% scaling on my 4k Screen, but only for the mouse. All the UI elements are properly scaled.
In case further information is needed I can happily provide it.

[2021-05-11 20:27] aleincsharp commented on #2488
Hello @nikolaglumac ,

i am ready to show some pics about the architecture and share my ideas with you;). When you can schedule a meeting?

[2021-05-12 07:02] nikolaglumac commented on #2488
Hi @aleincsharp! That's great to hear!
I'll reach out to you near the end of next week and we'll find a slot which works for all of us :-)
Looking forward to it!

[2021-05-12 07:09] nikolaglumac commented on #2559
@rufat-badal can you please share a screenshot?

[2021-05-12 07:09] nikolaglumac commented on #2559
@miorsufianiohk can you please try to reproduce this?

[2021-05-12 08:26] rufat-badal commented on #2559
Thanks for the fast reply!

Tiny mouse pointer:
![small pointer](https://user-images.githubusercontent.com/19675055/117943231-32e85b00-b30c-11eb-9b62-3a350c3c575a.png)

Normal mouse pointer:
![normal pointer](https://user-images.githubusercontent.com/19675055/117943272-3c71c300-b30c-11eb-8ec7-224ac1777fcc.png)

[2021-05-12 10:01] miorsufianiohk commented on #2559
Hi @rufat-badal,

Thank you so much for letting us know about the issue. I am able to replicate it with non HiDPI screen when I increased the scaling to 150%. I had a few applications opened. When I moved the cursor to different applications, they all respected the new scaling except Daedalus. @nikolaglumac , I took a [video capture here](https://drive.google.com/file/d/1mJrjX97WDINJtCDjQq5H5c8DHM

[2021-05-12 10:03] nikolaglumac commented on #2559
Thanks both!

@miorsufianiohk please create a JIRA ticket for this and put it into our backlog. Thanks!

[2021-05-13 21:46] mdhen opened #2563 "Daedalus can not connect to network on arch - getNetworkInfo error"
I installed daedalus on arch by running the official bin, when I start it (after the intial run where i set the settings and accepted the EULA) it just stalls on "connecting to network"

This is the output when I run it in terminal:

and this is the output of ip addr:

and a screenshot of the daedalus diagnostics screen
![20210513_16h59m41s_grim](https://user-images.githubusercontent.com/49368431/

[2021-05-13 21:53] laplasz commented on #2563
similar issue #2413 - but in your case Daedalus version is newer than 4.0.4..

[2021-05-14 06:59] nikolaglumac commented on #2563
How long did you keep it running?

[2021-05-14 07:00] nikolaglumac commented on #2563
I don't see how this would be connected nor similar to https://github.com/input-output-hk/daedalus/issues/2413

[2021-05-14 23:27] strongheart1 opened #2565 "Sending Tokens: minimum amount of ADA jumps back to 1 in UI"
Its a small one, but anyway....

On preparing to send a token, first a minimum required amount of 1 ADA is displayed.

![A](https://user-images.githubusercontent.com/35747159/118340403-d78cb780-b51b-11eb-8eba-e37cdfe54d3e.png)

After entering a value (below 1.407...), the required amount changes to 1.407406 ADA (probably the right amount).

![B](https://user-images.githubusercontent.com/35747159/1

[2021-05-15 06:01] yanniedog commented on #2535
![image](https://user-images.githubusercontent.com/25560742/118349867-b5844b00-b596-11eb-8a92-3ed12db3ee8d.png)

[2021-05-15 06:10] yanniedog commented on #2535
Overall, this is approaching 5.5GB of RAM usage.

Excessive?

[2021-05-15 06:11] nikolaglumac commented on #2535
No @yanniedog - this is expected. For now...

[2021-05-15 06:17] yanniedog opened #2566 "SSD cache"
I have a 500gb external SSD drive, with 8GB of RAM.

Your software is using almost ~5.5GB of my available 8GB of RAM.

How do I make Daedalus free up my precious 8GB RAM, and use my abundant SSD storage instead?

[2021-05-15 06:42] nikolaglumac commented on #2566
90% of this memory usage is on the cardano-node side. Please open a ticket at https://github.com/input-output-hk/cardano-node

[2021-05-15 06:42] #2566 closed

[2021-05-15 20:38] LukeL99 commented on #643
In case anyone else is struggling with this in the meantime, I wrote a converter for Daedalus to a Cointracking CSV.

https://colab.research.google.com/gist/LukeL99/ebae9b2e083b062635db2a2fbd253a6d/daedalus-cointracking.ipynb

[2021-05-15 20:49] LukeL99 commented on #643
In case anyone else needs this functionality until it's fixed by Cointracking, here's a script I wrote to convert from Daedalus CSV to Cointracking CSV. Let me know if you find any issues with it.

https://colab.research.google.com/gist/LukeL99/6d918fa0a51bf0e42280e79191f5ce39/daedalus-cointracking.ipynb

[2021-05-16 23:58] byronmansfield opened #2567 "Mac Install Failure"
I think I found a bug. Forgive me if it's already been posted. I just downloaded `daedalus-4.0.5-mainnet-17596.pkg` directly from the website. I am running macOS 10.15.7. Here is the `/var/log/install.log` from the install.

[code]

Let me know what other helpful information I can leave on this issue in order to help you troubleshoot. Thank you in advance.

[2021-05-17 02:25] daniloprates commented on #643
Thank you, @LukeL99

[2021-05-17 03:14] tiwong-ln2 commented on #2567
Looks like a Python syntax issue in printing the docstring in the directory "daedalus/installers/data/scripts/dockutil" due to some missing parentheses.

[2021-05-17 04:07] byronmansfield commented on #2567
Yes. That is what it looks like. I do software, but I've never built any desktop apps so I have no clue how this works. But I'm very curious to know how this downloaded .pkg which is downloaded and installed by many others, doesn't have this same syntax error. Is it possible it's my python installation? Either way, even if it was my python installation, wouldn't it still be a syntax error for othe

[2021-05-17 08:39] miorsufianiohk commented on #2565
Hi @strongheart1 ,

Thank you for letting us know about this. We will check and let you know as soon as possible.

Kind regards,
Mior

[2021-05-17 09:07] nikolaglumac commented on #2567
@byronmansfield may I kindly ask you to re-download the package and try to install again? https://daedaluswallet.io/en/download/
...perhaps the package was damaged...

[2021-05-17 14:44] byronmansfield commented on #2567
Of course. No problem at all. So I actually tried it twice. From two different browsers. Firefox and Chrome. Just in case some bizarre chance something from my browser could be effecting it. And I have the same result/error from both downloads.

[2021-05-17 17:42] LukeL99 commented on #643
No problem!

[2021-05-17 18:16] nikolaglumac commented on #2567
@disassembler @cleverca22 can you guys please help us here?

[2021-05-17 18:32] byronmansfield commented on #2567
@nikolaglumac Is it possible to try an older version? I just don't know where I can find a download link.

[2021-05-17 18:42] nikolaglumac commented on #2567
That won't make a difference... @input-output-hk/daedalus-qa do we have OSX 10.15.7 on which we could test the installation? I would like you to try to reproduce this issue 🙏

[2021-05-17 21:00] laplasz commented on #2563
yeah that ticket is from cardano-node:
https://github.com/input-output-hk/cardano-node/issues/2413

[2021-05-18 06:15] nikolaglumac commented on #2563
@mdhen please leave Daedalus running for at least half an hour. Sometimes it takes even a full hour to initially connect depending on various factors...

[2021-05-18 08:19] ManusMcCole commented on #2567
Hi @nikolaglumac.I currently have Catalina 10.15.6 so im upgrading now to .7 and I will test 👍

[2021-05-18 08:29] laplasz commented on #2563
can it be a workaround to add more relay nodes into topology.yaml file?

[2021-05-18 09:04] ManusMcCole commented on #2567
I could not reproduce the issue on Catalina 10.15.7. I did 3 clean installs and all of the were succesfull @nikolaglumac @disassembler

[2021-05-18 12:07] nikolaglumac commented on #2563
I don't think that would help. Please just keep Daedalus running and it will eventually connect.
This is far from a good UX but I still ask you to be patient - we are working on adding more info during the connecting stage so that users see what stage Daedalus and the underlying cardano-node are...

[2021-05-18 12:26] jeryd commented on #1009
This would be really helpful. Also needs an option to "start to tray" so it never gets in the way of the the windows start up process.

[2021-05-18 12:45] Frastap0 opened #2569 "Promote small pools with a better ranking system"
Would it be possible to address the issue regarding how small pools are listed. There is little or no chance of securing new delegators with the current ranking system as we are coloured red, have potential rewards of 0ADA and have no effective rank.

As small pools help increase the security and decentralisation of the Cardano network, I think it is important to properly promote them on the staki

[2021-05-18 13:02] nikolaglumac commented on #2569
@Frastap0 we will get back to you next week. Cheers!

[2021-05-18 14:26] mdhen commented on #2563
I'm going to attach the logs that daedalus lets you dl, I was not getting the "having trouble connecitng to network
[logs-2021-05-18T142201.0338Z.zip](https://github.com/input-output-hk/daedalus/files/6502051/logs-2021-05-18T142201.0338Z.zip)
" popup earlier but I just got it. Will leave it running all day today and let you know if it connects or not.

[2021-05-18 14:31] nikolaglumac commented on #2563
If you haven't seen it then you definitely didn't wait long enough. Please keep it running and let us know what's the outcome.

[2021-05-18 14:39] nikolaglumac commented on #2563
@mdhen I have checked the logs. Your case is quite strange - I can see that both cardano-wallet and cardano-node are operating normally. However, Daedalus API requests all fail but without an error code. Do you have some specific firewall rules enforced on your localhost?

[2021-05-18 14:50] mdhen commented on #2563
i have no firewall rules set up on the localhost.

[2021-05-18 14:57] nikolaglumac commented on #2563
It looks as something is blocking Daedalus from accessing the cardano-wallet API.
Not sure what else besides firewall could be. Perhaps localhost misconfiguration 🤷
It is definitely something specific to your system.

[2021-05-18 16:15] mdhen commented on #2563
Seems that the problem was my /etc/hosts file, after updating it to the reccomended format on the arch wiki:

127.0.0.1        localhost
::1              localhost
127.0.1.1        myhostname.localdomain        myhostname

it connected in a few minutes.

[2021-05-18 16:15] #2563 closed

[2021-05-18 16:16] nikolaglumac commented on #2563
Glad to hear! Thanks for letting us know!

[2021-05-18 22:04] oo-00 commented on #1009
When I wrote this request nearly 3 years ago, I was under the misunderstanding that daedalus would need to be running in order to stake. I think it the feature would still be nice, but it's not as pertinent as I thought it was.

I see someone is assigned to work on it now. Thanks guys!

[2021-05-19 00:45] byronmansfield commented on #2567
Thank you for testing that @ManusMcCole. Just for kicks, I downloaded it again, and attempted to re-install it again. I got the same reported results from above. What else can I do to help to diagnose the issue on my machine? Any other logs I can pull for you?

[2021-05-19 11:27] nikolaglumac commented on #2567
@byronmansfield did you ever install Daedalus in the past?

It looks like your system is detecting a syntax error in the postinstall script code on this line: https://github.com/input-output-hk/daedalus/blob/develop/installers/data/scripts/dockutil#L106
This is very unusual and I am 100% sure there is something wrong with the setup of your OSX.
Installer code is the responsibility of the DEVOPS te

[2021-05-19 15:36] byronmansfield commented on #2567
Not on this machine. I have set it up previously on another machine. Much older versions and much older OSX. I do however have ledger live setup on this machine that is having the issues. And have transferred my ADA to my ledger wallet there if that somehow has anything to do with it. I've also used the ADA Lite wallet on this machine. Neither of these are having any issues. But actually installin

[2021-05-20 07:40] nikolaglumac commented on #2488
Hey @aleincsharp! 👋
I haven't forgotten about you - we've just been very busy and Darko is on vacation this week.
This is why I would like to ask you to move our call to next week (Wednesday or Thursday).
Let's continue via email - please reach on nikola.glumac@iohk.io
Thanks!

[2021-05-21 09:05] MMA-stakepool commented on #2569
The red colouring and potential rewards = 0.00000 ADA are very easy fixes:
    - Colouring pools with smaller stake red gives the impression that they are very bad/don't work.
    - 0.00000 ADA potential rewards is not even true, as there are potential rewards for any stake as long as the pool functions. This sends the message "this pool doesn't work at all" which is usually not the case.

A bigge

[2021-05-21 14:25] byronmansfield commented on #2567
@nikolaglumac So I did another reboot. I re-downloaded a fresh pkg. Then I re-ran the installer again. While I did get the same error message, I went to my applications in my dock bar to try and launch the console app to diagnose the install error, and boom. The daedalus wallet is there. I let it sync with the block chain overnight. It seems to be working now? Do you think it is safe enough to try

[2021-05-21 14:32] nikolaglumac commented on #2567
Huh it is hard to say what happened... Perhaps you could try to uninstall Daedalus and then remove all associated data and restart your machine. Only after all these steps are done you should try to install it again.

[2021-05-21 14:33] byronmansfield commented on #2567
Sure. I probably won't have time until this weekend. But yes, I will try that.

[2021-05-21 17:29] StakeWithPride commented on #2569
Perhaps we can replace the rankings view with a newer one that promotes decentralization.

We see this in game server selection UIs like World of Warcraft where players are encouraged to join less utilized servers.

Or in Kiva.org, the default choices are featured, recommended, almost funded, etc. Imagine if the default Kiva order was ranked by best ROI; fewer would get micro-loans.

Let's have a

[2021-05-22 00:58] byronmansfield commented on #2567
So I was actually able to do that much sooner. I deleted the Application, and any other related files that usually don't get deleted with the app. Application Support, Library, etc. Then I rebooted, re-downloaded, re-installed and still got the same error. However it did actually install. I'm sync'ing with the blockchain right now. I'm not sure what keeps causing this. But it does appear it's some

[2021-05-22 15:08] matiwinnetou opened #2573 "FR: integration with https://adafolio.com/"
Many people complain that standard view in Daedalus is somewhat skewed towards certain stake pool operators, usually stake pool operators that are already successful.

Many people want to delegate on some merit, e.g. to mission driven pools or to vegan / vegetarian stake pool operators.

Please provide an alternative view to the current view, which would be integrated automatically with adafolio.

[2021-05-23 23:16] rafek47 commented on #2569
The current ranking in Daedalus is actually helping pool farms & pools with higher levels of saturation and giving no chance to the small hard working SPOs. It does not make sense to list the pools like that in a truly decentralized Peer to Peer system. If all the peers are equal, some of them shouldn't be marked as "garbage".

Adding some kind of randomness to the ranking would be very nice.
Havi

[2021-05-24 06:30] nikolaglumac commented on #2567
I believe it is OK. I will close this issue as Daedalus does in fact install and you are able to run it.
We haven't been able to reproduce the issue and it seems it has no impact. Thanks!

[2021-05-24 06:30] #2567 closed

[2021-05-24 06:38] nikolaglumac commented on #2573
cc @darko-mijic

[2021-05-25 07:18] now0clock commented on #2569
Thanks for pointing this out. As a newcomer to the platform, I was researching which wallet to use, how to stake, etc. After reading this issue, I did more research and discovered how diverse and ecclectic the choices of pools to stake with are.

I could see how something like red text and 'potential rewards "0.00000 ADA"' would turn people away, give them the wrong impression and might see that p

[2021-05-25 07:25] nikolaglumac commented on #2569
Thank you all for the extensive feedback and ideas you shared!
The current ranking system in Daedalus depends on the rankings implementation on the cardano-node/cardano-wallet side. The way potential rewards and the ranks are calculated is solely up to the Node and Adrestia teams.
Of course, we can and we will improve the presentation and we count on your support 🙏
I can not promise you that we wi

[2021-05-26 09:14] oanhsaitec opened #2574 "Cannot send NFT"
Hi there,
Currently we mint a thousands NFT with scenario as below:
1. We minted NFTs  by ~ 24 transactions, each transaction contain 100 NFTs
2. After that, we sent 50 NFTs ( = 50 transactions, respectively) to others. And the fee arround 1.9 ADA for total
3. But for now, we try to send NFT, the fee is higher (~ 6ADA  ) and unsuccessful.
![error-transfer-daedalus](https://user-images.githubuserco

[2021-05-26 09:17] matiwinnetou commented on #2574
I believe this is the same error that a few members of Cardano community had with wallets with significant amount of NFTs. What these people needed to resort to is using command line and then they were able to move funds and NFTs from the wallet as a workaround.

[2021-05-26 09:33] #2574 closed

[2021-05-26 09:40] oanhsaitec commented on #2574
Thank you @nikolaglumac

[2021-05-27 04:39] shzeshzeshze opened #2575 "Accessibility"
Wondering if improved accessibility is in the works? Or has the team settled on an accessibility standard, something like WCAG 2.0 AA or 2.1 AA? I haven't done a full manual test of Daedalus as I'm just trying it out for the first time today but from a very quick screen reader test (two very important things: using the main navigation and navigating to pages) the main icon navigation has no discer

[2021-05-27 07:26] nikolaglumac commented on #2575
cc @darko-mijic

[2021-05-27 17:02] LeoniePhiline commented on #2569
Are there corresponding bug reports in the Node and Adrestia repos?

[2021-05-27 17:14] LeoniePhiline commented on #2347
Emurgo's Yoroi wallet shows rewards per epoch. How did they implement it?

[2021-05-27 17:22] LeoniePhiline commented on #2025
Is there any progress on this?

[2021-05-27 17:28] LeoniePhiline commented on #1009
I still think this would be a nice feature, and should be not too difficult with Electron.
Many apps do it right, like the Element (formerly Riot) IM app for the matrix chat network, which is also built on Electron.

[2021-05-27 17:39] LeoniePhiline opened #2576 "Display future estimated stake pool saturation, taking pending delegations of other network participants into account."
When first-time-staking or redelegating, the chain requires two epochs until the staking starts. The request is sent into the network, and therefore known publicly before the actual staking period starts two epochs later.

This means that at any point in time, not only the current stake pool status, but also the stake pool status up to **two epochs into the future can be predicted with a certain c

[2021-05-27 19:08] shzeshzeshze commented on #2575
To remediate the SidebarCategory buttons lack of disernable text you could [add an `aria-label` to the <button> element](https://github.com/shzeshzeshze/daedalus/commit/e2633a6901a767e98c75b80e75477723a3d6acbc). Assuming `name` is a human understandable value (e.g. Wallets, Staking, Voting, etc.).

Remediating accessibility on a single page application is probably a little more involved. Here is a

[2021-05-28 06:48] nikolaglumac commented on #2347
Yoroi is a light-wallet which consumes external centralized Api which runs connected to a cardano-node which is always online and thus it is able to provide all of the historical data. Daedalus is a full-node wallet and we can not get this data from the cardano-wallet Api. However, we have decided to fetch it from an external source and it is being implemented in the scope of the following task: h

[2021-05-28 06:51] nikolaglumac commented on #2576
@LeoniePhiline Daedalus is limited by the cardano-wallet Api. Still, we could explore the idea you shared.
Thanks for bringing this up!

cc @darko-mijic

[2021-05-28 06:51] nikolaglumac commented on #1009
Yes, we have it in our backlog and will focus on it as soon as we get some free bandwidth to do so...
Thanks for the patience!

[2021-05-28 06:53] nikolaglumac commented on #2569
I am not sure - please check and open a ticket if not 🙏
PS. Make sure to link them.

[2021-05-28 06:53] nikolaglumac commented on #2025
@disassembler @cleverca22 please help us out here 🙏

[2021-05-28 07:16] JasinYip commented on #2347
That's a great news

[2021-05-28 12:34] LeoniePhiline commented on #2576
Hey, thanks for your tireless work here in the issue tracker!

[2021-05-28 12:37] LeoniePhiline commented on #2347
Fantastic! Thank you for your work!

[2021-05-28 16:36] JasonSwindle commented on #2025
Also to note, not all distros support this, thus making daedalus unusable.

[2021-05-28 19:35] HartS commented on #2347
Very exciting! Thank you @nikolaglumac . Does this mean a node *has* to be always-on in order to  determine rewards payouts? Or is it just that the IPC API between Daedalus and the node is only sufficient to get balances, regular withdrawals/deposits, etc.

[2021-05-29 00:22] StakeWithPride commented on #2569
Sharing someone else's idea: Instead of ranking by best to worst, what about using the reverse slot leader algorithm, to promote the pools that have less delegation? You could filter on ROI and other parameters to perhaps default to the 25th thru 75th percentiles most of the time, and 0-25, 75-100 percentiles some of the time.

[2021-05-29 09:07] nikolaglumac commented on #2347
@HartS the data isn't getting collected and thus there is nothing to be served via the Api.
In order to get that you would need to use cardano-db-sync service which is what Yoroi does. We have decided to combine it with what Daedalus gets from the cardano-wallet API to offer our users the best of both worlds 🚀

[2021-06-02 19:02] nikolaglumac commented on #2493
Hi all,

the fix for this issue has been released on Daedalus Flight within the 4.1.0-FC1 version: https://github.com/input-output-hk/daedalus/releases/tag/4.1.0-FC1
You can use the automatic update within existing  to get the new version or download it on the official Daedalus website: https://daedaluswallet.io/en/flight/

_PS: We will release the same fix on Daedalus Mainnet tomorrow around 16:0

[2021-06-02 19:02] nikolaglumac commented on #2419
Hi all,

the fix for this issue has been released on Daedalus Flight within the 4.1.0-FC1 version: https://github.com/input-output-hk/daedalus/releases/tag/4.1.0-FC1
You can use the automatic update within existing  to get the new version or download it on the official Daedalus website: https://daedaluswallet.io/en/flight/

_PS: We will release the same fix on Daedalus Mainnet tomorrow around 16:0

[2021-06-03 10:45] hardcore-sushi commented on #2025
I'd like to run daedalus inside a container. However I can't due to the unprivileged user namespace feature required by the nix installer. Is it possible to distribute a more common installer like a .deb file or directly the binary files (without installation) like an AppImage or an ELF binary ?

[2021-06-03 14:44] ruttydm opened #2583 "Daedalus breaks when reaching a high amount of tx/tokens."
I just minted 1,3k tokens (NFT's) into my daedalus wallet. But now Daedalus has became unusable and I can't even delete the wallet anymore. Only way for me to get daedalus working is through deleting the wallet from the file explorer.

Multiple users on the CardanoNFT discord server report the same problem. Daedalus exponentially slows down with the number of tokens/transactions to he point it's u

[2021-06-03 18:53] narcissawright opened #2584 "ignore"
ignore

[2021-06-03 19:05] #2584 closed

[2021-06-03 19:50] matiwinnetou commented on #2583
This fixes it: https://github.com/input-output-hk/cardano-wallet/pull/2676, maybe this was even released with today's Daedalus 4.1.0.

[2021-06-03 19:51] matiwinnetou commented on #2487
I think this fixes it: https://github.com/input-output-hk/cardano-wallet/pull/2676

[2021-06-03 20:06] ruttydm commented on #2583
I see, the 4,1 version still has the same issue. But I will try out the flight version now.

[2021-06-04 00:02] mreed911 opened #2585 "Daedalus 4.1.0 Upgrade causing full node resync"
Upgraded from 4.0.5 to 4.1.0 on OS X 10.15.7.  Daedalus is now doing a full resync.  It looks like it completely threw out my locally stored copy during the upgrade (I saw the release notes) and is instead doing a full resync.  Any logs I can provide that would help, I'm happy to.

[2021-06-04 00:13] Nintorac commented on #2025
Happy (belated) birthday, Bug Report!!

[2021-06-04 05:40] nikolaglumac commented on #2493
Daedalus Mainnet 4.1.0 has been released and includes this fix.
Thanks for the patience!

[2021-06-04 05:40] #2493 closed

[2021-06-04 05:40] nikolaglumac commented on #2419
Daedalus Mainnet 4.1.0 has been released and includes this fix.
Thanks for the patience!

[2021-06-04 05:40] #2419 closed

[2021-06-04 05:43] nikolaglumac commented on #2025
Sorry for this taking so long @Nintorac 😞
I wish I could give you the answer myself...
@cleverca22 @disassembler please help us here - it's been over a year 🙏

[2021-06-04 05:46] nikolaglumac commented on #2487
Not entirely... We also need this one: https://github.com/input-output-hk/daedalus/pull/2472

[2021-06-04 05:54] nikolaglumac commented on #2585
Hi @mreed911,

This is unfortunately expected :-(

It happens as a result of changes in the block storage mechanism which requires a full verification of the locally-stored copy of the Cardano blockchain: https://iohk.zendesk.com/hc/en-us/articles/900000461883-Daedalus-Mainnet-Known-Issues

Sorry for the inconvenience and thanks for the patience!

[2021-06-04 05:54] #2585 closed

[2021-06-04 05:57] nikolaglumac commented on #2583
https://github.com/input-output-hk/cardano-wallet/pull/2676 is was not released in cardano-wallet [`v2021-05-26`](https://github.com/input-output-hk/cardano-wallet/tree/v2021-05-26) which is used in Daedalus Mainnet 4.1.0 and Daedalus Flight 4.1.0-FC1 so this issue unfortunately still persists...

Closing this ticket as it is a duplicate of https://github.com/input-output-hk/daedalus/issues/2487

[2021-06-04 05:57] #2583 closed

[2021-06-04 07:50] AlexDochioiu opened #2588 "BUG: Copying address from Daedalus Generated Address PDF breaks it"
Version: Daedalus 4.0.5
Issue: Copying the address from the PDF somehow removes one character(from the middle), making the address invalid.

This behaviour is consistent on both MacOS and Windows (did not test linux).

[broken_address_daedalus.pdf](https://github.com/input-output-hk/daedalus/files/6596626/broken_address_daedalus.pdf)

[2021-06-04 07:53] nikolaglumac commented on #2588
@gabriela-ponce please investigate this on all 3 platforms 🙏

[2021-06-04 07:56] AlexDochioiu commented on #2588
Might be worth mentioning that the PDF was open on macOS using Brave Browser (so the default Chromium PDF viewer). Not sure how it was opened on windows because it's not me who's tested there.

[2021-06-04 14:00] gabriela-ponce commented on #2588
Hi @AlexDochioiu, thanks for the report.
I've verified this on MacOS using Brave browser and I can confirm that this is a bug. These are the test that I ran:

1 - Copy the address from the document on another PDF reader and compare it with the same address copied from Brave. The latter was indeed missing a character. Check [this](https://drive.google.com/file/d/1ALwfSmUCaVZQbUq0AcNIAxlM3fZOHIQx/vi

[2021-06-04 14:09] AlexDochioiu commented on #2588
@gabriela-ponce The person that generated this address tried it again on Daedalus 4.1.0 (Windows 10). The issue persists. He said that the address is copied poorly from Edge but works well when opening with Adobe Acrobat Reader.

My assumption is that there's a bug in the Chromium PDF Reader causing it. However, you might still want to find a workaround (maybe change something in how the PDF is ge

[2021-06-04 14:10] AlexDochioiu commented on #2588
@gabriela-ponce Update: I asked the person to generate PDFs on more addresses using the same wallet. They are all broken. Some of them are actually missing 2 characters.

[2021-06-04 15:49] gabriela-ponce commented on #2588
@AlexDochioiu Thank you for the additional information. I was able to reproduce this issue with the document attached to the [original report](https://github.com/input-output-hk/daedalus/issues/2588#issue-911232043) on all platforms, using Brave, Chrome and Edge.
However, it didn't reproduce with [the test document](https://drive.google.com/file/d/1vtkymm-n4kPkD3Grzcd0Ql_oObaaqB65/view?usp=sharing

[2021-06-04 16:59] AlexDochioiu commented on #2588
@gabriela-ponce I asked the person to generate a PDF from another wallet. There was no problem. It seems that only that particular wallet has problems when generating PDFs.

[2021-06-05 21:41] pedrocanelas commented on #2345
I'm so happy I found this post! Today I found Accounting and it is the first tracker that I managed to sync with Daedalus. I'm just wondering if is possible to see my ADA that was delegated. Are there extra settings or flow for it or I'm asking something impossible?

[2021-06-06 04:36] dave8000 commented on #2493
I have Daedalus Mainnet 4.1.0 installed and I have a similar issue, so the 4.1.0 may not complete fix the issue.  I can see both wallets but the standard wallet, (without passphrase), which I set up second, came back with, "Your wallet is not protected with a spending password."  It then requests aa password, which does not function.    The trezor standard wallet set up is stuck at this point.  I

[2021-06-06 04:50] dave8000 commented on #2493
All functional access to the wallet is blocked since it is stuck at the point of requesting me to set a spending password.  Hence I cannot delete this standard wallet.  If I try to install again I get the message, "Wallet you are trying to restore already exists."     I really don't want to have to reinstall Daedalus from scratch on this machine as there are additional wallets to all get resynced.

[2021-06-06 06:11] dave8000 commented on #2493
On second computer, Daedalus Mainnet, both standard and Password Trezor wallets installed correctly with no issues.  Installed standard wallet first and Password wallet second on this second computer.   First computer with Daedalus 4.1.0 still stuck asking for spending password for standard wallet.

[2021-06-06 20:21] ruttydm opened #2590 "Show asset name when selecting multiple tokens."
Feature request:

We have had some major mess ups here regarding the the selection of the native tokens in Daedalus.

Currently when selecting a native token under "send" only the asset id is visible which obliges the user to remember the last 4 characters for every token they want to send. I propose to add the token name or replace the asset id by the token name.

[2021-06-06 20:36] SmilingSlimeGuy commented on #2590
I've also received reports from a lot of users complaining about this issue

[2021-06-06 20:54] Slaypoons commented on #2590
Yea a better visual representation of tokens in a wallet is a dire need, alongside a search function, images can come later.
I feel that the process of adding multiple tokens to a transaction is a hassle, I suggest a grid view where one can select several assets, with selected ones indicated with a checkmark, and an option to select all (kind of like a generic gallery app where you press and hold

[2021-06-07 07:48] nikolaglumac commented on #2493
@dave8000 I guess your local state is broken. @tomislavhoracek please help Dave here 🙏

[2021-06-07 08:22] nikolaglumac commented on #2345
Not sure what you mean by "ada that was delegated"?

[2021-06-07 08:35] pedrocanelas commented on #2345
When I stake my ADA delegating to a Pool, I can't see it anymore. It makes sense because it left my wallet and now is in the pool but I'm wondering if there is still a way of tracking using some Portfolio tracker like Accointing. For now, I managed to solve adding manually the amount of ADA that I have, I think this should be enough.

[2021-06-07 08:37] tomislavhoracek commented on #2493
@dave8000 yeah, as Nikola said, your local state is broken. The only solution is to clean the state directory.
Here are instructions https://iohk.zendesk.com/hc/en-us/articles/360039511853-Delete-the-contents-of-the-state-directory
To prevent syncing from scratch you can leave `chain` folder in the state directory and just remove other files and folders.

P.S. Ensure you have recovery phrases for

[2021-06-07 09:40] nikolaglumac commented on #2345
Ada that you delegate never leaves Daedalus so I am still not sure what you mean.

[2021-06-07 09:48] pedrocanelas commented on #2345
I opened Daedalus, went to Settings, copied my wallet address and I pasted it to connect to Accointing. On Accointing it shows I have 0 ADA. I assumed that happens because all my ADA is delegated. So what you are saying is that I should be able to still see, right?

[2021-06-07 09:51] nikolaglumac commented on #2345
What is the balance of the wallet shown in Daedalus?

[2021-06-07 10:03] nikolaglumac commented on #2590
Token names are picked up from the [token metadata registry](https://github.com/cardano-foundation/cardano-token-registry) and shown as such.
What you are referring to as a "name" is not and should not be used as a name as it is only an ASCII internal reference used by the token's creator.

Here you can see how tokens with metadata look like in Daedalus (including the search):

![Screenshot 2021-0

[2021-06-07 11:09] pedrocanelas commented on #2345
On Daedalus, I can see my balance correctly. When I try to add a Cardano Wallet on Accounting and I enter the public key address found on Settings, Accointing shows I have nothing. Now reading again the thread, I see it should be an issue from Accointing side and the lack of possibility of reading the Public Key. 😕

[2021-06-07 11:24] nikolaglumac commented on #2345
Yes this sounds like an issue on their end :-(

[2021-06-07 11:26] pedrocanelas commented on #2345
Cointracker offers the option to add a wallet via Public Key but when I paste it, it says "Failed to add wallet. Please check the values below.". I will check with them. Thank you so much for the quick replies! :)

[2021-06-07 12:50] gabriela-ponce commented on #2588
@AlexDochioiu Thanks for the information. In order to find the pattern that is causing this issue, could you send us a few of the PDF documents generated for this wallet? 10 different addresses for the wallet that is failing would be ok. If any of the address is copied correctly, please also include it so we can compare it with the rest.

[2021-06-07 14:16] steveflextech commented on #1234
Does anyone here have the set up flow screens for Daedalus release from around early 2018. My hopes is that it will spark my memory to what I may have done to save my pass phrase words. Thanks again

[2021-06-07 14:20] steveflextech commented on #1234
I should also mention I feel I did due diligence when backing up Daedalus, although I was unaware at the time I was actually backing up an empty wallet! Did anyone else make this mistake? Is there no other way to retrieve access to a wallet whereby the initial transaction was sent to a wallet, then an update or reinstall of Daedalus occurred which caused the wallet to become empty. As a user I fee

[2021-06-07 15:28] ruttydm commented on #2590
That's a great first step in improving usablity. Makes it much easier to spot which token is which.

[2021-06-07 19:57] j2d3 opened #2591 "Wallet crashes on Windows 10"
Running 4.1.0 wallet on Windows 10 (windows insider latest build) - it crashes after some time. A few times I saw a message about an error, but I didn't screengrab. I think the error was memory related, and if I see it again, will grab it. Now, I am finding when I return to the computer after a few hrs having left the wallet running, the wallet app is closed (with no error message). I start it up

[2021-06-08 07:10] nikolaglumac commented on #2590
This could be very useful - something like "token picker" dialog/wizard.
cc @darko-mijic @alexander-rukin

[2021-06-08 08:01] nikolaglumac commented on #2591
@dmitrii-gaico please assist us here by trying to reproduce the issue 🙏

[2021-06-08 08:04] nikolaglumac commented on #1234
The update or reinstallation can not cause the wallet to be empty.
As explained **multiple times in this thread** the only way to be safe is to properly store your wallet's recovery phrase!
This was and still is highlighted in the wallet creation wizard.

[2021-06-09 07:42] dmitrii-gaico commented on #2591
@j2d3 Hello, thank you for your report.
I was able to reproduce it.
This issue would be investigated further. cc @nikolaglumac

[2021-06-11 07:36] Frastap0 commented on #2569
Good morning, do we have any update from the devs? Thank you

[2021-06-11 14:35] nikolaglumac commented on #2569
There are many discussions being held with many development teams. This is not just a question of Daedalus. Will post an update once we have something to share.
Thanks for the patience 🙏

[2021-06-14 05:58] hyliu1989 commented on #2519
This happens to me too. The steps that lead to my case were
1. I used a Kensington trackball to double click the icon to open the Daedalus Mainnet from the Desktop.
2. I then disconnected that trackball and waited for 5 seconds
3. Daedalus crashed.
I bet that every mouse (other than the Kensington trackball) might trigger the case. The Kensington trackball was the only mouse I have when running th

[2021-06-14 12:22] ElGatoLoco opened #2597 "All hell breaks loose when there are a lot of native tokens in the wallet"
I am using Daeadlus 4.1.0 on MacOS and in one of the wallets I have a few hundred tokens which were created and sent there by an external script. Now, sending them out of the wallet is a really annoying experience. At first, I managed to send 50 tokens out and it took ages for the UI to calculate the fees and min ADA value. Now, the second transaction I'm trying for almost an hour, which has only

[2021-06-14 15:31] matiwinnetou commented on #2597
This is a know issue and it is very close to a solution.

[2021-06-14 21:13] dadepo commented on #2438
FYI, I am currently restoring the wallet. The same issue popped up after a recent upgrade. This seems to always happen with new upgrades. Perhaps something to look into?

[2021-06-16 07:23] DrShunts opened #2601 "Staking rewards not showing up in voting power"
The voting power which shows up for project catalyst is equal to the total value of ADA in my wallet minus the amount in the rewards address. Ie I cannot vote with my rewards ADA.

Daniel Ribar (admin on the Catalyst Community Advisors telegram forum) posted:
The rewards are not actually spendable by default until they are claimed. In the Yoroi wallet there is a button to claim them, but in Daedel

[2021-06-16 11:59] gabriela-ponce commented on #2588
@AlexDochioiu Are you still reproducing this issue? If so, can you check my previous comment, please? Thank you!

[2021-06-16 19:58] greg-fischer commented on #605
Ok so I first thought this was working, but it was causing a resync of the chain after moving and symlinking, which is annoying on a slow connection.  But after checking files in use with "lsof", its not even touching the external filesystem I link to.  It's creating it in /tmp!  The symlink is pointing to the correct destination.   I'm on Ubuntu, btw.

This should be configurable to the user, eve

[2021-06-16 20:31] weaver299 commented on #605
Agree with @greg-fischer ... this is a deeply frustrating situation and is honestly really undermining my confidence in the project, if something like _where the blockchain data is stored_ can't be configured.  This seems like a minimum-viable-product feature... if this hasn't been implemented for _years_, what does that say about the software quality of this project.

[2021-06-16 21:53] CantTouchDis commented on #605
@greg-fischer have you tried my solution from https://github.com/input-output-hk/daedalus/issues/605#issuecomment-794107731 ? this worked for me and I put it on a different ssd

[2021-06-16 21:58] greg-fischer commented on #605
OH I see!  That's what I was looking for.   I'll test that later.  I read your post before but probably skimmed too quickly because I just wasn't following it. (until now :)
thanks!  I'll report back!

[2021-06-17 10:48] miorsufianiohk commented on #2597
Thank you for the question @ElGatoLoco and thank you for answering @matiwinnetou .

We can confirm that this issue has been rectified by cardano-wallet release v2020-06-11 and will be incorporated in the next release of Daedalus.

Kind regards,
Mior

[2021-06-17 16:07] ElGatoLoco commented on #2597
@miorsufianiohk Thanks for clearing this up.

Though, I suspect you meant v2021-06-11, instead of v2020-06-11.

[2021-06-17 17:01] miorsufianiohk commented on #2597
Hi @ElGatoLoco ,

Apologies. I have corrected the year now 😄 . Thank you for letting me know 👍

Kind regards,
Mior

[2021-06-21 08:02] erikd opened #2602 "FR: Daedalus should have a "de-register stake key" option"
The `cardano-wallet` already supports this: https://input-output-hk.github.io/cardano-wallet/api/edge/#operation/quitStakePool so it is probably just a matter of hooking it up to the UI and testing.

[2021-06-21 13:19] miorsufianiohk commented on #2601
Dear @DrShunts,

Thank you for your feedback. I believe that we are having an internal discussion regarding this matter. We will get back to you as soon as we can once we have an update.

Many thanks,
Mior

[2021-06-21 14:38] 27joaco opened #2603 "BUG: Daedalus Wallet - Cannot find module index.js when opening"
Hi, I've tried to open my daedalus wallet today and is giving me a programming error.
This is the first time it happens, never had any problem running it in my Linux Mint 20.1 Ulyssa (base: Ubuntu 20.04 focal).
Attached print screen of the error:
![dae](https://user-images.githubusercontent.com/24530663/122780069-dcfcc080-d284-11eb-9788-c69dbeb47aae.png)

Attached txt of everything the consoles gi

[2021-06-21 21:56] baizon commented on #2559
I've fixed it by using this workaround:

[code]

`$ ln -s /usr/share/icons/breeze_cursors/cursors ~/.icons/default/cursors`

Source: [https://wiki.archlinux.org/title/KDE#Plasma_cursor_sometimes_shown_incorrectly](https://wiki.archlinux.org/title/KDE#Plasma_cursor_sometimes_shown_incorrectly)

[2021-06-22 08:52] miorsufianiohk commented on #2603
Dear @27joaco,

Thank you for contacting us. We'll have this check and get back to you as soon as we can.

Kind regards,
Mior

[2021-06-22 10:04] miorsufianiohk commented on #2603
Hey guys @input-output-hk/daedalus-qa,

If you have some time to spare, could you also check this issue together with me please.

Thank you 👍

[2021-06-22 13:12] daniloprates commented on #2602
We have [this done](https://github.com/input-output-hk/daedalus/pull/2351), but currently [disabled](https://github.com/input-output-hk/daedalus/blob/develop/source/renderer/app/config/walletsConfig.js#L46). I'll discuss it with @darko-mijic, when he is back.

[2021-06-22 13:24] miorsufianiohk commented on #2603
Hi @27joaco,

Could you provide us with these info please:

DAEDALUS build number, Linux build version, Cardano Node version and Cardano Wallet version

You could get them from the menu: Daedalus -> About Daedalus.

I look forward to hearing from you soon.

Thank you,
Mior

[2021-06-22 14:14] miorsufianiohk commented on #2603
Hi @27joaco,

Thank you for getting back to us. Do you still have the executable? if you do, could you let me have the name of it please. It should be something like "daedalus-4.1.0-mainnet-xxxxx.bin".

Thank you,
Mior

[2021-06-22 15:41] 27joaco commented on #2603
@miorsufianiohk,
Unfortunately I don't since I've installed it a while a go. However it was pretty updated because I've opened it without issues a couple of days ago. Should've been between the 16th and 18th of this month but I cannot recall exactly.

[2021-06-23 08:12] miorsufianiohk commented on #2603
Dear @27joaco,

Thank you for the info. The date that you downloaded the software has given us enough information 👍 . We'll get back to you once we have any more updates.

Kind regards,
Mior

[2021-06-23 08:18] miorsufianiohk commented on #2603
Hi @27joaco,

If you haven't removed the software, could you send me the file "System-info.json" please. It could be found in the folder Daedalus/mainnet/Logs/pub

Thank you,
Mior

[2021-06-23 12:42] 27joaco commented on #2603
Hi @miorsufianiohk,
I cannot attach that file type so I'll try to write it down here:
{"at":"2021-06-16T18:01:32.274Z","env":"mainnet:Linux:5.4.0-74-generic","ns":["daedalus","v4.1.0","*mainnet*"],"data":{"cardanoNodeVersion":"1.26.2","cardanoWalletVersion":"2021.5.26","cpu":[{"model":"Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz","speed":3100,"times":{"user":128100,"nice":100,"sys":38700,"idle":24320

[2021-06-23 13:43] macovedj opened #2605 "can't verify signature on ubuntu"
I'm currently following the instructions [here](https://daedaluswallet.io/en/download/#modal=download_pgp_instructions_linux)

After running `gpg2 --keyserver hkp://pool.sks-keyservers.net --search-keys signing.authority@iohk.io`
I get
`gpg: error searching keyserver: No name`
`
gpg: keyserver search failed: No name
`

Thoughts?

[2021-06-23 13:54] miorsufianiohk commented on #2603
Thank you very much @27joaco . We have sufficient information now. We'll let you know when we have new updates on the issue 👍

Kind regards,
Mior

[2021-06-24 08:31] miorsufianiohk commented on #2603
Hi @27joaco,

Thank you for your patience. Could you clarify how did you run the app? Did you run the installer downloaded from daedaluswallet.io or did you download the release branch from github and run on terminal?

Thank you,
Mior

[2021-06-24 09:52] miorsufianiohk commented on #2605
Dear @macovedj,

Thank you for contacting us. We will look into this issue and get back to you as soon as we could.

Kind regards,
Mior

[2021-06-24 13:37] miorsufianiohk commented on #2605
Hi @macovedj ,

We have conducted our investigation and found out that the keyserver is no longer operational. Whilst waiting for our webteam to update the information, could you try this command out with an alternative server and let us know the outcome please:

`gpg2 --keyserver hkp://Keys.Openpgp.org --search-keys signing.authority@iohk.io`

Many thanks,
Mior

[2021-06-24 15:56] macovedj commented on #2605
Indeed, that did it for me.  I also took a look through this repo to see if the web page was there to correct, but I'm guessing it's somewhere else.  If you know where the repo is located, I wouldn't mind updating the instructions.

[2021-06-25 02:21] 27joaco commented on #2603
Hi @miorsufianiohk,
I've just execute it from my shortcut as always and I tried execute it from terminal just to see the error as I've showed you in the print screen:
daedalus-mainnet in the terminal

I installed it with the installer from daedaluswallet.io
but as I've said before, it was quite some time ago.

[2021-06-25 08:30] miorsufianiohk commented on #2603
Hi @27joaco ,

Could you uninstall the app, delete the state directory and try reinstalling the app again please. However, please back up the wallet(s) and make sure you have your wallet(s) recovery phrase(s). Further instruction could be found [here on how to delete the state directory](https://iohk.zendesk.com/hc/en-us/articles/360039511853-Delete-the-contents-of-the-state-directory).

Please le

[2021-06-28 08:26] miorsufianiohk commented on #2605
Dear @macovedj ,

Thank you for the kind offer. We have passed the info to another team that will update the details in due course.

Kind regards,
Mior

[2021-06-28 16:21] paulrougieux commented on #2025
Besides the error message mentioned above, enabling unprivileged user namespaces is part of the [daedalus installation instructions on this IOHK support page](https://iohk.zendesk.com/hc/en-us/articles/900000776446-Installing-Daedalus-Mainnet-on-Linux-). Can someone explain why this is necessary?

[2021-06-29 06:48] nikolaglumac commented on #2025
cc @disassembler

[2021-06-29 07:28] nikolaglumac commented on #2438
@dadepo this is due to the change in the cardano-node's block storage mechanism as described in the release notes: https://iohk.zendesk.com/hc/en-us/articles/900006759746-Daedalus-4-1-0-release-notes

It is indeed awkward but there is nothing we can do on our end :-(

Thank you for your patience! 🙏

[2021-06-29 08:21] paulrougieux commented on #2025
@Nintorac or @nikolaglumac improving the title will help attract developers to comment on this issue. Can you please add "why is it necessary to enable kernel.unprivileged_userns_clone?" to the title?

[2021-06-29 08:26] nikolaglumac commented on #2025
Done @paulrougieux 👍

[2021-06-29 08:27] greg-fischer commented on #605
Sorry @CantTouchDis but this is not working for me.  It always runs from /tmp.  I tried doing the symlink for just the chain folder.  Then tried several different options for the -m /home:/home option, it always runs in /tmp.

I have an external home folder: /home-ext/greg
(my $HOME is /home/greg - the above is just for things like a blockchain that's huge and don't need backed up!)
In here I crea

[2021-06-29 08:28] nikolaglumac commented on #605
@dmitrii-gaico @miorsufianiohk can you please assist us here?

[2021-06-29 09:30] miorsufianiohk commented on #605
Hi @greg-fischer ,

I hope that you are well. Could I check that you have followed the [instruction written here](https://github.com/input-output-hk/daedalus/issues/605#issuecomment-771782614)?

Kind regards,
Mior

[2021-06-29 10:40] greg-fischer commented on #605
Thanks for the help @miorsufianiohk

I just read through that.

Is this the "chain" folder to symlink?
“/home/<username>/.local/share/Daedalus/mainnet”
Or is this it?
“/home/<username>/.local/share/Daedalus/mainnet/chain”

So I tried this first:
“/home/greg/.local/share/Daedalus/mainnet”
is a symlink to > “/home-ext/greg/daedalus/mainnet”

[code]
Now Daedalus will not open. It starts to launch and

[2021-06-29 12:03] miorsufianiohk commented on #605
Hi @greg-fischer ,

The folder that you need to symlink is this one: /home/<username>/.local/share/Daedalus/mainnet/chain

[2021-06-29 13:39] miorsufianiohk commented on #605
Hi @greg-fischer ,

I have been wondering if the formats of your harddrive and the external one are  the same? One thing that you could try (if you haven't yet) is [this](https://github.com/input-output-hk/daedalus/issues/605#issuecomment-353238443) .

[2021-06-29 15:40] CantTouchDis commented on #605
@greg-fischer
here are the contents of my `$HOME/.local/bin/daedalus-mainnet`:
[code]
not sure why this branch is used, but maybe you need to change both the if and else branches occurrences

`/media/Samsung1TB/` is the mount point of my second SSD both are `ext4`.

I did not create any links in `.local/share/daedalus`, because this folder does not exist for me.

Instead of this folder Deadalus us

[2021-06-29 18:18] greg-fischer commented on #605
OK! Solved!

First note though, ZFS isn't the issue. It was working on ZFS on another system, I realized later.

The problem is that there's two different scripts that start Daedalus! One CLI, another for applications menu.  When I run the application from the Ubuntu menu it was ignoring what I put in ~/.local/bin/daedalus-mainnet.  Now that I've slept a bit, it occurred to me to run that script f

[2021-06-29 18:21] CantTouchDis commented on #605
ok good to know.

I agree with you as I mentioned above

An option to change the chain directory would be a nice addition

[2021-06-30 06:05] bemnet4u commented on #2569
Small pool operator here...I for sure think that there are possible ways to improve this. Just a way to mark mission driven pools and single pool operators might help increase decentralization.

Please let us know the plans for this.

[2021-06-30 06:12] darko-mijic commented on #2569
Work on improving the ranking system is in progress. We should have updates on this soon.

We are also working on a completely re-thought ranking system in parallel.

Mission-driven pools can work together and operate a SMASH server with a curated list of stake pools. We would be happy to include such SMASH servers in Daedalus settings.

![image](https://user-images.githubusercontent.com/4280521/1

[2021-06-30 19:07] cybershaman73 commented on #2569
That's great news Darko, thank you. Is the process for submitting an MDP SMASH server already in place?

[2021-07-01 19:36] 27joaco commented on #2603
Hi @miorsufianiohk,

I've uninstalled the app like this:
chmod -R +w ~/.daedalus
rm -rf ~/.local/bin/daedalus* ~/.daedalus
rm -f ~/.local/share/applications/Daedalus*.desktop
rm -rf ~/.config/Daedalus*
rm -rf ~/.local/share/Daedalus

Installed it again with ./daedalus-4.1.0-mainnet-18213.bin
And is now running.

Do you need any further information?

[2021-07-01 21:43] rfenossi opened #2610 "cannot open external (web browser) links in daedalus linux"
Hello successful install **DAEDALUS4.1.0 Linux build 18213**, Cardano Node 1.26.2, Cardano Wallet 2021.5.26  (**all work correctly except the next problem**) on my **FEDORA LINUX WITH XFCE4** desktop environment, currently using **Firefox** web browser, but for any reason i **cannot open external links** with, if exist any can help me to search the file in github that interact or convert the url (

[2021-07-01 21:48] rfenossi commented on #2610
THE PROBLEM OCCURS ONLY IN FIREFOX I INSTALL GOOGLE-CHROME-STABLE and open the external links without problems =)

[2021-07-01 21:49] #2610 closed

[2021-07-03 10:44] sudomonzter opened #2612 "Linux installation error “nixbld”"
Upon a fresh installation on Linux. I am being thrown error logs saying something on the lines of:

(unfortunately I didn’t manage to capture the entire error log)

Partial error code:

warning: the group 'nixbld' specified in 'build-users-group' does not exist / warning: the group 'nixbld' specified in 'build-users-group' does not exist reading the Nix store...

I was told to add additional codes

[2021-07-03 11:00] gitmachtl opened #2613 "FR - Add the support for transaction messages/comments/memos with onchain metadata (CIP-0020)"
Please implement transaction comment/description/memo field in Daedalus via onchain metadata addon that uses the metadata messaging from CIP-0020 ?
https://github.com/cardano-foundation/CIPs/blob/2b6e37dfd3a08f39aab3ed4de7624adf07b89054/CIP-0020/CIP-0020.md
CardanoCommunityWallet and other tools implemented it already.

Yoroi for example has a MEMO field, but only usage is for internal memos. The

[2021-07-04 10:58] nikolaglumac commented on #2597
@ElGatoLoco the fix for this issue has been released in the scope of Daedalus Flight 4.2.0-FC1.
It should be available on Daedalus Mainnet in a few days too. Thanks for the patience!

[2021-07-04 11:02] nikolaglumac commented on #2602
Closing this ticket as it is a duplicate of: https://github.com/input-output-hk/daedalus/issues/2367

[2021-07-04 11:02] #2602 closed

[2021-07-04 11:03] nikolaglumac commented on #2603
Since this is an isolated incident and you got Daedalus running in the end I will close this ticket. Thanks!

[2021-07-04 11:03] #2603 closed

[2021-07-04 11:05] nikolaglumac commented on #2612
@sudomonzter please provide more info about your system. Which Linux are you using? What version? etc...
Please be mindful of the supported Linux versions:  https://iohk.zendesk.com/hc/en-us/articles/360010496553-Daedalus-System-Requirements

@dmitrii-gaico please assist @sudomonzter here. Thanks!

[2021-07-04 11:07] nikolaglumac commented on #2613
@gitmachtl thanks for submitting this feature request.
I have put it into our backlog. The product team will take care of prioritizing it and getting it ready for implementation. Thanks for the patience!

[2021-07-04 16:18] gitmachtl commented on #2613
Thank you very much, also added some additional implementation thoughts into the CIP. Like hiding the comment first under a "show unmoderated comment" button/drop-down like on the cardano explorer. Or to autoremove/autodelete urls, or really limit the character space to a handful of chars to prevent url/html code inception for example.

[2021-07-05 14:15] gabriela-ponce commented on #2588
Hello @AlexDochioiu! I was wondering if you are still reproducing this issue. If so, please check [this comment](https://github.com/input-output-hk/daedalus/issues/2588#issuecomment-855897334) so we can get more information to address it. Thank you!

[2021-07-06 08:26] nikolaglumac commented on #2487
The fix for this one has been included in Daedalus Flight 4.2.0-FC1.
The issue still persists on hardware wallets but should not be there on software ones.
@WhitemanE0 can you please give it a go?

[2021-07-09 09:38] nikolaglumac commented on #2597
The fix for this has been released in Daedalus Mainnet 4.2.0.
Thanks for the patience!

[2021-07-09 09:38] #2597 closed

[2021-07-09 09:39] nikolaglumac commented on #2487
The fix for this one has been released in Daedalus Mainnet 4.2.0.
Thanks for the patience!

[2021-07-09 09:39] #2487 closed

[2021-07-09 23:45] robinboening commented on #2569
@darko-mijic interesting idea. I am very curious if you discussed the on boarding of SMASH servers. Even that needs to be curated / controlled to some extend, otherwise you could quickly end up with a list of 100 servers, or even 1000 if some funny person deploys a fleet of SMASH docker containers.

[2021-07-10 01:10] LeoniePhiline commented on #2569
Ada holders could vote to curate the list.

[2021-07-11 18:48] AlexDochioiu commented on #2588
@gabriela-ponce I mentioned previously that it's not my wallet that had this issue. Unfortunately I cannot ask the person for more addresses.

[2021-07-12 11:40] nikolaglumac commented on #2612
@sudomonzter any news?

[2021-07-12 11:46] wout opened #2620 "Daedalus 4.2.0 losing connection to node on Linux"
Daedalus version: 4.2.0
Linux version: elementary OS Odin (Based on Ubuntu 20.04 LTS)

Two days ago I did an in-app update to version 4.2.0 and I'm having trouble ever since. After the update, the app got into a loop where it tried to connect to the network but failed, reloaded and started connecting again. So yesterday evening I completely removed Daedalus and installed it fresh. This morning eve

[2021-07-12 12:07] miorsufianiohk commented on #2605
Hi @macovedj ,

I hope that you are well. Just to let you know that we have updated the instruction. Appreciate if you could please check and let us know of any issue.

Once again, we apologise for any inconvenience and we look forward to hearing from you.

Kind regards,
Mior

[2021-07-12 12:36] nikolaglumac commented on #2620
Where are you based?
Did this happen before?
Can you try out a different Internet provider?

[2021-07-12 12:37] nikolaglumac commented on #2553
@mrpelotazo can you please try pairing your Trezor device with the latest Daedalus Mainnet 4.2.0 version?

[2021-07-12 13:35] wout commented on #2620
I'm in Brighton, UK.
This never happened before, it started after upgrading to version 4.2.0.
I'm on a 200 Mbit connection from Virgin Media, but I just tried on my Phone's hotspot and it's the same.

![Screenshot from 2021-07-12 14-34-22@2x](https://user-images.githubusercontent.com/107324/125296572-56d11880-e31e-11eb-974c-614deceb2438.png)

From the logs:

[code]

[2021-07-12 13:37] nikolaglumac commented on #2620
@wout please leave it running for 30-60 mins.

[2021-07-12 14:31] wout commented on #2620
@nikolaglumac Okay, I did that and it finally came through. And I think I know now what was going on before. The Cardano node eats a lot of resources. When it's starting up, it fills up the RAM almost completely, sometimes to the point that my computer becomes almost unresponsive and I have to other apps in order to keep it running. So probably the cardano node choked and died before.

![Screensho

[2021-07-12 14:36] nikolaglumac commented on #2620
Glad to hear it recovered - sometimes (especially on laptops) it tends to take ~30 mins to start :-(

What is the RAM size on your laptop?

cc @dmitrii-gaico @CarlosLopezDeLara @jakewyo

[2021-07-12 14:50] wout commented on #2620
It has 16GB RAM, so most of the time it's doing fine. But the cardano node needs 6.5GB apparently.

Thanks for your help!

[2021-07-12 15:23] nikolaglumac commented on #2620
Alright! I will close the ticket then. Cheers!

[2021-07-12 15:23] #2620 closed

[2021-07-13 14:45] dmitrii-gaico commented on #2591
@j2d3 Hello. Would you be so kind and advise if you still experience the reported issue for the latest Daedalus version 4.2.0 ? From my side I can not longer reproduce the "Idle Crash" after updating to 4.2.0 version. I did kept Daedalus running overnight and it worked rock solid. Thank you in advance.
cc @nikolaglumac

[2021-07-14 13:37] wout commented on #2559
I just want to mention here that there are more (Electron-based) apps Electron-based apps have this issue on Linux. [Mailspring](https://github.com/Foundry376/Mailspring) is another one for example.

[2021-07-14 14:13] nikolaglumac commented on #2559
This issue is to be fixed in https://github.com/input-output-hk/daedalus/pull/2206
Thanks for the patience!

[2021-07-16 11:22] neroclaudio78 opened #2623 "Can't set a spending password for Daedalus"
Hi all,

I just updated Daedalus 4.2.0. When I try to access my ledger nano s wallet I get the following message:
"Your wallet is not protected with a spending password. To keep your wallet secure and start using it in Daedalus, you need a spending password."

So I click on the butten set a password. It says typein a new password. When I fill in a new password it tells me the password is strong. W

[2021-07-16 11:24] nikolaglumac commented on #2623
@tomislavhoracek can you please help us here?

[2021-07-16 12:16] neroclaudio78 commented on #2623
I installed the Yoroi extension with Google Chrome and fortunately, I can send and receive funds with my Ledger S.
But I still can't access my Ledger through the Daedalus App, so hopefully you can help me with that. Thanks

[2021-07-17 09:16] maddinthegreat opened #2624 "Feature request: percent buttons"
Hi,

could you add percent buttons like: 10%, 25%, 50%, 75%, 100% when sending amounts of ADA to another wallet?

Regards
Martin

[2021-07-20 07:10] dmitrii-gaico commented on #2623
@neroclaudio78 Hello. Could you please try to re-install Daedalus 4.2.0 and pair your Nano S from the scratch? Make sure that after uninstall process you delete the Daedalus state directory.
Uninstall instruction : https://iohk.zendesk.com/hc/en-us/articles/360013170694-Uninstall-Daedalus-and-remove-wallet-s-data-

Make sure you have your software wallets recovery phrases available so you can rest

[2021-07-21 07:18] haripetrov opened #2627 "Future request: change position of different wallets"
It would be very nice if we can reorder the position of each wallet in Daedalus client.

[2021-07-22 09:19] bcoste opened #2628 "DnsSubscription : Connection timed out behind a proxy"
I use a Daedalus testnet wallet version 4.2.0 under Windows 10.
My wallet node failed to sync the relay relays-new.cardano-testnet.iohkdev.io with a "Connection timed out" error.

As I'm behind an http proxy, is it possible to specify it somewhere in a Daedalus config file ?

Notice that I've the same issue with cardano-rosetta under linux ubuntu (see https://github.com/input-output-hk/cardano-ros

[2021-07-23 16:18] dmitrii-gaico commented on #2612
Closing the ticket as additional feedback required for further investigations. @sudomonzter please open a new ticket if you still facing the issues so we can resume the research.

[2021-07-23 16:18] #2612 closed

[2021-07-23 16:24] dmitrii-gaico commented on #2605
Closing the ticket as Instruction was the root and it was updated so no more issues with verification are expected.

[2021-07-23 16:24] #2605 closed

[2021-07-23 16:28] dmitrii-gaico commented on #2591
Closing the ticket as the issue is no longer reproducible. @j2d3 Please create a new ticket if you are still experiencing the issue so we can resume the research.

[2021-07-23 16:28] #2591 closed

[2021-07-23 19:49] wout opened #2631 "Memory usage on Linux is through the roof"
I'm experiencing memory issues with Daedalus on a daily basis. Today I did a comparison with macOS, and there memory usage is much less than half:

- Daedalus 4.2.0 macOS: 2.14GB
- Daedalus 4.2.0 Linux (elementary OS 6 based on Ubuntu 20.04 LTS): 5.60GB

What I'm talking about is cardano-node taking up the memory, not the electron wrapper itself. So probably I need to report this issue on the card

[2021-07-27 10:09] acyuta108 opened #2632 "Installation error installing package.json cardano-js@0.4.5: The engine "node" is incompatible with this module"
Installation of js packages fails: (macos BigSur with nix installed according to instructions in README)

[code]

[2021-07-27 13:00] gabriela-ponce commented on #2631
Hello @wout. This memory usage is expected at the moment and you would probably experience this on all platforms. For reference, I've checked the RAM usage of _cardano-node_ on [macOS BigSur](https://drive.google.com/file/d/1wAxdCI2sSathCggzMEf_0I22jwMBYBbJ/view?usp=sharing) 11.4 and on [Ubuntu 20.04](https://drive.google.com/file/d/1CRd_ZzwUr7uDBBXZagR3iT-N9H42tHp6/view) and obtained similar resu

[2021-07-27 13:47] gabriela-ponce commented on #2632
Hello @acyuta108.

Maybe you can try using [nvm](http://npm.github.io/installation-setup-docs/installing/using-a-node-version-manager.html). You'll be able to switch your node version to 12 then.

[2021-07-27 14:19] wout commented on #2631
@gabriela-ponce You're right, I must have looked in the wrong place because on macOS is also close to 6GB. Thanks anyway for your reply.

[2021-07-27 14:19] #2631 closed

[2021-07-28 16:21] acyuta108 commented on #2632
Thank you, that worked.

[2021-07-28 16:21] #2632 closed

[2021-07-29 14:54] gabriela-ponce commented on #2628
Hello @bcoste, apologies for the slow reply. At the moment it is not possible to configure Daedalus to run behind a proxy.

[2021-07-30 09:32] dmitrii-gaico commented on #2623
@neroclaudio78 Hello. Could you please advise if you have any updates?
Thank you.

[2021-07-31 13:05] endlessbux commented on #1234
@nikolaglumac I have this **secret.key** file which is JSON formatted containing data such as "walletSecretKey", "walletMeta" and "passwordHash". However, when I try to import it into Daedalus I also get the "_No wallets found..._" error.

Is there a way for me to manually recover the wallet from the data I have in the secret.key file considering I also remember the spending password?

[2021-08-01 05:18] neroclaudio78 commented on #2623
@dmitrii-gaico I re-installed Daedalus before but that didnt work. But I never deleted the Daedalus state directory.
Now I follow the steps in the uninstall instructions it worked. So I can access my funds through Daedalus again.
Thanks for your help!

[2021-08-01 05:18] #2623 closed

[2021-08-02 07:25] dmitrii-gaico commented on #2623
@neroclaudio78 yw! I was glad to help.
Regards, Dmitrii.

[2021-08-02 12:46] steveflextech commented on #1234
This would be a great feature and would help me out too. Associating the data from the 'no wallet found' scenario and linking this with the spending password or even the transaction that took place on the blockchain. Probably not possible but worth requesting anyway :)

[2021-08-02 13:34] gabriela-ponce commented on #2588
@AlexDochioiu As we need additional information to address this problem, I would recommend asking the user that is facing this issue to submit a support request from Daedalus, in case they can't access this thread (Access to _Help - Support Request_). They could attach these files at the bottom of the form.

[2021-08-03 07:48] nikolaglumac commented on #1234
What is the size of your `secret.key` file?

[2021-08-03 07:55] nikolaglumac commented on #2627
Closing this one as it is a duplicate of https://github.com/input-output-hk/daedalus/issues/2310

[2021-08-03 07:55] #2627 closed

[2021-08-03 08:00] nikolaglumac commented on #2628
@bcoste please leave Daedalus running - sometimes it takes a long time for the node to connect... (sometimes even 30 - 60 mins)

[2021-08-03 08:04] haripetrov opened #2634 "Daedalus improperly started"
On Windows 10 when you pin shortcut to your taskbar you cannot start Daedalus. This is the error that appears:
![image](https://user-images.githubusercontent.com/1268290/127980426-1daf182e-79f8-4e0e-9764-e30bef733643.png)

[2021-08-03 08:07] nikolaglumac commented on #2634
This is expected. You have to pin the original shortcut that was created during the Daedalus installation as it contains launcher info which is missing if you create the shortcut yourself.

[2021-08-03 08:07] #2634 closed

[2021-08-03 08:10] haripetrov commented on #2634
Thank you very much for this clarification.

[2021-08-03 13:52] endlessbux commented on #1234
It's 696 bytes

[2021-08-03 13:54] nikolaglumac commented on #1234
Please make sure it has the exact name of "secret.key" and try again.
Let us know if it worked. The strange part is that the file is in JSON format 🤔
@KtorZ do you have any clue why that would happen?

[2021-08-03 13:58] KtorZ commented on #1234
JSON ? That's not a secret.key generated by Daedalus. Could it be that the file was already processed into some tools and overwritten?

[2021-08-03 13:59] nikolaglumac commented on #1234
@endlessbux can you tell us more about where this file came from and what tools you might have used?
Do you have the original file perhaps?

[2021-08-03 14:04] endlessbux commented on #1234
Yes it does, although, when I exported it in 2018 (or even 2017 I'm not sure) through the "_Export Wallet_" feature in the old Daedalus I renamed it to "exported-wallet.json" just to make sure to not forget what that file was. I renamed it to "secret.key" once again.
However, I'm 100% sure it was generated by Daedalus.
Also, I checked on my old laptop and I have no state directory, nor Secrets/Sec

[2021-08-03 14:22] nikolaglumac commented on #1234
This is a completely different thing than the `secret.key` file and it won't work with the "Import Wallet" feature currently present in Daedalus. The feature you have used to obtain this file was present in ancient cardano-node / PureScript bridge: https://github.com/input-output-hk/daedalus/blob/1490060fbcbaebba59fae5e10f9d96043c1c1309/app/api/CardanoClientApi.js#L680

I don't know if this can be

[2021-08-03 14:28] nikolaglumac commented on #1234
Actually we did have the import from the JSON file ages ago: https://github.com/input-output-hk/daedalus/blob/1490060fbcbaebba59fae5e10f9d96043c1c1309/app/api/CardanoClientApi.js#L406-L408

@KtorZ can you please check if the import from JSON file feature is easy to extract from the legacy Cardano SL codebase? 🙏

[2021-08-03 14:41] KtorZ commented on #1234
Nothing is easy to extract from legacy Cardano :grimacing: Those are the dark ages. Yet, le me look, I guess that would be the wallet V0...

[2021-08-03 14:49] KtorZ commented on #1234
Hmm, seems like this JSON file should look something like this:

[code]

@endlessbux , do you confirm?

[2021-08-03 15:24] endlessbux commented on #1234
Yes... Is that a bad thing? :(

[2021-08-03 15:48] endlessbux commented on #1234
Wow that would be awesome! I was worried I made a mistake or something.
If it makes things easier I am running Ubuntu on my laptop; if it makes them harder I can use one with Windows

[2021-08-03 15:51] KtorZ commented on #1234
I'll have to sync with @nikolaglumac about the best way to proceed but I think it'd be great to have that feature back in the recovery feature because others may be in that situation; so it'll likely end up in some future version of Daedalus Flight.

I can draft a PR to extend the current recovery feature to also process that file and extract the secret key out of it.

[2021-08-03 16:09] endlessbux commented on #1234
That's great!
As long as it's possible to recover my wallet I just want to mention that I have no rush in doing so since I'm planning to hold on the funds anyway.
Thanks for the great help, and I'll stay tuned for that update :))

[2021-08-08 21:37] HartS commented on #2347
For anyone looking for a simple, clean way to get a per-epoch staking rewards breakdown while we wait for this feature to make it into Daedalus, a web tool that just launched makes this information really accessible; if you enter your staking key you'll get a great breakdown of rewards per epoch:

example with a random stake key chosen:
https://www.cardanoworld.io/stake-key/stake1u9xdm6m88jadl8yuv

[2021-08-09 00:10] hodlonaut opened #2637 "Retiring pool indicator missing in Delegation Center"
When a pool is marked for retirement, a red square in top right corner of its entry in Stake Pools section (list of ~2800 pools) is added. However, in Delegation Centre section where the user's current delegated pools for each wallet are shown, this indicator is currently missing and user will only discover that the pool they're staking with is due to retire if they hover their mouse over it.

[2021-08-09 09:19] nikolaglumac commented on #2637
@dmitrii-gaico can you please check this?

[2021-08-09 10:14] dmitrii-gaico commented on #2637
@nikolaglumac Sure, I'll check and get back with report.
Thank you.

[2021-08-09 11:11] dmitrii-gaico commented on #2637
@nikolaglumac I can confirm the issue. Red square indicator is missing at Delegation Center screen when wallet is delegated to retiring pool. Production Build 18540 Testnet.
Thank you.

[2021-08-09 11:13] nikolaglumac commented on #2637
Thanks for confirming this @dmitrii-gaico - please create a ticket for this 🙏

[2021-08-09 15:49] LeoniePhiline commented on #2347
@HartS

Useless if the authors keep requiring to stake with their pool to get more than 5 items.

Not in the spirit of openness. This sheds really bad light on the casch pool. I’d never stake with them after seeing this business model.

I rather use adapools.org instead.

[2021-08-09 20:01] HartS commented on #2347
@LeoniePhiline  I agree, an open source solution is ideal. But I don't believe the authors require you to stake with them... I see the full history of rewards and I don't stake with them

[2021-08-09 21:37] LeoniePhiline commented on #2347
@HartS You see the history of rewards without fiat currency counter value.
If you want that, you have to select a currency (EUR/USD) in the top center. You won’t get a useful CSV, but a useless PDF with a huge diagonal watermark and only five epochs’ rewards unless you stake with them.

Honestly I find that a little appalling.

[2021-08-10 13:16] rphair commented on #2548
update: as of 29 July, with the merge of https://github.com/cardano-foundation/CIPs/pull/86, multiple pool links have also been included as part of this standard (as in the second example quoted above).

[2021-08-13 12:53] bboerst opened #2645 "SMASH Metadata documentation link is broken in settings.stakePools"
In the latest Daedalus release (4.2.1#18759) when navigating to Settings/Stake pools, the `StakePool Metadata Aggregation Server (SMASH)` link is 404'ing.

I believe that:
https://github.com/input-output-hk/daedalus/blob/caac11bfcdaf7918989871da5f661a665e15f4dd/source/renderer/app/i18n/locales/en-US.json#L304

...should maybe be updated to:
[code]

[2021-08-13 15:11] miorsufianiohk commented on #2645
Dear @bboerst ,

Thank you for letting us know of this issue. I could confirm that I am also seeing the same behaviour on build 18759. I have passed the information to the team for further action and will provide further update in due course.

Kind regards,
Mior

[2021-08-13 16:09] miorsufianiohk commented on #2645
Hi again @bboerst ,

Just to let you know that this issue has been fixed in build 18793 which should be incorporated in the next release of Daedalus. Once again, many thanks for bringing up this issue. Wishing you a great weekend.

Kind regards,
Mior

[2021-08-13 16:35] blgegaj opened #2647 "Question: undelegate"
Why the undelegate feature was created on a previous version the final setting set it as disabled on commit 40f577955cfb14cf477650fb7fec0fc2ed6c5adf, how will we be able to undelegate?

[2021-08-15 20:07] SeverSava opened #2648 "Daedalus NOT SYNCING completely"
Hi to all,

I've been trying for the last week to make Daedalus node work, but no luck as of yet.
The problem I have as it can be seen from the pictures attached is that the node is not completing the syncing with the network.
I have checked the "Connecting to network message" article and the system requirements. The only thing that is not a match in my case is the RAM. I have 7.5 instead of 8. Wo

[2021-08-15 21:50] SeverSava commented on #2648
My problem got solved thanks to this lovely chap and his bright advice :)

![Screenshot from 2021-08-15 22-48-00](https://user-images.githubusercontent.com/15107056/129493799-01bff54e-a8e6-4265-bcf4-772c8674d23d.png)

[2021-08-16 07:12] nikolaglumac commented on #2647
It has been temporarily disabled due to a missing automatic rewards withdrawal feature on the cardano-wallet Api side. In the scope of undelegation process, the wallet's staking key gets de-registered. Thus, you would "lose" your rewards account and all rewards still associated with it. In order to avoid this, we need an automatic withdrawal of all rewards into the wallet's UTXO balance. As soon a

[2021-08-16 07:12] #2647 closed

[2021-08-16 07:19] blgegaj commented on #2647
Thank you for your detailed answer.

[2021-08-16 07:19] nikolaglumac commented on #2648
The verification of the blockchain sometimes takes a very long time (up to an hour!) but it should eventually be complete and Daedalus would connect to the network. If you don't see it recovering within an hour then it is suggested to do a full re-sync as described in the following Support Portal article: https://iohk.zendesk.com/hc/en-us/articles/360009484874-Delete-and-re-sync-blockchain-data

I

[2021-08-16 07:19] #2648 closed

[2021-08-16 07:19] nikolaglumac commented on #2647
You're welcome :-)

[2021-08-17 09:43] gitmachtl commented on #2613
CIP-0020 has been approved and merged into master

[2021-08-18 10:07] miorsufianiohk commented on #2645
Dear @bboerst ,

I hope that you are well. Just to inform you that I am closing this issue as it has been fixed. Please do let us know if you still find the same problem in the next Daedalus release that has this fix.

Many thanks,
Mior

[2021-08-18 10:07] #2645 closed

[2021-08-19 12:32] darko-mijic commented on #2637
@daniloprates, please create a ticket for this.

[2021-08-19 14:21] daniloprates commented on #2637
@darko-mijic I'm handling it in the scope of DDW-728

[2021-08-21 06:00] john5480 opened #2651 "I nearly lost my funds.."
Hi, I've got some ada since Jan 2018 with Deadalus 1.0.3769 , but this verison cannot connect network now.
What I  have:
1. the laptop with old 1.0.3769 and new version 4.2.1, and secret key inside
2. 12words recover phrase but recoverd with no funds

When import from secret key, I can see my funds, but I cannot do any transaction without spending password. I've tried many ways to get back my fund

[2021-08-21 10:53] matiwinnetou commented on #2651
I think you have a mistake in your 12 words because they should for sure recover funds. Did you import this as Byron Era Wallet?

[2021-08-21 12:52] john5480 commented on #2651
I've only record 12 words, it should not be wrong..

import is Byron Wallet

[2021-08-21 14:23] ghosty111 commented on #605
Almost 4 years and no change how about that ....

[2021-08-21 14:43] InderKumarRathore commented on #605
@ghosty111 if you read the comments you will find the solution to do it, it's not convenient but it works.

[2021-08-21 15:36] john5480 commented on #2651
Can I send out my funds without spending password?

[2021-08-21 18:53] matiwinnetou commented on #2651
To my knowledge not because secret key is encrypted. Imagine somebody stole your computer, would you want them to be able to send your ADA somewhere?

[2021-08-23 07:09] nikolaglumac commented on #605
Sorry to disappoint you... As @InderKumarRathore mentioned - we hope to get to this once Alonzo work is done. Thanks for the patience! 🙏

[2021-08-23 07:41] nikolaglumac commented on #2651
@john5480 you must have saved a wrong wallet recovery phrase.

As @matiwinnetou pointed out - your wallet's private key stored in the secret.key file is encrypted by your spending password. In order to move your ada you must remember your password OR the correct wallet recovery phrase. There is no other way.

[2021-08-23 07:41] #2651 closed

[2021-08-23 23:58] staaky opened #2652 "Giveaway scam banner"
Based on [Charles' latest video warning about giveaway scams](https://www.youtube.com/watch?v=p_3rVkKkl5o), here's a suggestion that could help push that warning even more inside Daedalus, because the newsfeed is easily overlooked.

Having a banner like this stick around until clicked away might save some people.

![Daedalus Banner](https://user-images.githubusercontent.com/5575/130533707-c7e6fa2d

[2021-08-24 08:18] nikolaglumac commented on #2652
Thanks for bringing this up!
We will consider implementing this.
cc @darko-mijic @daniloprates @alexander-rukin

[2021-08-28 11:55] mrpelotazo commented on #2553
@nikolaglumac It seems Daedalus was affected by the environment set by NVM either during the installation or when run after.
I ended up completely disabling NVM in my bashrc, made a fresh Daedalus installation and the issue was solved.

I don't know if there is an effective way for you guys to detect/manage such situations somehow. To my knowledge NVM is a relatively popular thing to use among dev

[2021-08-28 17:26] Klobbinger commented on #2505
Unfortunately that is not the case, since all addresses from on wallet already contain the stake key sting within each address. You could probably use the old byron addresses or enterprise addresses (CLI only afaik) to have more privacy.

[2021-08-28 17:35] Klobbinger commented on #2347
Use pooltool.io – they have the same feature and you can easily export the data. Also I think no ads as far as I can tell.

[2021-08-28 17:39] Klobbinger commented on #2347
@HartS

So the ledger does not track the transactions made to the rewards accounts and if no one permanently tracked the blockchain states you couldn't get this data? I guess that somehow was the purpose, otherwise we'd have millions of transactions around the epoch boundary.

[2021-08-29 10:18] sauerburger commented on #2631
I have 8GB ram + 1GB swap on my Debian laptop and cannot run Daedelus without it being killed by the OOM -- even with every other application closed.

Maybe the memory requirements of 8GB are not valid anymore?

[2021-08-29 14:09] wout commented on #2631
TBH, I don't think running Daedalus on 8GB ram is feasible. On my 16GB laptop, I need to close half of the apps to run it, and even then it's on the edge.

[2021-08-30 08:46] nikolaglumac commented on #2553
Thanks @mrpelotazo!

@cleverca22 can you jump in here?